[2019-08-11 06:57] NetanelBasal opened #2 "[Proposal] Simplify the Translation Process"
This proposal tries to simplify the translation process. The issues we face today are:
-   The developer has to come up with the properties names.
-   Redundant nested object, which blows the bundle, thus takes more memory.
-   Duplicate keys and texts.
-   Merge conflicts.

The idea is to treat each string as a ״raw string״.  Word concatenation isn't valid anyway in most cases because the transla

[2019-08-11 08:40] shaharkazaz commented on #2
@NetanelBasal Why do we need to expose the hash function?
why not use the strings directly and replace every string that's under the translation context in the file at build time to `{{anyName['261689226']}}`.

[2019-08-11 08:48] itayod commented on #2
@NetanelBasal I think it's a great idea and something that could really be the extra feature which will give this library the advantage over other libraries...
having that said, I think we need to think which way we recommend our user to use for translation as "best practice" because right now we have to many ways to do that :)

[2019-08-11 08:50] itayod commented on #2
I agree, but because of the limits it might lead, we could maybe create a configuration property for that?

[2019-08-11 09:45] shaharkazaz commented on #2
What do you mean? which limitations you have in mind?
I was thinking we extract the var name using a regex:
[code]
and replace in build time to:
[code]

[2019-08-12 20:00] shaharkazaz commented on #2
We can also support string with params `t.hash('some {dynamic} thing', paramsFromComponent)` => {{ t['1234567'] | translocoParams:paramsFromComponent }}

[2019-08-13 12:47] shaharkazaz commented on #2
We can also support dynamic strings. For example:
In the template:
[code]
And in the component:
[code]
Will transpile to:
[code]

[2019-08-15 12:33] mailok opened #9 "[QUESTION] Library-Monorepo problem"
Thank you very much for this project, it is very good.

I have a question, how could I use Transloco in a library, and use that library in an application that also uses Transoloco?

This library can be lazy loaded or it can be loaded normally. I wish it could work for both cases.
Of course, this use case is a common when you use Monorepo in your company.

[2019-08-15 13:03] ronnetzer commented on #2
Love the idea but unfortunately, it fails in our use cases.

1. we receive our translations file from our client's backend, which stores them as CSV (so that the content guys can change and edit each key's value to whatever they want), and converts them to json when we request the translation. so your approach won't be readable for the guys responsible for the translations.
2. in another project (

[2019-08-15 13:04] shaharkazaz commented on #9
Hey,

let's discuss this in our [gitter channel](https://gitter.im/ngneat-transloco/lobby#).

[2019-08-15 13:04] #9 closed

[2019-08-15 16:31] fxck opened #11 "Proposal: support messageformat"
https://messageformat.github.io/messageformat/

https://github.com/lephyrus/ngx-translate-messageformat-compiler

[2019-08-15 17:41] shaharkazaz commented on #11
@fxck We are planning to start work on it next week.
You are welcome to take this task and open a PR if you want 🙂

[2019-08-15 18:22] DmitryEfimenko opened #12 "[Feature] Provide mechanism for remembering selected language"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Proposal
Based on the documentation I didn't see a way to specify a mechanism for remembering the language that user sele

[2019-08-15 19:14] shaharkazaz commented on #12
@DmitryEfimenko It's on its way 🙂
we are planning to start work next week.

[2019-08-15 19:20] dsuwirya opened #13 "Features comparison table vs angular-i18n, ngx-translate, angular-l10n, ..."
Hello,

Would be really great if you can add features comparison table like what the angular-l10n has, that will ease developers to make decision which library is best to use depending on their situations.

ref. https://github.com/robisim74/angular-l10n

Thanks.

[2019-08-15 19:37] shaharkazaz commented on #13
Did you check out [this section](https://github.com/ngneat/transloco#comparison-to-other-libraries) of the README file?

[2019-08-15 19:54] Coly010 commented on #11
@shaharkazaz I am going to try work on implementing this.

[2019-08-15 20:04] shaharkazaz commented on #11
@Coly010 go for it 🙂

[2019-08-15 21:57] Coly010 commented on #11
@shaharkazaz Can you clarify a potential requirement relating to this Proposal.

Should the transpiler accept both `{{}} and MessageFormat`:

`{{t.translation | translocoParams: { foo: 1, bar: 'baz' } }}`

where `translation` is:
`'translation': 'My number {{foo}}! My {bar, select, baz {world} foobar {car} other {something}}!'`

which will transpile to:
`My number 1! My world!`

OR should it only

[2019-08-16 03:34] agugan commented on #12
@shaharkazaz
I am not sure whether this is incorporated in the planning or already exists. But I would also like to add  a sub feature to it.

Our enterprise applications have multiple sub-projects to switch between. Sometimes we have language selection coming in from different source than the rest of project.

Currently we have to store the selected language in cookie/LS and retrieve it the respe

[2019-08-16 09:29] dertuerke opened #16 "Bug: ng add not working"
Hi if i try to add transloco i get this error:
`An unhandled exception occurred: Collection "@ngneat/transloco" cannot be resolved.`

Error-Log
[code]

Environment:
Angular CLI: 8.2.2
Node: 10.16.3
OS: win32 x64

[2019-08-16 10:08] itayod commented on #16
Hi @dertuerke I thanks for open this issue, I will fix that in a moment

[2019-08-16 10:18] itayod commented on #16
I fixed the issue and updated the package, you may install and try again it should work for you now :)

[2019-08-16 10:18] #16 closed

[2019-08-16 10:26] dertuerke commented on #16
@itayod Love u 💋

[2019-08-16 12:15] dertuerke commented on #16
@itayod i found two another bugs :)

1.) When using 'ng add', you are asked which loader to use (Http or Webpack).

If you select "Http" there, you have the possibility to choose between "JSON" and "TypeScript" in the next step.

Is it correct that you can select "TypeScript" here? Because the loader references a ".json" file.

Http == JSON?
WebPack == Typescript?

2.) If you have selected Webpack

[2019-08-16 13:01] shaharkazaz commented on #12
@agugan Hey, we are working on something and a PR should be ready soon, you are welcome to track this 🙂

[2019-08-16 13:22] shaharkazaz commented on #2
@ronnetzer
1. I'm not sure how this affects what you describe since what matters is the value and not the keys (they are not supposed to change otherwise it breaks the translations), so if they can see the translations I'm not sure where this fails.
2. What is the usage of this debug mode? what's the value of seeing the key? we want to detach this entire process from the developer.

From my experi

[2019-08-16 14:50] shaharkazaz commented on #11
Fixed in #15

[2019-08-16 14:50] #11 closed

[2019-08-16 16:02] itayod commented on #16
Thanks!, I will take a look at this later on

[2019-08-16 18:17] mailok opened #17 "[Discussion] Translation file typing"
The drawback that I find this library is that the translations are based on a key-value translation object in which to identify the key that you want to translate you must specify a string. The fact of using a string causes us to lose all the type control of the variables that we want to translate.

**What are the problems that arise from this?**

1. We can not know if a key is lost, incomplete or

[2019-08-16 18:51] shaharkazaz commented on #17
@mailok
As far as I know, currently there is no alternative method (please correct me if I'm wrong).

This might be solved if we decide to take the approach suggested in #2 since we are removing the usage of keys and using the translation directly.

If you have any idea, please do share 👍

[2019-08-16 19:00] mailok commented on #17
@shaharkazaz  These problems, I extracted them from an article [https://carloscaballero.io/angular-ngx-translate-typings/](url) but it was for the use of @ ngx-translate. Perhaps the solution presented in this article may give an idea of a possible solution.

[2019-08-16 21:39] Coly010 commented on #17
@mailok Transloco does support using typescript files as it stands currently.

As such, right now out of the box, if you wanted to ensure type safety, you could use either Directive or Pipe approach.

In your component, import your `en.ts` as a type, and set the following to a public property on your component.

[code]

You can then use this property within your template:

[code]

[2019-08-16 22:12] mariojsnunes opened #18 "'messageformat' module not found"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I build my solution, I get these errors:

ERROR in error TS2307: Cannot find module 'messageformat'

[2019-08-16 22:52] Coly010 commented on #18
Do you have a repo with this bug on it?
Are you attempting to use the MessageFormatTranspiler?

If not, @shaharkazaz, is it worth re-adding `messageformat` to the list of `peerDependencies`

[2019-08-16 23:18] DanielHabenicht commented on #13
Can you add something like translation file support to the table? Would be good to know if it supports `xliff` or other formats on first look.

Also translation of plurals should be added for comparison.

And what about a comparison against the build in translation tool (+ the i18n Polyfill for components)? I think what @dsuwirya meant was adding those other tools/packages to the table.
Keep up th

[2019-08-17 07:07] shaharkazaz commented on #13
@DanielHabenicht
A table is just a tool for a quick comparison, all the needed information is in the README,
but I see what you mean, I will talk to the team and we will decide what should be added.
We don't want to make it too big.

[2019-08-17 08:10] itayod commented on #16
@dertuerke Thanks again, I fixed the wrong import path.
as for the loaders, you almost right, but if you choose webpack import, you still can work with `.json` files. so it's not necessary:

Http == JSON?
WebPack == Typescript?

As for you'r second issue, I wasn't able to reproduce it, could you try install again the package and see if it's still happening?

[2019-08-17 09:03] itayod commented on #18
I fixed the issue and published new version :)
@mariojsnunes Thanks for letting us know!

[2019-08-17 09:03] #18 closed

[2019-08-17 14:53] ronnetzer commented on #2
@shaharkazaz

1. The point is that the developers shouldn't be aware of content changes and the client should be free to edit the content whenever he wants without any development cost. And with your approach (if I understand correctly) when marketing decides to change "Hello World" to "Good Morning Planet" nothing breaks but now the template (t.hash('Hello world')) will return "Good Morning Plane

[2019-08-17 19:29] itayod commented on #12
Hey @DmitryEfimenko,
After reconsidering this feature, we have decided not to implement it as part of the library, as we try to keep it as clean and simple as possible.

Also implementing this feature is pretty easy and doesn't require a lot of code:
[code]

Does it satisfy your issue?

[2019-08-17 20:33] itayod commented on #17
Hi @mailok,

Thanks for the suggestion, the suggested solution from this blog will work in Transloco, but I would not recommend you to use it from few reasons:

* since you need to import the translation file, it won't be lazy loaded and will be added to your bundle
* you will need to inject a service in each component that uses translations.

Having said that, we are looking for a better typing s

[2019-08-17 22:05] DmitryEfimenko commented on #12
it's trivial to save it to the `localStorage`. It becomes more involved when saving it to the cookie which is a valid use-case if you want to have it working with SSR.

If worrying about the library size, make it a separate addon library just like in the case of *ngx-translate-cache*, which is separate from *ngx-translate*. It does not need to be a part of the *transloco* library itself.

As a mat

[2019-08-18 01:49] mailok commented on #17
@itayod  Great!!, thank you very much

[2019-08-18 06:05] #17 closed

[2019-08-18 06:08] shaharkazaz commented on #2
@ronnetzer

It seems that you misunderstood, if you want to change "Hello world" to "Good Morning Planet" `t.hash('Hello world')` **must** change to `t.hash('Good Morning Planet')`

I'm not sure how is this different from changing the value of a key? it won't need to be translated to every language as well? The idea is that the new translation file created will be merged with the previous one so j

[2019-08-18 06:09] shaharkazaz commented on #12
@DmitryEfimenko
I see what you mean. You're welcome to open a PR. Here are the requirements:
- It will be under the official library, so please create a new library with angular-cli under the `projects/ngneat` folder.
- The storage should be flexible, so the consumer should provide it. ( without a default value )

Good luck!

[2019-08-18 08:22] ronnetzer commented on #2
@shaharkazaz

So you're saying that for every small change required by the marketing the flow is:
1. marketing needs to ask the dev team to change a value in the code.
2. a new translation file created and sent back to the marketing (and a new version is released)
3. marketing updates the rest of the translations with the new key along with the new translated value.

the current flow is:
1. market

[2019-08-18 08:35] shaharkazaz commented on #2
@ronnetzer
Can you explain what is your company's process? I think this is the gap here.
Can you add an example of one of your templates and your translation file?

[2019-08-18 11:50] NetanelBasal opened #21 "Tell Us What Your Translation Process is Like"
In order for us to further develop the library, and meet all your translation needs, we'd love to learn what the translation process in your company is like.

For instance, here in Datorama, we use a local JSON file. Each developer adds keys to the file for any missing translations, where the value is the text in English. The developer then uses the keys in the various component templates.

For ex

[2019-08-18 16:39] CharlBest commented on #2
@ronnetzer not sure if this is what you mean but let me try an example.
In the current implementation the key will be something like 'helloWorld' and the value 'Hello World'. But lets say the key doesn't describe the value but rather the use case like 'headerTitle' with value 'Hello World'. This means that translators can change the translation file (the 'Hello World' value) as many times as they

[2019-08-18 18:22] ronnetzer commented on #2
@shaharkazaz
@CharlBest got it right (thanks btw), as he said the keys describe the use case, I also explained most of our client's workflow in more details to Netanel over the phone.

In general, First we provide the translation file to the client (according to their design) and then during development, they change the content and we add new keys.

for example, a simplified configuration for a dy

[2019-08-18 20:54] omarAjmi opened #22 "[Bug]: ng add throws error: Cannot read property 'forEach' of undefined"
## I'm submitting a...

<pre><code>
[x ] Bug report
</code></pre>

## Current behavior

simple installation process with ng add throws exception `Cannot read property 'forEach' of undefined`
after choosing `fr, en, ar` as for locales.
choosing `webpack` as loader.
choosing `json `as file type.
chhosing default files directory `/src/asstests/i18n`
i tried creating the folder `i18n `under `src/asste

[2019-08-18 21:13] itayod commented on #22
Hi @omarAjmi did you separated the locales by comma?

[2019-08-18 21:31] omarAjmi commented on #22
yes literaly like this `fr, en, ar`

[2019-08-19 04:06] zack9433 commented on #21
In our company, we need to provide more information to translators because some terms must be explained. We plan to add some description and suggest translator use Poeditor to translate

[2019-08-19 04:09] NetanelBasal commented on #21
@zack9433 Thanks. Our translators also ask to add it. In our case, they want it to be added to the file itself.

[code]

But this will increase the bundle size, so we move the comments to a separate file.

[2019-08-19 04:26] NetanelBasal commented on #2
@CharlBest only 90% 😜? Thanks!

[2019-08-19 05:12] zack9433 commented on #21
@NetanelBasal Is it possible this extra information which is for translator can remove at build time? By the way, I think angular i18n did a great job for improving translate file experience between developer and translator.

[2019-08-19 05:19] shaharkazaz commented on #22
@omarAjmi I have just tried to reproduce as well but all worked as expected 🤔

[2019-08-19 05:35] shaharkazaz commented on #13
We have added Pluralization to the table but decided that it's the last thing we'll add to it.
A comparison with Angular's i18n will be added shortly 🎉

[2019-08-19 05:35] #13 closed

[2019-08-19 05:46] NetanelBasal commented on #21
@zack9433 can you elaborate more, please?

[2019-08-19 06:30] itayod commented on #22
Hi, I have tried to reproduce it on several platforms and it worked perfectly.
Could you please send us a link to your repository with a reproduction

[2019-08-19 06:42] ChristofFritz commented on #21
In my current project, I first write the translation keys in the teplate / in the typescript code. Then I'll use [ngx-translate-extract](https://www.npmjs.com/package/@biesbjerg/ngx-translate-extract) to extract the keys into my 4 translation json files (de, en, es, fr).
I'll then enter a default-translation into the english json file and hand the 4 files over to the customer for translation.
So f

[2019-08-19 06:52] dertuerke commented on #16
@itayod ok.
But it is correct, when i choose "http" that i can choose between "json" and "Typescript"?

Path is now correct :)

[2019-08-19 07:00] NetanelBasal commented on #21
@ChristofFritz we'll add this tool soon.

[2019-08-19 08:12] zack9433 commented on #21
@NetanelBasal I mean developer can output a file for [poedit](https://poedit.net/) and translator rely on it to do their works. Our translator want to use a tool to help them.

[2019-08-19 09:37] Coly010 opened #23 ".all-contributorsrc pointing to wrong project owner"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[x ] Other... Please describe:
The `.all-contributorsrc` file is pointing to `NetanelBasal` as project owner.
</code></pre>

## Current behavior

As the `.all-contributo

[2019-08-19 14:09] fxck commented on #21
Not necessarily related to translator / developer relationship, but what I've been doing with ngx-translate is that along my `<feature>.module.ts` (a "feature" being mostly a lazy loaded routed page, as I tend to provide already translated string to my common components intead of using translate directives / pipes instead them) I created `<feature>.translations.ts`, which is a module that I import

[2019-08-19 14:21] NetanelBasal commented on #21
If I understand you correctly you can easily do it with Transloco:

[code]

This part will make sure we only load the `admin-page/activeLang.json` and everything inside the module will be scoped to `admin-page` translation:

[code]

So `t.title` will be taken from the `admin-page` file.

[2019-08-19 14:22] mrklika opened #24 "force common module not to use translations from lazy loaded module"
Hi, when I use lazy loaded translation file in my lazy loaded module +dashboard like

providers: [{ provide: TRANSLOCO_SCOPE, useValue: 'dashboard' }]

Is there any way to force my NOT lazy loaded modules used in +dashboard module to use translations NOT from /18n/dashboard/en.json, but just from /i18n/en.json ?

The problem is that my common module will not always be used just inside the +dashboa

[2019-08-19 14:29] fxck commented on #21
Yeah the problem with that (my colleague which is trying transloco out will probably create an issue, as I'm on holidays), is that inside of your lazy component you might be using some common components, so scoping it all to "admin-pages" might be contraproductive, since you won't have the access to the common translations. But then again, I haven't had a chance to try it out, only talking about w

[2019-08-19 15:58] NetanelBasal commented on #21
I don't think this is a problem. Although we can create cleaner support for it, for now, you can use as many as you like:

[code]

Depending on demand, we can add support for something like:

[code]
[code]

[2019-08-19 16:06] NetanelBasal commented on #24
Do you mean something like https://github.com/ngneat/transloco/issues/21#issuecomment-522641364?

[2019-08-19 16:11] #23 closed

[2019-08-19 16:11] NetanelBasal commented on #23
Fixed, thanks.

[2019-08-19 18:57] NetanelBasal commented on #21
@fxck I look into your comment again, and it should work the same with Transloco:

[code]

We're working about a built-in implementation to save you the boilerplate work.

[2019-08-20 06:33] mrklika commented on #24
I tried:

![image](https://user-images.githubusercontent.com/14203910/63322702-58f1ee80-c324-11e9-9106-793f9a5517ea.png)

CompanyTeamCardTranslationsModule was imported to CompanyTeamCardModule and it still seems like my lazy loaded translation file /i18n/dashboard/cs.json is still used for translations.

![image](https://user-images.githubusercontent.com/14203910/63322884-c271fd00-c324-11e9-98ce-

[2019-08-20 06:43] shaharkazaz commented on #24
@mrklika do you still have the scope 'dashboard'? if so, you don't need it anymore since the translations are now on the global lang.

We are releasing a solution for this OOTB today, stay tuned 👍

[2019-08-20 08:03] mrklika commented on #24
@shaharkazaz  Yes, I have a lazy loaded module +dashboard in which I specify my lazy loaded translation file like:

providers: [{ provide: TRANSLOCO_SCOPE, useValue: 'dashboard' }]

Inside the +dashboard module I have a COMMON module in which I want to use translations from the file inside the common module, but also from the main en.json / cs.json files:

![image](https://user-images.githubuserco

[2019-08-20 13:11] moniuch opened #26 "Unsupported syntax?"
Maybe I am still too fresh, as this is my first hour with transloco, and I am still missing something but I tested the syntax options provided in README, against the following markup:

[code]

and I got the following result in WebStorm

![image](https://user-images.githubusercontent.com/681956/63349749-5612f000-c35c-11e9-9cee-df9e8345c89b.png)

Seems like the two upper options are not allowed.

[2019-08-20 13:12] NetanelBasal commented on #26
Do you have a runtime error? If not, that's your IDE issue.

[2019-08-20 13:16] moniuch commented on #26
OK thanks will forward it to them

[2019-08-20 13:16] NetanelBasal commented on #26
Thanks.

[2019-08-20 13:16] #26 closed

[2019-08-20 13:25] moniuch commented on #21
I have just created a new ng app to play with transloco. Will drop my observations as I go, if you don't mind.

So far I have been using ngx-translate. Not sure what kind of difference transloco wants to make - so maybe my observations could be responded with "Hey, that's exactly what we find limiting and we do not want to take that path." Please excuse me if this is the case :) but since this iss

[2019-08-20 13:30] NetanelBasal commented on #21
Transloco doesn't force anything.

You need to write some code to make it work with `ngx-translate`, right? It's not magically appeared.

Everything will be lazy-loaded based on the current `lang/scope`, and will be merged into the active language.

[2019-08-20 13:52] moniuch commented on #21
Right. I am just describing my environment. You might want to consider it as an idea to allow a more split approach within one module and free users from writing custom loaders.

That is cool!

[2019-08-20 14:01] NetanelBasal commented on #21
We are aiming to save you the boilerplate work. You should only define the scope mapping, and we'll take care of the lazily loading and merging. For example:

[code]

Then, when you define the `admin-page` scope in a lazy load module:

[code]

It will load the scoped module for you, and will make the translation value available under the `admin` key:

[code]

[2019-08-20 15:13] nartc commented on #22
I just ran into the same issue
![image](https://user-images.githubusercontent.com/25516557/63359827-0409a480-c333-11e9-93b2-bdf1a7b71499.png)

This is a work project so I can't really share a link to this repo. I've tested it on a new cli project and it worked perfectly.

Angular CLI version: 8.2.2
Angular: 8.2.2

I can provide more information about the environment if needed.

[2019-08-20 15:26] omarAjmi commented on #22
@nartc i ran into the same problem on my workstation, also on win10, we can share our package.json, iguess it's a dependency problem, maybe they get a hint or something from it.
here is mine:

  "name": "agence-vol",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "privat

[2019-08-20 15:31] omarAjmi commented on #22
@nartc for the time being, you can reproduce the installation process manually by fallowing this https://github.com/ngneat/transloco#installation

[2019-08-20 16:05] omarAjmi commented on #22
not a dependencies problem, i've tried it on a brand new project, it worked, then i copied the old project dependencies then ran npm install then ran the ng add  @ngneat/transloco, it worked fine, humm 🤔

[2019-08-20 17:18] NetanelBasal commented on #22
@omarAjmi try you delete your node_modules, and clear the cache, please.

[2019-08-20 23:42] inorganik commented on #22
I was able to run the schematic on an existing project no problem, however, running `ng new` and creating a new app, I ran into this error.

Using Angular CLI: 7.3.9

@NetanelBasal I tried blowing away node_modules and reinstalling, also, I ran `npm i @ngneat/transloco` before running the schematic.
- Also tried typing the assets path
- tried creating the i18n folder

Nothing worked. I even debugg

[2019-08-20 23:53] inorganik opened #27 "Support Universal"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Universal build errors out - I got the same error with HTTP loader and Webpack loader. I couldn't find

[2019-08-21 04:35] NetanelBasal commented on #27
I see the issue. I changed the loader, so it returns a static `of` observable, and it worked. We need to investigate further what's the issue. I never used Angular's SSR.

[2019-08-21 07:34] NetanelBasal commented on #27
I found the issue. When working with SSR, you need to set the absolute URL. Add in your `environment` file a `baseUrl` property:

[code]

And in the HTTP loader use it like:
[code]

Let me know if it worked for you so I will add it to the docs and the schematics.

[2019-08-21 07:42] bogusweb opened #28 "Routes localization"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

## Expected behavior
Like this plugin https://github.com/Greentube/localize-router

## What is the moti

[2019-08-21 07:47] NetanelBasal commented on #22
@inorganik I tried `npx @angular/cli@7.3.9 new projectName`, and it worked.

[2019-08-21 15:32] inorganik commented on #22
Sure, here you go: https://github.com/inorganik/i18n-demo

Thanks for the quick responses!

[2019-08-21 16:50] NetanelBasal commented on #22
@inorganik thanks! We reproduce it with your repo. @itayod will check it out.

[2019-08-21 16:51] itayod commented on #22
@inorganik Thanks for the example, I will check it out later today :)

[2019-08-21 19:20] itayod commented on #22
@inorganik, @omarAjmi  the following PR should fix this problem. Thanks again for letting us know 🙏

[2019-08-21 19:25] omarAjmi commented on #22
@itayod can you elaborate on what was the problem? please

[2019-08-21 19:32] itayod commented on #22
sure, the problem was in cases of "`import * as...` " or "`import defaultVar from...`" on `app.module.ts` file
in those cases, one of the `ast` functions that should add import names to this was failing.

[2019-08-21 19:34] #22 closed

[2019-08-21 19:34] omarAjmi commented on #22
Much appreciated 🙏🙏🙏

[2019-08-21 20:08] inorganik commented on #27
Thanks! It's working for me.

[2019-08-21 20:09] NetanelBasal commented on #27
Great. @itayod will add it to the schematics.

[2019-08-21 20:09] #27 closed

[2019-08-21 20:09] inorganik commented on #27
@NetanelBasal Kind of a side question but could you explain in the docs why you should choose the Webpack or HTTP loader?

[2019-08-21 20:11] NetanelBasal commented on #27
@inorganik Currently, I can't find any benefit of one over the other, but we like to give options.

[2019-08-21 20:12] inorganik commented on #27
what's the differerence? I am clueless

[2019-08-21 20:13] NetanelBasal commented on #27
With Webpack, for example, you can load typescript files. But maybe we should remove this option from our schematics as it's confusing.

[2019-08-21 20:34] NetanelBasal commented on #28
I'm not sure what are the benefits of this library. Can you explain, please?

[2019-08-21 21:43] bogusweb commented on #28
Its help for sites where u can add languages and translations in admin panel or get from rest.
Sometimes other languages can have different routes like `url.com/contact`/`url.com/en/contact`, for polish version `url.com/pl/kontakt` or spanish `url.com/es/contacto`. From route prefix, application can set language. Thanks to that u can share link to application with the correct language.

I'm not su

[2019-08-21 23:56] Coly010 commented on #28
I can see the benefit. I learned recently that if you want to truly support i18n you can't trust a user's browser locale, and should provide options of changing the user's locale.

In app, this could be a language drop-down.

However, from an SEO side, and of course marketing, you can tailor your site's URL based on where the Ad or Search Result is being displayed.

With the locale in the URL we c

[2019-08-22 05:22] NetanelBasal commented on #28
@Coly010 so why not make it simple and add a query string with the required language?

`https://mysite.com/es/home?lang=es`

[2019-08-22 08:09] Coly010 commented on #28
@NetanelBasal That would be a perfectly good solution, however, where would you end up handling the logic to change the translation?

In the `ngOnInit()` of the `HomeComponent` by accessing the `RouteParams`?
Would you have to do that for every page in your site that could be used for a marketing or search result URL?

You're advertising a job, `https://mysite.com/jobs/123?lang=es`
You've got a co

[2019-08-22 08:19] NetanelBasal commented on #28
We can create a small library based on my suggestion that checks the `lang` query string, and based on it changes the active language.

[2019-08-22 12:32] Edouardbozon opened #32 "ng-add schematic throws an error with default import"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Hi, when I run the installation schematic `ng-add` on my existing project I get an un-relevant error :

[2019-08-22 12:57] itayod commented on #32
@Edouardbozon Hi, I bumped a version with a fix, could you please try again now?

[2019-08-22 13:07] Edouardbozon commented on #32
@itayod It's still not working with `1.1.2` :confused:

[2019-08-22 13:16] Edouardbozon commented on #32
Also if I remove default imports I'm getting an error related to the newly added `ssr` property :

[code]

Even if I use defaults values.

[2019-08-22 13:17] itayod commented on #32
@Edouardbozon My bad, I didn't build the schematics I will publish a new version asap

[2019-08-22 13:33] itayod commented on #32
@Edouardbozon I released a new version, I tested it on a tester project and should be working now :)

[2019-08-22 13:35] Edouardbozon commented on #32
Fixed, thanks for the reactivity :zap: !

[2019-08-22 14:08] #32 closed

[2019-08-22 20:02] #2 closed

[2019-08-22 20:04] NetanelBasal commented on #24
## Lazy Load Translation Files

Let's say we have a todos page and we want to create separate translation files for this page and load them only when the user navigates there. First, we need to create a `todos` folder (or whatever name you choose); In it, we create a translation file for each language we want to support:

[code]

We have several ways of telling Transloco to use them, via setting t

[2019-08-22 20:05] NetanelBasal commented on #24
@mrklika check it out and let me know if this functionality solves your issue.

[2019-08-22 20:06] NetanelBasal commented on #21
@fxck @moniuch would love to hear your opinion about the upcoming feature:
https://github.com/ngneat/transloco/issues/24#issuecomment-524056486

[2019-08-23 06:51] NetanelBasal commented on #12
@DmitryEfimenko could you check if the following PR resolved this issue, please?

https://github.com/ngneat/transloco/pull/34/files

[2019-08-23 14:02] NetanelBasal commented on #12
@DmitryEfimenko I rewrote it from scratch, the new implementation will be:

[code]

[2019-08-23 17:17] DmitryEfimenko commented on #12
That looks clean!

[2019-08-24 06:18] moniuch commented on #24
From my experience: feature modules usually refer to 2 scopes: one would be `todos` in this example, and the other would be `general` (or, `common`) - where all the widely used phrases like "OK", "Cancel", "Are you sure you want to {{action}}?" are stored. Not sure how transloco sees that kind of dependency, but this is how lot of people set up the i18n environment in order to remain DRY. That mig

[2019-08-24 11:10] fxck commented on #28
this isn't really true, it has little no effects on seo

https://webmasters.stackexchange.com/a/85923

[2019-08-24 18:41] NetanelBasal commented on #24
The general is the global scope.

[2019-08-24 18:46] NetanelBasal commented on #24
For example, the global scope will be:

[code]

And `todos` scope will be:
[code]

Then, when you ask to load the `todos` scope, Transloco will merge them:

[code]

So, now you can access both:

[code]

[2019-08-25 11:08] larscom opened #37 "Add module loader library to documentation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## What is the motivation / use case for changing the behavior?

I've ported a library (from ngx-translate) to transloco, i

[2019-08-25 12:38] shaharkazaz commented on #37
Nice! would you like to make it an official plugin for transloco? 😃

[2019-08-25 15:06] NetanelBasal commented on #37
@larscom thanks for your work. I think that your functionality is already provided out of the box in Transloco (with lazy scoping). Can you verify it from this [comment](https://github.com/ngneat/transloco/issues/24#issuecomment-524056486), please?

[2019-08-25 16:26] larscom commented on #37
@NetanelBasal i think you are right! Great work :smiley:

[2019-08-25 16:26] #37 closed

[2019-08-25 18:11] NetanelBasal commented on #37
@larscom We really do appreciate the effort, and we'll add you to the contributors' list. We'd love to see more of you in the future 💯.

[2019-08-25 19:34] larscom commented on #37
Thanks alot! appreciated.

[2019-08-26 09:15] mrklika commented on #24
Hi,

after updating to 1.2.0 version and setting mergeStrategy: 'shared' I tried tu use translations in my lazy loaded template from both lazy loaded translation file and general translation file and I see no results,

Could you please check the minimal reproduction of my problem at:

**https://stackblitz.com/edit/angular-tmc7wd**

In the project, there is implemented Transloco with one lazy loade

[2019-08-26 09:18] shaharkazaz commented on #24
@mrklika The code is still in a pull request and not released 🙂 #33

[2019-08-26 09:21] mrklika commented on #24
Ok thanks for response! 🙂

[2019-08-26 09:32] mrklika commented on #24
@shaharkazaz Can I please ask you when do you approx. plan to release the feature? Thanks

[2019-08-26 09:33] shaharkazaz commented on #24
@mrklika It's currently in the stage of testing. I'm sure it will be out this week, can't tell you when but as soon as it's ready.

[2019-08-26 12:20] fxck commented on #21
Should this work with the currently release version? Because it doesn't seem to, not sure if I'm doing something wrong.

I'm getting `NullInjectorError: No provider for InjectionToken TRANSLOCO_LOADER!`, which I think I shouldn't even need when I'm providing translations manually, right?

[2019-08-26 15:55] fxck opened #38 "Make Loader Optional"
I didn't want to spam the other issue, but it's a continuation of [this](https://github.com/ngneat/transloco/issues/21#issuecomment-524838238).

https://stackblitz.com/edit/angular-tuqsp2?file=src/translations/translations.module.ts

What I'm trying to do:

- to have `TranslationModule`, to be imported in root module (AppModule), this module should
  a. do transloco provider configuration
  b. use

[2019-08-26 18:08] burkeallen opened #39 "ng add should support libraries"
## I'm submitting a Bug Report

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
**[ X ] Bug report**
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

when initiating

`ng add @ngneat/transloco`

and answering the 1st 3 prompts using the de

[2019-08-26 18:10] itayod commented on #39
@burkeallen could you please explain what's the issue?

[2019-08-26 18:18] itayod commented on #38
Hi, @fxck I believe the reason it didn't work for you is that you use `setTranslation` before the language is loaded:

I added this to the constructor and it works well:

[code]

[2019-08-26 18:22] fxck commented on #38
Guess it boils down to making the loader optional then? Language could be loaded / registered by the first `setTranslation` with given language, maybe?

[2019-08-26 18:29] itayod commented on #39
@burkeallen does "communal" projectType is "application" or "library"?

[2019-08-26 18:38] shaharkazaz commented on #38
@fxck I believe you are correct, making the loader is something we can think about @NetanelBasal what do you think?
But I think for now you can implement a basic loader and use scopes as you need when #33 is merged.
Check out this #24 discussion and see if the PR will you with your issue.

[2019-08-26 18:53] fxck commented on #38
I think of the way I described as of an alternative to letting the library asynchronously load translation files and do the scoping for me. So even after #33 is merged I'd rather do it this way..

The only main con (for my use case anyway) is that I'm bundling all languages with the module, instead of only loading the one needed, but the pro is not having to deal with another loading state,  havin

[2019-08-26 18:59] shaharkazaz commented on #38
@fxck Sounds legit to me. No worries, we'll add it this week.

[2019-08-26 19:03] itayod commented on #39
I will add support for libraries, in the meantime, you could install transloco using npm:
`npm install @ngneat/transloco` :)

[2019-08-26 19:57] #21 closed

[2019-08-26 19:59] NetanelBasal commented on #24
@mrklika it's available in v1.3.0.

[2019-08-26 19:59] #24 closed

[2019-08-26 20:50] itayod commented on #39
@burkeallen, I released a new version with the fix for library :)
You could use it by passing the project name and the module name:

`ng add @ngneat/transloco --project communal --module {YOUR_ROOT_MODULE}`

Please let us know if it works for you.

[2019-08-27 04:59] #39 closed

[2019-08-27 05:25] #12 closed

[2019-08-27 06:24] shaharkazaz commented on #38
@fxck I was wondering, how do you handle language changes in your project?
Based on your example the language seems static.

[2019-08-27 07:40] fxck commented on #38
It's an app, url stays the same, so on the fly as soon as users saves his settings, without reloading.

[2019-08-27 07:43] fxck commented on #38
That setTranslation in translation modules is repeated for each language.

[2019-08-27 07:53] fxck commented on #38
What I'm thinking about doing is something like this

[code]

[2019-08-27 08:57] itayod commented on #28
Thanks for your suggestion @bogusweb

After reconsidering, we have decided that a library isn't really needed here since the implementaion isn't very complicated:

[code]

[2019-08-27 13:47] fxck commented on #38
I guess `Types` could also be used for typesafe translation keys directly in the template with something like..

[code]

[code]

..instead of using the `transloco` structural directive (that [`*ngFor`](https://github.com/angular/angular/issues/15280#issuecomment-508012536) explained here). Not the most convenient but yeah.

[2019-08-27 19:06] fxck opened #40 "Bug: `selectTranslate` should not assume return type is string and should support nested properties when using MessageFormatTranspiler"
See https://stackblitz.com/edit/angular-rvacre?file=src%2Fapp%2Fapp.component.ts

Given this translation object

[code]

and doing:

[code]

It:

1. assumes return type will be string, which in this case it is not
2. crashes with `Uncaught TypeError: message is not a function` when using `MessageFormatTranspiler`

It would be great if `selectTranslate` could accept generic type with the default of

[2019-08-27 19:25] NetanelBasal commented on #40
I'm not sure what you expect to get when passing an object. Can you elaborate?

[2019-08-27 19:25] fxck opened #41 "feature: structural directive could get nested property"
Given this translation file

[code]

when you do this:

[code]

..using shared strategy you get the whole object.

So you have to do `{{ t.dashboard.projectsTitle }}` and `{{ t.dashboard.projectsDesc }}` etc., it would be nice if you could do something like this

[code]

..if it were only "dashboard" it wouldn't be that bad, but in my case it's `@zerops/zerops/pages/dashboard` (unique id of the la

[2019-08-27 19:29] NetanelBasal commented on #41
That's nice, but it will limit you to use only keys from this specific scope.

[2019-08-27 19:30] fxck commented on #40
See that stackblitz (and its console) with messageformat disabled

https://stackblitz.com/edit/angular-aernrh?file=src/app/app.component.ts

you get back translated object

[code]

which is what I would expect, but the indicated return type of `selectTranslate` is `Observable<string>`, that is one thing.. the other is that it throw error with messageformat transpiler.

[2019-08-27 19:48] NetanelBasal commented on #40
@blackmjck I'm not sure what you mean. You can do it with Transloco:

[code]

[2019-08-27 19:53] blackmjck opened #42 "Differentiation between undefined and blank translations"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Blank translation strings (e.g. `LANGUAGE.KEY: ''`) in a translation file result in a `Missing translat

[2019-08-27 19:53] #40 closed

[2019-08-27 20:18] NetanelBasal commented on #42
https://github.com/ngneat/transloco/pull/43

[2019-08-27 20:24] fxck commented on #40
How about that string type thing @NetanelBasal? So @blackmjck wouldn't have to override the type..

[2019-08-27 20:28] fxck commented on #40
Oh, nevermind, apparently it already has a generic type

[code]

great.

[2019-08-27 21:15] ewok-janitor opened #45 "translate attribute"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

Can we get documentation on how to translate an attribute?

Example from angular docs:
<code>
<img [src]="logo" i18n-title

[2019-08-27 21:23] fxck opened #46 "feature: a way to get observable of the whole language object"
`selectTranslate` currently requires a key to be passed to it, would be great if it could return the whole language object if no key is passed

[2019-08-27 21:56] fxck opened #47 "Bug: messageformat not transpiled when selecting an object with selectTranslate"
See console of

https://stackblitz.com/edit/angular-aa3pmd?file=src/app/app.component.ts

@NetanelBasal

...btw I have a feeling that `Translation[]` is a valid return type as well `selectTranslate<T = string | Translation | string[]>`

[2019-08-27 22:16] fxck commented on #47
Ok, it wasn't exactly working this way in ngx-translate either, if you used messageformat compiler, it returned a function under the `bar` property, which you would pass the params to

https://stackblitz.com/edit/github-idytfc-ayovbm?file=src/app/app.component.ts

can we perhaps do this better somehow?

[2019-08-27 22:57] fxck commented on #47
Played around with it a bit, see

https://github.com/ngneat/transloco/compare/master...fxck:ar-nestedmessageformattranspilation

what would be required

- transpile to return `string | Translation` (which I think is correct either way, since [currently](https://github.com/ngneat/transloco/commit/ff835c38af5c0e59647245039d1e951c0548f244#diff-e4be93846cf644f2366c0e93911d139cR14) it indeed might retu

[2019-08-27 23:23] fxck commented on #47
Here's proof of concept of the alternative solution with string path and `set`

https://github.com/ngneat/transloco/compare/master...fxck:ar-nestedmessageformattranspilation2

[2019-08-28 05:04] NetanelBasal commented on #47
We are moving `messageformat` to a separate package. Let's discuss this issue afterward.

[2019-08-28 05:22] shaharkazaz commented on #38
@fxck So if I understand correctly, you are preloading every language to the bundle? did I understand correctly?

[2019-08-28 05:29] NetanelBasal commented on #45
Added to the docs:

[code]

[2019-08-28 05:32] #42 closed

[2019-08-28 05:32] #45 closed

[2019-08-28 06:01] fxck commented on #38
Yep. My reasoning behind it is described here https://github.com/ngneat/transloco/issues/38#issuecomment-524983909

[2019-08-28 06:53] #46 closed

[2019-08-28 06:54] NetanelBasal commented on #38
Available in 1.5.0

[2019-08-28 06:54] #38 closed

[2019-08-28 06:55] NetanelBasal commented on #46
[code]

[2019-08-28 06:57] NetanelBasal commented on #47
@shaharkazaz will make the first suggestion both to our transpiler and the `messgaeforamt`.

[2019-08-28 07:12] #41 closed

[2019-08-28 10:42] NetanelBasal commented on #42
You can use it with the latest version:

[code]

[2019-08-28 18:43] fxck commented on #47
Any thoughts so far @shaharkazaz? I was thinking and maybe what ngx-translate is doing might be useful in some cases as well, maybe it could be optional along params object?

[2019-08-28 20:22] NetanelBasal commented on #47
For example?

[2019-08-28 20:27] fxck commented on #47
I'm passing translation down to a component, which displays number of people and projects, so I'm passing those numbers down to the anyway (to display the number, which is not part of the person/people, project/projects translation), so instead of having to combine those number and passing them to selectTranslations, I'd just do `{{ traslations.projects(projectCount) }}` inside the template of the

[2019-08-28 20:31] fxck commented on #47
But I think I still like having it resolved beforehand better.

[2019-08-28 20:35] NetanelBasal commented on #47
We should choose one way for now.

[2019-08-28 20:36] NetanelBasal commented on #47
LNK, If you want to take it and create a PR that will support both.

[2019-08-28 20:40] NetanelBasal commented on #47
I just noticed that it returns a function for any value, even if it is a simple string. https://stackblitz.com/edit/github-idytfc-7cgt4g

Not so intuitive.

[2019-08-28 20:41] fxck commented on #47
I think their translate directive unwraps it or something. Anyway personally I'd go for this https://github.com/ngneat/transloco/compare/master...fxck:ar-nestedmessageformattranspilation2 only, for now anyway.

[2019-08-29 04:31] NetanelBasal commented on #47
BTW, from what I see, ngx-translate (not related to `messageformat`) doesn't support object translation with params: https://stackblitz.com/edit/github-idytfc-7cgt4g

[2019-08-29 13:07] FallenRiteMonk opened #52 "Fallback translations"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

If a translations is missing (or empty) using structural directive does not show anything at all, while

[2019-08-29 18:47] NetanelBasal commented on #52
1. Due to the obvious reasons, this cannot be done when using a structural directive. Ok, it's not entirely accurate as we could probably get it done by using `Proxies`, but we prefer to avoid it for now.

The missing handler functionality is a "nice to have" one. We don't expect applications to be deployed with missing translation keys.

The structural directive comes with this disadvantage, but

[2019-08-29 19:10] NetanelBasal commented on #52
We are working on a powerful CLI tool that one of his options is to analyze your code and base on your translation files will inform you if you are missing certain keys.

[2019-08-30 05:14] FallenRiteMonk commented on #52
I understand all the things you say and it also makes sense to say it is a bug if one translation is missing in a language. But with the current moment being, that it is possible that a text is missing or showing some weird key to the user, seems like a but as well.

The CLI tool sounds amazing and I'm looking forward to it.

Do you have any timeline on when its going to be ready for use?

[2019-08-30 05:22] NetanelBasal commented on #52
@shaharkazaz is working on it. I guess something like two weeks.

[2019-08-30 05:29] NetanelBasal commented on #52
I'm closing this issue for now. We'll keep you updated when the tool is ready. Thanks.

[2019-08-30 05:29] #52 closed

[2019-08-30 16:16] ewok-janitor opened #53 "Shared scope does not check existing translations before loading"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

With `scopeStrategy` set to `shared`, you can load a root translation file such as this:

<pre><code>

[2019-08-31 18:13] shaharkazaz commented on #53
@ewok-janitor I'm not sure how `subcomponent` key got to the translation file, can you please explain?
Do you have a key with the same name as the scope?

[2019-09-01 07:56] NetanelBasal commented on #47
Fixed in 1.7.0

[2019-09-01 07:56] #47 closed

[2019-09-01 11:07] ruizmarc commented on #28
In our project we localize all routes so they become more user friendly, easier to understand and even easier to memorize. It would be great to have route localization with this lib, not only a query param.

Here you have another example of library with route localization based on ngx-translate in which we are contributing to: https://github.com/gilsdav/ngx-translate-router

[2019-09-01 11:15] shaharkazaz commented on #28
@ruizmarc You are welcome to open a PR and make it an official plugin 🙂

[2019-09-01 11:44] ruizmarc commented on #28
We have spent a lot of time with ngx-translate and ngx-translate-router to make it work properly with all our requirements, I don't think I have time to do the same with this lib. Sorry about it. It was just a suggestion taking into account needs from projects like ours if you really want to become the reference localization library. If we ever use this lib in our project, I will find the time, bu

[2019-09-02 15:14] inorganik opened #54 "Universal build fails with lazy-loading"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

If you include lazy-loaded translation files in your project, the Universal build fails with the error:

[2019-09-02 15:37] NetanelBasal commented on #54
It works as expected. Check the example repo https://github.com/netanelBasal/transloco-ssr

[2019-09-02 15:38] NetanelBasal commented on #54
It works as expected. Check the example repo https://github.com/netanelBasal/transloco-ssr

[2019-09-02 15:38] #54 closed

[2019-09-02 16:25] inorganik commented on #54
It occurred to me the error happened in the prerender step, and the load
probably failed because the lazy-load assets weren’t hosted yet.

On Mon, Sep 2, 2019 at 9:38 AM Netanel Basal <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-09-03 10:31] fxck commented on #53
I have a feeling he's mistaking `scope` with `read`.

[2019-09-03 14:54] ewok-janitor commented on #53
Yes- the `read` and `scope` ideas are muddled somewhat.  They seem like aspects of the the same concept.

The concept is that there is one huge translation tree, broken up by properties.  In the `read` pattern, all of these properties are available in local memory.  In the `scope` pattern, it requires an xhr to populate.

Let me try to explain what I am trying to accomplish, and then you can tell

[2019-09-03 15:41] NetanelBasal commented on #53
Let's make it clear for a second. Lazy loading scopes and the `read` property are not related.

You can use `read` without a lazy load. So, for example, if your translation file includes the following keys:

[code]

You can set the context to be the `general` object:

[code]

When you use the `scope` feature, Transloco will lazily load it, and merge it under the scope name into the current languag

[2019-09-03 16:52] ewok-janitor commented on #53
gotcha, thanks for the explanation

[2019-09-03 16:52] #53 closed

[2019-09-03 19:05] nartc opened #56 "Using Preload plugin"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
![image](https://user-images.githubusercontent.com/25516557/64201153-98a3f480-ce53-11e9-89b0-3476340179d

[2019-09-03 19:15] NetanelBasal commented on #56
It is fixed in 1.0.1. Thanks for the report.

[2019-09-03 19:15] #56 closed

[2019-09-04 04:10] nartc opened #57 "[Discussion] Memoized translated values"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[x] Other... Please describe: Discussion
</code></pre>

Hi guys,

I'm just wondering if it's worth it to have "already translated keys" to be memoized. The motivation is

[2019-09-04 06:34] shaharkazaz commented on #57
@nartc Thanks for the suggestion! 💪
The translation operation isn't that expensive and it's not worth all the memory we will have to use for keeping everything.
Also, checking the params will make it almost the same as the original operation 🙂

[2019-09-04 06:34] #57 closed

[2019-09-04 09:20] zygimantas opened #58 "GetTranslation is not called"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I am not sure if it's a bug or I am missing something, but I can't get it working, even I have read the

[2019-09-04 09:23] shaharkazaz commented on #58
@zygimantas can you share the complete example?

[2019-09-04 09:51] zygimantas commented on #58
Not so easily. The app is quite complex. Here are few additional observations which may not make sense at all, but maybe it will help you to give me some directions:

1. The path to translation files is not default, so I used a custom `transloco.loader.ts` (constructor initialized, `getTranslation(langPath: string)` was not called)
1. I have noticed that loader is optional in [transloco.service.ts

[2019-09-04 10:01] shaharkazaz commented on #58
@zygimantas The default loader does nothing. It's for developers that want to manually use `setTranslation`.
You should use the HTTP loader that comes with our schematics.

[2019-09-04 10:17] zygimantas commented on #58
Right. Well, one step back then, HTTP loader from the schematics does nothing for me either.
Should getTranslation() be called lazily or on application start?

[2019-09-04 10:42] zygimantas commented on #58
It doesn't even for me with a blank app. Reproduction steps:

[code]

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/102076/64247816-509ad580-cf18-11e9-841b-de823a2976e0.png)

Add console log to loader:

[code]

Inject service into app component:

[code]

![image](https://user-images.githubusercontent.com/102076/64248215-44634800-cf19-11e9-91d3-c3149cdaf2b9.png)

Expect

[2019-09-04 10:44] fxck commented on #58
It's highly unlikely that `service.translate("title")` would work in constructor of your root component. Most likely it's not even loaded yet.

Try
[code]

[2019-09-04 11:09] zygimantas commented on #58
I've oversimplified an example, so that's why I used a constructor.
It does matter actually - I have took a sample code from readme "Programmatical Translation" part where OnInit was used, so here is an updated version of my component:

[code]

There issue (getTranslation is not called on loader) still exists:

![image](https://user-images.githubusercontent.com/102076/64249894-6e1e6e00-cf1d-11e9-8

[2019-09-04 11:10] itayod commented on #58
As @fxck said, most likely it doesn't work since you tried to get the translation before the translation files have loaded.

you could change your code as following for it to work:
[code]

[2019-09-04 11:13] fxck commented on #58
Doesn't matter if you use `ngOnInit` or `constructor`, both are called essentially at the same time, one right after another, it still doesn't guarantee you that translations are already loaded.

[2019-09-04 11:20] zygimantas commented on #58
@itayod thanks, I have replaced the constructor with

[code]

and I get

![image](https://user-images.githubusercontent.com/102076/64250558-1bde4c80-cf1f-11e9-80cc-25653c0167f8.png)

No getTranslation() calls.

[2019-09-04 11:23] zygimantas commented on #58
Give me some time to create a example in stackblitz

[2019-09-04 11:26] NetanelBasal commented on #58
@zygimantas it will not work as `service.translate("title")` doesn't invoke `loader.getTranslation`. It just returns it from the cache. In your case, you didn't load any language either by using APIs such as  `selectTranslate`, directive, or pipe.

[2019-09-04 11:53] Edouardbozon opened #59 "Install schematic is not following sourceRoot for assets path"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Hi,

I'm using the Nx monorepo style and when running the install schematic, the assets path is not tak

[2019-09-04 12:04] zygimantas commented on #58
@NetanelBasal yes, that's the problem!

[code]

gave me what I was expecing to get. But it was confusing for a newcomer who just used schematics and expected to see something :) While I understand that's not an option to modify and inject this cod into  AppComponent using schematics, it leaves a gap in the smooth onboarding process.

Let's get back to the root issue why I've chosen a programmatic

[2019-09-04 12:09] NetanelBasal commented on #58
It's not related to the library. It's how the browser works. An HTTP request is async, and therefore you don't have any guarantee that it will be resolved when you call the sync translate method.

First, check if you see an HTTP request in the dev-tools. Then, check that you indeed import TranslocoModule in your code. That's very basic stuff. It works for everyone right away.

[2019-09-04 12:50] zygimantas commented on #58
@NetanelBasal
I can confirm that TranslocoModule is imported in component because the `service.selectTranslate` works.

But now I've imported it in specific feature module, and got it working using declarative syntax. So, importing in AppModule was not enough. Yes, the basic stuff I've missed while following the installation guide.

Thank you guys for helping me, I hope this thread will be indexed

[2019-09-04 12:52] NetanelBasal commented on #58
We assume that everyone knows Angular 😀

Thanks. I'm glad it finally works. The schematics is only for Angular CLI projects.

[2019-09-04 12:52] #58 closed

[2019-09-04 13:02] zygimantas commented on #58
It's a Angulat CLI project. Don't assume it's a baic "hello world" app and the project contains 1 app only inside the app folder ;) Good project, the Angular community needed it!

[2019-09-04 14:19] zygimantas commented on #58
While my memory is fresh, I will dump my observations here of what may be improved from the UX side. I know, that some things for you, who are working on a project for a longer time, may be obvious, but not for a person, who is starting with transloco.

**Installation**

[code]
OK, I understand (en, es) is default, or an example? Will both languages will be enabled, or do I have to provide a list.

[2019-09-04 15:02] NetanelBasal commented on #58
I appreciated your feedback. There are some things we can't control, such as schematics stuff ( cursor, etc..) which are built-in in Angular.

That's what I meant when I was saying, "We assume that everyone knows Angular". It's a well-known fact in Angular that when you want to use a component or a directive in a module, you need to import it.

Anyway, I will take your feedback into account. I wil

[2019-09-04 17:54] itayod commented on #59
@Edouardbozon What path did you enter in the 3rd question (✍ Which folder will contain the translation files?)?

[2019-09-04 18:42] zygimantas commented on #58
If it's ok, I am reusing the same thread to show additional gaps in documentation.
Here is one more:

`getBrowserLang()` is used to get the language with the highest priority of browser. Clear.
But how to pass `getBrowserLang()` result to transloco configuration? It's may be a realistic use case when an app does not store user language in database, does not provide language drop-downs and relies o

[2019-09-04 19:21] NetanelBasal commented on #58
service.setActiveLang(getBrowserLang() || "en")

[2019-09-04 19:22] NetanelBasal commented on #58
But my guess is that getBrowserLang will always return a lang.

[2019-09-04 19:36] zygimantas commented on #58
Are you sure? What is "service" in AppModule?

[code]

And if you are refering to a component, what if I use structural directives only? How about multiple components?

Most intuitive action would be to pass a browser's language to a transloco configuration, as I mentioned in a previous comment.

The second action the developer would try after getting the "Function calls are not supported in decor

[2019-09-04 20:12] Edouardbozon commented on #59
@itayod I entered the default value `src/assets/i18n`. It confused me because I expected this path to be relative to my application directory `apps/my-app`, not the project root. Just like others files added by the schematic.

[2019-09-05 05:46] NetanelBasal commented on #58
I meant inject `TranslocoService` into `AppComponent` and call `TranslocoService.setActiveLang`. I wouldn't use `getBrowserLang()` as default, as my guess that you don't have a translation file for each language that exists.

[2019-09-05 07:11] #59 closed

[2019-09-05 07:14] itayod commented on #59
@Edouardbozon thanks for your input, we decided to remove this question, as `asstes/i18n` it's pretty much the standard library for the translation files, and install it under the correct relative path.

I still left the option to set a different path that will also be relative to the project using `-path` flag :)

[2019-09-05 07:51] playpirates opened #61 "List of browser languages"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

getBrowserLang() and getBrowserCultureLang() returns only the first language in the list.

## Expected

[2019-09-05 08:11] itayod commented on #61
@playpirates thanks for your input,

There is no point to add it to our API. You can accomplish that by using the browser's `navigator.languages` API, but consider that it is **not fully browser supported**.

![](https://user-images.githubusercontent.com/6719615/64323466-3bcc4980-cfcd-11e9-9ae8-cb7a7155edf8.jpeg)

[2019-09-05 08:11] #61 closed

[2019-09-05 12:14] philjones88 opened #62 "Add Locale Support"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

No way to change LOCALE_ID based on language selected in transloco so that pipes such a Date etc update

[2019-09-05 12:35] t0nyak opened #63 "Unable to use translation service programmatically"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Translation programmatically is not working at all.

## Expected behavior

Being able to translate some

[2019-09-05 12:55] itayod commented on #63
Hi @t0nyak,

Your problem is that the translation files did not successfully load yet when you tried to use the `tranlate` method.

**From the docs**:
"Note that in order to safely use this method, you are responsible for ensuring that the translation files have been successfully loaded by the time it's called. If you aren't sure, you can use the `selectTranslate()` method instead"

[2019-09-05 12:56] #63 closed

[2019-09-05 14:00] itayod commented on #62
Hi @philjones88, thanks for your suggestion.

We will provide an external module that will include support for locales pipes (e.g. date format & currency) as part of Transloco.

[2019-09-05 16:55] philjones88 opened #64 "Can't get Transloco Persist Translations to work"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I've followed the instructions on setting up Transloco Persist Translations in my AppModule like:

[code

[2019-09-05 17:31] NetanelBasal commented on #64
My guess is that you didn't remove the default loader:

[code]

[2019-09-05 17:34] NetanelBasal commented on #64
I added this note to the README file. Feel free to close the issue if it solves your problem.

[2019-09-06 05:32] NetanelBasal commented on #64
You can see a working example here: https://github.com/NetanelBasal/transloco-plugins-playground

[2019-09-06 05:32] #64 closed

[2019-09-06 08:30] philjones88 commented on #64
@NetanelBasal 	you are exactly right, feel like a numpty!

[2019-09-06 12:47] frct1 opened #67 "Pass 0 as translocoParams"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

If we passing 0 as dynamic value parameter it is will not be showed

## Expected behavior

Showing 0 as

[2019-09-06 13:03] NetanelBasal commented on #67
It is fixed in v1.7.3. Thanks for the report.

[2019-09-06 13:03] #67 closed

[2019-09-06 13:04] frct1 commented on #67
Wow

[2019-09-06 13:05] NetanelBasal commented on #67
I can't stand bug :)

[2019-09-06 14:17] Newbie012 opened #68 "JetBrains WebStorm incompatibility"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

WebStorm doesn't know what type is `t` which results in IDE errors:

![869021a257e0cd476ff995c9c17cc55b

[2019-09-06 14:39] itayod commented on #68
Hi @Newbie012,

Unfortunately, structural directives typing will only be supported after Ivy.
In the meantime, you can open this issue to Webstorm.

[2019-09-06 14:39] #68 closed

[2019-09-07 05:33] bjornharvold opened #69 "Lazy loading with scope names only partially works"
## I'm submitting a...

<pre><code>
[x] Bug report
</code></pre>

## Current behavior

I'm converting from ngx-translate. My lazy loaded keys look like: 'OTA.TITLE'. OTA being the lazy module namespace.

(BTW the migrate tool missed a few 'translate.get' and '| translate' commands)

I set up the config on the lazy module.
`providers: [{provide: TRANSLOCO_SCOPE, useValue: 'ota'}]`

In AppModule i s

[2019-09-07 07:11] shaharkazaz commented on #69
What version of Transloco are you using?
If it's the latest, can you provide which cases the migration script missed the switch?

About the scope I'll check it.

[2019-09-07 08:05] bjornharvold commented on #69
Hi @shaharkazaz

I will run the migration again once the scope is working.

Basically fringe cases where the variable is partially dynamic. E.g. {{'test.' + name | translate}}

[2019-09-07 08:14] bjornharvold commented on #69
Regarding scope... In your documentation you state the default scope is upper cased. But that does not seem to be the case. I tried all kinds of upper case scopes and none work.

[2019-09-07 08:50] shaharkazaz commented on #69
@bjornharvold
I see what you mean, that's a mistake in the docs that I will update now.
All scopes names are camelCased, which means that if your scope name is `ota` it will remain `ota`.

I understand that scope mapping to uppercase doesn't work for you? (if that's what you need).

About the migration, I have tested the case you have shown here and it seems ok, maybe we can take it privately on g

[2019-09-07 09:37] shaharkazaz commented on #69
@bjornharvold
I just published v1.7.4 can you verify that the issue is resolved? 🙂
I would also appreciate it if we can try to resolve the issues you had with the migration.

[2019-09-08 03:39] bjornharvold commented on #69
Here are the errors I get after migrating.

[code]

[2019-09-08 03:53] bjornharvold commented on #69
Here are | translate directives that didn't get translate. See attached.

<img width="901" alt="Screen Shot 2019-09-08 at 10 52 40 AM" src="https://user-images.githubusercontent.com/641791/64483070-d378a480-d226-11e9-8ff5-a08151928cfa.png">

[2019-09-08 03:59] bjornharvold commented on #69
I can confirm that scoped upper case names are working. This is great because I would assume most ngx-translate users and folks using Pascal's earlier translate module are writing keys as all upper case and not camelCase. That would be a pretty big deal for adoption.

[2019-09-08 03:59] bjornharvold commented on #69
Thank you for the quick turnaround @shaharkazaz

[2019-09-08 05:59] bjornharvold commented on #69
Regarding migration: this.translate.currentLang does not migrate to this.translate.getActiveLang

[2019-09-08 06:12] bjornharvold commented on #69
Another thing I noticed: Migration doesn't change this.translate.use(newLang) to this.translate.setActiveLang(newLang)

[2019-09-08 06:37] shaharkazaz commented on #69
@bjornharvold you can read what is currently supported by the migration script in the migration [README](https://github.com/ngneat/transloco/blob/master/schematics/migration.md).
I'm closing this issue, please let's take this privately so we can improve the migration script 🙂

[2019-09-08 06:37] #69 closed

[2019-09-08 08:45] bjornharvold opened #70 "FEATURE REQUEST: Support numbers in pipe attributes"
## I'm submitting a...
<pre><code>
[X] Feature request
</code></pre>

ngx-translate support numbers when translating something like this:
`{{ 'alert' | transloco: { value: dynamic } }}`

This currently fails if I do an 'ng build' while passing it a number. transloco only accepts strings.

ERROR MESSAGE:
ERROR in ./src/app/subscription.component.html(144,104): Type 'number' is not assignable to typ

[2019-09-08 08:51] NetanelBasal commented on #70
Can you share the error, please?

[2019-09-08 08:54] bjornharvold commented on #70
Updated

[2019-09-08 09:00] #70 closed

[2019-09-08 09:00] NetanelBasal commented on #70
Try the latest version.

[2019-09-09 04:32] Beerbossa opened #71 "Unit testing "withLangs" not working for anything else than "en" ?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Following the ReadMe, I can get to make my unit tests work, but the only language that works is english

[2019-09-09 05:32] NetanelBasal commented on #71
You need to change the default language. You can change the default configuration or call `setActiveLang()`.

[code]

[2019-09-09 05:41] NetanelBasal commented on #71
I made it simpler. You can now pass the `config` as the second parameter:

[code]

[2019-09-09 05:41] #71 closed

[2019-09-10 08:54] nulee opened #72 "Update PORT in the path to the translation files when changed"
## I'm submitting a...

<pre><code>
[x] Bug report
</code></pre>

## Current behavior

Even though the port used by `ng serve` was changed (via `--port` or `angular.json`), the library is still preserving the default one (`4200`) in the path to the translation files.

## Expected behavior

Updating the port in the path to the translation files.

## Minimal reproduction of the problem with instruct

[2019-09-10 09:00] shaharkazaz commented on #72
@nulee We're adding the prefix only when you choose the SSR option in our schematics. Is this what you mean?

[2019-09-10 09:18] nulee commented on #72
@shaharkazaz Yes, It is. Server version of the app is not able to load the translation files on its own. It is not that big of an issue as in the production environment you have typically build the browser version also. However, I don't see the motivation behind this, could you maybe elaborate?

[2019-09-10 09:27] shaharkazaz commented on #72
@nulee
When working with SSR, you need to use the absolute path in the loader. In this case, we added a placeholder for you, which contains the standard port. You need to change it manually anyway for any other environment you have. We can't predict your base URL. You might even have a hosts file such as:
dev.company.com   localhost:4200

[2019-09-10 11:42] NetanelBasal commented on #72
Sorry, there is nothing we can do about it. It's your responsibility to override the environment `baseUrl` property based on your application.

[code]

[2019-09-10 11:42] #72 closed

[2019-09-10 11:49] nulee commented on #72
@shaharkazaz @NetanelBasal
Makes sense. Thank you for the lightning fast replies.
Would be nice to include this info in the README though.

[2019-09-10 12:08] NetanelBasal commented on #72
https://github.com/ngneat/transloco#ssr-support

[2019-09-10 12:30] avgalon opened #73 "Support Translation Comments"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Could not find a way to add context to a translation
## Expected behavior
Each translation must have t

[2019-09-10 12:33] itayod commented on #73
Hi @avgalon, by "context" do you mean that:
https://github.com/ngneat/transloco#using-the-read-input

[2019-09-10 12:37] itayod commented on #73
Hi @avgalon how do you expect the context to get to the translators?

[2019-09-10 12:46] avgalon commented on #73
something like that:
https://www.i18next.com/translation-function/context   which will be
provided in a directive attribute

On Tue, Sep 10, 2019 at 3:37 PM Itay Oded <notifications@github.com> wrote:

--

*ThanksAlon Avgil <http://il.linkedin.com/pub/alon-avgil/7/89a/126>*

[2019-09-10 13:08] Edouardbozon commented on #73
I think the [message format plugin](https://github.com/ngneat/transloco/tree/master/projects/ngneat/transloco-messageformat) already provide this.

[2019-09-10 13:35] avgalon commented on #73
maybe i provided the wrong example...
https://angular.io/guide/i18n#help-the-translator-with-a-description-and-meaning

On Tue, Sep 10, 2019 at 4:08 PM Koala <notifications@github.com> wrote:

--

*ThanksAlon Avgil <http://il.linkedin.com/pub/alon-avgil/7/89a/126>*

[2019-09-10 13:45] itayod commented on #73
@avgalon Thanks for your suggestion, we were actually planning on implementing this feature. If you would like you are welcome to provide a PR that does that or wait for us to do that.

[2019-09-10 14:32] Edouardbozon commented on #73
I'm not sure to understand exactly how a context as described in the i18n guide could be useful in Transloco. Could you elaborate?

[2019-09-10 14:35] NetanelBasal commented on #73
IMO, these comments don't belong to the template. The way we're going to implement it is by adding a special key to each key that requires an explanation. For example:

[code]

Then, we need to create a `WebpackPlugin` (and optionally a script) that'll run for each non-dev environment and removes these keys from each translation file.

[2019-09-10 15:24] avgalon commented on #73
Ok, sounds good...

On Tue, Sep 10, 2019, 17:35 Netanel Basal <notifications@github.com> wrote:

[2019-09-10 17:25] omarAjmi opened #74 "Transloco has a problem loading json files when requests are passed through an HttpInterceptor"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

i have transloco working perfectly, but when adding an HttpInterceptor, and explicitly passing throug

[2019-09-10 17:40] NetanelBasal commented on #74
You missed the return.

[2019-09-10 17:41] #74 closed

[2019-09-10 17:41] omarAjmi commented on #74
yep just figured it out, silly me!!! thanks anyway

[2019-09-11 15:56] blackmjck opened #75 "Config option to disable console logging"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Things like preload success/fail, missing translation handler calls, etc. all trigger console output wh

[2019-09-11 16:07] NetanelBasal commented on #75
Set `config.prodMode` to `true`.

[2019-09-11 16:09] NetanelBasal commented on #75
I will make it the default for `TranslocoTestingModule` in the next release.

[2019-09-11 16:14] NetanelBasal commented on #75
Released v1.7.7 with this change.

[2019-09-11 16:14] #75 closed

[2019-09-11 17:11] NetanelBasal commented on #73
You can find it here: https://github.com/ngneat/transloco/tree/master/projects/ngneat/transloco-remove-comments

[2019-09-11 17:11] #73 closed

[2019-09-13 07:34] itayod commented on #62
Hi @armanozak, thanks for the suggestion.
I already implement it using the native JS API, and will release it next week.

[2019-09-14 18:49] NetanelBasal commented on #62
@philjones88 we're almost there. @itayod will fix the PR comments, and we'll release the library.

We would love to get your feedback before the release. Here's the [README](https://github.com/ngneat/transloco/blob/86f490433fb31371e32adefffe607815618b6c13/projects/ngneat/transloco-locale/README.md) file.

CC @armanozak.

[2019-09-15 11:30] armanozak commented on #62
@itayod did an amazing job. Can't wait to give it a try. I've put a few comments. Hopefully useful ones... 🤞

[2019-09-15 18:35] Newbie012 opened #78 "Get translation asynchronously"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ X ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I inject TranslocoService in my service and then immediately want to fetch the results (i.e, fet

[2019-09-15 19:13] itayod commented on #78
Hi @Newbie012,
Did you try to use the `select` method?
[code]

[2019-09-15 20:11] Newbie012 commented on #78
Actually yes. Much better now =)

[2019-09-15 20:11] #78 closed

[2019-09-16 19:10] #62 closed

[2019-09-17 01:43] TmrdShnb commented on #62
‫في الجمعة، 13 سبتمبر 2019 في 12:25 ص تمت كتابة ما يلي بواسطة ‪Levent
Arman Özak‬‏ <‪notifications@github.com‬‏>:‬

[2019-09-17 09:45] mickz18 opened #80 "Issue on ng add => Unexpected token } in JSON"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

ng add @ngneat/transloco --verbose
Skipping installation: Package already installed
? 🌍 Which languages

[2019-09-17 09:55] itayod commented on #80
@mickz18 could you send me a repo with a reproduction of the issue?

[2019-09-17 11:31] NetanelBasal commented on #80
Check your `angular.json` file. My guess is that you have an invalid comma.

[2019-09-17 12:53] IlCallo opened #81 "Add angular-l10n to comparison table"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

There is a beautiful comparison table, but `angular-l10n` is missing.
`angular-l10n` was probably the b

[2019-09-17 13:06] #80 closed

[2019-09-17 13:09] mickz18 commented on #80
Thanks a lot, indeed error in angular.json was loking for line number and not postion.

[2019-09-17 13:59] NetanelBasal commented on #81
I updated the [table](
https://github.com/ngneat/transloco/#comparison-to-other-libraries). Let me know if there are any mistakes, and I will update. Thanks.

[2019-09-17 13:59] #81 closed

[2019-09-17 15:19] IlCallo commented on #81
Perfect, thank you!
There are some things wrong:
- `listenToLangChange`: `angular-l10n` provide `LocaleService` to listen and react to locale changes
-  `Multiple Languages Simultaneously`: pretty much every goodies of `angular-l10n` accept an optional `lang` to use instead of the default one. I'm just not sure about directives :thinking:
- `Hackable`: while not hackable as `transloco`, `angular-l

[2019-09-17 15:42] NetanelBasal commented on #81
Hi, couple of notes:

- `listenToLangChange` - Read in the [docs](https://github.com/ngneat/transloco/#config-options) what it means, please.
- `Multiple Languages Simultaneously` - and you can use it in the template?
- `Hackable` - not the same, but I will think of something
- `Ivy support` - "it doesn't support it only when using in combination with AOT", so it doesn't support Ivy. Everyone uses

[2019-09-17 15:46] NetanelBasal commented on #81
@IlCallo you're welcome to submit a PR for any additional functionality you want.

[2019-09-17 16:43] manojvignesh opened #82 "selectTranslate breaking change"
## I'm submitting a...

<pre><code>
[ x] Regression (a behavior that used to work and stopped working in a new release)
</code></pre>

## Current behavior

when i use selectTranslate like `this.service.selectTranslate('home').subscribe(console.log);` , the translated value gets logged every time the language changes

## Expected behavior

It used to be logged only once. After #a7af5c6  the behavio

[2019-09-17 17:46] shaharkazaz commented on #82
@manojvignesh You are correct, but the old behavior was a bug, use `take(1)` operator to resolve this.
Sorry about this, we will clarify it in the docs and add the operator as part of the migration script.
Thanks for the feedback!

[2019-09-17 19:22] IlCallo commented on #81
* `listenToLangChange` - I read it, but maybe I'm missing something... Aren't we talking of reacting to language changes and the ability of changing that language at runtime? Because `angular-l10n` allow both of those things. [It exposes](https://robisim74.github.io/angular-l10n/spec/api/#ilocaleservice) a Subject which emits every time language changes and a method to change it programmatically.

[2019-09-17 19:34] NetanelBasal commented on #81
- You should reread it. Anyway, this bullet is confusing. I removed it.
- Tell me what I'm missing because it doesn't seem to [work](https://stackblitz.com/edit/angular-l10n-7yy2by):
[code]
- Added partially support.
- It's all over the docs, so I guessed this is the main use-case. I will update the table.

We don't need to support it. It's work out of the box in Transloco without this boilerplate

[2019-09-17 20:51] IlCallo commented on #81
* `listenToLangChange` - Ok, I got it now, you meant the optimization due to unsubscribing. I understood it while you were writing and edited previous comment at the same time you add the new comment.
* `Multiple Languages Simultaneously` - I was pretty sure I used it somewhere (I don't have access to that codebase anymore) but I guess I was wrong, sorry :sweat:
* `Ivy support` - I think you updat

[2019-09-18 03:51] NetanelBasal commented on #81
Our solution is a structural directive.

[2019-09-18 03:54] NetanelBasal commented on #81
I will stop this discussion here. It becomes to be a discussion of who's better, and I don't like it. It's your decision whether to use `angular-l10n` or any other solution. We appreciate every library and think that's good.

If there are more mistakes in the table, I will update. Thanks.

[2019-09-18 03:55] #82 closed

[2019-09-18 07:41] IlCallo commented on #81
I think I couldn't explain myself good enough: mine where just suggestions plus some context, not attacks to the library or saying which one is best (in my opinion, `transloco` is the best right now).

Anyway, the table is now correct, original issue is solved: keep on the great work! :)

[2019-09-18 13:28] philjones88 opened #83 "The pipe 'translocoDate' could not be found"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I've setup transloco-locale as per the instructions along side my existing transloco logic as per https:

[2019-09-18 13:31] NetanelBasal commented on #83
You need to import `TranslocoLocaleModule` in each module you're using it.

[2019-09-18 13:32] philjones88 commented on #83
@NetanelBasal 	thanks, just wondering why I haven't had to do that with the main `TranslocoModule` ?

[2019-09-18 13:33] NetanelBasal commented on #83
You need to. This is Angular requirements.

[2019-09-18 13:44] philjones88 commented on #83
Not quite sure how I had it working without importing `TranslocoModule` into my lazy loaded children modules but... this isn't a real issue. Closing.

[2019-09-18 13:44] #83 closed

[2019-09-19 13:19] NetanelBasal opened #84 "Allow fallback language for missing values"
Example: If I use Spanish, and one of the keys is missing, I want to display the English version of it.

[2019-09-19 13:44] Edouardbozon commented on #84
@NetanelBasal I would be happy to pick this.

[2019-09-19 13:46] NetanelBasal commented on #84
Go ahead 😀.

[2019-09-19 15:34] Edouardbozon commented on #84
@NetanelBasal In your point of view is it better to add this behavior directly in the `translate` method of `TranslocoService` or delegate this to the `MissingTranslationHandler` ?

[2019-09-20 07:47] dertuerke opened #85 "[QUESTION] ngx-translate addLangs equivalent"
Hi,
what is the equivalent for the ngx-translate `addLangs`?
Or how i can add it?

[2019-09-20 08:00] shaharkazaz commented on #85
@dertuerke Hi!
Currently, we don't have an equivalent, but we have no problem adding one.
Can you please explain what is the use case? 🙂

[2019-09-20 10:00] itayod opened #86 "DOCS: Add Schematics README.md file"
Currently, we have a few schematics command, but we are missing the documentation.

We need to create a `README.md` file under `/schematics` that will include the specification for each of the commands.

[2019-09-20 10:07] itayod opened #87 "Schematics: add `mockLang` flag for component command"
This flag will add `TranslocoTestingModule` to the component's `spec.ts` file when using `generate component` command:

[code]

[2019-09-20 15:20] PeterHewat opened #88 "Transloco Message Format Plugin documentation bug"
## I'm submitting a documentation bug

If you follow the documentation to add the messageformat plugin here:
https://github.com/ngneat/transloco/tree/master/projects/ngneat/transloco-messageformat
You get an error stating that TranslocoMessageFormatModule can not be found inside @ngneat/transloco-messageformat

If you follow the documentation here:
https://www.npmjs.com/package/@ngneat/transloco-m

[2019-09-20 15:34] PeterHewat opened #89 "fallbackLang hard coded to es"
I installed transloco to my project as follows:
[code]
This is what was added to my app.module.ts:
[code]
Notice the **fallbackLang: 'es'** (I never specified es, only en, fr...)

[2019-09-20 15:52] itayod commented on #89
Hi @PeterHewat thanks for letting us know, I will fix it right away.

[2019-09-20 16:01] itayod commented on #88
The documentation from the github, is for a future version that still not have been published yet.

Please stick with this documentation for now:
with https://www.npmjs.com/package/@ngneat/transloco-messageformat

We will release a new version this Sunday :)

[2019-09-20 16:08] PeterHewat commented on #88
Excellent, thank you. Closing this issue.

[2019-09-20 16:20] PeterHewat commented on #89
Hi @itayod thank you for the speedy reply. I see you have already opened a PR #90 to correct this. Thank you. Closing this issue.

[2019-09-20 16:20] #89 closed

[2019-09-21 12:17] #86 closed

[2019-09-21 22:17] Newbie012 opened #92 "Can't get ElementRef when parent has *transloco directive"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Given the following template:

[code]

I can't access `#card`:

[code]

logging `this.card` in `ngAfter

[2019-09-22 05:50] shaharkazaz commented on #92
@Newbie012 This is not a bug.
You are using the structural directive, which in the first time initializes after the translation loading is done, this is why your view init before the directive does.
you have 3 ways to resolve this:
1. Use the pipe or directive.
2. Add a setter to the `ViewChild` so you will know when did the structural directive load.
3. listen to `translationLoadSuccess ` event a

[2019-09-22 05:50] #92 closed

[2019-09-22 14:01] NetanelBasal opened #93 "Transloco v2"

[2019-09-23 03:07] NetanelBasal commented on #84
@Edouardbozon what's the status of the issue?

[2019-09-23 06:34] Beerbossa opened #94 "Lazy loading i18n files can cause issue with karma tests"
## Note
I may have misunderstood a few things, feel free to roast me if I'm mistaken. From using the lazy loading in a few places, I think I understood that the "lazy loaded" part gets merged into the "main" dictionary.

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[x] Feature request
[x]

[2019-09-23 06:55] shaharkazaz commented on #85
@dertuerke Feel free to continue this

[2019-09-23 07:01] dertuerke commented on #85
@shaharkazaz Hi, we are currently considering whether we need this function at all. So the ticket could be closed for now. If we have decided and still need the function, I would write it in the ticket.

[2019-09-23 07:35] shaharkazaz commented on #85
@dertuerke cool, closing 🙂

[2019-09-23 07:35] #85 closed

[2019-09-23 08:28] Edouardbozon commented on #84
@NetanelBasal I have something working, I have to add tests now. I will push it soon to get feedback.

[2019-09-23 08:40] itayod commented on #94
Hi @Beerbossa.

We currently aren't going to add an API for merging scopes for testing.
You could provide a mock that includes the scope languages or merge them as you suggested.

Having said that, we might add an API for it in the future.

[2019-09-23 09:33] PeterHewat commented on #88
Hello again,
I updated @ngneat/transloco-messageformat from 1.0.0 to 1.1.0 and tried setting it up the new way (using TranslocoMessageFormatModule.init()) but I get the following error:
Property 'init' does not exist on type 'typeof MessageFormatTranspiler'.ts(2339)

[2019-09-23 10:12] itayod commented on #88
Hi @PeterHewat I can't reproduce this error, I think it might be cache...

Could you try deleting you `node_modules` folder and reinstall?

If it keeps happening, could you please create stackblitz reproduction?

[2019-09-23 12:54] PeterHewat commented on #88
Hi @itayod,
I'm sorry, false alarm... I started over making sure to follow the documentation and everything works fine.
https://stackblitz.com/edit/angular-mjlabx?file=src%2Fapp%2Fapp.module.ts
Closing the issue again ;-)

[2019-09-23 12:54] #88 closed

[2019-09-25 09:19] zufarzhan opened #97 "Feature request: component level scope alias"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Currently in order to specify alias for component scope translations you have to do it in main APP modu

[2019-09-25 09:20] #87 closed

[2019-09-25 10:10] shaharkazaz commented on #97
@zufarzhan Would you like to open a PR for it?

[2019-09-25 10:28] zufarzhan commented on #97
@shaharkazaz sure, will do it a bit later :)

[2019-09-25 10:56] NetanelBasal commented on #94
@Beerbossa you should pass the scope with the lang:

[code]

In V2 we'll take care of the lang postfix so you'll be able to do:

[code]

[2019-09-25 12:58] NetanelBasal opened #98 "Migrate our docs to Vuepress"
https://vuepress.vuejs.org/

Include the project in this repo.

[2019-09-26 07:09] uxohotteixo opened #99 "Xliff format support."
It is possible to install xliff format translation files in the transloco or convert current translations to transloco json format?

[2019-09-26 07:27] itayod commented on #99
Hi @uxohotteixo
It could simply be done by creating a loader that loads the xliff format and convert it to json:

[code]

This is a repository that you could use to achieve that:
https://github.com/locize/xliff

[2019-09-26 10:03] glen-84 opened #102 "MessageFormat plug-in and pre-compiled messages"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

Please clarify whether or not the MessageFormat plug-in supports build-time compilation of messages / reading from pre-compi

[2019-09-26 10:28] itayod commented on #102
Hi @glen-84,

The plugin we provide does not support build-time since most of the time the transpilation of the message includes variables that we need to resolve, that could happen only during runtime.

example:
[code]

[code]

Therefore it doesn't make sense for our case to support precompilation for message format.

[2019-09-26 10:46] glen-84 commented on #102
@itayod,

I'm referring to pre-compilation from ICU message to JS function, not to the resulting string.

Example:

greeting: `Hello {name}` -> `function greeting(name) { return ``Hello ${name}``; }`

(the above is just an example, it doesn't look exactly like that)

[2019-09-26 10:49] fxck commented on #102
https://github.com/ngneat/transloco/issues/47#issuecomment-525872345

[2019-09-26 11:28] shakedSetoo opened #103 "Empty keys are rendering the key instead of the empty value"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Key with empty value is not rendered empty but displays its key instead of the empty value.
If I have an

[2019-09-26 11:34] shaharkazaz commented on #103
You need to pass config the following option:

[code]

[2019-09-26 11:34] #103 closed

[2019-09-26 11:39] itayod commented on #102
Hi @glen-84.

I see what you meant here, but unfortunately, we are currently not going to support that soon.

[2019-09-26 12:07] shakedSetoo commented on #103
@shaharkazaz Its not working...

I have a key "LANDING_PAGE.BUY_NOW_BTN2" and its value is empty in my french translation file.

the key is rendered to the view and not the empty string...

too bad...

[2019-09-26 12:08] shaharkazaz commented on #103
Can you create a reproduction in stackblitz?

[2019-09-26 16:25] NetanelBasal commented on #93
https://github.com/ngneat/transloco/blob/v2/BREAKING_CHANGES.md

[2019-09-26 19:22] NetanelBasal commented on #99
Here's a complete working example:

[code]

The translation files:
[code]

[2019-09-27 15:51] Kzamikaze opened #104 "Library and SharedModule that both uses Transloco"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Support request
[ ] Other... Please describe:
</code></pre>

This issue may have been brought up in the past but i have not a found a true solution.
I am trying to use Transloco in a li

[2019-09-28 05:46] itayod commented on #104
Hi @Kzamikaze,

In your case,  I would recommend you to use `TRANSLOCO_LOADER` only once in your `SHARED_MODULES`.

SharedModule stays the same:

[code]

Library module uses the SharedModule:
[code]

Please let me know if that's works for you.

[2019-09-28 17:20] Kzamikaze commented on #104
Thanks for the quick reply.
I've managed to get it working with your suggestion, but i did it in reverse, importing the <code>LibraryModule</code> in the <code>SharedModule</code>.

At least it's working now, but isn't there a way to import both my <code>SharedModule</code> and the <code>LibraryModule</code> in my main <code>AppModule</code> with each one having its own service instance ?
Most of

[2019-09-28 17:49] Beerbossa commented on #94
Thank you, I knew I was missing some kind of way to "merge" them in a cleaner way, that's good for me ! Appreciate the tip and the plan for V2 !

[2019-09-28 18:03] Beerbossa commented on #94
@NetanelBasal

Actually quick question, it seems to fail karma tests when I do it this way :
![image](https://user-images.githubusercontent.com/18558584/65820553-9e91b900-e1f8-11e9-8f69-81962dc29b30.png)

Am I missing something ? Sorry to bother you again

[2019-09-28 18:30] itayod commented on #104
I am glad that it works for you now :)

What I can recommend you do in that case is to keep using only one `TRANSLOCO_LOADER` in your main application, and create [scope](https://github.com/ngneat/transloco#scope-configuration) for each library, this way you could split the translations between multiple files.

P.S
I have seen that you save the active language to `localstorage` did you see we have

[2019-09-29 08:06] Kzamikaze commented on #104
I will look into scopes and see if i can find a solution.
Thank you for the feedback

[2019-09-29 08:06] #104 closed

[2019-09-29 08:40] #99 closed

[2019-09-29 08:40] #98 closed

[2019-09-29 08:41] #102 closed

[2019-09-29 08:41] #84 closed

[2019-09-29 17:51] Goonersid opened #105 "Maintenance: Ts lint / Codelyzer rules"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## What is the motivation / use case for changing the behavior?

To enable, better Maintenance and quality, is it possible t

[2019-09-30 13:29] jurgh1 opened #106 "Bug: availableLangs array not matching type declaration"
## I'm submitting a...

<pre><code>
[ x ] Bug report
</code></pre>

## Current behavior

In app.module.ts, the useValue.availableLangs array, in the TranslocoConfig section, is not compatible with its type declaration after running

E.g when selecting

as desired languages during installation, the TranslocoConfig looks like this afterwords.

``
{
      provide: TRANSLOCO_CONFIG,
      useValue: {

[2019-09-30 13:50] itayod commented on #106
Thanks for taking the time and opening this issue, we already fixed that in an internal branch.

Anyhow we are still working on version 2 so for now I would recommend you to use version 1 until we will officially release the new version.

[2019-09-30 16:50] #106 closed

[2019-10-01 17:51] itayod commented on #94
@Beerbossa could you please write here the `HTML template` of your `component`?

[2019-10-01 20:38] maxime1992 opened #107 "TypeError: Cannot read property 'completeScopeWithLang' of undefined at translate"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

(not sure whether actual bug or something I'm missing...)

## Current behavior

I'm trying to use `translate` method from a

[2019-10-02 01:54] Beerbossa commented on #94
A lot have changed since then and everything works well merging the json files using the edit of my last comment, but basically it looked like that :

[code]

[2019-10-02 02:37] Preechaphat opened #108 "new"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

For bug reports please

[2019-10-02 02:39] Preechaphat opened #109 "on"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

For bug reports please

[2019-10-02 05:44] #109 closed

[2019-10-02 05:44] #108 closed

[2019-10-02 08:38] shaharkazaz commented on #107
@maxime1992 Hi! we need more information in order to figure out what's wrong since you can't reproduce it in stackblitz.
can you try adding a debugger and maybe share some insights?

[2019-10-02 09:07] #93 closed

[2019-10-02 18:04] hc-codersatlas opened #110 "Cache busting translations"
Hi, what's the best way to deal with translation files being cached and updated? As per instructions the i18n files are going into assets folder, i.e. not hashed. Service Worker and/or other use cases hold a long cache on the flattened? json. Any change to the contents and it's not reflected even after a hard refresh/reload, esp. on mobile where it'd be hard to manually clear the data.

[2019-10-02 18:26] itayod commented on #94
@Beerbossa I have updated the playground `lazy page` with your case, and it seems to be working fine at version 2.
see: https://github.com/ngneat/transloco/blob/master/src/app/lazy/lazy.component.spec.ts#L38

I would suggest you upgrade your code to use the new version and update your test as @NetanelBasal suggested.

[2019-10-02 18:47] itayod commented on #110
Hi @hc-codersatlas,

Generally, for questions we have a [gitter](https://gitter.im/ngneat-transloco/lobby) channel.

For caching there are 2 possible solutions:
1. you could create a custom loader and add a query param with some hash value (e.g with a timestamp ) to the name of the file:
[code]
2. you can create radom hash for the translation files/folder on build time.

[2019-10-02 19:40] shaharkazaz commented on #105
@Goonersid We won't be able to reach this anytime soon.
You are welcome to open a PR for it :slightly_smiling_face:

[2019-10-03 05:43] maxime1992 opened #111 "Upgrade to v2 with schematics broke nearly all my views"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

[code]

Said nothing to be done but it definitely did something:

![image](https://user-images.githubus

[2019-10-03 07:55] shaharkazaz commented on #111
@maxime1992 Thanks for the report! I found the issue and I believe I have fixed it, can you try it again and tell me how it goes? it now available in v2.0.2

[2019-10-03 09:40] Newbie012 opened #112 "Can't retrieve from the translation arrays and objects"
## I'm submitting a...

<pre><code>
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Getting `Missing translation for 'roles'` while trying to retrieve an array/object from the translat

[2019-10-03 09:42] #94 closed

[2019-10-03 11:27] shaharkazaz commented on #112
@Newbie012 Thanks for the report, I have fixed the issue and it will be up in the next couple of hours

[2019-10-03 13:51] shaharkazaz commented on #112
@Newbie012
Fixed in #113.
Published in v2.0.3.
If you are using the messageformat plugin you will also need to upgrade to v1.1.1.
If you are using the optimize plugin you will also need to upgrade to v1.0.1.

[2019-10-03 13:51] #112 closed

[2019-10-03 20:44] maxime1992 opened #114 "transloco v2: flatten at runtime does not work with arrays?"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

After upgrading to v2, I'm not able to work with arrays anymore.

My JSON file containing the translati

[2019-10-03 20:46] maxime1992 commented on #111
@shaharkazaz it did work but noticed some of them were not taken into account for some reason :man_shrugging: (with nothing special for them) and the ones that were using the syntax:

[code]

were not done either. Not really a huge issue I did it but I thought you may want to know :)

Thanks for your help, if you're happy with the above feel free to close the issue.

[2019-10-03 21:15] shaharkazaz commented on #111
@maxime1992 thanks again for the feedback!
I'm happy to hear that the issue is mostly resolved, it would be great if you could share all the places the script missed with the templates.

[2019-10-03 21:26] shaharkazaz commented on #114
@maxime1992 what version are you using?

[2019-10-03 23:12] hc-codersatlas commented on #110
Thanks for the reply and info. I think this would be good in the documentation or similar, hence the issue. Angular cli handles the rest already.

[2019-10-04 05:20] Beerbossa opened #115 "Upgrading from ~1.7.9 to the latest guide"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Having a hard time upgrading, I tried uninstalling and reinstalling, setting up the app.module just lik

[2019-10-04 05:46] ArielGueta commented on #114
@maxime1992 they have added the array support in the latest version. In your case, you should do:

[code]

[2019-10-04 08:53] maxime1992 commented on #114
Oh cool @ArielGueta thanks for letting me know! I'll give it a go tonight or this we.
Cheers

[2019-10-04 09:15] shaharkazaz commented on #114
@maxime1992 I'm closing this for now.
Feel free to reopen if something isn't working as expected 🙂

[2019-10-04 09:15] #114 closed

[2019-10-04 10:11] shaharkazaz commented on #115
@Beerbossa it's fixed in v2.0.4 can you please verify?

[2019-10-04 10:22] #110 closed

[2019-10-04 10:24] shaharkazaz commented on #107
@maxime1992 Feel free to reopen this with further information in case this is still relevant.

[2019-10-04 10:24] #107 closed

[2019-10-04 12:58] wwsno commented on #110
Is there a reason to not let Webpack handle the lazy loading and cache busting using `import`?

[code]

[2019-10-04 14:21] shaharkazaz commented on #111
@maxime1992 The main issue was resolved, so I'm closing this.
let's take this to gitter or continue here if you prefer to handle the script's misses 🙂

[2019-10-04 14:21] #111 closed

[2019-10-04 15:27] Beerbossa commented on #115
Yes it worked after upgrading then closing / re-opening vsCode 😃 Thanks a lot !

Also worth noticing for some people that I had to go in `Settings (ctrl + ,) -> search prettier quote -> Prettier: Single Quote to true` to be able to auto reformat without prettier changing the interpolated ```t('key.to.entry')``` to ```t("key.to.entry")``` automatically.

[2019-10-04 15:35] shaharkazaz commented on #115
@Beerbossa Great to hear :slightly_smiling_face:

[2019-10-04 15:35] #115 closed

[2019-10-04 18:56] shaharkazaz commented on #97
Added in #100 published in v2.1.0, @zufarzhan thanks 🎉

[2019-10-04 18:56] #97 closed

[2019-10-05 10:57] maxime1992 commented on #114
All working as stated by @ArielGueta!

Thanks :)

[2019-10-05 11:00] maxime1992 commented on #107
@shaharkazaz I finally figured it out :)

The error change slightly with v2 and it helped me to understand better.

I was trying to use the translate method within a validator. The context is not the correct one anymore and therefore it was breaking all the `this` within transloco.

What I did to solve it:

[code]

Instead of just

[code]

[2019-10-05 11:52] vincentjdc opened #117 "[v2.1.1] Error TranslocoTestingModule : _v.parent.context.$implicit is not a function"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When using `TranslocoTestingModule` I get the following error (even for a dummy component test) :

## E

[2019-10-05 17:18] itayod commented on #117
Hi @vincentjdc seems strange, I couldn't reproduce it.

Could you please add a reproduction?

[2019-10-05 18:17] vincentjdc commented on #117
Hi @itayod,

I couldn't reproduce in a fresh new project neither.
I deleted node_modules and run "npm install" and everything works.

Thanks for your help :)

[2019-10-05 18:17] #117 closed

[2019-10-06 18:24] zygimantas opened #118 "Question: markup in parameters"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I need to translate text: "You have ❤︎9 lives"
Now the markup is:
[code]

Translations:
[code]

## Expe

[2019-10-06 20:24] shaharkazaz commented on #118
@zygimantas
You can achieve that by passing a param to the translation.
Your translation file:
[code]
Your component:
[code]
Of course you can also put the translation insisde your custom heart component.

You can join our [gitter channel](https://gitter.im/ngneat-transloco/lobby#) in case you need further guidance and questions 🙂

[2019-10-07 07:04] #118 closed

[2019-10-07 08:33] mickz18 opened #119 "Structural directive with fullTemplateTypeCheck Ivy Issue"
## I'm submitting a...

<pre><code>
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

    ERROR in src/app/app.component.html(332,6): error TS2339: Property 't' does not exist on type 'AppC

[2019-10-07 09:02] shaharkazaz commented on #119
@mickz18
Hey, it's not a Transloco issue. It seems like Ivy isn't ready and has some problems with backward compatibility.
We already open an [issue in the official repository](https://github.com/angular/angular/issues/32900) so that you can track it.

It's worth mention that it only happens when using the structural directive with "fullTemplateTypeCheck" in tsconfig.

[2019-10-07 09:18] mickz18 commented on #119
Thanks for the clarification!

[2019-10-07 09:18] #119 closed

[2019-10-07 09:49] mickz18 opened #120 "Change log documentation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[*] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

after upgrade from 2.0.1 to 2.1.1 no key was found anymore.
I had to add avaibleLang to fix it.
It's on

[2019-10-07 09:53] itayod commented on #120
@mickz18 Could you please farther explain the issue?

[2019-10-07 09:54] mickz18 commented on #120
yep sorry submit to fast by error

[2019-10-07 10:04] itayod commented on #120
@mickz18
It's pretty clear from the docs that you need to add it to `TRANSLOCO_CONFIG`.

If you have any farther questions, please feel free join our [gitter channel](https://gitter.im/ngneat-transloco/lobby#)

[2019-10-07 10:05] #120 closed

[2019-10-07 22:34] artaommahe opened #121 "Custom component's dynamic translation loading"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## What is the motivation / use case for changing the behavior?

Current lazy loading behavior supports only application-rel

[2019-10-08 06:31] devKomban opened #122 "Not able to handle nested folder structure for namespaces"
## Support Request

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Lazy loading module

AccountModule.ts
[code]

transloco.loader.ts
[code]
output of console.log(langPath) is

[2019-10-08 07:05] itayod commented on #122
Hi @devKomban I could not reproduce this, could you upload a reproduction stackblitz of your problem?

[2019-10-08 07:27] itayod commented on #122
Also, that might be a version problem, what Transloco version do you use?

[2019-10-08 07:34] shaharkazaz commented on #121
@artaommahe It sounds like a helpful feature. Do you want to create a PR?

[2019-10-08 07:53] devKomban commented on #122
I am currently using version 2.0.4

[2019-10-08 07:57] itayod commented on #122
Could you try update to the newest?
Until version 2.1.0 we didn’t accept object as scope value

[2019-10-08 08:00] devKomban commented on #122
It worked Thanks a lot **itayod**

[2019-10-08 08:06] #122 closed

[2019-10-08 11:05] alexbikazzan commented on #28
I think this definitely would be nice to have as a feature for the ones who run public sites with SSR.

Google recommends having different urls for each language of your page, for example by using the top-level domain `site.com, site.fr`, subdomain: `en.site.com, de.site.com` or subdirectories: `site.com/de`, but not by query params.

[2019-10-08 17:44] SurendraR opened #124 "[Question] a way to access the key value from the typescript"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Support request
[ ] Other... Please describe:
</code></pre>

I'm unable to find a way to access the key value from the typescript.
My `en.json` file:
[code]
I want to access the value f

[2019-10-09 10:14] andreaslarssen commented on #124
Waht have you tried? How do you load your files and scopes?

[2019-10-09 13:58] shaharkazaz commented on #124
@SurendraR Hey, please try to describe your issue ina more readable way (see my editing).

I'm trying to understand what you are trying to achieve, Are you trying to access the translation programmatically? if so, check the [programmatical translation](https://github.com/ngneat/transloco#programmatical-translation) section in the docs.

If I misunderstood you, please try to explain and create a st

[2019-10-10 07:12] andreaslarssen commented on #121
@artaommahe: We also put the translations in our components, and we solve it by using Webpack, but it would be much nicer if it was a "native" feature.

I would reconsider the implementation, though. Providing the TRANSLOCO_SCOPE provider with the scope (path to the translation folder for the component) should be enough, so you don't have to load the files yourself in all components.

[2019-10-10 07:47] ArielGueta commented on #121
@andreaslarssen can you give an example of how you do it with Webpack? I'm curious. Thanks.

[2019-10-10 08:08] Newbie012 opened #126 "Should be able to pass an element in translation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ x ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

[code]

## Expected behavior

[code]

## What is the motivation / use case for changing the behavior?

[2019-10-10 09:23] itayod commented on #126
Hi @Newbie012,

Thanks for your proposal, but we are not willing to support this feature.
You could try create a [custom transpiler](https://github.com/ngneat/transloco#transloco-transpiler) for that.

[2019-10-10 09:23] #126 closed, assigned to nobody

[2019-10-10 11:04] devKomban opened #127 "Translation works while using transloco pipe but same string using with service.translate is not working"
##Help Request

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
<code>
this.objTranslationService.translate('cashAccount.LISTOFCASHACCOUNTS');
</code>
in class file
produces  "

[2019-10-10 11:41] ArielGueta commented on #127
If you did not load the translation when you call translate in your component you should use selectTranslate. https://github.com/ngneat/transloco#programmatical-translation

[2019-10-10 11:51] artaommahe commented on #121
While implementing this approach in our codebase, found more simple way at component level, using existing TRANSLOCO_SCOPE token.
The main idea is to have a way to register translation at the component first creation moment. And here TRANSLOCO_SCOPE plays his role cause it's injected in template's pipe/directive. Using factory for providing this token we get a factory function that is called once

[2019-10-10 14:10] Siedlerchr opened #128 "setActiveLang does not change language in ionic4/angular 8 app"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have a two button for changing languages which calls `setActiveLang(lang)`
However, the language is n

[2019-10-11 06:14] Siedlerchr commented on #128
Thanks! Works now :)

[2019-10-11 06:14] #128 closed

[2019-10-11 08:23] shaharkazaz commented on #121
In [this repo](https://github.com/NetanelBasal/transloco-with-nx-libs), we have implemented inline loaders. Please check it out and give us your feedback so we can move forward to a release.

Installation:

1. Clone the repo.
2. Run npm install.
3. Replace the Transloco lib in the node modules with the one provided repo's root. ( this is a local version with this feature )
4. Run npm start

[2019-10-11 09:32] andreaslarssen commented on #121
It's really nice that you've implemented inline loaders, but are there really no other ways of doing this then:

[code]

If you want to load files in each component, all components needs this kind of imports/exports. And imagine if you support 10-15 languages!

We used a few hours yesterday trying to come up with something, and we where thinking it could make sense have a @Transloco() decorator th

[2019-10-11 09:34] andreaslarssen commented on #127
If we could implement inline loaders (#121), the pipe (or anything else) wouldn't have to load the languages

[2019-10-11 10:25] shaharkazaz commented on #127
@devKomban feel free to reopen if @ArielGueta's  suggestion didn't resolve the issue.
@andreaslarssen Thanks, but it's not related to the issue.

[2019-10-11 10:25] #127 closed

[2019-10-11 10:49] shaharkazaz commented on #121
@andreaslarssen
Can you please explain why decorators? And what is he supposed to do? can you share the implementation?

You won't have to import these inline loaders in every component.
You will import them just in the main lazy-loaded module where you need them (it could be a component if you provide it there).

The implementation presented in the repo is just a POC.
Here is a suggestion of hand

[2019-10-11 10:53] shaharkazaz commented on #124
@SurendraR feel free to ask questions in [our gitter channel](https://gitter.im/ngneat-transloco/lobby#) if what I suggested didn't resolve your issue.

[2019-10-11 10:53] #124 closed

[2019-10-11 13:25] artaommahe commented on #121
@shaharkazaz i've tried this version with my repo's code and it works fine. Just mapped lib to local foldern and changed my provideTranslation to
[code]

[2019-10-11 21:05] NachoVazquez commented on #121
Awesome! That is exactly what I need.

Can you provide a release date?

Thanks!

[2019-10-13 09:39] shaharkazaz commented on #121
@NachoVazquez @artaommahe
I'm curious about 2 things in your workflow:
1. How do you send the splitted files to translation? we are currently working on a merge plugin.
2. Don't have any issues with the fact that the translations are loaded asynchronously with the module? are you showing some sort of loading?

[2019-10-13 13:38] NachoVazquez commented on #121
1. I'm not sure if I correctly understood your first question. But what I'm doing at the moment for a given lib is:
- Dynamically loading the translations of the lib, injecting the `TranslationService` in the main module of the lib. (any module will do, but it needs to be loaded before any other module on that lib)
- Encapsulate the translations in their scope to avoid key collisions.
- Use the st

[2019-10-13 13:47] artaommahe commented on #121
@shaharkazaz havent understood first question ) our workflow mainly is in provided repo-examples.
We're ignoring translation loading issue, 95% of our app routes requires authorization. Bundling one default translation statically by `import('./translation/en.json');` in app module file (where this file contains just empty string). For other translations we just load them right after authorization

[2019-10-14 07:22] andreaslarssen opened #131 "How does Tranloco prevent translation glitching?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[x ] Other... Please describe: Question
</code></pre>

Right now, what loads a translation file is the usage of a translation key through a pipe or the directive (or the

[2019-10-14 07:29] shaharkazaz commented on #131
You can provide a loading template to be displayed while the translation is being loaded

[2019-10-14 07:37] andreaslarssen commented on #131
Ok, so no prevention

[2019-10-14 07:37] #131 closed

[2019-10-14 09:46] andreaslarssen commented on #121
The idea behind using decorators came because I was searching for two things:

1. A way of configuring file loading in the component using the translation file(s)
2. Make sure the file was loaded before the component was initialized

As for no. 1, my suggested implementation looks something like this:

[code]

And then:

[code]

As for no. 2, I now realize that it's (probably) not possible, as it

[2019-10-14 15:25] shaharkazaz commented on #121
@andreaslarssen You can listen to the language loaded event and bootstrap your component when it fires.
This way you are sure the language is loaded, and it's not left for luck 🙂

@artaommahe @NachoVazquez Thanks for the answers! I'll try to reexplain the first question:
You are developing the app in one primary language (correct me if I'm wrong) let's say it's English for the question's sake.
The

[2019-10-14 15:45] artaommahe commented on #121
@shaharkazaz currently we dont have enough files to have a problems with this. Further were thinking about script that parses our provideTranslation helper usage and outputs scope + translated langs + fields list in default language, this output will go to translators.

[2019-10-14 16:35] NachoVazquez commented on #121
I see what you mean. At this point, we are only supporting English. The first step was to detach the hard-coded strings from the template.

In the future the app will support multiple languages, but not all libs and apps may need to be translated. For example, admin apps may not have the requirement of supporting i18n. Another case is when a lib is used both in an admin app and a public one. In th

[2019-10-14 16:51] NachoVazquez commented on #121
For avoiding key conflicts we are following the next best practices.

- Scope apps and libs into its project name
- Sub-scope components using component name
- Add shared scope if needed, only accessible to the project scope. Used to handle common keys like forms errors and others

[2019-10-14 18:28] andreaslarssen commented on #121
@shaharkazaz can you show me an example of bootstrapping the component on the language loaded event?

[2019-10-14 18:54] shaharkazaz commented on #121
@artaommahe @NachoVazquez Thanks for the input you guys, as I said we are working on something that might help you with this. stay tuned 👍

@andreaslarssen well, it's not actually delaying the bootstrap, but more of delaying the content.
The way I see it, you wrap your actual content inside a `ngIf` which is an indication for a loading state, and once the event fires you change the flag and load t

[2019-10-14 19:20] andreaslarssen commented on #121
@shaharkazaz I was just curious as you said (in another issue) that you don't handle string glitching. It's related in the way that dynamic loading (as I see it) needs to handle string glitching (making sure the file is loaded before view renders). Delaying content like that would make the app look funky. But no need to take it further, just wasn't sure what you meant.

[2019-10-15 08:02] shaharkazaz commented on #121
[Inline loaders](https://netbasal.gitbook.io/transloco/lazy-load-translation-files/inline-loaders) are now avialable in v2.2.0.

We also released a [schematics command](https://netbasal.gitbook.io/transloco/schematics/build) to build a unified translation file from all the sub-translation files.
Currently, it supports JSON format, but other formats support is in progress. 🙂

[2019-10-15 08:02] #121 closed

[2019-10-15 12:47] artaommahe commented on #121
@shaharkazaz checked 2.2 with some our cases (that works with our hacky solution)

module-level loaders does not work for non-lazy modules
https://stackblitz.com/edit/ngneat-transloco-loaders-in-modules?file=src%2Fapp%2Fapp.module.ts
[code]
also there is an error in console for `langChanges$` listener, looks like no CD tick for some cases

[2019-10-15 13:19] shaharkazaz commented on #121
@artaommahe

As you said, following the Angular rules, this only works with lazy-loaded modules or component level providers. (I'll check with @NetanelBasal to see if we can resolve this somehow)

Just run `this.cdr.detectChanges();`

[2019-10-15 13:21] artaommahe commented on #121
looks like there already should be CD tick on translation changes. Manual CD usage usually is a mark of some CD problems in other code..

[2019-10-15 13:43] shravansofts opened #134 "Define scope using pipe syntax"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Define scope using pipe syntax

## Expected behavior

## Minimal reproduction of the problem with instr

[2019-10-15 14:22] NachoVazquez commented on #121
Amazing!! I'll test it tonight.

[2019-10-15 14:33] shaharkazaz commented on #121
@artaommahe It is not related to Transloco. That is how Angular works. The first and the second change are at the same tick.

[2019-10-15 14:41] artaommahe commented on #121
@shaharkazaz can you clarify why there are two changes at the same tick? looks strange to me

[2019-10-15 17:31] shaharkazaz commented on #134
@shravansofts We are not going to support this, here is why:
1. This will always have to be the 3rd parameter.
2. What is the use case where you need a scope just on one pipe?
3. We recommend using the structural directive to avoid multiple subscriptions

[2019-10-15 17:31] #134 closed

[2019-10-15 17:51] LPCmedia opened #136 "camel cased folders don't work with scope"
[X] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Support request
[X] Other... Please describe: Is this intended ? if so please close or document.

## Current behavior

use Scope with a file in a folder using kebab casing does not work. The translation keys ger camel cased and cannot be accessed.

## Expected behavior

I can load the file in the folder

[2019-10-15 18:17] shaharkazaz commented on #136
@LPCmedia
From the [docs](https://netbasal.gitbook.io/transloco/lazy-load-translation-files/scope-configuration):

In your case, instead of `name-of-scope` you should use `nameOfFolder`.

[2019-10-15 21:35] LPCmedia commented on #136
Thanks @shaharkazaz

I got it to work using a scope + alias to the kebab case name. I failed to mention i'm migrating an existing app and needed to keep the name-of-folder in the html.

[2019-10-16 05:38] shravansofts commented on #134
We have a usecase to support multiple vendor(apple, samsung, nokia).
The same code could be used for all vendor cases. (imagine scope string comes from a APP level const)

[2019-10-16 06:09] shaharkazaz commented on #136
@LPCmedia did @ArielGueta solved your issue?

[2019-10-17 12:32] mstawick opened #137 "TranslocoPipe.ngOnDestroy: Cannot read property 'unsubscribe' of null"
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I'm getting `Cannot read property 'unsubscribe' of null`. I'm not sure why it exactly happens in my case, but it seems that chec

[2019-10-17 16:54] #137 closed

[2019-10-17 17:04] shaharkazaz commented on #137
@mstawick Thanks for the report! fixed in b55bd59 and released in v2.2.1 🙂

[2019-10-18 11:38] ld210 opened #138 "Prefetch user language fails on Safari desktop"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Prefetching user language via APP_INITIALIZER doesn't work on Safari, prevent app to bootstrap.

<img

[2019-10-20 06:10] ArielGueta commented on #138
Where do you call `setActiveLang`?

[code]

[2019-10-21 09:25] ld210 commented on #138
Hi,
i don't. I added it, but it doesn't change anything. Still not able to preload language.

[2019-10-21 11:01] ld210 commented on #138
Okay, i just found what happened. Entirely my fault. We have an interceptor, for authentication purposes, that inject a jwt token in the header. If there's no token, the request is dismissed.
Since i add an active token in the browser i use for dev, there was no issue with it. As soon i used another browser, the http request for the language file was dismissed.
I simply add json files in the inter

[2019-10-21 12:52] LPCmedia commented on #136
Ill test this by wednesday.

[2019-10-21 13:00] sroettering opened #139 "Migration from angular's i18n"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## What is the motivation / use case for changing the behavior?

There is a migration script for ngx-translate but not for a

[2019-10-21 13:14] shaharkazaz commented on #138
@ld210 I was just going to  reply that it seems good to me.
Great to hear that it's resolved, close this issue if it's not relevant anymore :+1:

[2019-10-21 13:31] javix opened #140 "Support for angular >=8 without warnings"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ x ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I use angular ^8.2.11. If I install transloco, I get the following warning:

npm WARN @ngneat/translo

[2019-10-21 16:07] #138 closed

[2019-10-21 16:08] shaharkazaz commented on #140
@javix Thanks for the report, fixed in the latest version.

[2019-10-21 16:08] #140 closed

[2019-10-22 07:55] shaharkazaz commented on #139
@sroettering That's definitely something in our plans 🙂

The thing is that since Angular's i18n doesn't work on a key-value base we need to create the keys for you, which option you think would be better:
- Hashing the string value into a number and use it as the key (`My sample string` => `8541236`) example for the output JSON:
[code]
- use the string as the key by making the entire string kebab

[2019-10-22 08:30] sroettering commented on #139
Nice to hear that there are plans!

I would definitely prefer a version where the keys stay readable. Hashing them would make it difficult for translators to understand them.
Also in angular it was possible to use spaces in the keys (well rather in the context) and this does not seem to be supported by transloco, so these would need to be replaced somehow, I think.

Small example from our app:
In

[2019-10-23 07:04] shaharkazaz commented on #139
So, if I understand you correctly, the following template:

[code]

Should output the following Transloco JSON:

[code]

Note: the `.comment` is the way we support [comments in Transloco](https://netbasal.gitbook.io/transloco/plugins-1/translators-comments)

[2019-10-23 07:50] sroettering commented on #139
Yes that's basically correct in our case.
However I found that using spaces in transloco does not work. So `transloco="site header.val1"` does not work, or I did something wrong.

[2019-10-23 07:59] shaharkazaz commented on #139
@sroettering Here is a [working example](https://stackblitz.com/edit/ngneat-transloco-c7oxky)
Are you working with v2?

[2019-10-23 08:04] sroettering commented on #139
Nice! That should work for us. I used v2, yes, but I was just evaluating and playing around with the library. We are planning to migrate very soon. It makes it much easier when we can keep the old keys, thanks.

[2019-10-23 08:06] shaharkazaz commented on #139
@sroettering Could take a couple of weeks until the script will be ready 🙂

[2019-10-23 18:24] DiV666 opened #142 "Allow translate custom provide in app.module.ts"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ X ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I need to send translated texts to a library with an InjectionToken:
<pre><code>app.module.ts
{
  pro

[2019-10-23 18:57] shaharkazaz commented on #142
@DiV666 I'm afraid the only way you can achieve that is by [preloading the language](https://netbasal.gitbook.io/transloco/recipes/prefetch-the-user-language)
I'm closing this since it's more of an Angular related issue than Transloco, if you need more assistance please refer to our [gitter channel](https://gitter.im/ngneat-transloco/lobby?source=orgpage)

[2019-10-23 18:57] #142 closed

[2019-10-23 20:32] NetanelBasal commented on #139
@sroettering Actually I think you can do it pretty quickly with a DOM parser library. Here is a quick code example I made, and it seems to work well:

[code]

[2019-10-24 05:46] sroettering commented on #139
@NetanelBasal Thank you for the snippet! I will give it a try soon.

[2019-10-24 10:49] antontemchenko opened #143 "Tool for extracting texts for translation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
There is no possibility to extract all keys from HTML & .ts

## Expected behavior
There should be a poss

[2019-10-24 11:18] shaharkazaz commented on #143
@antontemchenko We are currently in the process of building that tool.
It should be ready by the end of next week, please track this [repo](https://github.com/ngneat/transloco-keys-manager)

[2019-10-24 11:18] #143 closed

[2019-10-24 11:19] antontemchenko commented on #143
@shaharkazaz thanks for letting me know.
It would be great if it will be mentioned in docs ;)

[2019-10-25 11:50] NetanelBasal commented on #136
@LPCmedia here's a working example. https://stackblitz.com/edit/ngneat-transloco-ybqnab

If you have any issue, let us know.

[2019-10-25 11:50] #136 closed

[2019-10-28 10:29] sroettering commented on #139
Another thing to keep in mind for the migration are `<ng-container>` elements with translations. These will be rendered as comments and transloco can't do translation work here.
In our apps we will probably replace them with unstyled `<div>`s, but that could maybe not work for other people.

[2019-10-28 10:31] NetanelBasal commented on #139
It doesn't do it at runtime. It will transform it to:

`<ng-container>{{ 'key' | transloco }}</ng-container>`

[2019-10-28 10:32] NetanelBasal commented on #139
Try the script and let me know.

[2019-10-28 15:27] SparkMonkey opened #144 "Use of Inline Loaders when building a library with Ng-Packagr"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I just switched from ngx-translate to transloco in order to deal with lazy loading issues with my libra

[2019-10-29 07:51] shaharkazaz commented on #144
@SparkMonkey Hi,
As you mentioned, it's not a Transloco issue. It's an issue with ng-packager that we hope they will resolve in the future.
The inline loaders were introduced to allow translations encapsulation of lazy load modules.
What I can suggest in your case is to use `setTranslation` and load them eagerly if someone uses the library:
[code]

[2019-10-29 11:01] SparkMonkey commented on #144
Thank you for your fast answer.

That is highlighting the fact that I do not understand how it works.

When you say eagerly, do you think of something like that

    getTranslation(langPath: string) {
        return this.http.get<Translation>(`/assets/i18n/${langPath}.json`);
    }

Should the path to the json file be relative to the concerned library module ? Or absolute to the library's root ?

[2019-10-29 17:07] SparkMonkey commented on #144
Ok I have found why I couldn't build since I added the eager import.

The i18n json file embedded in dist, thanks to the import, is sadly prefixed by the following :

     /**
     * @fileoverview added by tsickle
     * @suppress {checkTypes,constantProperty,extraRequire,missingOverride,missingReturn,unusedPrivateMembers,use   lessCode} checked by tsc
     */

This is not a valid JSON file anymor

[2019-10-29 19:15] shaharkazaz commented on #144
I assume that the translation files are locally in the npm package. When you do this in your exposed module from the library:

[code]

See how we use the `setTranslation` method. It will include both the `en` and the `es` translations (eagerly) in the library bundle. Now, when someone consumes the library, it can use its translations.

The second approach you mentioned can work too. You can copy t

[2019-10-30 08:26] shaharkazaz commented on #144
@SparkMonkey Can you create a reproduction repo? I think this will advance us better towards a solution

[2019-10-30 08:39] sroettering commented on #139
TLDR; the script does not work out of the box.

On the one hand it does not handle `i18n-<attrName>` tags which is quite easy to fix.
On the other hand cheerio has a lot of issues when handling angular templates for which I found workarounds now.
I'm still not sure if I covered all the edge cases now. Maybe plain old string replacements would work better for this.

I will share the final version o

[2019-10-30 08:41] NetanelBasal commented on #139
Can you provide an example, please?

[2019-10-30 08:57] sroettering commented on #139
I had the following problems with cheerio:
* it lower cases attribute names automatically in html mode (ex. [formGroup] -> [formgroup])
  * solution: turn on `xmlMode` and set `lowerCaseAttributeNames` to `false`
* it self closes empty tags (ex. `<div transloco="someKey"></div>` -> `<div transloco="someKey" />`)
  * workaround: insert empty text node for those elements)
* it adds empty quotes to a

[2019-10-30 09:05] NetanelBasal commented on #139
Thanks for the detailed summary. I'm glad that you found the solutions. If it's not enough and you have more edge cases, it will be safer to use Regex in this case.

[2019-10-30 11:09] SparkMonkey commented on #144
I have tested your solution and it works for routed components !

I did the eager import in each modules of my library (that is packaged as npm), and called setTranslation in their constructors as you proposed.

Each modules's components of my library are effectively translated according to their own i18n file, when i route them.

I'm admitting that I do not understand how this works, because I ex

[2019-10-30 11:59] gchronos commented on #28
+1
we also cannot refuse from using "/de" in the path
and without this feature, we can't use transloco
but it's looks something that will be nice to use

[2019-10-30 13:49] jamalsoueidan opened #145 "Flatten Translation Custom Interceptor"
Why do I not get a flatten object when using a customInterceptor (preSaveTranslation) first call?

First call gets the same object as the load file, next time, its flatten?

[2019-10-30 13:51] NetanelBasal commented on #144
Thanks for your detailed summary. Transloco doesn't create new instance for each module. When you call `setTranslation` by default it merges the translations. We hope that `ng-packagr` will add the `import` support in the future, and when it does it will work out of the box. I'm closing this issue for now.

[2019-10-30 13:51] #144 closed

[2019-10-30 14:00] NetanelBasal commented on #145
It's a bug. You should always get a flattened version. I will fix it.

[2019-10-30 14:44] #145 closed

[2019-10-30 14:55] jamalsoueidan opened #146 "You're using an inline loader but didn't provide a loader for default/da"
TRANSLOCO_SCOPE is not working properly when using a specific loader for the module translation.

I cannot get it to work, and I cannot find enough documentation about it.

[code]

[2019-10-30 16:54] ArielGueta commented on #146
It meant to work with Webpack `import` function, which creates a separate chunk for each file. What you are trying to do is not making sense.

Read the docs: https://netbasal.gitbook.io/transloco/lazy-load-translation-files/inline-loaders

[2019-10-30 17:40] jamalsoueidan commented on #146
I'm trying to make it work like the TRANSLOCO_LOADER.

[code]

[2019-10-30 17:44] ArielGueta commented on #146
So call `setTranslation` in the constructor:

[code]

[2019-10-30 17:47] jamalsoueidan commented on #146
I want to reuse my provider in all modules.

export const loader {
      provide: TRANSLOCO_SCOPE,
      useValue: {
        scope: 'default',
        loader: (lang) => of({anything: "ad"})
      },
    },

[2019-10-30 22:28] zmoshansky commented on #146
Somewhere in your project (ideally a better variant of this is eventually shipped with transloco), define an inlineLoaderFactory.

[code]

Then in lazy loaded modules, use the following to trigger inline loading from the module's i18n folder:
[code]

Keep in mind, it seems possible that calling `transloco.translate` in a service may occur before the translation has loaded...

In our project, we've

[2019-10-31 05:07] bjornharvold opened #147 "Feature request: Loading i18n assets remotely"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

My web components are located here:
https://mywebcomponents.com/scripts.js
https://mywebcomponents.com

[2019-10-31 05:09] ArielGueta commented on #146
@jamalsoueidan I don't understand what you are trying to do. If you have the translation object and you want to set it manually for the whole app, call `setTranslation` in the `AppModule`:

[code]

[2019-10-31 05:11] ArielGueta commented on #146
@zmoshansky you can use `selectTranslate('key', params, 'scope/name').subscribe()`

[2019-10-31 08:27] jamalsoueidan commented on #146
Thank you @ArielGueta  :)

[2019-10-31 08:27] #146 closed

[2019-10-31 08:47] NetanelBasal commented on #147
You can define what path you want in the loader.

[2019-10-31 11:35] bjornharvold commented on #147
How do I do it in AppModule if I only use the global confit?

[2019-10-31 12:15] NetanelBasal commented on #147
You have the loader at your disposal:

[code]

[2019-10-31 14:09] bjornharvold commented on #147
Thank you Netanel :-)

[2019-10-31 14:09] #147 closed

[2019-11-01 12:42] luninroman opened #148 "build schematics does not work"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I run

ng g @ngneat/transloco:build

I am getting

But please note, that it seems to be the only

[2019-11-01 12:52] #148 closed

[2019-11-01 14:12] frct1 opened #149 "Compatibility with Angular 9 rc-0"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Instead translation transloco returning just keys of i18n json objects with leading language prefix
`ru.

[2019-11-02 11:52] itayod commented on #149
Hi @frct1, I have tried to reproduce your issue locally without luck.
Could you please add a reproduction on stackblitz/github?

Thanks

[2019-11-03 18:00] frct1 commented on #149
Yes, I can try to create github repo with issue
I need a bit of time

[2019-11-03 20:57] frct1 commented on #149
Occasionally looked in package.json and got old version of transloco :)

[2019-11-03 20:57] #149 closed

[2019-11-05 16:55] NetanelBasal commented on #105
I'm closing the issue. There may be components that you don't want to translate. Thanks for the suggestion.

[2019-11-05 16:55] #105 closed

[2019-11-05 17:48] SparkMonkey opened #150 "Some pages of my library are not translated when using setTranslation()"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I applied the strategy described [in this issue](https://github.com/ngneat/transloco/issues/144) to tra

[2019-11-06 05:18] NetanelBasal commented on #150
Can you reproduce it somehow? If not, I would put a debugger and step into the `setTranslation` method.

[2019-11-06 09:47] SparkMonkey commented on #150
I can't reproduce this since I do not see any difference between modules.

Following your advise, I debugged by adding the following config in angular.json to be able to set breakpoint in the browser.

        "serve": {
          "builder": "@angular-devkit/build-angular:dev-server",
          "options": {
            ...
            "sourceMap": {
              "scripts": true,
              "st

[2019-11-06 09:49] NetanelBasal commented on #150
Use `import en from './i18n/en.json';`

[2019-11-06 13:52] #150 closed

[2019-11-06 13:57] NetanelBasal commented on #139
@sroettering we've added this. You can now run `ng g @ngneat/transloco:migrate`, and choose Angular.

If you found any issue, let us know.

[2019-11-06 13:57] #139 closed

[2019-11-06 16:14] SparkMonkey commented on #150
Thanks a lot. It works with this other syntax.

So many traps on this long road.

Thank you for your support.

[2019-11-06 16:36] wesleygrimes opened #152 "StaticInjectorError - InjectionToken TRANSLOCO_TRANSPILER"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I am attempting to use Transloco with a custom loader. My providers array looks like this in my feature

[2019-11-06 18:12] huantaoliu opened #153 "how to use scope more efficiently"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I am migrating from ngx-translate, my translation files structure for example like this

[code]

In my

[2019-11-06 18:32] wesleygrimes commented on #152
I was able to resolve this by moving the config provider up to the top-level, non-lazy loaded module. Thanks @itayod for your help!

[2019-11-06 18:32] #152 closed

[2019-11-07 06:51] NetanelBasal commented on #153
1. Can you explain the i18n directory structure with a real-world example and the motivation behind it?
2. If you don't have a unique prefix for each scoped key, tools such as the Keys Manager will not be able to find it.

[2019-11-07 09:20] bjornharvold opened #154 "Transloco v2.5.2: Timing issue with lazy loaded modules"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

1. I'm loading a lazy loaded module and I have a lazy loaded json file
2. When the first component disp

[2019-11-07 09:35] itayod commented on #154
@bjornharvold Hi, it is not an issue with Transloco since the translation files are loaded asynchronously.
for your case, I would recommend you to use the `selectTranslate` method which returns an `Observable` of the translation:

[code]

[2019-11-07 09:37] itayod commented on #154
@bjornharvold could you please provide us a small reproduction?

[2019-11-07 09:39] bjornharvold commented on #154
Would love to but right now I have a bunch of crazy workloads with deadlines. Will revert back to this later. Provided all that I could of info right now before having to move on.

[2019-11-07 09:44] itayod commented on #154
Could you at list update the issue with your code?

[2019-11-07 13:01] huantaoliu commented on #154
@bjornharvold
I guess your problem is `selectTranslate()` with lazy loaded scope, it's somewhere is the document but indeed not very discoverable.

for example if you have this i18n structure
[code]

and you load scope in your LazyModule

[code]

Then when you use `selectTranslate()` in the component, you actually need put scopename as the third parameter, and use the original language key as the

[2019-11-07 14:29] andreaslarssen opened #155 "selectTranslation should take alias"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

[2019-11-07 14:43] wesleygrimes opened #156 "Possible to implement TranslocoLoader per scope?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Is it possible to implement a scoped loader for each lazy loaded feature module I have? I realize you c

[2019-11-08 05:08] NachoVazquez opened #157 "Using Transloco with a configuration module, not working in prod for libs"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I created a wrapper to encapsulate `Transloco` configurations. For this I used the **forRoot**, **forCh

[2019-11-08 06:27] ArielGueta commented on #155
Can you describe what do you mean?

[2019-11-08 08:02] ArielGueta commented on #157
It seems like an AOT issue. From some reason if it's used inside a module, you needs to export your functions:

[code]

This works. I don't think it's related to Transloco. It's an Angular issue.

Looking at your code, you should also pay attention that you should use a scope in lazy loaded modules or inside a component provides, as they create a separate injector. You can't use a scope in eager m

[2019-11-08 08:14] itayod commented on #155
@andreaslarssen I am sorry but we won't support alias in `selectTranslate` IMHO it should be only in the template, also we won't be able to know which scope to load.

[2019-11-08 08:14] #155 closed

[2019-11-08 08:16] bjornharvold commented on #154
Thank you @huantaoliu. That works nicely :-)

[2019-11-08 08:16] #154 closed

[2019-11-08 08:39] andreaslarssen commented on #155
When configuring a scope, you can add an alias:

[code]

But if you want to use the service to programmatically translate something, you need to use the setTranslation method. This method does not take an alias, which means that the translation key will be the scope.

On a side note: It seems that if you define a scope on component level, and translate something in the template, then you can use t

[2019-11-08 12:49] NachoVazquez commented on #157
Perfect that works! Thanks, @ArielGueta!

For the second part, could you detailed more what you meant?

I believed that one scope is created for libB. Notice that libB uses the same key as the app, and there are not key collisions.

Otherwise, this issue can be closed. Thanks again!

[2019-11-08 12:49] #157 closed

[2019-11-08 13:35] ArielGueta commented on #157
Nice to hear.

[Here](https://github.com/NachoVazquez/transloco-with-nx-libs/blob/master/apps/transloco-holder/src/app/app.module.ts#L22) you are importing it eagerly.

[2019-11-08 14:07] NachoVazquez commented on #157
Yes, that is what I meant, I believe that even if I import the lib eagerly, a scope is created,

Notice that I'm passing a scope name to libB

[code]

And it is effectively creating a scope for Lib B.

Lib B has a translation key `gps` and also the holder app. And still, there are no key collisions.

For displaying Lib b keys, I have to access the scope using read

[code]

[2019-11-08 14:49] wesleygrimes commented on #156
I'm currently having to manually load the translations within the `constructor`. Would prefer to have the ability to implement a `TranslocoLoader` per feature module. I tried the inline loader route but could never get it to work.

[2019-11-08 15:05] huantaoliu commented on #153
For new app, I think it's manageable and reasonable, to put app global shared translation files under root folder, and lazy loaded module load their scope accordingly.

[2019-11-08 15:36] iiceman40 commented on #139
@NetanelBasal sounds great! Here's a follow up question: is it planed to provide a migration back to Angular i18n at some point?

[2019-11-08 16:49] huantaoliu opened #158 "Console error when translating root key from lazy module that also load a scope file"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
In a lazy loaded module, which also loads a scope file,

when I translate a language key from root en.js

[2019-11-09 10:18] itayod commented on #158
@huantaoliu That probably a problem of timing since the translation files haven't loaded yet.
Try to use `translocoService.select()` instead

[2019-11-09 16:19] NetanelBasal commented on #158
The translations aren't loaded yet. Use `selectTranslate()` or [Prefetch the User Language](https://netbasal.gitbook.io/transloco/recipes/prefetch-the-user-language).

[2019-11-09 16:19] #158 closed

[2019-11-09 16:21] NetanelBasal commented on #153
Please prepare a stackblitz example of what you're trying to do.

[2019-11-09 17:12] ArielGueta commented on #157
I think it works right now because this is the only scope in your app module. Try adding one more scope to your AppModule.

[2019-11-10 01:18] #153 closed

[2019-11-10 08:38] itayod commented on #156
Hi @wesleygrimes you could did you try using the inline loader with `useFactory`?

[code]

[2019-11-12 10:36] bjornharvold opened #159 "Support for i18n files per library containing re-usable components"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

We have a lot of re-usable components living in our Angular libraries. When we import them into a new project, we always hav

[2019-11-12 11:14] shaharkazaz commented on #159
@itayod is working on a solution to this problem.

[2019-11-12 12:03] itayod commented on #159
@bjornharvold correct, I will keep you update with the details

[2019-11-14 17:48] Ketec commented on #159
I just came here to ask about a very similar problem.

We have a modular project - custom components, services etc have theirs on semver library.
Naturally, those require translations.

So I thought about providing the service in a "core" library other parts will use (in forRoot()) and service to toggle languages.

But can't have separate translation files in each lib/core - but libs naturally don

[2019-11-14 18:37] itayod commented on #159
@Ketec the tool that I have been working on could solve your problem.
basically it will be a script that you could simply run with `webpack` / `gulp` / `node` that will copy the translation files into your main app, so it will be used by `Transloco` as a `scope`.

[2019-11-15 11:48] shravansofts opened #160 "translate() API is reporting Missing translation for <key_name>"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
All the time warning is coming. Sometimes value is not fetching also.
![image](https://user-images.githu

[2019-11-15 11:53] NetanelBasal commented on #160
Duplicate of #127 #78

[2019-11-15 11:53] #160 closed

[2019-11-17 11:58] Newbie012 commented on #112
I can confirm it has been solved for arrays, but not for objects.

[code]

[2019-11-17 12:32] itayod commented on #112
@Newbie012 the translations are being flattened in runtime, so if you need to select a translation key as object you will have to use `selectTranslationObject` or `getTranslationObject` from the service.

take a look at the docs:
https://app.gitbook.com/@netbasal/s/transloco/service-api/translation-api

[2019-11-17 13:00] Newbie012 commented on #112
@itayod thanks for the fast response.

I'm aware of the following methods you mentioned. Although, I was hoping to accomplish it using directives. Either way, I eventually solved it using `t('links.' + link.text)`.

[2019-11-19 21:23] MatthiasKunnen opened #161 "[transloco-messageformat] Should messageformat be a dependency?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`messageformat` is currently a peer dependency which means you need to explicitly install it.

## Expec

[2019-11-19 22:45] dalu opened #162 "ng add fails if file exist at location"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

- `assets/i18n/en.json` exists in file system
- `ng add @ngneat/transloco` is entered
- questions are a

[2019-11-20 06:50] NetanelBasal commented on #161
There is no right or wrong answer in this case. We prefer giving users the freedom to choose the exact version they want to use.

[2019-11-20 06:50] #161 closed

[2019-11-20 09:11] MatthiasKunnen commented on #161
Why not use `"messageformat": "*"` in that case?

[2019-11-20 09:13] NetanelBasal commented on #161
Because we follow the sem version convention, and we might not support the next major release yet.

[2019-11-20 10:03] #162 closed

[2019-11-20 11:10] MatthiasKunnen commented on #161
You said freedom to install exact version so I made it as wide as possible.

Say there is a dependency `^2.0.0`. By default the latest version with major 2 will be installed (currently 2.3.0). Now in case the user wants `2.1.0`, all they need to do is `yarn add messageformat@2.1.0`. `2.3.0` will no longer be installed as the dependency is satisfied by `2.1.0`. Alternatively [resolutions](https://y

[2019-11-20 11:26] NetanelBasal commented on #161
In that specific case, you are right. But imagine that this was a wider range such as `>= 1.5.2 < 6`. In this case, maybe the user wants to use a different version from what we've installed by default.

[2019-11-20 11:49] MatthiasKunnen commented on #161
That would work if the dependency was `>= 1.5.2 < 6` instead of `^2.0.0` in my example.

[2019-11-20 12:18] NetanelBasal commented on #161
I see what you mean. @itayod will change it to dependency.

[2019-11-20 12:24] MatthiasKunnen commented on #161
I can make a PR too if you'd like one

[2019-11-20 12:25] NetanelBasal commented on #161
Go for it.

[2019-11-20 12:25] itayod commented on #161
too late, already fixed that 😁

[2019-11-20 14:53] MatthiasKunnen opened #164 "Access TranslocoService in custom TranslocoMissingHandler"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Currently, the handle method receives the missing key and the config. The config object passed to `handl

[2019-11-20 20:58] huantaoliu commented on #158
Hi @NetanelBasal I have a follow up question, In the example, I tried to Prefetch the user language taking advantage of APP_INITIALIZER.

It solved the problem by using  **prefetch user language** . file directly under folder i18n is getting preloaded.

The problem now is if I want to  use translate() inside lazy-loaded module( as shown in lazy.component.ts this.service.translate('title')).  Since

[2019-11-21 06:44] NetanelBasal commented on #158
Yes, you can do this:

[code]

[2019-11-21 06:58] NetanelBasal commented on #164
This will create a circular. We can update the `config` object when calling `setAvailableLangs`.

[2019-11-21 11:03] M-Blobby opened #165 "Support with Nrwl"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I'm searching how to use transloco with a project built with Nrwl [https://nrwl.io/](url). I would like

[2019-11-21 12:14] itayod commented on #165
@M-Blobby it should work for you no problem, just use `TranslocoConfig` on the main application and save side project's translations on the assets directory of the main app.
also for questions, we have a [gitter](https://gitter.im/ngneat-transloco/lobby) channel so for further questions feel free to enter and ask there.

[2019-11-21 12:14] #165 closed

[2019-11-21 12:20] antontemchenko opened #166 "Code snippets are one-liners on "Installation" step of documentation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

All code snippets are one-liners

## Expected behavior

Code should be multilined

## Minimal reproduct

[2019-11-21 12:35] itayod commented on #166
Hi @antontemchenko it is gitbook's issue, we will notify them about it.

[2019-11-21 12:42] NetanelBasal commented on #166
Fixed, thanks.

[2019-11-21 12:42] #166 closed

[2019-11-21 17:17] NetanelBasal commented on #164
What's the use-case where you need the `availableLangs` and `activeLang`?

[2019-11-21 17:29] MatthiasKunnen commented on #164
I don't need `availableLangs` right now but it is passed and could be out-of-date so that needs fixing. I might need it in the future and probably will want it to be up-to-date :p

I need `activeLang` to correctly log which language is missing the translation as well as implement some smart fallback behavior.

[2019-11-21 17:31] NetanelBasal commented on #164
Why not use the [Fallback Strategy](https://netbasal.gitbook.io/transloco/hack-the-library/transloco-fallback-strategy)?

[2019-11-21 17:34] MatthiasKunnen commented on #164
I already use it. I mean for more complex scenarios. Currently I try to mutate my key to looks as good as possible. But I really need `activeLang` for correct logging.

[2019-11-22 06:22] rupalij46 opened #168 "On Running ng test Karma Framework, getting transloco warning on cmd"
On Running ng test Karma Framework, getting transloco warning on cmd. PFA

![transloco](https://user-images.githubusercontent.com/58063845/69402812-fcd1a880-0d1e-11ea-8d72-6a923dce0e7b.JPG)

[2019-11-22 07:24] Goonersid commented on #105
can you think of any examples of this.. I would hate my users to see stuff untranslated while the whole app is served in a particular language

[2019-11-22 08:13] NetanelBasal commented on #105
Internal pages, such as an admin module.

[2019-11-22 20:53] wesleygrimes commented on #156
This works, almost, but I have to return a `Promise` not an `Observable`. Thanks!

[2019-11-22 20:53] #156 closed

[2019-11-23 10:09] #168 closed

[2019-11-25 09:25] Dorrro commented on #159
@itayod any updates regarding this tool?

[2019-11-25 09:29] itayod commented on #159
@Dorrro The tool is ready, I am working on clear overall documentation regarding this issue. Once it will be ready we will merge the code :)

[2019-11-25 11:01] mohamedaarab1994 commented on #28
Is this still an active thing? We are also looking for a way to implement this in our SSR Project.

[2019-11-25 15:01] Dorrro opened #170 "It's not documented of how to use a scope with a "-" character in it's name"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

It's not directly possible to use a scope with a "-" character in it. The solution is somewhat not docu

[2019-11-25 15:13] Dorrro opened #171 "Fallback language mechanism should look for a translation if a key could not be found, not only a whole file"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Fallback language mechanism is looking for a fallback translation file only in a case when the file cou

[2019-11-25 15:28] shaharkazaz commented on #171
@Dorrro We support that, please read the config section in the [docs](https://netbasal.gitbook.io/transloco/config-options), you need to set `missingHandler.useFallbackTranslation` to `true`.

[2019-11-25 15:28] #171 closed

[2019-11-25 15:31] NetanelBasal commented on #170
According to both of your issues, it seems you didn't bother to go through the documentation. We worked hard on it, [reread](https://netbasal.gitbook.io/transloco/lazy-load-translation-files/scope-configuration) it, please.

[2019-11-25 15:31] #170 closed

[2019-11-25 17:00] Ketec commented on #159
@Dorrro Does it handle scopes too? or expects i18n/en.json only?

Merging everything into a single file without scopes means you always load strings for lazy loaded parts as well - and in a larger app that can become a quite large download.

[2019-11-25 17:19] Ketec opened #172 "Scope providers overwrite each other when using shared libraries/modules"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Let's say you have "main" module with "global" scope provider.
It imports a "demo-page" module - that h

[2019-11-25 20:02] montella1507 commented on #172
This is very common for angular.. angular provides only:
1) Compoment scoped providers
2) Global providers (for eagerly loaded modules - aka imports:[])
3) module scoped providers (ONLY FOR LAZY LOADED MODULES)

there is really missing a way how to provide truly "ngmodule scoped" providers..

However, afaik this problem can be solved by rewriting transloco providers to be "multi:true" and register

[2019-11-25 20:04] montella1507 commented on #159
i think there may be better solution:

https://github.com/ngneat/transloco/issues/172#issuecomment-558318120

(use multiple providers for same key and use composition in "singleton service")

[2019-11-25 20:45] #164 closed

[2019-11-25 21:07] Ketec commented on #172
You mean rewritten in the transloco repository or whoever uses this library (if so, can you provide more details)?

[2019-11-25 21:22] montella1507 commented on #172
Well i mean:
1) Do not take Scope in pipes (etc.) from Dependency injector.. because there is ALWAYS 1 single value (1 value in eagerly loaded modules and 1 value per lazy loaded module - not usable for reusable libraries at all)

2) Use Scope only as "lazy loading" and use only Read to select "subset" of finall translation object

[2019-11-25 22:05] montella1507 commented on #172
Or it may be possible to implement custom loading strategy + use translocoService.setTranslation() to manually combine all files.

[2019-11-25 22:26] Ketec commented on #172
The use cases would be like:
MainApp -> lib demofeature -> lib sharedcomponents
MainApp -> lib demofeaturetwo  -> lib sharedcomponents

Each lib, main would need their own scoped translations.
The features themselves would be lazy loaded and used just once - so this works.
But shared is imported so you can use its components.

Also teams have different access - feature teams cannot access main or

[2019-11-26 08:11] shaharkazaz commented on #172
@Ketec as @montella1507 and the docs stated, scope providers can only be in either a component providers or a lazy-loaded module provider, that's how angular works.
If you need further assistance, please try our [gitter channel](https://gitter.im/ngneat-transloco/lobby?source=orgpage).

[2019-11-26 08:11] #172 closed

[2019-11-26 20:55] NetanelBasal commented on #159
https://netbasal.gitbook.io/transloco/tools/scoped-library-extractor

[2019-11-26 20:55] #159 closed

[2019-11-27 16:16] Goonersid commented on #105
Hard to understand why admins are expected to always see content in English. I think 'ts'lint offers a way to ignore a rule enabled, on a specific line. Doesn't this qualify for a similar exclusion comment on the html where the rule has to be ignored. Can't  see this as a reason to not implement 'Governance' itself, as it is a nightmare at times to manually verify if each PR has all i18n NFR's in

[2019-11-27 16:19] Coly010 commented on #105
In a monorepo, this could cause numerous issues.
Not all apps within that monorepo may need to be internationalized, not all apps or libs within the monorepo may use Transloco specifically for their internationalization.

Therefore enforcing any consumer of this library to ensure that all strings are dynamic can be drastic.

It's much much safer and more appropriate if the project consuming the li

[2019-11-27 17:14] Goonersid commented on #105
@Coly010 Extending a codelyzer rule to be available for consumers to ensure no text is un translated is governance. As i stated before, not all developers understand NFR's and DOD's. To the point you stated, here

Libraries, each and every one of them extend from the base tslint.json and can also extend from one (or) more rule sets. Library A using a different i18n strategy need not extend from co

[2019-11-28 03:18] bjornharvold commented on #159
Hi @NetanelBasal . I have a question on this. I looked through the docs. I have a monorepo with multiple SPAs and I am not sure what my transloco.config.js should look like. I want to copy those library translation packs that are needed for each SPA and not sure how to do that with rootTranslationsPath.

[code]

[2019-11-28 03:25] bjornharvold opened #176 "Support for i18n files per library containing re-usable components in a monorepo with multiple SPAs"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

This is a continuation of issue: https://github.com/ngneat/transloco/issues/159.

I have a monorepo with multiple SPAs and

[2019-11-28 06:46] shaharkazaz commented on #105
@Goonersid as I said before, you are more than welcome to develop this rule and open a PR, it's not in our roadmap for now.

[2019-11-28 08:07] pnocera opened #177 "VSCode highlights transloco statement as an error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ x] Other... Please describe:
</code></pre>

## Current behavior

please see attached screenshot
![vscode](https://user-images.githubusercontent.com/118793/69788076-01c

[2019-11-28 08:13] shaharkazaz commented on #177
What version are you using?

[2019-11-28 09:54] #176 closed

[2019-11-28 10:05] itayod commented on #176
Hi @bjornharvold thanks for opening this issue,

I have added an option for multi destinations support...
This is the way to do it:

`transloco.config.js:`
[code]

[2019-11-28 10:34] pnocera commented on #177
2.8.0, let me try to upgrade...

[2019-11-28 10:41] shaharkazaz commented on #177
@pnocera Seems like that Angular Language Service v0.8 is working fine, use that version (you can choose which version to install), and we will open a bug in their repo.

[2019-11-28 10:41] #177 closed

[2019-11-28 10:44] pnocera commented on #177
Thanks !

[2019-11-28 12:16] shaharkazaz commented on #177
@pnocera ok so I checked and they don't have a bug for it, feel free to open one so you could keep track.

[2019-11-29 08:24] pnocera opened #179 "VSCode feature request"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ X ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:

</code></pre>

Would love to have a context menu in VSCode editor to add an entry in transloco json file.
That would add the current sel

[2019-11-29 09:19] bjornharvold opened #180 "BUG: Multiple libraries with i18n only loads 1 library resource bundle in SPA"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
How to replicate
- Create 2 libraries with ng-packagr: lib-1, lib-2
- Configure both libs with i18n fil

[2019-11-29 09:30] NetanelBasal commented on #180
I don't understand why this question keeps coming back. Scopes follow **Angular DI rules**. They only work when declared in a **lazy load** module, or a **component's providers**. They will not work in eager modules, such as a shared module.

[2019-11-29 09:30] #180 closed

[2019-11-29 09:40] NetanelBasal commented on #179
I like the idea. I imagine something like this:

1. Users choose a text and open the context menu.
2. You display the available translation files.
3. They can select a specific one or all of them.
4. You create the key based on the text (`password-must-have`), and replace it with the pipe.

The implementation should be straightforward. You can start with this [tutorial](https://medium.com/@rmmmsy/

[2019-11-29 09:59] bjornharvold commented on #180
This issue is also occurring in lazy loaded modules.

E.g.
Lazy module 1
[code]

[code]

Here I have 2 lazy loaded modules within my SPA. Both lazy loaded modules have their own i18n file and one external library with i18n information.

All our mapped in AppModule:

[code]

Not working. What am I doing incorrectly? Please advise.

[2019-11-29 10:36] NetanelBasal commented on #180
Where do you see a lazy load module?

[2019-11-29 12:11] bjornharvold commented on #180
The two modules mentioned above are both loaded lazily via the app router. Maybe best I create something on stackblitz to avoid any confusion.

[2019-11-29 12:36] NetanelBasal commented on #180
Something doesn't make sense. You wrote this:

It means that you loaded them **eagerly**.

[2019-11-29 12:44] bjornharvold commented on #180
Yes, I’ve tried both. Sorry for the confusion. Will create a stackblitz.

[2019-11-29 13:38] pnocera commented on #179
ok let me give it a try...

[2019-11-29 15:23] Goonersid commented on #105
@shaharkazaz sure... I see the issue closed.. it's completely fine if it's not planned... Wanted to just know the rationale behind closing... This also doesn't change the fact that the library itself is extremely useful and governance is not a reason why i wouldn't recommend this 😊

[2019-11-29 17:11] mohamedaarab1994 opened #181 "Lazy load multiple JSON files in a component using TRANSLATE_SCOPE"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Currently when I try to lazy load multiple translation json files into one component the app breaks. I

[2019-11-29 17:12] pnocera commented on #179
Here's a quick shot
https://marketplace.visualstudio.com/items?itemName=gcidev.translococtx

https://github.com/pnocera/translococtx

[2019-11-29 18:15] bjornharvold commented on #180
Here's the Stackblitz url: https://stackblitz.com/edit/transloco-issue-180

Because of the complexity of the app, Stackblitz did not like running my default app under "projects" so I couldn't create a mono repo the way I have in my real code base. Also, I don't know how to get Stackblitz to compile my ng-packagr libs. As a result. it's not fully working on Stackblitz. However, it does show the exa

[2019-11-30 03:01] bjornharvold commented on #180
As I am reading your words, it sounds like you are saying an external ng-packagr lib's i18n json files can ONLY be loaded if the external lib becomes a lazy loaded module. That's not what I want. I can think of many use cases with generic libraries containing some utilities and some custom form components that should never be loaded as its own lazy loaded module. The lazy loaded module is business

[2019-11-30 16:29] NetanelBasal commented on #180
@bjornharvold I'm glad that now you understand. Unfortunately, this is how Angular works.

To get around this, we can expose a new method named `loadScope` which will be called in the eager module constructor, and load the scope:

[code]

Two things to note here:
1. You'll still have to use the scoped libs extractor. (unless you load it from a server)
2. The structural directive unware to this sco

[2019-11-30 19:17] NetanelBasal commented on #179
I made changes in the extension and added it to our repo. You can continue work on it here.

- Add support to pass multiple entry points. (for scopes)
- Add the option to choose whether to unflat the key. (use the flat package from npm)

https://github.com/ngneat/transloco/tree/master/vscode/extractor

[2019-12-01 03:08] bjornharvold commented on #180
Is there a more "manual" approach to this you think where the lazy module has more control over the loading process. I can see a use case where the particular SPA importing the Lib1Module is only using some of its services and not its components so there would be no need to load its i18n resource bundle. As issue 181 points out: being able to specify which scopes to load.

[2019-12-01 06:28] NetanelBasal commented on #180
You can pass a scope in the component's providers:

[code]

Or in the template:

[code]

[2019-12-01 08:20] bjornharvold commented on #180
Yes correct. However, if you see the Stackblitz, I would need to pass both the lazy module's scope AND the library scope... which is what issue 181 is referring to I think.

[2019-12-01 08:55] itayod commented on #181
Hi @mohamedaarab1994
basically there are two ways you can accomplish that depends on your use case:
1. if you are using inline loaders you could do that with `webpack` import's [magic comments](https://webpack.js.org/api/module-methods/#magic-comments)
2. you could use an inline scope in the component's template:
[code]

[2019-12-01 10:39] NetanelBasal commented on #180
181 is not related to your issue. You need to move the following line:

[code]

from the module to the `Lib1Component` providers.

[2019-12-02 10:30] C0ZEN opened #182 "Page animation with template loader seems broken"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When switching page with a global Angular animation, the template loader is not static to the page.
It

[2019-12-02 11:08] mohamedaarab1994 commented on #181
@itayod I prefer the inline loader option you mentioned, however for that I still need to provide multiple values for TRANSLOCO_SCOPE token (correct me if I'm wrong). That seems to be giving me a heap of trouble. This is how I do it:

`{ provide: TRANSLOCO_SCOPE, useValue: { scope: 'translationA', loader: loadTranslationFile('translationA'), alias: 'translationAliasA' }, multi: true},
{ provide: T

[2019-12-02 11:13] itayod commented on #182
@C0ZEN sorry but it is not an issue that related to this library

[2019-12-02 11:13] #182 closed

[2019-12-02 11:21] itayod commented on #181
@mohamedaarab1994 we currently don't support that, would you like to open a pr for this?

[2019-12-02 11:28] mohamedaarab1994 commented on #181
@itayod If I get it working, I will submit a PR for this

[2019-12-02 15:13] SansDK opened #183 "getAvailableLangs() documentation & feature request"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[X] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Calling `getAvailableLangs()` returns either a `string[]` or something like `[{ id: 'en', label: 'Engli

[2019-12-02 15:48] itayod commented on #183
Hi @SansDK
As for the documentation, since we have types support thanks to typescript, we get this documentation out of the box.

About the function, we have a method `isLang` for this, but it currently private method, you are welcome to create a pr that expose this method if you like

[2019-12-02 19:46] pnocera commented on #179
great ! thanks

[2019-12-03 07:19] SansDK commented on #183
Hi,
Thanks for your response.

It's nice to get documentation like this out of the box, but that doesn't mean that you can't or shouldn't edit it to clarify the working or the usage of the method.

I will create a PR for exposing the `isLang` method if I have the time to do so.

Thanks.

[2019-12-03 09:00] SansDK commented on #183
Hi @itayod @NetanelBasal,

if any one of you have the time to check out the pull request that would be greatly appreciated.
Thanks.

[2019-12-03 15:50] C0ZEN opened #186 "SSR - Template loader still visible when serving the view"
## I'm submitting a...

<pre><code>[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When serving a page with a Node server, the result contains the template loaders instead of the translat

[2019-12-03 15:59] C0ZEN commented on #182
Just in case someone have the same problem.

I found a solution by adding a class to the `body` which will hide all the loader templates only during the animation.

*class*
[code]

Then add some outputs to hide or show this class on the router outlet.

*app.component.html*
[code]

[2019-12-03 16:28] ArielGueta commented on #186
Why do you see:

[code]

Did you define a template somewhere?

[2019-12-03 17:09] mohamedaarab1994 opened #187 "Resolved translations are not re-used when using different aliases"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Whenever you provide an alias in a component/module using `TRANSLOCO_SCOPE`, it causes the other pages t

[2019-12-03 18:43] itayod commented on #186
@C0ZEN could you add also your `html`?

[2019-12-03 19:51] itayod commented on #187
@mohamedaarab1994 it seems like an odd usage of scopes, could you tell us what is your use case?

[2019-12-03 20:08] C0ZEN commented on #186
Hello @ArielGueta and @itayod.
Thank you for taking the time here to find out the culprit.

Let me bring more information on my application.

### How do I see the problem

By checking the first network request on Chrome from my application, the `index.html` file which is merged with the page component contains a bunch of translations.
To be specific, there are 47 translations on this page and all

[2019-12-03 21:23] C0ZEN commented on #186
I found out the problem !!
Using the `TranslocoPersistTranslationsModule` does not create the loader or at least it does not works the same than on the client-side.

Using instead the common way to include a loader with a provider fix the SSR bug.

Could you guys still check that out please, since it is really a bug ?

Thank you !

[2019-12-04 09:46] itayod commented on #186
@C0ZEN nice catch, it makes sense to me that it is related to `TranslocoPersistTranslationsModule ` since I am not sure that `localForage` supports `ssr`.

Could you try to use a dummy service instead just to see if it works?

You could use this one from the spec file: https://github.com/ngneat/transloco/blob/master/projects/ngneat/transloco-persist-translations/src/lib/transloco-persist-translati

[2019-12-04 10:25] C0ZEN commented on #186
@itayod yeah sure I can help and try this tonight.

By the way, this is the config that I used for the local storage.

[code]

[2019-12-04 11:02] #183 closed

[2019-12-04 14:08] mohamedaarab1994 commented on #187
@itayod Right now we have a lot of translation files in our projects so we seperated these files into two folders: "Pages" and "Features". Our scopes look like this: "features/offer-information" which is inconveniant to use, so we give every translation an alias, however we have many people maintaining our project and not everybody uses the same alias and therefore they leave buggy or non-working

[2019-12-05 09:35] SansDK commented on #183
@NetanelBasal, thanks for merging the PR.
I noticed that a new build hasn't been triggered after the merge. Could you trigger a new build manually? Or was it the intention to not release a new version for only this PR?

Thanks.

[2019-12-05 09:54] itayod commented on #183
@SansDK we are waiting for https://github.com/ngneat/transloco/pull/184 to release the new version with your changes

[2019-12-05 10:00] SansDK commented on #183
Ok that's fine!
Thanks for the update.

[2019-12-05 19:40] C0ZEN commented on #186
Hello @itayod. I have news for you.

You can check below that I changed for the tests.

*app.module.ts*

[code]

The result is fine.
The problem is fixed.

[2019-12-06 05:52] ArielGueta commented on #187
That's does not make sense. Scopes and aliases are meant to be unique. If you have a problem sharing these, you can create an object and use it:

[code]

And let everyone use this one source of truth.

[2019-12-06 09:50] mohamedaarab1994 commented on #187
@ArielGueta You're missing the point. Perhaps I didn't make myself clear enough. Let me explain the behavior in a scenario:

There are two pages that are lazy loaded, we'll call them `GeneralInformationComponent` and `PriceInformationComponent`. We also have a translation file named `offer-information.json` that is shared among these two pages.

In the page `GeneralInformationComponent` we want to

[2019-12-06 09:54] ArielGueta commented on #187
To be honest, this is weird. You are using the same translation file in two places with a different alias?  If you load both, you will have a duplicate object in memory.

[2019-12-06 10:09] mohamedaarab1994 commented on #187
@ArielGueta That's right, we need to use the same translation file in two places with a different alias, because that's what aliases are for right? To distinguish one from the other. However, duplaticate objects in memory isn't cool either. It would be nice if there was one object in memory that has many aliases assigned to it. It isn't that weird if you think about it. A person can also have mult

[2019-12-06 14:17] itayod commented on #186
Thanks @C0ZEN.

The problem is not between `localForage` and `transloco`.
I guess it didn't work for you because you tried to use `localForage` in `SSR` environment.

I suggest you to check if you run in `Browser` or not and provide the storage accordingly.

[2019-12-06 14:23] C0ZEN commented on #186
I am not sure that this is possible because checking weither or not the app is in a browser (with `isPlatformBrowser` require the platform token (`PLATFORM_ID`) and I do not think that this is possible to use the injector inside the app module.

[2019-12-07 18:18] #181 closed

[2019-12-07 18:19] itayod commented on #187
Hi @mohamedaarab1994 we decided that we won't support this feature.
Scope alias should be unique across the project

[2019-12-07 18:19] #187 closed

[2019-12-08 07:59] itayod commented on #186
Use the `PLATFORM_ID` in `factory` to get the `localForage` only on the browser:
[code]

[2019-12-08 08:05] #186 closed

[2019-12-09 09:34] xXKeyleXx opened #190 "Pipe returns undefined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
The transloco pipe returns `undefined` when the pipe gets executed before the translation got loaded.

#

[2019-12-09 13:47] heecheolman opened #191 "translate is undefined. I want to use it as a pure function."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`translate` provided as a pure function does not work. Sometimes it works, but when I'm not sure, I re

[2019-12-09 14:04] itayod commented on #191
@heecheolman it doesn't suppose to happen, can you show us how do you use it?