[2020-12-15 09:04] itayod commented on #370
@strikeflare glad you figured it out.

That is not entirely true, you may declare one in each **lazy-loaded module**

Like I said there are several ways to deal with it, one of them is to use the component's providers.

Either way, I strongly recommend you to read about this stuff since it is an important part of Angular and you might run into more problems like this in the future (not just in Tra

[2020-12-15 09:04] #370 closed

[2020-12-15 09:05] itayod commented on #375
@bojidaryovchev did you understand your problem? can we close this?

[2020-12-15 20:26] shaharkazaz commented on #250
@developer239 I personally didn't have time to get to it in the last couple of months so it just got missed, thanks for bringing this up again 🙂

@tommueller Thank you for the reproduction, here is a summary of the issues discussed above:
There are 2 issues here that got mixed together:
1. `TypeError: Cannot read property 'translate' of undefined` thrown when using the pure translate function.
2.

[2020-12-16 10:07] tommueller commented on #250
Thanks, will give feedback ASAP once it's released.

[2020-12-16 15:14] #250 closed

[2020-12-17 10:51] marcobuschini opened #384 "Failure when considering Transloco for use in an exisitng project"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

During tests (Jest, without spectator) strings are not translated and keys are used instead. For exampl

[2020-12-17 11:00] shaharkazaz commented on #384
@marcobuschini sounds like #250, this should be fixed in the next version.

[2020-12-17 11:07] marcobuschini commented on #384
@shaharkazaz thanks, I will check the next version, then. When it should be available?

[2020-12-17 11:38] shaharkazaz commented on #384
@marcobuschini in the next couple of days 🙂

[2020-12-17 20:22] shaharkazaz commented on #384
@marcobuschini Can you please verify this is resolved in v2.20.0? (make sure you use the `preloadLangs` if that fits your case)

[2020-12-17 20:23] shaharkazaz commented on #250
@tommueller released in v2.20.0

[2020-12-17 20:25] shaharkazaz commented on #374
@iiceman40 @stephengeorgewest  There were some changes related to the test module in the last version (v2.20.0) can you please check if it still happens? and it does reproduce can you please provide a reproduction? 🙂

[2020-12-17 20:52] shaharkazaz commented on #359
@ChazUK Yes, you can, here is an example:

#### `en.json`
[code]

#### `Template`
[code]

#### Output
[code]

[2020-12-17 20:52] #359 closed

[2020-12-17 21:13] shaharkazaz commented on #375
@bojidaryovchev The answer to this question is now part of our [faq](https://ngneat.github.io/transloco/docs/faq#why-does-querying-an-element-inside-the-transloco-directive-using-viewchild-not-working) as it was raised before.

If you have more questions, feel free to send a message in our [gitter lobby](https://gitter.im/ngneat-transloco/lobby), there are members of our community who can help you

[2020-12-17 21:13] #375 closed

[2020-12-18 15:31] developer239 commented on #297
I can confirm that reinstalling node modules works. Running `ngcc` might be OK too.

[2020-12-18 20:05] marcobuschini commented on #384
@shaharkazaz as soon as I start working on it again next week I will check.

[2020-12-19 03:38] zhongsp opened #385 "Wrong/missing doc about "Fallback Strategy" section"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Open the online document of "Hack The Library" section. And regarding "Missing Handler" and "Fallback S

[2020-12-19 11:28] #385 closed

[2020-12-20 17:36] shaharkazaz commented on #314
@Gamewalker @jmls If this is still relevant after you tried my comment feel free to reopen this 🙂

[2020-12-20 17:36] #314 closed

[2020-12-22 15:48] RemyAlves opened #386 "TypeError: Invalid option : timeStyle"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Can't use the 'timeStyle' option with the translocoDate pipe, it fail with an error message, but only o

[2020-12-23 08:02] itayod commented on #386
@RemyAlves would you like to create a pr that fixes that?

[2020-12-23 10:14] marcobuschini commented on #384
@shaharkazaz the problem persists.

[2020-12-23 10:38] shaharkazaz commented on #384
@marcobuschini I see, please provide a small reproduction so we can better understand the issue 🙂 .

[2020-12-23 10:57] marcobuschini commented on #384
@shaharkazaz on a small project everything tests as expected.

[2020-12-23 10:57] #384 closed

[2020-12-23 11:06] RemyAlves commented on #386
Well, I can try, but I'm not sure how to proceed to test it out.
Never really got the time to contribute to an open source project of such.

[2020-12-23 11:47] RemyAlves commented on #386
Never mind, it's been fixed in the last update of the library. My mistake, I through I updated it.
The thing that threw me off also is the stackbliz not being on the latest version of the library, reproducing the error.
Sorry about all of that...

[2020-12-23 11:47] #386 closed

[2020-12-23 11:49] RemyAlves commented on #386
The issue was with `date.toLocaleDateString` being replaced with `new Intl.DateTimeFormat().format` in new browsers.

[2020-12-23 12:19] YazaWainakh opened #387 "Translations dont appear in production"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Translations dont appear in production while they appear perfectly correct in dev. Only the translation

[2020-12-23 12:56] itayod commented on #387
@YazaWainakh please use our [gitter channel](https://gitter.im/ngneat-transloco/lobby) for support.

p.s.
I suggest you take a look at official guides in our [docs site](https://ngneat.github.io/transloco/) for tutorials.

[2020-12-23 12:56] #387 closed

[2020-12-23 15:21] pookdeveloper opened #388 "Use environment in transloco.config.js"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Support request
[ ] Other... Please describe:
</code></pre>

How I can set the property langs of **transloco.config.js** with my environment file

[code]

Something like that:
[code]

T

[2020-12-24 09:36] zhongsp opened #389 "Language fallback doesn't work properly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Custom `TranslocoFallbackStrategy` not working properly. It will skip some of the fallback langs. Becau

[2020-12-25 00:41] zhongsp commented on #389
In the following source code, I didn't find where does `fallbackLangs` in `mergedOptions.fallbackLangs` come from? I searched the full source code, and didn't find the result..

https://github.com/ngneat/transloco/blob/master/projects/ngneat/transloco/src/lib/transloco.service.ts#L558

[code]

[2020-12-25 01:25] imnista commented on #389
I also encountered the same problem, and is there a related fix plan?
@NetanelBasal , @shaharkazaz , @itayod , @zhongsp

Merry Christmas!

[2020-12-25 05:58] shaharkazaz commented on #389
@imnista There is no fix plan, we resolve the issues when we have the time, but as you can see there aren't many issues open 🙂
@imnista  @zhongsp Would you like to create a PR for it?

[2020-12-25 06:07] shaharkazaz commented on #388
@pookdeveloper requiring the file didn't work?

[2020-12-25 08:21] pookdeveloper commented on #388
No because is js file, dont work  with import o required

[2020-12-25 09:12] zhongsp commented on #389
I can have a try.

[2020-12-26 07:19] zhongsp commented on #389
@shaharkazaz I submit a PR for this.

[2021-01-04 09:53] Spielboerg opened #391 "Breaking out of the `read` scope"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## What is the motivation / use case for changing the behavior?

I often use the `read` input because all translations of th

[2021-01-07 23:58] stephengeorgewest commented on #374
I updated to 2.20.0 and reverted my "fixes".
![image](https://user-images.githubusercontent.com/1442484/103957337-be0bd700-5107-11eb-8534-374e0a23b96f.png)

I did go into `getTranslocoTestingModule` to see if that could be something, and noticed "withLangs is deprecated: - use forRoot instead (deprecation)" could that be related?
![image](https://user-images.githubusercontent.com/1442484/103957567

[2021-01-09 01:00] zhongsp commented on #389
@shaharkazaz Are you able to review my fixing PR? 😄

[2021-01-09 17:59] shaharkazaz commented on #389
@zhongsp hey! Really busy times for me, I'll try to get to it this week, but no promises 🙏

Once I'll get some time I'll address it!

[2021-01-11 07:21] tommueller commented on #250
@shaharkazaz sorry for the late response, I was able to enjoy some extend holiday season.

Just checked out the v2.20.0 release and can confirm that the change fixes the issue. Thanks a bunch!

[2021-01-11 10:42] shaharkazaz commented on #374
@stephengeorgewest
It's not related to the deprecation warning since `withLangs` is still supported.
please provide a reproduction so we can better understand the issue.

[2021-01-11 10:45] shaharkazaz commented on #391
@Spielboerg if you want to get a translation of the structural directive's scope you can use the transloco pipe:
[code]
If you have many translations that need to "break" then maybe the read property isn't a good fit there.

[2021-01-11 11:03] Spielboerg commented on #391
Hm, ok then I will switch to the pipe in these cases. I would have preferred to use only the read directive as recommended, but in my cases it will do the job.

[2021-01-11 11:03] #391 closed

[2021-01-11 17:38] YazaWainakh opened #392 "Change currency format"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I want to change the currency formatting related to a language. e.g. when the language is EN I still wan

[2021-01-12 07:14] shravansofts opened #393 "What is the proper way of importing transloco module?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Support request
[ ] Other... Please describe:
</code></pre>

## Expected behavior
As part of transloco installation: https://ngneat.github.io/transloco/docs/installation transloco-root

[2021-01-13 14:52] Siedlerchr commented on #233
It would be really nice if this was supported. According to the Docs it's now supported in all browser except internet explorer:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/RelativeTimeFormat

[2021-01-13 23:55] kaitlynekdahl opened #394 "(Multi-scope) Transloco pipe unnecessarily loads dependencies for all scopes in ProviderScope array"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Currently, for implementations like `.selectTranslate()` or the Transloco template directives, a scope

[2021-01-14 08:13] itayod commented on #388
@pookdeveloper it doesn't make a lot of sense doing that since these files have completely different purposes.

Having said that, you can try to make those files sync... one way to do so is by creating some kind of script that updates those files accordingly.

[2021-01-14 08:16] itayod commented on #392
@YazaWainakh you can pass the locale hardcodedly to the pipe as a parameter, did you try that?

[2021-01-18 08:21] YazaWainakh commented on #392
@itayod can you please write an example, I am not sure I follow.

[2021-01-18 15:03] krzyhan commented on #374
@stephengeorgewest I guess your `provideMockTranslate` should contain property `config` :
![image](https://user-images.githubusercontent.com/20922676/104931339-8bcf6480-59a6-11eb-9f0c-86cc2176b8a0.png)

so those three should be in `config` prop:
![image](https://user-images.githubusercontent.com/20922676/104931397-a1dd2500-59a6-11eb-9de2-6ce16dd23931.png)

[2021-01-18 20:27] krzyhan commented on #388
You can read `environment` (i.e. in a service) and then update using `setAvailableLangs()`

https://ngneat.github.io/transloco/docs/language-api/#setavailablelangs

[2021-01-21 14:37] iiceman40 commented on #374
@shaharkazaz  I just updated to `2.20.0` and can confirm, that the error still occurs. Our mock module looks like this:

[code]

@krzyhan I tried adding those properties but it doesn't change anything. You don't seem to use them yourself either (except the defaultLang, as we do, too). The error message says `Cannot read property 'reRenderOnLangChange' of undefined` so it's not about the properties

[2021-01-22 19:13] born2net opened #396 "with latest Angular 11.1 getting reference error on some modules with Transloco"
I am not sure what other info I can provide as this is a large project.
but 100% if I switch back to 11.0.1 no issues and switching into the new 11.1 getting the following

![Transloco](https://user-images.githubusercontent.com/5090936/105534681-b4a37280-5ca2-11eb-9c39-d7e1dea154c0.png)
:

works fine in 11.0.1

[code]

thanks,

Sean.

[2021-01-26 09:45] itayod commented on #392
@YazaWainakh sorry, I have been very busy the past days...
I think it would be best if you can create some stackblitz example so I can work on and get you back with a working solution

[2021-01-26 09:47] itayod commented on #388
@pookdeveloper did you figure this out?

[2021-01-26 09:49] itayod commented on #393
@shravansofts please move this question into the [discussion](https://github.com/ngneat/transloco/discussions) or [gitter channel](https://gitter.im/ngneat-transloco/lobby?source=orgpage)

[2021-01-26 09:49] #393 closed

[2021-01-26 09:51] itayod commented on #396
@born2net could you please provide us a working reproduction of your issue?

[2021-01-26 15:15] born2net commented on #396
it seems that this is a known ng 11.1 issue:
https://github.com/angular/angular-cli/issues/19854#event-4240041763

[2021-01-26 15:15] #396 closed

[2021-01-28 13:45] dharemsj opened #400 "Karma Unit Test: String is not being translated in service file when method is called from the spec file"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[x] Other... Please describe:
</code></pre>

## Current behavior

String is not being translated in service file when method is called from the spec file to get coverage

[2021-01-28 15:54] marianturchyn commented on #400
Hi, today I had the same issue. My solution is to wait until translates will be loaded.
[code]

[2021-01-28 17:12] shaharkazaz commented on #400
@marianturchyn @dharemsj In the testing module configuration set the `preloadLangs` property to `true`.
I'll update the docs so this property appears as true in the example.
LMK if this resolved your issue.

[2021-01-30 09:29] shaharkazaz commented on #374
@iiceman40 It's hard for me to help you without actually seeing the code & issue.
I would suggest trying to remove all manual mocks (if exists) and try to isolate the issue, from v2.20.0 the service is bootstrapped by Transloco.

The reproduction can be very small, I understand that creating one from a big repo can be challenging but I'm afraid that's the only way I can assist further.

[2021-01-30 12:37] shaharkazaz commented on #389
@zhongsp @imnista can you please share your implementation of the custom loader?
Why is not returning the same set of language array each time? what's causing the change?

[2021-01-31 11:16] zhongsp commented on #389
@shaharkazaz I think you mean the custom fall strategy. It's as follows:

[code]

If I set the above `LanguageFallbackStrategy` to Transloco, Transloco doesn't try fallback langs one by one, as I described in issue description.

[2021-01-31 11:48] shaharkazaz commented on #389
@zhongsp Thanks for the response, maybe I'm missing something but how does that differ from the default fallback strategy?
Instead of returning a different array each time, you always return `['zh-Hans', 'zh', 'en']` and the `failedCounter` will iterate them one by one.

Have you tried this approach?

[2021-01-31 12:58] zhongsp commented on #389
@shaharkazaz I think the reason is fallback langs are unknown at compile time. At runtime, the fallback langs are generated according to the failed lang dynamically. The known thing is the algorithm used to calculate fallback langs based on a failed lang.

`['zh-Hans', 'zh', 'en']` is just one scenario of receiving failed `zh-Hans-CN` at runtime. It would any other valid BCP47 language tags, e.g.

[2021-01-31 16:27] dharemsj commented on #400
@shaharkazaz Thanks a lot, it worked. string is being translated while running ng test, I am getting expected result. Thanks.

[2021-01-31 16:33] #400 closed

[2021-02-11 14:19] erikmom commented on #374
We had this issue as well, however (after some thorough debugging session) we found out that we still used a mocked TranslocoService in one of our TestModuleMetadata objects that we accidentally migrated from a previous i18n library:

`{ provide: TranslocoService, useClass: MockTranslocoService }`

After removing this provider it worked. We now only use the `getTranslocoModule()` to get transloco

[2021-02-13 01:20] zhongsp commented on #389
@shaharkazaz Thanks for paying attention to this issue. I want to confirm if it's by design that Transloco requires a user custom fallback language strategy function always returns the same language array? I'm not seeing this claim in doc.

Because my product is about to ship, so I need to resolve this issue, either via Transloco code update or via some workaround by myself.

https://github.com/ng

[2021-02-13 16:46] shaharkazaz commented on #389
@zhongsp Maybe I'm still missing the use case where the fallback languages are changing.
I'm not sure that with the current fallback strategy you can achieve what you need, I think the issue here might be a bit deeper than the counter.

Can you please add a flow & code example for this:

The reason you can't implement the current logic you want is that you are not aware of the original language th

[2021-02-14 02:33] zhongsp commented on #389
@shaharkazaz Thanks very much for replying.

This is my custom `TranslocoFallbackStrategy`:

[code]

And add it to root providers:

[code]

I thought this is all I need to code to make the language fallback work. However, this is not working as I expected. :D

[2021-02-14 19:16] shaharkazaz commented on #389
@zhongsp Thanks for providing the code, it's very helpful. let me think about what's the best approach here 👍

[2021-02-16 07:09] shaharkazaz commented on #389
@zhongsp Ok, so I thought about this, and here are my thoughtts:
* As a fix for the current situation the `getNextLangs` should be called only once on the first language failure.
* In the future I think that `getNextLangs` should be replaced with `getNextLang`, so the strategy will decide individually for each failed lang what should be loaded next.

[2021-02-16 08:11] muuvmuuv opened #402 "Dependency "flat" is missing in "@ngneat/transloco-locale""
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I am trying to switch over to pnpm but cannot fully install the application because `@ngneat/transloco`

[2021-02-16 11:59] zhongsp commented on #389
-   As a fix for the current situation the getNextLangs should be called only once on the first language failure.

    -   Totally agree. This is what I'm trying to do in the fix PR. The `getNextLangs()` is only called at the first time of loading translation failed. And the langs in `NextLangs` in tried one by one, until loading a translation successfully. In the meanwhile, `getNextLangs()` must

[2021-02-17 07:28] lacastorine opened #403 "langChanges$ - emits values on subscription"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

```langChanges$``` is unexpectedly (accordingly to its name) emitting default\active language on subscr

[2021-02-17 10:31] kerosin commented on #402
Ran into the same problem with `pnpm`

Workaround was to manually add `flat` as devDependency to the *package.json*
```"flat": "5.0.2",```

[2021-02-17 19:24] RobertoRVieira opened #404 "After build project with ionic build --prod i18n files return error 404"
After build project with ionic build --prod i18n files return error 404.
During the tests running with ng run app:serve, for example, the project work fine.
The correct path is localhost/www/assets/i18n/ json files.

![image](https://user-images.githubusercontent.com/39014807/108255990-b6464600-713b-11eb-9aeb-f7683119c2d3.png)

Node version
v14.15.0

Plataform
Windows

Angular CLI: 10.2.0
Node: 14

[2021-02-18 12:06] manikantag commented on #226
For follow up, below is how to do it:

    { "contact": "Contact <a href=\"mailto:support@example.com\">support@example.com</a> for assistance." }

And, in template:

    <p [innerHTML]="transLoco('contact')">

[2021-02-19 01:51] zhongsp commented on #389
@shaharkazaz Previously, I submit a PR to address this. It's https://github.com/ngneat/transloco/pull/390.
Could you please have a look at it? Please feel free to modify the PR, or even close it and create a new one. Thanks a lot.

[2021-02-19 10:14] FloNeu commented on #206
This still isn't merged yet - where is the problem to add a cleanway to allow this... for example only fire the language switch event after the required lang is available... i have the problem that i have to translate the labels on an object in code... and in the view i can't bind to an observable because it comes from a lib. So when i switch from initial lang to alternating lang and trigger my tr

[2021-02-21 21:00] shaharkazaz commented on #389
@zhongsp Left some comments, great work 👌

[2021-02-22 09:35] zhongsp commented on #389
@shaharkazaz Thanks for reviewing!  I added the fixes and some questions there, please help to review.

[2021-02-23 09:30] bleful commented on #99
@eluchsinger Did you solve the problem and could you share the solution with us?

[2021-02-23 11:44] eluchsinger commented on #99
@bleful sorry, I decided to use a different library.

[2021-02-24 18:50] shaharkazaz commented on #389
@zhongsp I'll take a look tomorrow 👍

[2021-02-25 16:44] shaharkazaz commented on #404
@RobertoRVieira can you please share a reproduction repo?

[2021-02-26 01:56] zhongsp commented on #389
@shaharkazaz I committed a fix commit and leave comments, could you please help to review that?

[2021-02-28 18:31] shaharkazaz commented on #389
@zhongsp Released in v2.20.1, please verify 😄

[2021-02-28 18:31] #389 closed

[2021-02-28 18:34] shaharkazaz commented on #403
@lacastorine, I see what you mean. Changing the behavior now is a breaking change which is something we want to avoid.
I think that I'll add a note in the docs and rename/re-think this in v3.

[2021-02-28 18:43] shaharkazaz commented on #392
@YazaWainakh You think you can provide an example as @itayod requested? 😃

[2021-02-28 18:45] shaharkazaz commented on #346
Please reopen if this is still relevant and provide a valid reproduction or demo so we can understand this issue better.

[2021-02-28 18:45] #346 closed

[2021-02-28 18:48] shaharkazaz commented on #388
@pookdeveloper did you manage to figure out a solution here?

[2021-02-28 18:50] pookdeveloper commented on #388
No sorry 😔

[2021-02-28 18:58] shaharkazaz commented on #402
@muuvmuuv I'm not sure what's the issue here with `pnpm` 🤔
Looking at the error logged it's saying that `@ngneat/transloco-locale` is missing `flat` but he doesn't even need that package as a dependency.

If you look at [`@ngneat/transloco`](https://github.com/ngneat/transloco/blob/master/projects/ngneat/transloco/package.json#L45), [`@ngneat/transloco-keys-manager`](https://github.com/ngneat/tran

[2021-02-28 19:14] muuvmuuv commented on #402
@shaharkazaz but `@ngneat/transloco-locale` does not.

[2021-03-01 07:45] shaharkazaz commented on #402
@muuvmuuv `@ngneat/transloco-locale` doesn't need to since he doesn't depend on `flat,` feel free to correct me if you see otherwise. (I searched the lib for usages just to be sure but didn't find anything)

[2021-03-01 14:39] muuvmuuv commented on #402
Noticed that too. I wonder why Angular things it depends on it.

[2021-03-03 08:20] YazaWainakh commented on #392
This issue has become of less priority at the moment, I will close the issue for now and maybe reopen it once I have a stackblitz example. thanks.

[2021-03-03 08:20] #392 closed

[2021-03-03 09:49] shaharkazaz commented on #402
@muuvmuuv if we agree that `@ngneat/transloco-locale` doesn't depend on `flat` but `pnpm` is failing on that, I don't think this is a Transloco related issue.

[2021-03-04 11:02] muuvmuuv commented on #402
It's Angular that produces the error not pnpm, I just used pnpm as my package manager. I could not find the usage of flat in locale either. I am still investigating but maybe Angular does some weird node module resolution here.

[2021-03-04 11:13] muuvmuuv commented on #402
As a temporary fix its possible to install flat by hand or install with hoist option: `pnpm i --shamefully-hoist`

[2021-03-06 08:24] n84ck opened #407 "Language dependent route path"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

## Expected behavior
/en/about
/de/uber

## What is the motivation / use case for changing the behavior

[2021-03-09 21:36] penleychan commented on #28
I've ported @gilsdav/ngx-translate-router to work with transloco: https://github.com/penleychan/ngx-transloco-router
Demo app is in that repo to show case what's working.

Please keep in mind that I have not tested everything that @gilsdav/ngx-translate-router has to offer.

[2021-03-10 22:00] bogusweb commented on #407
@n84ck u can try this https://github.com/ngneat/transloco/issues/28#issuecomment-794488346

[2021-03-11 08:43] shaharkazaz commented on #404
@RobertoRVieira if this is still relevant please provide a reproduction 🙂

[2021-03-11 08:49] seanwu1105 commented on #404
@shaharkazaz [This project](https://github.com/seanwu1105/moment-pwa) has the same problem, it can be reproduced by the open the static [GitHub page](https://seanwu1105.github.io/moment-pwa). Although the i18n translation is correctly shown, the console still reporting error 404 on `https://seanwu1105.github.io/moment-pwa/assets/i18n/en.json`. It seems the translation files have not been loaded on

[2021-03-11 11:14] Gamewalker opened #409 "Firefox displays translocoDate: { dateStyle: 'full' } format as dd.mm.yyyy"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Chrome: Donnerstag, 11. März 2021
Firefox: 11.3.2021

## Expected behavior
Firefox should display the d

[2021-03-12 10:02] #403 closed

[2021-03-12 10:05] shaharkazaz commented on #402
@muuvmuuv I'm closing this issue since, as I understand, it's not really related to the lib.
Please feel free to reopen if you come to another conclusion 👍

[2021-03-12 10:05] #402 closed

[2021-03-12 10:10] shaharkazaz commented on #374
@stephengeorgewest  @iiceman40, any updates on reproducing the issue?  🙂
If you don't think you'll get to it anytime soon, please close the issue and reopen it once you provide the reproduction.

[2021-03-14 17:33] iiceman40 commented on #374
Okay, I finally took the time and gave this a shot.

The problem occurs when I use the transloco pipe and the TranslocoService in a component. If I write the unit test I add the TranslocoTestingModule so that the test won't fail because of the missing pipe. Next I am mocking the TranslocoService to make it return a mocked translation that I can refer to in my expect statement. If I now run the tes

[2021-03-18 08:57] PeterHewat opened #410 "Feature: Enable to get current date format"
### Is your feature request related to a problem? Please describe.
I am using transloco & transloco-locale with [PrimeNG](https://primefaces.org/primeng/showcase/#/).
When I use a their [calendar](https://primefaces.org/primeng/showcase/#/calendar), I want the date to be displayed in the current format transloco-locale is using. The problem is that all I have access to in the calendar is the dateF

[2021-03-18 14:25] PeterHewat opened #411 "Feature: Format date programmatically"
### Is your feature request related to a problem? Please describe.
I would like to be able to format a date programmatically. From what I understand, you can only use a translocoDate pipe inside a template for now.

### Describe the solution you'd like
Format a date using the current locale as follows:
[code]

[2021-03-18 14:33] PeterHewat commented on #411
Sorry, I just found out that this is already possible with localizeDate()
[code]
Closing the issue...

[2021-03-18 14:33] #411 closed

[2021-03-21 13:31] #276 closed

[2021-03-21 13:32] #335 closed

[2021-03-26 16:38] Olgagr commented on #297
I had the same problem. I reinstalled node_modules with `npm ci` and it helped.

[2021-03-28 20:55] konrado commented on #99
@bleful this works for me (xliff 2.0):
[code]

[2021-03-29 11:34] seravifer opened #419 "Feature: Support `defaultCurrency`"
### Is your feature request related to a problem? Please describe.
I need to change the default currency of the whole app. Our application only supports EUR even if the user connects from the US. It's a bit cumbersome to have to force it on all pipes and services or map everything in `localeToCurrencyMapping`.

### Describe the solution you'd like
I would like to be able to pass a value in the mod

[2021-03-31 10:22] AndiBat opened #420 "Feature: Translator-friendly plural rules"
### Problem
We are using plural rules in the JSON in our app, such as:
`"myPluralRule": "{myCount, plural, =0 {no results} one {1 result} other {# results}}"`
However, we need to translate these into 27 other languages and, although we've tried to explain precisely, the translators are having difficulty understanding what to do.

### Preferred solution
Communication to the translators would be muc

[2021-04-02 10:48] shaharkazaz commented on #420
@AndiBat Have you seen [reference other keys](https://ngneat.github.io/transloco/docs/additional-functionality/#reference-other-keys) section in the docs?

[2021-04-02 14:58] AndiBat commented on #420
Hi Sharhar

Thanks for the pointer, but I couldn’t get it to work.

I tried…

  "profile": {
    "zero_credentials": "0 Credentials",
    "one_credentials": "1 Credential",
    "other_credentials": "# Credentials",
    "credentials_plural_count_test": "{count, plural, =0 {{{zero_credentials}}} one {{{one_credentials}}} other {{{other_credentials}}}}"
  }

…and …

  "profile": {
    "zero_credentia

[2021-04-03 06:39] shaharkazaz commented on #420
@AndiBat This is working as expected. Not sure what your use case is, maybe these translations are part of a scope and you are missing the prefix?
I've tried it on our playground you can clone and try it yourself (clone this repo to run it)

I've added the following to the `assets/i18n/transpilers/messageformat/en.json`:
[code]
**Note** that the keys are prefixed with `mf` as this is the scope's a

[2021-04-03 06:39] #420 closed

[2021-04-03 06:40] shaharkazaz commented on #404
@RobertoRVieira Reopen with a reproduction please if this is still relevant.

[2021-04-03 06:40] #404 closed

[2021-04-03 13:12] shaharkazaz commented on #374
@iiceman40 The issue is caused because you are incorrectly mocked the TranslocoService.
If you decided to provide your own implementation of a service in a test you are also responsible for making sure that it's initialized correctly and in our case, you need the `TranslocoService` to have a config.

Adding config to the service definition resolved the issue (from your reproduction):
[code]

I do

[2021-04-07 13:38] tomalaforge opened #422 "lazy loading with scope, doen't find key of main scope when pressing F5"
I have an application with lazy loaded module.

I set up my application like describe in the installation documentation. ( *TranslocoRootModule is imported in my AppModule* ) and I have a assets folder:

[code]
containing

fr.json:
[code]

pageB > fr.json
[code]

pageB is a lazy loaded module :

[code]

[code]

and my template is:
[code]

When I launch my application and navigate to pageB => **tra

[2021-04-07 15:43] tomalaforge commented on #422
Heads up after digging:
I've cloned your projet and tested it and it's working well, but the version is angular v7 and compiler have changed to Ivy with import module differently.
I've done the same with angular v11 and it's not working. Only scope json is loaded when i refresh my page on lazy loaded module.

The only hack that I found is to provide the scope and the root scope like below:

[code]

[2021-04-08 07:58] itayod commented on #422
@tomalaforge please read this [guide](https://medium.com/angular-in-depth/lazy-load-and-encapsulate-i18n-files-in-angular-with-transloco-55af44885797) carefully, you might find your answer there

[2021-04-08 07:59] itayod commented on #419
@seravifer would you like to create a pr for that?

[2021-04-08 08:59] tomalaforge commented on #422
@itayod Thanks. I've already read that article.
But I found that using the scope parameter in the directive is working (which is understandable because I'm not overriding the TRANSLOCO_SCOPE token).
But what I don't get is that in your example (in github), you make it work by overriding the token in the module provider array which doesn't work if you simply create a new project v11, add the librar

[2021-04-13 08:24] alex-kovalchuk opened #425 "Feature: What about hints in IDE?"
Hello. It would be very convenient to find the desired translation in .json files by ctrl + click on the key in selectTranslate () or in templates.

I'm using Phpstorm and at the moment I have this problem:

<img width="797" alt="Снимок экрана 2021-04-13 в 11 00 35" src="https://user-images.githubusercontent.com/14261969/114519169-cc0e4e00-9c48-11eb-98cc-de2ff118f05c.png">

Should I expect any plu

[2021-04-13 14:18] #419 closed

[2021-04-16 18:38] stephengeorgewest commented on #374
Sorry, I missed @krzyhan's response. And didn't realize until this latest comment. Adding config to the useValue worked for me.

I'm not sure obout @iiceman40's use case, but I wasn't testing the mocked returned text, but it was just throwing the error when I provided the mock translator, so the component would runfor tests. I was confused since the `providers: [provideMockTranslate()]` seemed to

[2021-04-16 19:21] shaharkazaz commented on #374
@stephengeorgewest `getTranslocoTestingModule` should take care of what you need.
`provideMockTranslate` isn't part of the Transloco official lib. seems like it was made to mock the `TranslocoService` but our exported module takes care of that for you. (from v2.20.0)

[2021-04-16 21:35] #374 closed

[2021-04-17 14:10] shaharkazaz commented on #99
I updated the recipe 👍

[2021-04-18 15:16] shaharkazaz commented on #110
For any future visitors, I recommend reading [this blog post](https://netbasal.com/strategies-for-cache-busting-translation-files-in-angular-86143ee14c3c) 🙂

[2021-04-21 13:11] depyronick commented on #201
maybe this should be the default behavior or maybe a simple boolean config option to return null for missing keys instead of key itself.

[2021-04-22 19:15] mattmutt commented on #425
In an unrelated project for work, I've solved this concern with straight plain old TypeScript bindings. Here is what the developer sees in Webstorm, and VS Code is rather similar. No plugins, no fuss trying to guess obscure keys. Bringing typesafe i18n makes it easier for developers.

![angular-template-language-service-organized-keys-hint](https://user-images.githubusercontent.com/8688570/1157724

[2021-04-26 12:07] alexcibotari opened #427 "Wrap Component Feature"
### Is your feature request related to a problem? Please describe.

I as a developer would like to Wrap all translation pipes or methods into a specific Angular component or HTML tag like '<span>'.

### Describe the solution you'd like
In **TRANSLOCO_CONFIG** to add additional property where I can pass wrap component or HTML tag.
Also, the component can receive input data from Transloco, like tran

[2021-04-30 22:33] xjuanc commented on #425
That would be an incredible feature. Maybe autogenerate TypeScript Bindings just as the i18-extract? Don't know if there is another way

[2021-05-01 14:50] shaharkazaz commented on #427
@alexcibotari  Can you please share a code example that explains what you are trying to do/solve? I'm not sure I fully understand 🙂

[2021-05-02 07:31] alexcibotari commented on #427
Original TS code can be any of possible way to translate
[code]

Generated HTML without component wrap
[code]

Generated HTML with component wraper <app-wrap>
[code]

at the same time <app-wrap> should receive all transloco inputs as <app-wrap> inputs ( example: id and params)

[2021-05-03 14:40] JohanHeyvaert commented on #285
Hello,

I have the same problem/question. We have an Nx project with many modules and sub modules. When using inline loaders, the translations work for only one of the modules. If we remove the transloco scope provider for the module with working translations then it starts working for an other module (but each time just for one module).

When adding a nested module in the [demo nx project](https:

[2021-05-03 16:07] JohanHeyvaert commented on #370
Would it be possible to make it more easy to achieve this (i.e. having translations in the module's (or component's) folder itself)? It's a bit cumbersome having to configure the provider in each component (or module). The code is always the same so it's not DRY.
Ideally this should be configured just once, on the root level and then all modules would know where to get their scoped translations.

[2021-05-04 15:29] NiklasPor commented on #425
FYI [i18n-ally](https://github.com/lokalise/i18n-ally) is a VSCode extension and supports this (at least in templates).

[2021-05-04 21:07] negue opened #428 "Bug: TranslocoDirective can't find the translation while using a scope - alias works"
### Current behavior
When I follow the guide of https://ngneat.github.io/transloco/docs/scope-configuration adding a scope and using it in the directive - it doesn't find it.

Only using an alias works - scope only does not.

### Expected behavior
It is able to find the translation :)

### Minimal reproduction of the problem with instructions
I have it reproducible on:

https://stackblitz.com/edit

[2021-05-07 12:15] MickL commented on #13
@shaharkazaz The link is outdated. Is there a comparison in the new docs website, too? I wonder what are the benifits of transloco over ngx-translate

[2021-05-07 19:34] NaviKnow opened #429 "Bug: Submodule with separate TRANSLOCO_SCOPE does not load translations from lazy loaded parent."
### Current behavior
When a sub-module is imported into another module (lazy loaded?) with it's own TRANSLOCO_SCOPE, the sub-modules TRANSLOCO_SCOPE does not load the translation.

### Expected behavior
Expectation is that each Module can have it's own scope and will load properly whether the sub-module is loaded directly or lazily.

### Minimal reproduction of the problem with instructions
Naviga

[2021-05-08 13:21] shaharkazaz commented on #428
@negue Here is a [working fork](https://stackblitz.com/edit/ngneat-transloco-gtnunx?file=src/app/navbar/navbar.component.html) of your reproduction.

I'm not sure I understand the issue in the first place... you seem to be using the `read` property with the value of `'alias'`, but the alias you are proving is `'bla'`.

Furthermore, uncommenting the lines as you wrote didn't resolve the missing tra

[2021-05-08 13:23] shaharkazaz commented on #427
@alexcibotari can you please explain your use case? What are you trying to achieve?

[2021-05-08 13:34] shaharkazaz commented on #409
@Gamewalker Transloco uses the built-in `Intl` object, you are using Firefox v72, yet the `dateStyle` option is supported from v79+ see the [Intl browser compatibility](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat#browser_compatibility) for more information.

Tested and working as expected in a newer version of Firefox.

[2021-05-08 13:34] #409 closed

[2021-05-08 14:26] negue commented on #428
Oh I'm sorry I was sure that I saved it to `alias` before posting it - yeah I had to `bla` before that - I guess it didnt saved - I don't know sorry!  Continuing with `bla` now :)

What I'm trying to explain here in this example is that,

## using only a scope:  doesn't work

[code]

and only this:

[code]

transloco can't find find the strings to replace.
Did I misunderstood the docs https://ngne

[2021-05-08 15:21] alexcibotari commented on #427
I'm creating a tool that helps users to translate live their translations directly on their Angular Application. At the moment, we are using directives to achieve the desired flow, and developers need all the time to pass translation ID again, in the directive.

I would like to use Transloco Library to improve the process and to wrap a translation with our component, which will remove duplication

[2021-05-10 12:07] MickL opened #432 "Documentation: How to use within (lazy loaded) feature modules"
### Is your feature request related to a problem? Please describe.
The docs only say that `ng add @ngneat/transloco` adds `TranslocoRootModule` into `AppModule`. But now if I want to use `<ng-container *transloco="let t"></ng-container>` within a lazy loaded feature module it displays nothing at all. The docs dont state how to use/import `TranslocoRootModule` in feature modules at all.

I tried:
-

[2021-05-10 14:06] shaharkazaz commented on #428
@negue  You misunderstood the docs, note that you need to prefix the keys with the scope name/alias if you are not using the `read` property.

From the [docs](https://ngneat.github.io/transloco/docs/scope-configuration/#inline-input):
[code]

In our [reproduction](https://stackblitz.com/edit/ngneat-transloco-gtnunx?file=src/app/navbar/navbar.component.html) if you want to skip the scope's prefix y

[2021-05-10 23:50] negue commented on #428
Oh ... I see, thank you for the clarification.

I don't know why I understood or hoped it as "you only need to add scope, and then its already using this scope"

But re-re-thinking it now it does make sense. :D  - Thank you for your help and sorry for the wasted time ^^

[2021-05-11 06:42] KirstenStake opened #433 "Feature: getLocaleNumberSymbol API for CurrencyDecimal etc"
### Is your feature request related to a problem? Please describe.

I need to know the decimal symbol of a locale (for example: en-GB uses . and pt-BR uses , )
According to your docs you only provide a localizeNumber() function which formats the actual number with the locale's decimal. This is not the required action I need, I need to only know the actual CurrencyDecimal symbol.

### Describe the

[2021-05-11 09:32] shaharkazaz commented on #432
@MickL I think you are having a small confusion between the `TranslocoRootModule` and the `TranslocoModule`.
The `TranslocoRootModule` should only exist in your `AppModule` (as the schematics do for you).

If you need access to any of the transloco directives or services, just like any other module you need to import the `TranslocoModule` and make it available in the module's scope.

The `Transloc

[2021-05-11 09:34] MickL commented on #432
Ah, see! Thats exactly the information that is missing in the docs. I didnt know there is a `TranslocoModule` :)

[2021-05-11 10:59] MickL opened #434 "Change translocoDate styles"
Is your feature request related to a problem? Please describe.
Is it possible to change the format of translocoDate styles? E.g. `timeStyle: 'short'` (and all others) for german is not correct. It displays `12:58` but no one would write a time like this. Instead it should be `12:58 Uhr`.

Can i customize the styles per language? If yes it may be added to the docs. If no please consider this as a f

[2021-05-11 12:03] #434 closed, assigned to nobody

[2021-05-11 12:05] shaharkazaz commented on #432
I have to say that this is the first time the question has been raised. If I see that this comes up again, I'll think of a way to make a clearer example.

[2021-05-11 12:05] #432 closed

[2021-05-11 12:43] MickL commented on #432
Made a PR: https://github.com/ngneat/transloco/pull/436

[2021-05-12 08:24] MickL commented on #425
This is definitely possible with TypeScript, I have seen this within: https://github.com/mozilla/node-convict/tree/master/packages/convict but I dont remember how this was called

[2021-05-12 12:15] tleveque23 opened #437 "Getting started guide does not work on new project"
I created a brand new Angular project using the Cli and followed the guide in the "Getting Started" section of the doc.

Choosing en,es,fr has the available languages and fr has the default one.
Added a direct translation in the ngOnInit method in the AppComponent class. Added the translations in the json files.

And it does not work. In the console I have the message: "Missing translation for 'ti

[2021-05-12 12:57] MickL opened #438 "Feature: Extract and merge library json into app's json"
### Is your feature request related to a problem? Please describe.
I have multiple libraries that extract i18n json files. Using `@ngneat/transloco-scoped-libs` it will extract those files into separate folders:

[code]

And now I need to load those files separatly to my regular translations. If I understand right there is also a join option that create a single `vendor.lang.json`.

### Describe t

[2021-05-12 15:16] shaharkazaz commented on #437
@tleveque23 Please read the [docs](https://ngneat.github.io/transloco/docs/translation-api#translate) more carefully, either load the translation or use `selectTranslate`.

Please read the entire documentation or at least the part related to the API you are using, a lot of time was spent to make them as clear as possible.

If you have further questions please refer to our gitter channel or open a

[2021-05-12 15:16] #437 closed

[2021-05-13 07:30] KirstenStake opened #439 "Bug: ios device > currencyDisplay > RangeError"
### Current behavior

I am using the localizeNumber() endpoint with the config options of
[code]
In the browser and on android everything is working correctly, on IOS device I am getting the error
`RangeError: currencyDisplay must be either "code", "symbol", or "name"`

This is **only** happening on IOS

### Expected behavior
Allow IOS to also use the currencyDisplay of 'narrowSymbol' in order to

[2021-05-13 07:54] shaharkazaz commented on #439
@KirstenStake  Transloco uses the built-in Intl object, the`currencyDisplay` option doesn't support the `narrowSymbol` value on IOS devices see the [Intl compatibility](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat#browser_compatibility) for more information.

Since this isn't the first time that compatibility issue is raised so I think I'll cla

[2021-05-14 02:48] #439 closed

[2021-05-14 02:48] KirstenStake commented on #439
Thank you for your quick reply.

[2021-05-16 07:39] itayod commented on #429
@NaviKnow please read this [guide](https://medium.com/angular-in-depth/lazy-load-and-encapsulate-i18n-files-in-angular-with-transloco-55af44885797) carefully, you might find your answer there

[2021-05-16 07:44] itayod commented on #433
@KirstenStake seems like a pretty rare requirement, but if you like you can try to implement it and create a pr that adds that ability to our LocaleService.

[2021-05-16 17:38] dereklin commented on #97
@zufarzhan I am new to transloco.  I saw your notes that "... [you] keep translation files in the same folder with components".  I want to do the same.  I haven't found any examples on this.  I read through the docs and I saw your stackbliz example.  I don't see where a i18n folder is inside a component folder.  Do you have any examples you can share to show how this is done?

[2021-05-16 19:15] zufarzhan commented on #97
@dereklin the way we stored translation files was not connected specifically to Transloco. You can use such method with any translation library. We just stored lang json files in each component folder, and then moved them to "translations" folder of the library using webpack. You can check it [here.](https://github.com/ngneat/transloco/issues/121#issuecomment-540476147)

[2021-05-17 06:30] dereklin commented on #97
@zufarzhan I see.  Thanks for sharing!

[2021-05-17 14:27] PeterHewat opened #441 "Bug: @angular/core@12.0.0 not supported"
@ngneat/transloco@2.20.1 requires @angular/core@">=6.0.0 <12.0.0"
Angular 12 came out last week:
https://www.npmjs.com/package/@angular/core

Can the dependency be updated ?
Thanks.

[2021-05-17 14:38] MickL commented on #441
I am on Angular 12 and it works fine for me in apps and ng-packagr libraries.

[2021-05-17 14:48] MickL opened #442 "Feature: Get default locale"
### Is your feature request related to a problem? Please describe.
I would like to get the default locale? In Transloco there is a function for that:

[code]

### Describe the solution you'd like
Implement `.getDefaultLang()` to be on par with Transloco.

[2021-05-17 15:21] MickL opened #443 "Pipes don't update after language change"
### Is your feature request related to a problem? Please describe.
This may or may not be a feature request for updating the documentation:

When using `.translate()` within pure pipe's the pipe does not rerender when changing the language. This makes sense do to the design of pure pipes, but the docs may state an efficient way to deal with that.

### Describe the solution you'd like
Update the do

[2021-05-17 15:53] MickL commented on #443
I just figured out the possible approach I showed above does not work because `langChanges$` triggers immediately and not after the language has been loaded so nothing changes.

[2021-05-18 08:08] aki-kesulahti commented on #441
I deleted package-lock.json and node_modules and did fresh "npm install" and have same issue:
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/core@">=6.0.0 <12.0.0" from @ngneat/transloco@2.20.1

Work around until fixed: "npm install --force"

[2021-05-19 20:06] HunteRoi commented on #441
Indeed:
[code]

[2021-05-21 12:33] Christoph1972 opened #444 "Bug: Property 'selectTranslateObject' does not exist on type 'TranslocoService'"
### Current behavior
Error message: `Property 'selectTranslateObject' does not exist on type 'TranslocoService' in home.ts` while rebuilding the StackBlitz demo.

### Minimal reproduction of the problem with instructions
[code]

### Environment
<pre><code>- Transloco version: @ngneat/transloco": "^1.1.1"
- Angular version: 12.01
</code></pre>

For Tooling issues:
<pre><code>
- Node version: 14.17

[2021-05-21 16:32] lippomano opened #445 "Bug: No translation when Angular web components loads first time in prod"
### Current behavior
I am using pipe transloco in my Angular 12 web component, but when I load the app the first time in production I don't see the translation, if I refresh or if I serve the app in dev it works.
The translation file is loaded remotely.

### Expected behavior
I think that pipe transloco can automatically translate the key when the translation file is loaded (tried also with direct

[2021-05-22 08:52] PeterHewat commented on #441
I confirme that a fresh install with --force works fine.

[2021-05-24 15:03] t-mish opened #446 "Bug: 'availableLangs' is not specified when setting a project with transloco webpack loader"
### Current behavior
If you add transloco to your project and specify the webpack loader, then your project's app.module will be modified by transloco **without** specifiying the available languages to your project.

### Expected behavior
If you add transloco to your project and specify the webpack loader, then your project's app.module will be modified by transloco **with** specifiying the availa

[2021-05-25 10:37] Christoph1972 opened #447 "Bug: Not working with Angular 12?"
### Current behavior
A simple translation case fires an error.

[code]

Error message:    `ERROR TypeError: t_r1 is not a function`

[EDIT]
This works:
`<span>{{ 'title' | transloco }}</span>`
and this to:
`<span transloco="title"></span>`

this not:
[code]

### Expected behavior
A working translation

### Minimal reproduction of the problem with instructions

https://github.com/Christoph1972/tran

[2021-05-25 16:49] danilokorber opened #448 "Feature - Fallback to main language when using cuktures"
### Is your feature request related to a problem? Please describe.
When using cultures, I need to create both de-DE.json and de-AT.json files.

### Describe the solution you'd like
When a key or file is not found, it falls back to the fallbackLang. Instead, transloco should search for the key in the de.json file BEFORE going to my fallback language.

### Describe alternatives you've considered
No

[2021-05-26 11:18] DionatanGG opened #450 "Transloco inside custom angular lib (not monorepo environment)"
Hello guys!
Im looking for a working example of transloco inside a custom angular lib (not on a monorepo). I would like to handle all the translation inside the lib itself by having a dedicated i18n folder on it, also on some inputs, i would like to let the user pass in translation keys from the "user side" i18n, not the lib.

[code]

This is an example of a input to pass to the lib itself, the la

[2021-05-26 19:01] mikoet opened #451 "Bug:"
### Current behavior
In a Angular component I want to make use of lazy loaded translations.

This works (scope name: "dftpa"):
`<h2 mat-dialog-title *transloco="let t; scope: 'dftpa'">{{ t('dftpa.title') }}</h2>`

Those do not work (scope names: "d:ftpa", "d_ftpa", "d!ftpa"):
`<h2 mat-dialog-title *transloco="let t; scope: 'd:ftpa'">{{ t('d:ftpa.title') }}</h2>`
`<h2 mat-dialog-title *transloco="l

[2021-05-26 20:21] shaharkazaz commented on #441
@PeterHewat can you please try v2.21.0? 🙂

[2021-05-26 20:40] shaharkazaz commented on #445
@lippomano please provide a small reproduction so I can further explore the issue 🙂

[2021-05-26 20:47] #450 closed

[2021-05-29 08:14] shaharkazaz commented on #447
@Christoph1972 Hey!
I've cloned your repo and it seems like you are using an old implementation.
Now when adding Transloco (via schematics) a new `transloco-root.module` is created, you can see it [here](https://ngneat.github.io/transloco/docs/installation).

You were missing the `availableLangs` property in your config, once I added `availableLangs: ['en']` everything was working as expected 👍

[2021-05-29 08:30] shaharkazaz commented on #446
@t-mish You were prompt with the question of which loader to use in v2.20.1?

[2021-05-29 16:27] cthrax opened #453 "[Question]: Reference object of keys"
Hello, I'm very recently migrating over from ngx-translate and something we used a lot in that library was references to other keys and in some cases, a whole object of keys. It seems like that is not working in transloco, but maybe we need to be doing something differently.

As an example of what I mean:
[code]

Thanks in advance!

[2021-05-29 19:19] t-mish commented on #446
@shaharkazaz Thanks for the reply. Yes, I was. Your assumption sounds like a true.

Before I realized what's wrong, everything worked well except you see everywhere something like 'en.hello_world' instead of 'Hello, world'. I started debugging and saw that when you don't specify the 'alailableLangs' it just replaces the passed option object (where this field is included) with the default one (whic

[2021-05-30 08:18] shaharkazaz commented on #453
@cthrax What would you expect in such a case?

[2021-05-30 08:26] shaharkazaz commented on #444
@Christoph1972 I have a feeling that an old version of Transloco was installed because of a peer dependency mismatch with Angular v12.
As you stated you are using v1.1.1, the current version is v2.21.0.
Please update to the latest version and LMK 🙂

[2021-05-31 00:59] cthrax commented on #453
@shaharkazaz Sure! I should have mentioned that. So I would expect that translating the key "app.scope2.features.feature1" I get the value "value1". Right now I'm getting the untranslated key.

[2021-05-31 11:15] Christoph1972 commented on #444
After installing the newest version of node and angular and creating a new project it works as expected. Now I have to look how to fix it in my current project. Thanks a lot so far!

[2021-05-31 11:27] #444 closed

[2021-06-01 07:48] Christoph1972 commented on #444
After installing the newest version of node and angular and creating a new project it works as expected. Thanks a lot so far!

[2021-06-01 07:48] Christoph1972 commented on #447
After installing the newest version of node and angular and creating a new project it works as expected. Thanks a lot so far!

[2021-06-01 11:11] #447 closed

[2021-06-02 17:13] Andrew-Marks-Trisept commented on #13
@MickL I found the most recent version of the comparison chart before they redid the docs here: https://web.archive.org/web/20191004014440/https://github.com/ngneat/transloco/

[2021-06-04 07:42] lippomano commented on #445
I think you can close it, I try to rebuild my component from 0, and now all works well, I don't know what's happened.

[2021-06-06 07:47] #445 closed

[2021-06-08 03:56] ScottMGerstl opened #454 "[Question]: Markdown style formating"
Is there any way, currently, I can accomplish setting formatters to parse a markdown-style syntax to create rich html.

The goal is to be able to create content with proper semantic markup for screen readers and SEO leveraging inline text markup such as `<strong>` and `<abbr>`

For instance:

with a key/value of
[code]

I would like
[code]

to output
[code]
I would obviously have to assign it to i

[2021-06-08 11:06] muuvmuuv opened #455 "Bug: transloco-validator reports JSON comments"
### Current behavior

Unexpected token / in JSON at position 1892

### Expected behavior

Comments are valid in JSON. Sometimes it is recognized by an additional "c" after the json extension name ".jsonc" but not always.

### Minimal reproduction of the problem with instructions

Provide the _STEPS TO REPRODUCE_ and if possible a _MINIMAL DEMO_ of the problem, for that you could use our [stackblit

[2021-06-08 11:52] muuvmuuv commented on #455
Oh, I missed a part where HTTPClientModule isn't compatible with comments as well... idk what to do now honestly. We have a lot of multiline comments which I do not want to insert into `"feature.comment": "..."`.

Any ideas?

[2021-06-08 12:39] muuvmuuv commented on #455
OK I found a way to fix the validator but sadly the optimizer cannot remove those:

[code]

_Will edit the title_

[2021-06-08 12:45] muuvmuuv opened #456 "Feature: let optimizer remove "multiline" comments"
### Is your feature request related to a problem? Please describe.

As described [in this issue](https://github.com/ngneat/transloco/issues/455) I need multiline comments for our JSON files. So my features request is to support comments like below:

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

As described in the linked issue: support JSON comments

##

[2021-06-09 05:23] gabriel-gn opened #457 "Bug: Transloco fails to translate when language inside scope contains '-'"
### Current behavior
I want to translate a key using the `selectTranslate()` method and `pt-BR` language. My current code is the following:
[code]
My folder structure is the following: `assets/i18n/.metadata` -> `en.json, pt-BR.json`
When the language is set to 'en', it works perfectly.
When language is set to 'pt-BR', it gives me the error: `ERROR TypeError: Cannot read property '0' of undefined`

[2021-06-09 05:58] ScottMGerstl commented on #454
Looks like I may have found a solution in [this plugin](https://www.npmjs.com/package/ngx-transloco-markup)

[2021-06-09 07:38] itayod commented on #442
@MickL would you like to create a pr for that?

[2021-06-09 07:46] itayod commented on #451
@mikoet please take a look at this [section](https://ngneat.github.io/transloco/docs/scope-configuration#scopes-namespace) in the docs, that might solve your problem

[2021-06-09 07:50] itayod commented on #457
Hi @gabriel-gn please read this [section](https://ngneat.github.io/transloco/docs/scope-configuration#scopes-namespace) in the docs.

[2021-06-09 07:51] #454 closed

[2021-06-09 13:20] kevindelange opened #459 "Bug: calling updateTranslationKey will also update pipes with different languages"
### Current behavior
When having multiple pipes/directives on the same page with different languages will update all, if a translation key is updated only for a specific language.

### Expected behavior
Update only the pipe with the correct translation param

### Minimal reproduction of the problem with instructions

`<pre *transloco="let t; lang: 'en'"> {{ t('hello') }} </pre>`
`<pre *transloco="

[2021-06-09 14:16] gabriel-gn commented on #457
@itayod thanks for the link of the section in the docs, but it didn't solve my issue.
I created a module for my service providing TRANSLOCO_SCOPE with values and imported it on `app.module.ts`, but the method `selectTranslate()` on the service does not inherit correctly the scope provided. (although it works fine when using for component modules)

Is there any workaround I should try when using tr

[2021-06-09 15:54] gabriel-gn commented on #457
Managed to solve it.
My "pt-BR" translation had a `,` on the end of the json file. Sorry for taking your time, and congratulations on the awesome library! Keep it up!

[2021-06-09 15:54] #457 closed

[2021-06-09 16:49] MickL opened #461 "Add `langChanged$` observable"
### Is your feature request related to a problem? Please describe.
TranslocoService provides an observable that emits when the language is about to change. But there is no observable that emits when the language has changed.

### Current behavior
When using `langChanges$` to trigger rerendering a pipe the pipe rerenders but the language has not been loaded yet and therefor the pipe rerenders in th

[2021-06-15 09:25] Ketec opened #462 "Transloco language change overwrites translolo-locale"
If the locale is set using  `this.translocoLocaleService.setLocale(locale)` (or default) it is overwritten the moment `this.translocoService.setActiveLang(lang);` is called.

Because of the https://github.com/ngneat/transloco/blob/master/projects/ngneat/transloco-locale/src/lib/transloco-locale.service.ts
`translocoService.langChanges$` subscription.

There is no property or config to disable this

[2021-06-17 11:02] artaommahe opened #463 "Bug: inlineLang does not work properly after setActiveLang call"
### Current behavior
Changing current lang via `translocoService.setActiveLang()` changes directive/pipe translations despite `inlineLang` using.

### Expected behavior
`inlineLang` should always have more priority than current global lang.

### Minimal reproduction of the problem with instructions

https://stackblitz.com/edit/ngneat-transloco-inline-lang-bug?file=src%2Fapp%2Fhome%2Fhome.component

[2021-06-29 20:59] FlorianCostamagna opened #465 "Bug: Transloco Locale Compilation error - Angular 12"
### Current behavior
Couldn't use Transloco and Transloco Locale at the same time in Angular 12

### Expected behavior
After installing Transloco-locale npm package using : npm i @ngneat/transloco-locale
I imported the TranslocoLocaleModule in my app.module.ts using : TranslocoLocaleModule.init() within my imports.
I recompiled my projet and I got these errors :

./node_modules/@ngneat/transloco-l

[2021-07-01 06:54] Christoph1972 opened #466 "Bug: GEThttp://myServer/assets/i18n/de.json 404 Not found"
My page won't be loaded in production mode.
GEThttp://myServer/assets/i18n/de.json -> 404 Not found

What's wrong here, how do I add the translation files for production mode correct? In debug mode the page runs as expected.

### Transloco config
transloco-root.module.ts
`@NgModule({
  exports: [ TranslocoModule ],
  providers: [
    {
      provide: TRANSLOCO_CONFIG,
      useValue: translocoConf

[2021-07-01 08:05] Christoph1972 commented on #466
Adding a fullstop to ./assets/i18n in transloco-root.module.ts fixed my problem.

`getTranslation(lang: string) {
    return this.http.get<Translation>(`./assets/i18n/${lang}.json`);    `

[2021-07-01 08:05] #466 closed

[2021-07-01 12:59] #376 closed

[2021-07-01 13:05] shaharkazaz commented on #465
Looks like you installed an old version of Transloco (1.1.0). Can you please try to install the latest version?

[2021-07-01 13:12] shaharkazaz commented on #463
I think this is what you want: https://ngneat.github.io/transloco/docs/multi-lang/

[2021-07-01 13:12] shaharkazaz commented on #462
Do you want to create a PR?

[2021-07-01 13:15] shaharkazaz commented on #461
You can use events: https://ngneat.github.io/transloco/docs/translation-api/#events

[2021-07-01 13:16] artaommahe commented on #463
i don't understand. Im already using lang input in pipe and it is ignored if global lang is changed

[2021-07-01 13:16] shaharkazaz commented on #459
You are looking for this: https://ngneat.github.io/transloco/docs/multi-lang/

[2021-07-01 13:16] #459 closed

[2021-07-01 13:18] shaharkazaz commented on #456
You can create a PR for this feature.

[2021-07-01 13:20] shaharkazaz commented on #455
We'll close this issue in favour of #456

[2021-07-01 13:20] #455 closed

[2021-07-01 13:20] #453 closed

[2021-07-01 13:22] shaharkazaz commented on #448
You can provide your own custom fallback staretegy: https://ngneat.github.io/transloco/docs/hack/#fallback-strategy

[2021-07-01 13:22] #448 closed

[2021-07-01 13:25] #249 closed

[2021-07-01 13:26] #425 closed

[2021-07-01 13:27] #427 closed

[2021-07-01 13:28] shaharkazaz commented on #388
This isn't something we can support and it doesn't relate to our library. Try to use a third-party tool like `.env`

[2021-07-01 13:28] #388 closed

[2021-07-01 18:21] Ketec commented on #462
If i find some time to check out and correctly add the config + tests and documentation in the correct place.

[2021-07-02 09:36] MickL commented on #442
I dont have the knowledge for that

[2021-07-02 09:42] MickL opened #472 "Bug: getBrowserCultureLang() is not working as expected in all browsers"
### Current behavior
Using `getBrowserCultureLang()` returns:

- Chrome: de-DE (correct)
- Firefox: de (wrong)
- Safari: de-de (wrong)

The problem gets worse when using `transloco-locale`:

[code]

-> Throws "de isn't a valid locale format"

### Expected behavior
Should always return correct format 'de-DE'

### Minimal reproduction of the problem with instructions

[code]

### Environment
<pre><c

[2021-07-05 10:58] Dedrus opened #474 "Feature"
Hello! We have idea in our electron application. We implemented localization with online dictionaries for that. We want to implement periodical polling and reload translation dictionaries silently during runtime, so if we released some localization fixes user app will silently reload translation and user will not be required to reload/refresh electron application.

It would be great to have some m

[2021-07-05 18:27] Leemonn commented on #300
Hello, any news about this feature? It's needed

[2021-07-06 07:14] vladkasianenko opened #475 "Bug: transloco docs - UI grey"
![image](https://user-images.githubusercontent.com/14053728/124558007-d3598800-de42-11eb-8bd2-4db263890110.png)
It's hard to read grey out text over white.

[2021-07-08 09:09] MickL commented on #461
This will not work, please reopen. From the docs:

[2021-07-09 07:33] vladkasianenko opened #476 "migrate not working for big project"
### Current behavior
Angular 12 with @ngx-translate. After running `ng g @ngneat/transloco:migrate` I selected NgxTranslate and provided path to the app. All files process, however, `TranslateService` only changed in the constructor, no method ovverrides and in the `.spec.ts` files no `import` updates.
![image](https://user-images.githubusercontent.com/14053728/125040641-912d8200-e0a0-11eb-98f1-19

[2021-07-09 12:59] mfodor commented on #461
I face with the very same problem in our project as well. I've already tried with `events$` which can help when the first lang change happens, but it is not fired after that.

I need to translate computed keys programmatically in the controller. So this is working fine now:

[code]

But is this really a good API to use? Why should I call `buildHRParams()` twice? Why should I subscribe in a subscri

[2021-07-09 13:07] mfodor commented on #443
Implement #461, please!

[2021-07-09 13:11] MickL commented on #461
I dont see a use case for having an event that emits BEFORE the language has changed as well but an urgent need for an event AFTER the language has changed.

[2021-07-13 08:28] vladkasianenko opened #478 "Bug: lazy load for modules not working"
### Current behavior
| - assets
| - - i18n
| - - - en.json
| - - - it.json
| - - - module1
| - - - - en.json
| - - - - it.json
| - - - module2
| - - - - en.json
| - - - - it.json

In the `Module1` class I added provider: `{ provide: TRANSLOCO_SCOPE, useValue: 'module1' }` and in the `Module2` class I added this: `{ provide: TRANSLOCO_SCOPE, useValue: `module2` }`. However, all the translation are

[2021-07-13 09:33] vladkasianenko commented on #478
So, he solution is to provide `alias`:
`{ provide: TRANSLOCO_SCOPE, useValue: { scope: 'module1', alias: 'module1-i18n' } }` and then in the html:
[code]

[2021-07-13 09:33] #478 closed

[2021-07-13 12:53] vladkasianenko commented on #478
However, scopes seems to be broken for unit tests.

In some services I have `this.translateService.translate('MODULE1.KEY')`. When I run unit tests, nothing is translated and I have just a string: `MODULE1.KEY` instead of translated string.

[code]

[2021-07-15 06:39] Ketec commented on #462
@shaharkazaz Can the PR be checked and verified?

[2021-07-16 10:24] Ludevik commented on #463
@shaharkazaz pointed to docs where it is explained. I must admit i missed it too, that's why i'm here :)

Note this sentence in the docs:
Note that it will be used as the **initial** language. If you need it to be static, you can use the static pipe:

I have updated your stackblitz: https://stackblitz.com/edit/ngneat-transloco-inline-lang-bug-ftm5vp

The idea is to use `en|static`. However i am no

[2021-07-16 10:53] artaommahe commented on #463
Thx, so this is not the bug. But clearly there is a problem with ignored `|static` in transloco pipe. @shaharkazaz what about this thing?

[2021-07-16 11:43] docwhite opened #479 "Question: (Best Practices) Where do you place your transloco structrural directives in the HTML templates?"
Hello, I have a question about the structural directive. Where should I put it? Should I bubble it up to the uppermost HTML DOM element that's the common ancestor for all the places where there are translations and calls to `t()`? Or should I simply add it blindly in each component that uses translations in a <ng-container *transloco="let t;">`...?

What's the best practice? Do you place them? Do

[2021-07-17 16:19] artaommahe commented on #311
@shaharkazaz just faced that `undefined` key value cannot be passed to `transloco` pipe with `strictTemplates: true`.

[2021-07-18 11:28] #479 closed

[2021-07-21 09:13] shaharkazaz commented on #476
@vladkasianenko I appreciate the detailed issue.
The migration command is limited in what it can do and should reduce the time you spend in the migration but as noted in the docs you might need manual changes as well (which as I understand were quite a few in your case).

From what I'm seeing you have a bit more complex use-cases in both the template (nested pipes) and the component (using the tra

[2021-07-21 09:22] shaharkazaz commented on #465
@FlorianCostamagna did you try installing the latest version?

[2021-07-21 09:33] shaharkazaz commented on #472
@MickL Can you please provide the browser versions that you tested this issue on?

[2021-07-21 12:59] MickL commented on #472
Latest versions:

Safari 14.1.1
Firefox 90.0.1

[2021-07-22 08:29] MickL commented on #292
When using `date | translocoDate: {timeStyle: 'short'}` it displays "22.06.2001" instead of "10:28" in older Safari 13.1.1.
Why has this issue been closed @itayod ?

[2021-07-22 14:51] shaharkazaz commented on #292
@MickL as explained by @itayod:

 If you need backward-compatibility consider loading polyfills or using the Date Transformers.

[2021-07-29 14:20] MickL commented on #292
I added polyfill for `Intl.RelativeTimeFormat` but still I see the date instead of time. What else am I missing?

I dont know if it is a good idea to depend on Intl in the first place. It is very inconsistent across all platforms.

[2021-08-05 12:47] pegaltier opened #483 "migrate not working well with NG12 Nx12 RxJS7"
### Current behavior
Angular 12 with Nx workspace 12 and RxJS7 and @ngx-translate. After running ng g @ngneat/transloco:migrate

1. I enter the 2 inputs from & path in the command prompt and I get a first error message probably because the schematics between Nx and Angular is slighty different: Property 'from' does not match the schema. 'NgxTranslate' should be one of [object Object],[object Objec

[2021-08-09 06:46] kaname-png opened #484 "Start transloco before the angular application"
How can I achieve that? Because currently I have to use the `selectTranslate()` subscription every time I need to get the translation of something in a ngOnInit method, it is very annoying because if I use the `.translate()` method it tells me that the translation does not exist.

[2021-08-09 06:57] #484 closed

[2021-08-12 10:23] danielehrhardt opened #486 "Bug: Playground does not work"
### Current behavior
your playground does not work:
https://stackblitz.com/edit/ngneat-transloco
click on english or spanish

### Expected behavior
the language should change to english

### Browser:
- [ X] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Firefox version XX
- [ ] Safari (desktop) version XX
- [ ] Safari (iOS) version XX
- [ ] IE ver

[2021-08-13 08:53] whernebrink opened #487 "Add other metadata for translators?"
Not as much a feature as it is a question.

In the [Comments for Translators](https://ngneat.github.io/transloco/docs/tools/comments) it says `we can add a companion key post-fixed with .comment`.

Is this something that can be customized? Can we add other "metadata" to translators e.g. in our case, our translators wants a length property. 🤔

Would appreciate someone with insight colud reply to th

[2021-08-13 14:28] mkubdev commented on #486
Hello,

There is two json file :
*  `assets/i18n/es.json` :
[code]
*  `assets/i18n/en.json` :
[code]

And this is the template :
[code]

1. `<h1>{{ t('hello') }}</h1>`  loading the `hello` key of both .json file on language change : "Hola" or "Helo"
2. `<p>{{ t('some.nested.key') }}</p>` loading the `some.nested.key` of both .json file : "nested key spanish" or "nested key english"
3. `<p>{{ t('pa

[2021-08-13 14:38] danielehrhardt commented on #486
I was a issue with my browser sorry 🙈

[2021-08-13 14:38] #486 closed

[2021-08-16 14:07] eggp opened #488 "Bug: Angular 12 full strict mode optional key pipe error"
### Current behavior
In Angular 12 full strict mode, I get an error with a conditional key.
Angular 12 tsconfig: https://github.com/eggp/translocoNG12StrictPipeError/blob/master/apps/test/tsconfig.json#L16
Error:
[code]

### Expected behavior
Accept undefined value as pipe key value.
Please add undefined to key type def. => https://github.com/ngneat/transloco/blob/faa58a5a0b73595173e3b5a640e4157d8

[2021-08-18 07:35] angelaki opened #489 "Change private to protected methods in TranslocoDirectiveBase"
My application is using objects implementing an interface `Translateable`, having a translate key or, if not present, a fallback-value. My idea was to use my own directive extending `TranslocoDirectiveBase` and pick the translate key or directly return the value if no key is present.

For this I'd need to override `private getTranslateFn(lang: string, read: string | undefined): (key: string, param

[2021-08-18 19:44] yamidvo opened #490 "Module Federation"
Has the team thought of including some way to work with Module Federation?
I have tried using scopes but have not been able to get it to work.

[2021-08-23 18:11] rafaelss95 commented on #489
I think that I have a similar case, so I'm posting it here. In order to avoid mistakes like writing a key wrongly or something like that, I generate a `d.ts` from the `.json` with all possible keys. It seems like this:

[code]

However, unfortunately, I can't have the benefits from type-checking as `TranslocoDirective` accepts any `string`... so, I might be wrong, but for this case I described, a

[2021-08-24 07:25] angelaki commented on #489
Since typescript wouldn't mind changing the overridden method's parameters having a protected `getTranslateFn` would solve your problem, too. I guess your use-case is a bit too specific to become part of the main lib.

[2021-08-24 11:37] rafaelss95 commented on #489
You're correct, both solutions would work.

What I proposed was a simple addition of `TypeParameter`, which defaults to `string`... I don't see how this could impact the lib in any way as it generates no additional code at all or breaks something. That wouldn't just benefit my project, but that of anyone who wants to have their strings being checked statically, rather than just praying they're cor

[2021-08-24 11:51] angelaki commented on #489
Yeah, sure! I like your idea! But since an extension of `TranslocoDirective` would be required anyway I guess it's more up to the user to implemented it if really needed. Guess it just complicates the lib unnecessarily. But that's just my opinion! Should the devs decide. We just need this method to be protected, so there's no need to hack around ;)

Would you be so nice and create a PR? Otherwise

[2021-08-24 15:10] danielehrhardt commented on #28
https://github.com/ngneat/transloco/discussions/491

[2021-08-24 15:10] danielehrhardt commented on #407
https://github.com/ngneat/transloco/discussions/491

[2021-08-25 12:52] rafaelss95 commented on #489
Done, @angelaki. See #492.

[2021-08-25 12:59] Serrulien opened #493 "[transloco-validator] check for missing curly brace"
### Is your feature request related to a problem? Please describe.

In one of my translation, there is a missing curly brace: `"manage-space-form.default-title-for-slot": "Created by { creatorFirstName }} {{ creatorLastName }}"`.

So far transloco-validor doesn't check for such mistakes. The only way to find it is by the error logged at runtime :
[code]

The error message is quite cryptic and you

[2021-09-01 18:08] statyan commented on #490
Basically the issue is with `providedIn: "root"` in [TranslocoService](https://github.com/ngneat/transloco/blob/master/projects/ngneat/transloco/src/lib/transloco.service.ts).
In federated modules Shell and any federated module creates a separate injector root. And even if @ngneat/transloco library is declared as a shared lib in  a webpack.config for the federation plugin, there still will be two

[2021-09-01 22:18] Coly010 commented on #490
I'm gonna chime in.

I don't think the right solution is to change Transloco and stop it from using `providedIn` which is the defacto option from Angular as it supports Tree-Shaking.

We shouldn't be trying to change a ThirdParty lib and how it works simply for Module Federation.

Now, what you could do instead, is create a local library in your repo that uses an InjectionToken that registers Tran

[2021-09-01 22:43] statyan commented on #490
I'll create an example to showcase it. I'm sure there were two different instances. And if I remove `providedIn: root` from service metadata and add provider for shell only - that works. For my case I have a working workaround, but going back to what you've said:
I think, library **must not** "decide" on what level its services will be provided. What if I need translation support only for one lazy

[2021-09-01 22:49] Coly010 commented on #490
I'm not quite sure you fully understand `providedIn: 'root'`, or perhaps I'm not understanding you correctly.

`providedIn: 'root'` will only set the Provider at the root level of the Injection Tree, when the lazy loaded module has been loaded.

 If that lazy loaded module is the only place it is being used, then there's no issue.

If that InjectionToken already exists at root (from a previously l

[2021-09-02 00:15] statyan commented on #490
OK, let me describe it in another way. I understand the way providedIn root works and anyway you've already described it in details so let's start from that point.

Let's imagine: I have an app with a lazy-loaded module and a 3rd-party lib. I use 3rd-party lib only in that lazy-loaded module. I import lib module in lazy-loaded module and then I navigate to that module - service from lib will be pr

[2021-09-02 18:25] tiagomoucho3 opened #495 "Bug: TranslocoPersistLangModule with TransferHttpCacheModule does not cache requests when not on default language."
### Current behavior
We are using Angular Universal with TransferHttpCacheModule and Transloco for translations.
Recently we have had to add cookies on server side with the help of some libraries ngx-cookie and ngx-cookie-backend.
Everything works fine for other cookies we have set, but we cannot seem to get TranslocoPersistLangModule with cookiesStorage to work.
We can see the translocoLang cooki

[2021-09-03 00:28] angelaki commented on #489
Any reason / idea why this isn't merget, yet? Guess it's not that risky ;)

[2021-09-03 13:02] armanozak opened #496 "Bug: Merging global format settings with pipe parameters cause errors in date pipe"
### Current behavior
The global format settings are merged with the parameters passed to the pipe. This causes errors in the date pipe when `dateStyle` is set in the global config and you want to use options like `year` or `month`, and vice versa. Passing `undefined` for parameters set in global config is possible, but that is not a clean way.

### Expected behavior
The pipe parameters to override

[2021-09-05 07:40] #489 closed

[2021-09-08 07:46] shaharkazaz commented on #483
@pegaltier would you like to create a PR for it?

[2021-09-08 07:46] shaharkazaz commented on #475
Closed via #477

[2021-09-08 07:46] #475 closed

[2021-09-08 07:49] #446 closed

[2021-09-09 07:50] MikeDabrowski opened #498 "Bug: MessageFormat fails to translate in developer mode"
### Current behavior
Here is the screen from production:
![image](https://user-images.githubusercontent.com/17836911/132644689-5f26b0d7-9e0b-4f5d-8033-c16a9ca00abd.png)

And here from dev mode:
![image](https://user-images.githubusercontent.com/17836911/132644698-18c2cd97-df11-467e-bc1f-198cae6be896.png)

MessageFormat seems to fail to parse and translate the given value.

### Expected behavior
It

[2021-09-09 08:49] MikeDabrowski commented on #498
Ok, I found out what was the problem. I was using TranslocoService in other module (LocaleModule) which was imported 3 times somewhere in the module with the bug. Turns out I provided basic TranslocoService and it somehow took over the one with MF transpiler.

So not a bug and entirely my mistake. Leaving this post for others like me 😅

[2021-09-09 08:49] #498 closed

[2021-09-11 15:43] #332 closed

[2021-09-11 15:51] #465 closed

[2021-09-13 21:16] #290 closed

[2021-09-13 21:16] #463 closed

[2021-09-13 21:16] #488 closed

[2021-09-13 21:48] shaharkazaz commented on #483
@pegaltier v3 will be out very soon with **a lot** of infra upgrades, and I think this process might be smoother in that version.
Is there a way you can re-test this with v3? 🙂

[2021-09-15 09:28] mattgek commented on #165
I'm trying to add transloco to our Nx monorepo, but get the following error while doing so.

Any suggestion to what I'm doing wrong?

![Screen Shot 2021-09-15 at 11 27 12](https://user-images.githubusercontent.com/17617446/133408063-d9609c61-1228-46e2-ba00-144d6047b6be.png)

[2021-09-15 09:37] mattgek opened #500 "Bug: adding Transloco in Nx monorepo results in property projectType not readable"
### Current behavior
When running **ng add @ngneat/transloco** and a Nx monorepo with a set of languages and no server rendering, an error is thrown stating **Cannot read property projectType of undefined**. The operation is canceled after that.

### Expected behavior
When running **ng add @ngneat/transloco** and a Nx monorepo with a set of languages and no server rendering, the operation should b

[2021-09-15 12:59] MikeDabrowski opened #501 "Bug: MessageFormatTranspiler uses language instead locale"
### Current behavior
In our app we use EN, DE and FR languages. We have dedicated jsons for translations and also use corresponding locales. Also we have an empty json called 'keys' and it is our 'keys' language. This allows us to see the keys in the UI to help with translations.

Recently we added the locale support with transloco locale package, and also pluralization support with messageformatt

[2021-09-15 21:51] william-fargues opened #502 "Bug: selectTranslate() with forkJoin()"
### Current behavior
I'm trying to use _**selectTranslate()**_ in a _**forkJoin()**_ but when I log the result I got nothing.

### Expected behavior
Having the translated strings.

### Minimal reproduction of the problem with instructions

In the constructor of my Service I'm calling this code and nothing is logged :

[code]

If I do this instead, I have the logs :

[code]

### Environment
"@ngnea

[2021-09-16 05:59] MikeDabrowski commented on #501
So the solution seems to be to inject LOCALE_LANG_MAPPING and use it to translate lang to locale in MessageFormatTranspiler.
LOCALE_LANG_MAPPING  comes from transloco locale package. Can we use it here or not  ? If not we can add the mapping to MessageFormatTranspiler options. @shaharkazaz I'd be grateful for any thoughts.

[2021-09-16 07:49] shaharkazaz commented on #502
@william-fargues See [`forkJoin`](https://www.learnrxjs.io/learn-rxjs/operators/combination/forkjoin):

The selectTranslate doesn't complete, if you want to get the values you should use [`combineLatest`](https://www.learnrxjs.io/learn-rxjs/operators/combination/combinelatest) instead.

[2021-09-16 07:49] #502 closed

[2021-09-16 10:18] shaharkazaz commented on #501
@MikeDabrowski Thanks for the detailed issue.
I do wonder, though, this is the first time this has been raised, and it's raised due to something you did in your project to help development mode (adding the `keys` lang).

I wonder if all of this is really necessary, you can resolve this issue on your half by extending the Messageformat transpiler and overriding the `onLangChanged` to handle your `k

[2021-09-16 10:37] MikeDabrowski commented on #501
Let me explain my reasoning. My initial reaction when I read `setLocale(lang)` and saw the implementation was 'it's a bug'.  And that is because the `setLocale` implementation had a parameter called `locale` but when it was used it received `lang`. In Transloco locale and lang are not interchangeable. Why should they be here? Then I went to messageformat and it turns out they resolve both lang and

[2021-09-16 11:02] shaharkazaz commented on #501
@MikeDabrowski There is no dought that this is a useful feature **if** it's really needed as I said, would you need it if it wasn't for your `keys` lang?

Even if we do want to implement it I want to think of how should we do it, not sure I want the coupling that your PR shows between the locale and messageformat packages.

I think that for now, we will keep things as is, and if it's raised again

[2021-09-16 11:07] MikeDabrowski commented on #501
I guess I would not, unless hitting some language specific quirk that one locale handles better than other. Ok, so kick out the PR and keep setting language as locale. I overrode this on my end and things are again working as they used to. Im used to hitting the '1% cases' errors 😁

[2021-09-17 07:55] #500 closed

[2021-09-17 07:55] mattgek commented on #500
project issues

[2021-09-17 10:43] mattgek opened #504 "Bug: No defaultProject in angular.json results in unreadable projectType property"
### Current behavior
Executing **ng add @ngneat/transloco** in an Angular or an Nrwl Nx Angular were angular.json doesn't have a **defaultProject** value assigned results in error **Cannot read property 'projectType' of undefined **

### Expected behavior
A clear message that project is required in that case.

### Minimal reproduction of the problem with instructions
- open angular or nx project w

[2021-09-17 13:10] shaharkazaz commented on #500
@mattgek Can you please share what was the issue so others might benefit? 🙂

[2021-09-17 13:22] mattgek commented on #504
@shaharkazaz maybe a stupid question but you have 4 different branches master, V2, V3 and V12. I assume V3 won't be the branch I need but from which branch do I need to create a new one? I saw master is still on angular 7 and v12 on the latest so I assume v12 is the correct one? Can you confirm?

[2021-09-17 13:28] shaharkazaz commented on #504
@mattgek Please create a branch from `master`.
I'm currently in the middle of upgrading our entire infrastructure. `v3` includes all the upgrades (including Angular v12) but it will take a couple more days until it's merged.

[2021-09-18 17:32] mattgek commented on #500
The issue is actually this one https://github.com/ngneat/transloco/issues/504

[2021-09-24 09:42] mpricu opened #507 "Angular Universal errors: failed loading: GET "http://localhost:4200/assets/i18n/en.json""
I created a new angular project using Angular 12.2.7 with the latest Angular Universal package @nguniversal/express-engine@12.1.0.
I installed the Transloco package with the command "ng add @ngneat/transloco" and I accepted the default options, including " Are you working with server side rendering? Yes".
Compiling and running the new Angular project revealed a small error: "Error: Can't resolve '

[2021-09-25 22:54] dsieradzki opened #508 "Bug: Changing language using NGXS action not rerender current labels when language file is not preloaded"
### Current behavior
Changing language using NGXS action not rerender current labels. This behavior only occures when language file is not preloaded, after lang file is loaded, switching via NGXS works as expected.

### Expected behavior
Language should change at first time with not prelaoded lang file.

### Minimal reproduction of the problem with instructions
https://stackblitz.com/edit/transloc

[2021-09-27 22:43] madhurahuja opened #509 "Bug: ansi-regex is vulnerable to Inefficient Regular Expression Complexity"
### Current behavior
The code pipeline runs npm audit and throws the aforementioned error and prevents me from proceeding further to deploy on ECS. The current child dependency is 4.1.0 but the expected patched version is 6.0.1 || 5.0.1

Even though the vulnerability is low, the security team may not agree to budge on it.

### Expected behavior
It would be great if the library can patch child depe

[2021-09-28 10:02] shaharkazaz commented on #509
@madhurahuja There is a major upgrade about to release the upgrades all of these, will be fixed in v3

[2021-09-28 15:31] madhurahuja commented on #509
Thank you for your response @shaharkazaz is there a tentative time when v3 release is planned?

[2021-09-28 18:39] shaharkazaz commented on #509
@madhurahuja When I get the chance to release it 🙂  no estimated date, hopefully soon, it's 97% done.

[2021-09-28 18:46] madhurahuja commented on #509
@shaharkazaz Good to hear! Thank you much :)

[2021-09-29 14:34] josencv commented on #507
I'm interested in this as well, since we are considering using this library in our project, which has SSR with angular 12 as well 👀

[2021-09-29 22:01] #358 closed

[2021-09-30 15:52] shaharkazaz commented on #509
@madhurahuja released v3, LMK if that works for you 😄

[2021-09-30 16:24] madhurahuja commented on #509
Thank you so much for so quick turnaround 👍 Let me check and get back to you!

[2021-09-30 18:38] nicholas-ochoa opened #510 "Bug(transloco-preload-langs): requestIdleCallback global type conflict"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Preload Langs

### Is this a regression?

No

### Current behavior

Receiving an error when compiling an application that references `@ngneat/transloco-preload-langs`:

[code]

It appears that `@ngneat/transloco-preload-langs` is defining `requestIdleCallb

[2021-09-30 18:55] shaharkazaz commented on #510
@nicholas-ochoa That's something new added in [typescript v4.4](https://github.com/microsoft/TypeScript/issues/40807), I'll take care of it.

[2021-09-30 19:33] nicholas-ochoa commented on #510
Awesome, thanks for the fast response and turnaround!

[2021-10-04 08:50] CameronJThomas commented on #509
Would it be possible to resolve this vulnerability as a minor patch for 2.x also? V3 appears to depend on Angular 12, but Angular 10 and 11 are still in LTS so this will catch a lot of people out who haven't yet had a chance to upgrade (my team included!)

[2021-10-04 13:39] edbzn opened #511 "Chore: migrate to standalone project configuration"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Don't know / other

### Is your feature request related to a problem? Please describe

Hi,

You should consider migrating to standalone project configs. It will reduce the conflicts in workspace definition and improve maintainability:

[code]

### Describe

[2021-10-04 13:50] shaharkazaz commented on #509
@CameronJThomas You are welcome to open a PR to the v2 branch 🙂

[2021-10-04 16:03] CameronJThomas commented on #509
Thanks! Have raised a PR per above 😄

[2021-10-04 19:04] shaharkazaz commented on #509
@CameronJThomas Try @ngneat/transloco@2.23.4

[2021-10-05 08:33] CameronJThomas commented on #509
Thanks for the quick turnaround! I can confirm this is now passing audit so this issue can be closed 🙂

[2021-10-05 09:44] #509 closed

[2021-10-06 06:46] Shinruchan opened #513 "Bug(package): v3.0.1 has unexpected peerDependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

when installing `transloco` `v3.0.1` in `package-lock.json`, it generates this list of peer dependencies:

[code]

For me, `@angular/platform-browser-dynamic` is causing the issue and `npm ins

[2021-10-06 08:12] shaharkazaz commented on #513
@Shinruchan These were added automatically due to the infra change, I'll take care of it 🙂

[2021-10-06 08:29] shaharkazaz commented on #513
Opened [an issue](https://github.com/nrwl/nx/issues/7257) to nx, seems like the build is adding dependencies when it shouldn't.

[2021-10-06 15:18] NetanelBasal commented on #511
Go for it.

[2021-10-07 15:15] TomRaaff opened #514 "Add Transloco to external component library."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco

### Is your feature request related to a problem? Please describe

So far I've seen implementations for Transloco and shared translations in libs within a mono-repo. However, we don't have a mono-repo, but a MainProject that depends on a Componen

[2021-10-07 15:47] shaharkazaz commented on #513
@Shinruchan Should be ok now, try v3.0.2, I also made the fix for all the plugins.

[2021-10-09 04:49] bjornharvold opened #515 "Bug(transloco-scoped-libs):"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Scoped Libs

### Is this a regression?

Yes

### Current behavior

Since upgrading to v3.0.2 / v3.0.0 of transloco and transloco-scoped-libs respectively, when I execute the transloco-scoped-libs command, I get this error:

[code]

### Expected behavior

I

[2021-10-09 14:36] strigefleur opened #516 "Bug(schematics): ng add broken in v.3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Schematics

### Is this a regression?

Yes

### Current behavior

According to [installation steps](https://ngneat.github.io/transloco/docs/installation) I run `ng add @ngneat/transloco` on a pretty new Angular project.
Now I get only the package installed

[2021-10-10 22:07] #516 closed

[2021-10-10 22:13] shaharkazaz commented on #516
@strigefleur @gn-sky Please try v3.0.4 and LMK if it works for you 🙂

[2021-10-11 01:08] bjornharvold commented on #515
Yes correct, previous versions work fine. Submitting a regression bug here.

[2021-10-11 08:46] shaharkazaz commented on #516
@seravifer Can you share some env details? (OS, node version, etc)

[2021-10-14 13:54] shaharkazaz commented on #516
@strigefleur fixed in v3.0.6

[2021-10-18 16:00] burl21 commented on #515
I have the same error with transloco-optimize.

`
transloco-optimize dist/Name/assets/i18n

node_modules/@ngneat/transloco-optimize/src/index.js:10
const { dist, commentsKey } = command_line_args_1.default(optionDefinitions);
                                                                                                  ^

TypeError: command_line_args_1.default is not a function
    at Object.<a

[2021-10-20 08:32] xliu011-becls opened #519 "Bug: selectTranslateObject doesn't apply the fallback"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

GIVEN

- Multiple translation files are present.
- Config option `missingHandler.useFallbackTranslation` is enabled.

WHEN

- Use `selectTranslateObject` to select translation which is only av

[2021-10-20 15:29] Code202 opened #520 "translation files not found when running on Firefox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Don't know / other

### Is this a regression?

No

### Current behavior

Running my app on chrome works fine but on Firefox, I am getting the following error:
`Error while trying to load "en" TypeError: value is null`

### Expected behavior

Translation wo

[2021-11-03 06:12] tjpradeep opened #522 "Bug(scope):Issue in usage of Scoped Library Extractor in a MonoRepo having multiple projects (apps and libraries)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Scoped Libs

### Is this a regression?

No

### Current behavior

Observation #1 : LazyTranslationsComponent in “scoped-library” library uses DemoComponentComponent from “demo-lib” library. Each component uses translated content from the respective librari

[2021-11-04 15:10] iprins opened #523 "Transloco prefixes "en" scope when using external library"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco, Scoped Libs

### Is this a regression?

No

### Current behavior

Hi,

I'm using Transloco in both the main app and an external library. When I use the external library inside the main app, the main app prefixes the library scope `core` with `en

[2021-11-05 14:06] konstantinschuette opened #524 "Feature: Make events$ a ReplaySubject"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco

### Is your feature request related to a problem? Please describe

I want to translate multiple things in `ngOnInit()` and wait for the translations to be loaded.
If I follow the example in the [docs](https://ngneat.github.io/transloco/docs/trans

[2021-11-05 15:05] kmihaly commented on #207
@rmcsharry I am really grateful for your previous answer, since it saved us a lot of work hours. The documentation regarding this function is...well...it should be revised and completed :(

[2021-11-05 17:52] shaharkazaz commented on #207
@kmihaly you are always welcome to open a pr and change the things you find missing :)

[2021-11-06 06:05] lukechi1219 opened #525 "Feature(scope): make transloco.config.js from "workspace level" to "application/project level""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Schematics

### Is your feature request related to a problem? Please describe

We are building a frontend team which my company didn't have before. We decide to use Angular 12 + Nx + Transloco.

Under Nx mono-report multi-project scenario, I want to install

[2021-11-10 22:07] SimonCorellia commented on #474
I have the same problem, didn't find a way to reload translation already loaded

Am I missing something ?

[2021-11-11 13:01] Dedrus commented on #474
@SimonCorellia I have not solved this problem - you can refresh page if you want to load new dictionaries.

[2021-11-11 13:05] SimonCorellia commented on #474
Yes, I did that too but it's not the best solution IMO

[2021-11-14 09:35] shaharkazaz commented on #474
@Dedrus @SimonCorellia as a workaround you can load the translation and use the [setTranslation](https://ngneat.github.io/transloco/docs/translation-api/#settranslation).

Maybe we can expose a function that clears the cache, and after calling it you can load whatever you need to reload.

[2021-11-15 20:38] Leemonn opened #527 "Bug(selectTranslation): It is not returning an object for nested keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

assets/i18n/admin-page/en.json
[code]

selectTranslation('admin-page') returns:
[code]

### Expected behavior

assets/i18n/admin-page/en.json
[code]

selectTranslation('admin-page') should ret

[2021-11-16 08:06] shaharkazaz commented on #527
@Leemonn That's just how transloco works, for optimization purposes all the translations are flattened.
What's your use case? why use nested objects?
You can use [flat](https://www.npmjs.com/package/flat) to unflatten your object.

[2021-11-16 11:40] SerovMihail opened #528 "Bug(scope): inlineLang (ru|static) doesn't work properly when numbers of messageFormat arguments differ for two langs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

MessageFormat

### Is this a regression?

No

### Current behavior

When defaultLang is EN locale I'm trying to switch to the RU locale and get an error in the console because of a number of messageFormat arguments. If I delete 'few' and 'many' for the RU

[2021-11-16 13:27] Leemonn commented on #527
Thank you, that solves my problem I thought it was a bug

[2021-11-16 13:27] #527 closed

[2021-11-16 13:32] Leemonn opened #529 "Bug(selectTranslateObject): It doesn't load the file, missing translation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

Right now if you use `selectTranslateObject` for a file that has not been loaded yet you get "missing translation".

The doc says:

Load the translation file (if not loaded yet) and behaves th

[2021-11-19 03:07] gabriel-gn commented on #461
Is it possible to make the "events$" observable to emit a new event like 'langChanged' when it is triggered?

[2021-11-19 03:08] gabriel-gn commented on #461
@shaharkazaz is it possible to open this issue again? It's a nice addition to the library

[2021-11-19 09:43] MickL commented on #461
I dont know why this has been closed. It is an essential feature to have.

[2021-11-19 11:50] shaharkazaz commented on #461
@MickL @gabriel-gn You are welcome to open a PR

[2021-11-19 12:07] shaharkazaz commented on #520
@Code202 Feel free to reopen when a providing a minimal reproduction of the issue.

[2021-11-19 12:07] #520 closed

[2021-11-19 12:09] shaharkazaz commented on #504
@mattgek Do you still plan to create the PR for this issue? 🙂

[2021-11-19 12:12] shaharkazaz commented on #507
@mpricu @josencv As far as I know there should be issues with SSR, can you please provide a reproduction? it would be great if you could re-open this issue using our new issues template, they will instruct you on what information is needed to help me understand the issue 🙂

[2021-11-19 18:29] NevenLiang opened #530 "[Question] What is the best practice in translating a sentence containing a link?"
### Question

For example, I have to translate a sentence with a link "Click [here](abc.com) to learn more".

[code]

If I separete the texts in HTML into three parts. They are "Click", "here", and "to learn more". Usually it works if the translation result keeps the correct meaning with the order in English. However, the translation in Japanese has a different order. If we keep the order in Engli

[2021-11-20 16:41] #530 closed

[2021-11-22 01:21] gabriel-gn commented on #461
will try asap

[2021-11-22 10:32] SimonCorellia commented on #474
@shaharkazaz  Hi

As a workaround, I use the this.translocoService.ngOnDestroy() to clear the cache

It's not the best solution because it destroys a subscription but it's the only way I found to clear it and to cover all my cases

Could you provide a function to clear the cache ? Or I could provide a pull request for that...

Let me know

[2021-11-22 10:51] shaharkazaz commented on #474
@SimonCorellia Why isn't setTransaltion working for you? what's the flow?

[2021-11-22 11:11] SimonCorellia commented on #474
**Client requirement.....**, users can't access the app until there is translations loaded, and when we change the language, we need to **reset** the app, reload translations from the backend and then, access the app

[2021-11-29 09:26] BojanKogoj opened #532 "Feature(Schematics): Add suggestion to specify project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Schematics

### Is your feature request related to a problem? Please describe

When adding Transloco using `ng add` it will throw error when using Angular workspace.
[code]

### Describe the solution you'd like

Add suggestion to fix it (adding --project).

[2021-11-29 16:04] NevenLiang opened #533 "Bug(translation API): it failed to get sub scope with selectTranslation()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

Yes

### Current behavior

I have some sub folders under the path of `/assests/i18n`. In the demo, the path is `/assets/i18n/admin-page/sub-page`. I want to get the translation in component with `selectTranslation()`,

[2021-11-30 13:12] gabriel-gn commented on #461
Added PR https://github.com/ngneat/transloco/pull/534

[2021-12-10 18:51] AmitMY opened #535 "Feature(messageformat): include a lightweight option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

MessageFormat

### Is your feature request related to a problem? Please describe

When compiled for production, my entire bundle is 900kb, out of them, 79kb are `@messageformat/core`.

### Describe the solution you'd like

I would like to use **simple** fin

[2021-12-15 20:54] chriszrc commented on #187
@itayod I'm running into a related issue. I'm started to use route resolves to preload translation files using `translocoService.load()`, but the translations stop working when I use that approach, because originally the components were just using translations in the templates, so adding:

`    {provide: TRANSLOCO_SCOPE, useValue: {scope: "upload/uploadForm", alias: "uploadForm}},`

and using:

`t

[2021-12-17 06:48] NetanelBasal opened #536 "Upgrade to Angular 13"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco, Schematics, Locale, MessageFormat, Persist Lang, Persist Translations, Preload Langs

### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

_No response_

### Describe alternatives

[2021-12-17 06:49] NetanelBasal commented on #536
@shaharkazaz

[2021-12-24 09:38] Dedrus commented on #474
@shaharkazaz @SimonCorellia looks like setTranslation works like charm! Thanks for advice, we will use it.

[2022-01-05 13:16] mfodor commented on #461
@shaharkazaz
Are there any plans or roadmap when will this be merged?

[2022-01-10 19:36] chriszrc commented on #17
@itayod Has there been any developments here for adding better typing for transloco?

[2022-01-11 16:46] kirankpolisetty opened #538 "Bug(scope): issue while loading the translation from child route"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

with monorepo while navigating to the child route, we see translations are not  getting  loaded.
main.e9a821f03b2aec865b92.js:1 Error while trying to load "print/en" ChunkLoadError: Loading ch

[2022-01-11 18:46] shaharkazaz commented on #538
@kirankpolisetty Please create a reproduction for this issue 🙂

[2022-01-13 20:08] kaname-png opened #539 "Bug(inline-loader): Translations with the inline loader strategy only work at the template level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco, Locale

### Is this a regression?

Yes

### Current behavior

I try to get translations through my component's service, but it always throws error that the translation has not been found, but in the component's template it works perfectly.

I ha

[2022-01-19 09:09] idroxid opened #543 "Multiple languages / switch language in component independently from main language"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

I have a basic parent-child components UI.
The app is available in multiple languages.
One of the components is a document editor, and need to be translated independently from the main app UI.

[2022-01-20 01:16] shaharkazaz commented on #543
@idroxid I'm not sure if you noticed but your reproduction won't work if you are using OnPush in the child component.
You are actually experiencing a different issue, the transloco structural directive isn't updating on lang input change.
If he was reacting to these changes using the `childLang + '|static'` would have done the trick for you.
Now, this is a larger issue since I need to think about

[2022-01-20 13:05] idroxid commented on #543
@shaharkazaz thank you for your feedback!

Yep, that's what I was expecting.

Yes, I can imagine.

Thank you for your solution.
I'm actually respawning the overall child component and it works well too.

Many thanks again !

[2022-01-20 13:05] #543 closed

[2022-01-25 09:56] costalvaro commented on #461
Upvoting this issue, a `langChanged$` observable would definitely help properly handling language switching.

[2022-01-26 16:03] seadonk opened #544 "Bug(scope): TranslocoService.Translate and Translate have different generic type signatures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

The generic type on the standalone translate function does not have a default, and thus defaults to `unknown`.
The TranslocoService.translate method is typed with a default of `string`.

This

[2022-01-26 22:39] artuska opened #546 "missingHandler: do not output translation key to the view if translation is missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco

### Is your feature request related to a problem? Please describe

If i have a key which does not exist in my translation file, e.g. `non_existing.key`, transloco will output this key to the view.

(No, `missingHandler.allowEmpty` config property

[2022-01-26 23:34] artuska commented on #103
+1 for this issue

[2022-01-27 20:49] seadonk commented on #544
Created [PR #545](https://github.com/ngneat/transloco/pull/545)

[2022-01-30 14:00] noobyogi0010 commented on #539
Hi, @kaname-png
I would like to work upon this issue if no one else has picked it up already.

[2022-01-30 16:31] kaname-png commented on #539
@noobyogi0010 please.

[2022-02-03 21:01] dandansoysauce opened #547 "Transloco on 2 projects with 1 main app and non-lazy loaded modules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

I have a main app which is in its own project folder and another project that holds other components as modules.

In my main app module, I have this imported as the only loader as per the docu

[2022-02-03 21:21] dandansoysauce commented on #523
@iprins hey, I think I'm having the same issue, have you solved this?

[2022-02-04 22:54] parker-mike commented on #461
@gabriel-gn, In order for everyone to benefit from your PR, please, correct the commit messages so they follow the [guidelines](https://github.com/ngneat/transloco/blob/master/CONTRIBUTING.md#commit).
feat: Add langChanged$ observable

fixes [#461](https://github.com/ngneat/transloco/issues/461)

PR Close [#534](https://github.com/ngneat/transloco/pull/534)

docs: Add langChanged$ observable
test:

[2022-02-07 08:15] Brechard commented on #359
Hi @shaharkazaz I have tried as you suggested but it does not work, I have created a stackblitz with the exact same code you provide, just copy paste. I have also tried sending a message in gitter but nobody is saying anything
https://ngneat-transloco-esgpbz.stackblitz.io/

[2022-02-15 21:06] shaharkazaz commented on #546
@artuska The 3 blocks is a mistake haha thanks for pointing it out.
`missingHandler.allowEmpty` should have managed your issue, [see here](https://github.com/ngneat/transloco/blob/master/libs/transloco/src/lib/transloco.service.ts#L592).
Can you please provide a small reproduction? 🙂

[2022-02-15 21:17] shaharkazaz commented on #544
Fixed in v3.1.4 👌
Thank you Brain @seadonk!

[2022-02-15 21:17] #544 closed

[2022-02-16 06:33] shaharkazaz commented on #359
@Brechard Can you provide the edit link?

[2022-02-16 08:31] ChazUK commented on #359
@shaharkazaz https://stackblitz.com/edit/ngneat-transloco-esgpbz

[2022-02-16 09:05] shaharkazaz commented on #359
@ChazUK @Brechard The `@ngneat/transloco-messageformat` lib isn't event installed.

[2022-02-16 09:12] ChazUK commented on #359
@shaharkazaz Don't shoot the messenger! ✋ 🤚

I did however forget to thank you for the original solution! Thank you :)

[2022-02-21 07:32] artuska commented on #546
As I already wrote above, `allowEmpty` does not help here. Look, it would be nice to have smth like this:

[code]

instead of how it is now

[code]

Because now I **must** have an empty key provided in my JSON file in order to output an empty translation string.

Look, i just added one line in [forked example](https://stackblitz.com/edit/ngneat-transloco-agcpfq?file=src%2Fapp%2Fhome%2Fhome.compone

[2022-02-22 11:19] emzet opened #549 "Use @messageformat/core instead of messageformat"
Please update documentation here https://ngneat.github.io/transloco/docs/plugins/message-format as **messageformat** package has been deprecated (renamed) see here: https://www.npmjs.com/package/messageformat

[2022-02-24 19:18] elliottregan commented on #529
I also ran into this. I don't get any message about "missing translation", the subscription just returns the object key I requested.

[2022-02-25 13:13] AyushiSingh14399 commented on #85
did you find it?

[2022-03-17 00:53] kaname-png commented on #539
Can you take a look at the problem? @shaharkazaz

[2022-03-17 05:57] shaharkazaz commented on #539
@noobyogi0010 do you still want this issue? :)
@kaname-png I'm swamped I couldn't reach the issue or any other in matter of fact that are pending in Transloco.
I'll try to get to it sometime soon.

[2022-03-17 16:08] eilensm opened #550 "Bug(unit testing with pipe): issue in a unit test using a transloco pipe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

transloco pipe does returns empty string;

see the Readme of the provided repo for more information on the context

### Expected behavior

transloco pipe returns translated text

### Please pr

[2022-03-18 02:56] kaname-png commented on #539
Thanks for answering @shaharkazaz, I hope you can or someone can solve this problem, this prevents me from being able to continue with my project since I need it.

And thank you very much in advance.

[2022-03-19 10:54] shaharkazaz commented on #461
Available in v3.2.0.

[2022-03-19 10:54] #461 closed

[2022-03-19 10:57] #549 closed

[2022-03-19 10:59] shaharkazaz commented on #535
@AmitMY Not sure how this relates to the messageformat lib, you just want to [use params](https://ngneat.github.io/transloco/docs/translation-in-the-template/#pipe).

[2022-03-19 11:01] shaharkazaz commented on #511
We are using the standalone configurations 😄

[2022-03-19 11:01] #511 closed

[2022-03-19 11:02] shaharkazaz commented on #507
@mpricu @josencv Is this still relevant? can you provide the information?

[2022-03-19 16:28] shaharkazaz commented on #546
@artuska You can just provide your [own implementation](https://ngneat.github.io/transloco/docs/hack/#missing-handler) of the missing handler.
Check this [working example](https://stackblitz.com/edit/ngneat-transloco-xequc8?file=src%2Fapp%2Fapp.module.ts), forked from your fork.

[2022-03-19 16:28] #546 closed

[2022-03-19 16:42] shaharkazaz commented on #550
@eilensm Since you are preloading all the langs, you need to provide the testing modules with **all** the langs, including the scoped ones.
Here is a fix for your reproduction:
[code]

[2022-03-19 16:42] #550 closed

[2022-03-19 16:49] shaharkazaz commented on #483
I believe the issues here are resolved in v3+.
Closing due to lack of communication on the issue.

[2022-03-19 16:49] #483 closed

[2022-03-19 23:02] rala72 commented on #81
Is it possible to add the current comparison table again somewhere?
I saw a link for the table in the last comment of #13, but I think it might not be up-to-date.

[2022-03-19 23:03] rala72 commented on #13
Is it possible to add the current comparison table again somewhere?
I think the table in the link above might not be up-to-date.

[2022-03-21 08:26] eilensm commented on #550
Hi @shaharkazaz,

hmm, ok.

But isn't this quite cumbersome, since module B is itself more or less self-contained and brings along its assets and configuration; thus, if I want to test sth. in module A, I have to know all assets of the required modules (in this example only module B, but there could also be some other modules)?

For sake of simplicity, we put module B in the same app here, but in

[2022-03-21 08:45] eilensm commented on #550
Hi @shaharkazaz again ;)

One other thing I wanted to mention is, that the service, in contrast to the pipe, works.

I updated the GIT repo and added a test case showing this.

In app.component.spec.ts, there are these two tests demonstrating this behaviour:
- 'should render app title via pipe' : fails
- 'should render app title via service' : works

[2022-03-21 12:33] shaharkazaz commented on #13
@rala72 We decided to remove the comparison (due to several reasons). I'm sure that quick research will provide you with all the information needed.

[2022-03-21 13:40] shaharkazaz commented on #550
@eilensm This is a mocked Transloco module, so the definitions inside the modules (in your case Module B) themselves aren't relevant.
I would suggest that if you want to test Module B then create a specific test for it, That way each testing module is only aware of its own translations.

Not sure why would you want to test a 3rd party lib in your app, especially its translations.

You are misusing

[2022-03-21 13:45] shaharkazaz commented on #85
@AyushiSingh14399 Can you please explain what is the use case? 🙂

[2022-03-22 16:30] andi0b opened #551 "Preload Module doesn't work at all, because the service is never instantiated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Preload Langs

### Is this a regression?

Yes

(probably, it can't work like it is implemented now, and I guess it used to work...?)

### Current behavior

The preload module doesn't preload anything, because it only registers the service, but it never get

[2022-03-23 08:42] PuffPastry commented on #516
I've just encountered this error

@ngneat/transloco 3.2.0
@angular/core: 13.2.0

node v14.19.0
on Windows 10

[2022-03-23 08:43] iprins commented on #523
No I haven't been able to solve this

[2022-03-25 19:56] #551 closed

[2022-03-25 19:57] shaharkazaz commented on #551
@andi0b should be ok in v4.0.1, LMK if it works as expected 👍

[2022-03-28 08:02] andi0b commented on #551
@shaharkazaz yes it works, thanks for the support! 👍

[2022-03-29 09:56] Spambit opened #553 "Vulnerability : CVE-2021-23337 in lodash.kebabcase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

There had been a [security issue](https://nvd.nist.gov/vuln/detail/CVE-2021-23337) in [lodash.kebabcase ](https://github.com/advisories/GHSA-35jh-r3h4-6jhm) that requires at least 4.7.21 to us

[2022-03-29 09:57] fvoska commented on #516
This is broken again for me on v3.2.0.

![Screenshot 2022-03-29 at 11 55 35](https://user-images.githubusercontent.com/3170728/160586023-28d8fd26-8881-4531-8acc-2f46de6ac38b.png)

I can see there is no `src` folder in transloco in node_modules that is needed when resolving collection.json:

![image](https://user-images.githubusercontent.com/3170728/160585680-937035d0-14b9-4429-92f2-89a56a9893e5.pn

[2022-03-30 07:37] Spambit commented on #553
So, I am aware that npm does not flag this, but Revenera Code-Insight does for lodash.kebabcase. Now, I see that kebabcase was never patched and it's [latest version](https://www.npmjs.com/package/lodash.kebabcase) is 4.1.1 which makes you clean. I guess our Code-Insight is reporting wrongly. However, I will investigate more on this and re-open this bug if required. Thank you for looking into this

[2022-03-30 07:37] #553 closed

[2022-03-31 09:57] JakaRua opened #554 "Bug(scope): Build failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

Errors occur when starting the build

`npm run transloco:build && ng serve --configuration=demo`

[code]

[code]

### Expected behavior

Successful build

### Please provide a link to a minima

[2022-03-31 10:30] shaharkazaz commented on #507
@josencv @mpricu Feel free to reopen this with more information.

[2022-03-31 10:30] #507 closed

[2022-03-31 10:30] shaharkazaz commented on #535
@AmitMY Does my previous comment resolves your issue?

[2022-03-31 10:32] JakaRua commented on #554
Ok, thank you. But you can add this information somewhere on the site. Because I understood that the problem is in the version, I could not find this information anywhere. For some versions of the angular use the version of the plugin. I will be grateful

[2022-03-31 10:38] JakaRua commented on #554
Sorry, but I have another problem with 3.2.0
[code]

[code]

[2022-03-31 10:54] JakaRua commented on #554
And on version 3.2.0 the same problem ((
[code]

[2022-03-31 11:43] JakaRua commented on #554
Yes, 2.35.5 working, but on this version not work transloco build

`ng generate @ngneat/transloco:join --default-Lang en --translation-path ./src/translation --out-dir ./src/assets/i18n`

response
`Nothing to be done.`

On version 3.0.0 build working

[2022-03-31 12:31] shaharkazaz commented on #554
@JakaRua I'm closing this issue since this version is no longer supported.
You are welcome to search the repo for past issues in this area, the code at that version, or consult the community.
The upgrade to Angular 12 from Angular 10 should be pretty smooth and easy. I recommend upgrading so you can use v3+.

[2022-03-31 12:31] #554 closed

[2022-03-31 12:43] JakaRua commented on #554
Ok, i understand, thx.

[2022-03-31 14:21] #535 closed

[2022-04-01 08:17] AbdealiJK opened #555 "Sending translocoService into the missing handler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco

### Is your feature request related to a problem? Please describe

I am trying to write a missing key handler which uses my key as the value.
The default behavior currently does not transpile() my variables though.

So, I tried writing a custom m

[2022-04-01 15:38] shaharkazaz commented on #535
@AmitMY You're welcome?

[2022-04-01 15:44] shaharkazaz commented on #555
@AbdealiJK, I now understand why you are using the syntax with the double curly braces https://github.com/ngneat/transloco-keys-manager/issues/130 🙂
That's an interesting idea. Can you share the motivation and the pros and cons of using this approach?

[2022-04-02 05:20] AbdealiJK commented on #555
Hi @shaharkazaz thanks a lot for going through all the 3 issues i raised and understanding them :)

The way I generally prefer to use translations is to do:

`'Email is required - please enter it' | translate`
Or
`'User "{{name}}" cannot be deleted as this user is the only admin' | translate`

This is a very simple approach where developers who normally know English can just write the English they

[2022-04-02 06:38] shaharkazaz commented on #554
@JakaRua I've added a [compatibility table](https://ngneat.github.io/transloco/docs/getting-started/installation#angular--transloco-versions), thanks for the input 👍

[2022-04-04 20:13] Vevl commented on #490
Both of you have some reasonable arguments. I was testing module federation by myself just for fun and I encountered an issue with ngx-translate so I simply start to look for something which could provide me with a better approach. I ended here 😄

But my architectural idea at the beginning was the same as @Coly010 provided as a workaround.
From what I know, translation files could be a real mess w

[2022-04-11 06:58] shaharkazaz commented on #555
@AbdealiJK Here is a [working example](https://codesandbox.io/s/ngneat-transloco-555-09wrfm?file=/src/app/transloco-root.module.ts), use the injector since you know that the Transloco service is injected already.

[2022-04-11 09:49] AbdealiJK commented on #555
That's fair - I can dynamically inject it.
Will close the ticket as that makes sense and should work for me
Thanks !

[2022-04-11 09:49] #555 closed

[2022-04-14 13:44] valeriorossi opened #556 "Bug(scope): installation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

after package installation
An unhandled exception occurred: Collection "C:\\XY_Projects\\tests\\glob\\globaliz\\node_modules\\@ngneat\\transloco\\schematics\\src\\collection.json" cannot be re

[2022-04-21 12:48] TomasKostadinov opened #557 "Feature(scope):"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco

### Is your feature request related to a problem? Please describe

When switching languages in slow (e.g. mobile) networks I'd like to show a loading modal during the loading of the translation file.

### Describe the solution you'd like

I would

[2022-04-21 18:37] shaharkazaz commented on #557
@TomasKostadinov When the language is cached, why do you need to show a loader?

[2022-04-22 08:44] TomasKostadinov commented on #557
@shaharkazaz I don't want to show the loader, and that's the point, as I can't determine when not to show it

[2022-04-23 08:14] shaharkazaz commented on #557
@TomasKostadinov please share a reproduction of the current solution you have, I think it will be easier to continue from there.

[2022-04-25 08:11] TomasKostadinov commented on #557
@shaharkazaz I have created a simple demo here: https://codesandbox.io/s/interesting-goldwasser-qnnku5?file=/src/app/app.component.ts

I hope that this helps, alternatively we can schedule a short call If you're interested.

[2022-04-25 13:14] PavelTurkish opened #558 "Bug(scope): Data path "" must NOT have additional properties(inlineLoader) when generating a new scope"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

When I run `ng g @ngneat/transloco:scope my-scope` I get :

### Expected behavior

I hoped to generate a new scope.

### Please provide a link to a minimal reproduction of the bug

-

### Tran

[2022-05-02 18:40] PashaTurok opened #559 "Bug(scope): Transloco loads nested scopes in a wrong way."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

I have nested scope:

[code]
To load and translate via code I use translocoService:
[code]
However, when I try to translate, I get an error -   Missing translation for 'foo.bar.test'. Using de

[2022-05-02 20:56] PashaTurok commented on #559
I think, that the problem is in these lines: https://github.com/ngneat/transloco/blob/master/libs/transloco/src/lib/transloco.service.ts#L531  and  https://github.com/ngneat/transloco/blob/master/libs/transloco/src/lib/transloco.service.ts#L792

From https://github.com/ngneat/transloco/blob/master/BREAKING_CHANGES.md `scopeMapping` property was removed from TranslocoConfig in v.3, so, `scopeMappin

[2022-05-04 06:49] Choupa-web opened #560 "Bug(scope): Transloco with NX and module federation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

In my NX monorepo I have 2 apps angular. I'm using module federation to have access to the 2nd app from the first one.
Transloco is working fine in the first app but in the second app I have t

[2022-05-06 08:01] Vevl commented on #560
Could you add some sample codes of your module where you provide transloco? Are you lazy loading translation files? Or how are you accessing translation? You need to provide minimal reproduction if you need help man.

[2022-05-06 16:25] indraraj26 opened #562 "Bug(scope): ERROR TypeError: lang.split is not a function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

![image](https://user-images.githubusercontent.com/23274631/167172696-374ccc3b-f46a-40db-b0be-859e36210044.png)
![image](https://user-images.githubusercontent.com/23274631/167173572-d322f9d3-4

[2022-05-06 16:29] indraraj26 commented on #562
I was passing the incorrect lang it should be string langCode

[2022-05-06 16:29] #562 closed

[2022-05-09 14:42] rgant commented on #556
Also experiencing this issue:
[code]

[code]

[2022-05-10 06:30] Choupa-web commented on #560
First last version of NX is installed. the module federation settings is the following: I have a shell angular app and a host angular app.
**IN THE SHELL APP:**

**app.modules.ts**
[code]

**transloco-root.module.ts**
[code]

**Within shell app few modules and their components have been added, example of one module**
[code]
in the template of the component I'm using transloco pipe for the translat

[2022-05-14 12:15] pavholm commented on #528
Hi! Have a similar issue with the fallback tool. When active lang and fallback lang have different plural forms, messageformat lib tries to compile plural string with active language config.
It happens, because, as I understand, plural config [sets](https://github.com/ngneat/transloco/blob/1c2d044669fe60afb190f044baea34a8e4f11e24/libs/transloco-messageformat/src/lib/messageformat.factory.ts#L16-L1

[2022-05-17 10:13] cesco69 opened #564 "DemMode: warning if a {{ variable }} isn't replaced"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco

### Is your feature request related to a problem? Please describe

Hi, sometimes my translators break my string, eg.:

Source [EN]:
[code]

Translate [IT]:
[code]

I'm looking for a way to easily check if any of these mistakes were made

### Desc

[2022-05-19 11:25] HaasStefan commented on #560
I am having the exact same issue!

[2022-05-19 12:26] HaasStefan commented on #560
I fixed it by adding transloco as a shared library in the webpack config like this:

...
[code]
...

[2022-05-25 17:20] jacksonopp opened #566 "Bug(interceptor): preSaveTranslationKey does not get called"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

When implementing the TranslocoInterceptor as instructed in the [hack the library page](https://ngneat.github.io/transloco/docs/hack#the-interceptor), the `preSaveTranslationKey` method does n

[2022-05-27 17:47] #566 closed

[2022-05-27 18:53] jacksonopp opened #568 "Feature(transpiler): Add translation key to transpile method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco

### Is your feature request related to a problem? Please describe

We are migrating our applications from a custom translation solution to using transloco. In our applications, we store some translations that need to be swapped out for other tran

[2022-05-31 05:43] Choupa-web commented on #560
Thank you for your solution. It works very well !!

[2022-05-31 05:43] #560 closed

[2022-05-31 13:02] JostHren opened #570 "Bug(security): auditjs reports vulnerability in dependency - flat@5.0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

Auditjs reports vulnerability in dependency - flat@5.0.2.

### Expected behavior

No vulnerability reported.

### Please provide a link to a minimal reproduction of the bug

https://ossindex.s

[2022-05-31 21:02] shaharkazaz commented on #570
@JostHren Transloco is using the latest flat version. If they make a fix, I'll update the package as well.
You are welcome to open an issue at the [flat repo](https://github.com/hughsk/flat/issues)

[2022-06-15 09:19] angelaki opened #572 "Bug(directive): Settings scope causes multiple Load-Requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

When using the transloco directive with a scope, the scope gets loaded multiple times. I've modified a random example to show to problem:

https://stackblitz.com/edit/transloco-example-9zmdce?

[2022-06-15 09:52] AmitMY opened #573 "Bug(language code): lowercase dashed language codes fail to present"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

if trying to load language code `zh-cn` for example, the files indeed load correctly, but transloco throws warnings in the console:

and does not display the text correctly.

### Expected beha

[2022-06-21 13:10] angelaki opened #574 "Bug(fallbackLang): Multiple Fallback languages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Don't know / other

### Is this a regression?

No

### Current behavior

I'm not quite sure if this is a bug or working as intended since the docu says the

I'd like transloco to check all the `fallbackLang` for the translation itself. Right now I guess it

[2022-06-24 10:02] lightbyte commented on #556
Same issue here, and same configuration angular 12.2.16 and so.
Installing transloco@3.1 like @rgant said solved the problem because it has schemantics.

[2022-06-29 12:48] Wandang opened #575 "Bug(scope): Error [ERR_REQUIRE_ESM] when using with playwright"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

Trying to execute a test with [playwright](https://github.com/microsoft/playwright) leads to this error:

Error [ERR_REQUIRE_ESM]: require() of ES Module /Users/<username>/dev/angular-transloc

[2022-07-10 18:19] DenisFilipic commented on #558
+1

[2022-07-12 16:45] jensweigele opened #576 "Bug(service): translateObject with key-array throws error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

The following code throws "Cannot access 'scope' before initialization
[code]

### Expected behavior

The code should just work and return the content of "object1" and "object2" as an array.

[2022-07-13 08:12] #576 closed

[2022-07-17 00:43] #508 closed

[2022-07-20 23:51] akikesulahti opened #580 "Feature(scope): Support Angular v14"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco

### Is your feature request related to a problem? Please describe

Transloco Schematics do not work with new Angular 14 project.
Steps to reproduce:
1. Install latest Angular CLI `npm install -g @angular/cli`
2. Create new Angular v14 project `ng

[2022-07-22 13:05] konstantinschuette opened #581 "Bug(scope): Preload doesn't work on CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Preload Langs

### Is this a regression?

Yes

### Current behavior

When I run my Cypress tests locally everything works fine and the languages are all preloaded as you can see here:
![image](https://user-images.githubusercontent.com/18708105/180443524-44

[2022-07-25 13:22] yunusyerli1 commented on #296
Same problem with me? Any ideas?

[2022-07-26 06:46] shaharkazaz commented on #296
@yunusyerli1 If you provide a reproduction I can try and resolve this.

[2022-07-26 06:56] yunusyerli1 commented on #296
I solved it. Thanx for you answer.

[2022-07-26 09:57] konstantinschuette commented on #581
I found out that it propably is a caching problem. This test is done at the end of a row of integration tests.
When looking at the first integration test, the preloading of the languages always works fine.
But after that test, every integration test only requests the current needed language, so as the test in this issue.

I always execute the following commands before every integration test, but t

[2022-07-27 12:32] b-legrand commented on #580
i'm having the same issue, it seems the default project cannot be detected anymore.

using the `--project` argument fixes it :
[code]

[2022-07-27 12:42] b-legrand commented on #580
[getProject](https://github.com/ngneat/transloco/blob/master/libs/transloco-schematics/src/utils/projects.ts#L31) method relies on the `defaultProject` attribute, which has been deprecated : https://github.com/angular/angular-cli/blob/main/CHANGELOG.md#angularcli-8

Not sure what the fix should be... using the folder name instead ?

[2022-07-27 14:12] b-legrand commented on #580
I proposed a pull-request to implement this recommendation : https://github.com/angular/angular-cli/issues/23470#issuecomment-1172240384

[2022-07-27 17:45] alvipeo opened #584 "Bug(scope): pre-commit is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Don't know / other

### Is this a regression?

No

### Current behavior

The current version of pre-commit.js will catch this diff with a *removed* `.only()` as an invalid case:
[code]
and will output the file containing the removal as an obstacle for comm

[2022-07-27 22:23] tarlepp commented on #294
I'm having this same issue and in my `angular.json` I have defined that `projectType` what should I do?
[code]
![image](https://user-images.githubusercontent.com/595561/181382791-e178b59b-1692-4cd3-99b8-45ba23a33624.png)

[2022-07-30 04:38] gs-mhashir commented on #63
how to load the translation files before calling any method

[2022-07-31 12:15] shaharkazaz commented on #296
@yunusyerli1 Can you share what was the issue for future users? 😄

[2022-07-31 12:53] yunusyerli1 commented on #296
TranslocoModule was registered in SharedModule provider but when I delete SharedModule, I didnt register TranslocoModule to AppModule. This was the issue. After registering TranslocoModule to AppModule, The problem has gone.

[2022-08-03 05:28] Remls commented on #451
Above link is broken, but I believe it has now been moved [here](https://ngneat.github.io/transloco/docs/lazy-load/scope-configuration/#scopes-namespace).

[2022-08-04 08:04] shaharkazaz commented on #451
@mikoet Does the alias resolves your issue?

[2022-08-04 11:17] pumano opened #585 "Feature(utils): Check unused translation keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Don't know / other

### Is your feature request related to a problem? Please describe

Common not resolved problem in large scale projects is - continuous support of translation keys.

Features changed, but keys rarely deleted from `.json` files.

### Descr

[2022-08-05 09:19] rijad992 commented on #580
passing project argument does not seem to work for me.

[2022-08-08 09:17] jnain opened #587 "Bug(Tests): Testfile not launching in ESM mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco, Scoped Libs

### Is this a regression?

No

### Current behavior

I am using this minimum repro repository I've made (see in the dedicated area underneath)
So it's using Angular 14, Transloco, Spectator (it's pretty much all, and it's the stack

[2022-08-08 11:52] xrasod commented on #580
Passing project path worked for me. Thanks for the solution!

[2022-08-10 06:43] Panix123 commented on #580
You are my hero, thank you.... was searching for half a day yesterday.

[2022-08-10 13:28] konstantinschuette opened #588 "Syntax for transloco keys?"
Hey,

I haven't found the syntax for the keys. Should they be in camel case?

[2022-08-10 17:23] BruneXX commented on #294
Same issue here 👍

[2022-08-10 17:29] BruneXX commented on #294
Found a solution, something similar sometimes happens for components generation and you need to set the project using `--project={your-project-name}`

So the full solution will be to execute:
`ng add @ngneat/transloco --project={your-project-name}`

[2022-08-10 18:42] Kleyguerth opened #589 "Bug(transpiler): FunctionalTranspiler is too greedy when parsing functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

No

### Current behavior

When I try to use two functions in the same translation, the functional transpiler picks everything from the first function up to the second function as a single function call.

I'm providing

[2022-08-10 19:12] tarlepp commented on #294
Oh, I need to try that one after my summer vacation - thanks for sharing that! Should there be some documentation about this?

[2022-08-11 13:38] BruneXX commented on #294
Hi @tarlepp currently **ngneat** has an open PR to integrate a fix for that, so I think that will be sooner than later and you'll not need to care about that anymore.
That issue arise because Angular v14 has removed the **defaultProject** from the angular.json configuration file.
You can see that here: https://github.com/angular/angular-cli/issues/23470

[2022-08-12 15:11] jongbonga commented on #580
Same here unfortunatly

[2022-08-14 05:18] rijad992 commented on #580
Try adding:

`defaultProject: "--your-project-name--"`

to your angular.json
It worked for me.

[2022-08-17 21:44] henryruhs commented on #285
It took me a while to figure out this solution, thanks Johan for pointing it out! As `TRANSLOCO_SCOPE` of a shared library will be overriden inside another feature library, there is no point to configure the scope in the shared library. For that reason I create a tiny utility that can be used in each component of the shared library.

I used another (in my opinion cleaner) approach for the loader,

[2022-08-18 15:22] raphaelzulliger commented on #504
To probably help others who google and to put some weight on this: I was hit by this situation as well. I've gotten:

[code]

I'm using Angular 14. To circumvent this issue, I temporarily added

[code]

to my `angular.json`

[2022-08-19 07:02] shaharkazaz commented on #584
@alvipeo The pre-commit.js is an internal script, I'm guessing you copied the logic for your own use.
The idea is to prevent at addition of these keywords, if you have them already in you committed code than just skip this check once to allow the removal.

Closing since this isn't part of the library and is working fine for my internal use-cases.

[2022-08-19 07:02] #584 closed

[2022-08-20 17:20] sergiohidekiono commented on #294
Save me alot! Thanks

[2022-08-30 05:24] AbdealiJK opened #591 "Feature(linter): Adding a eslint rule to find untranslated strings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Don't know / other

### Is your feature request related to a problem? Please describe

A lot of times, developers forget to mark a text for translation.
It would be great if there is some way for me to check if developers have added `transloco` to all the `

[2022-08-30 05:26] AbdealiJK commented on #585
Currently I delete the the entire JSON file and regenerate it. And then take the keys and do a diff with my existing JSON to find missing paramters.
Would be great if there is a simple util which can do this for me !

[2022-08-30 06:38] LuciaS87 opened #592 "[Transloco-scoped-libs] ENOENT: no such file or directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Scoped Libs

### Is this a regression?

Yes

### Current behavior

When first time executing script it returns error:
**xxx.vendor.json: ENOENT: no such file or directory**
The reason for this is the change in **readJson** function in **utils.ts**.

Curren

[2022-09-16 12:39] jnain commented on #587
Hello there !

After a loooot of digging in transloco code, trying to change this and that to help my app to test properly, I had a revelation : Why would there be a problem with the code if the app is running correctly?

So I began to look deeper into the testing conf and I found the answer to my problem.

As I am using the new ESM features, I had 2 issues :
* my ts-jest conf was set to `isolated

[2022-09-16 15:32] zstundys commented on #585
Checkout https://github.com/ngneat/transloco-keys-manager -- it does exactly the thing you look for ;)

[2022-09-17 07:59] pumano commented on #585
@zstundys thank you, I will check it soon

[2022-09-19 13:56] jnain commented on #587
Hello !

In fact I need to change some things in your lib in order to continue to use it...
I am making a PR now, but there are things that I can't do alone.

I manage to make a change in the way you use 'flat' library by moving you tsconfig a little bit ; but the transloco-schematics project is now broken when I try to build it...

I can't see why and I don't understand the error message...

Plea

[2022-09-25 19:16] hvma411 commented on #580
"defaultProject" is deprecated and it does not help to solve it

[2022-09-27 08:57] jnain commented on #587
I seem to have fix this problem in my PR, I would like to have some news about all of this please...

[2022-10-06 09:46] mehrad-rafigh commented on #539
Hey guys any update on this issue? I am facing the same issue

[2022-10-11 08:04] shaharkazaz commented on #539
@mehrad-rafigh you are welcome to pick this up and open a PR :)
I have no estimate on this from my end.

[2022-10-11 08:27] mehrad-rafigh commented on #539
@shaharkazaz I would like to do that. Can you please point me to the direction? I haven't contributed to transloco before

[2022-10-11 20:34] ningelsohn commented on #171
The linked docs are no longer available and the official [docs](https://ngneat.github.io/transloco/docs/getting-started/config-options/#availablelangs) about the config options are not specific enough. Are they meant to be used in the transloco.config.js file? The example usages don't really look like they are, but I don't have any clue where I should put the configs instead. Putting them inside t

[2022-10-12 08:44] shaharkazaz commented on #539
@mehrad-rafigh I'm currently on vacation so I don't have my laptop and I didn't get the chance to investigate the issue myself.

I suggest you start by creating a small dedicated repo that reproduces the issue and try to work your way from there by using a local version of the library so you can debug the issue easily.

[2022-10-18 13:31] Hypenate opened #603 "Bug(scope): TranslocoTestingModule -> Cannot read properties of undefined (reading 'toPromise')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Transloco

### Is this a regression?

Yes

### Current behavior

When following [this guide](https://ngneat.github.io/transloco/docs/unit-testing/), the compiler throws a runtime error when running the tests:

### Expected behavior

When all languages are

[2022-10-20 09:46] joonashak opened #604 "Bug(transloco-scoped-libs): --skip-gitignore flag is not respected in watch mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Scoped Libs

### Is this a regression?

No

### Current behavior

When running `transloco-scoped-libs` with the `--watch` and `--skip-gitignore` flags, `.gitignore` is amended upon chances to watched files.

You can test this in the provided repository, in

[2022-10-23 13:19] hila opened #608 "Transloco with Module Federation"
I've tried to use Transloco in a remote MFE that is being hosted with 'Module Federation'.
The MFE - is my original project that so far worked grate with transloco, we have different translations files for each module, currently supporting only 'en'.
The Host - a new empty project I just created that hosts a module from the MFE described above.

I've initially tried to share the ngneat/transloco,

[2022-10-26 13:57] Renive opened #609 "Feature(validator): support UTF8 BOM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

Validator

### Is this a regression?

No

### Current behavior

When you use validator on utf8bom json files, you get error with unexpected character at position 0.

### Expected behavior

While BOM shouldn't be used, I would love to either support it, tri

[2022-10-27 05:43] NetanelBasal commented on #608
Can you prepare a basic reproduction and upload it to Github, please?

[2022-10-28 11:27] ivnbogdan opened #610 "Bug(messageformat): Language change fails when switching between plural formats with different keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) are the source of the bug?

MessageFormat

### Is this a regression?

No

### Current behavior

Given the 2 translations:

EN: `"records_count": "{count, plural, one {{count} record} other {{count} records}}"`

JA: `"{count, plural, other {{count} 件のレコード}}"`

Switching from
- EN -> J

[2022-10-31 08:23] ivnbogdan commented on #610
Fix for this issue is done in https://github.com/ngneat/transloco/pull/579

Would love to have it merged ❤️

[2022-11-10 05:58] Laith-Bzour90 commented on #301
to fix this issue on terminal
in angular.json put this line :
  "architect": {
        "build": {
          "builder": "@angular-devkit/build-angular:browser",
          "options": {
            "allowedCommonJsDependencies": [
              "ngneat-transloc",
              "ngneat-transloco-locale",
              "flat"
           ],

[2022-11-10 14:42] kenatwex commented on #152
Yes, this one is causing disruption in distributed MFE ecosystem. Im thinking ngx-translate was better choice. Issues are long and exhausting for transloco. It looks like there was lack thereof for documenting token injected sharing of this artifact amongst apps, hosts, remotes and libraries or even the main functionality to implement same.

So we are attempting to roll our own token injection set

[2022-11-10 14:51] kenatwex commented on #253
Does this hold up in distributed MFE ecosystem?

[2022-11-14 11:34] m11t opened #611 "Feature(TranslocoLocaleService): Merge provided options with defaultOptions in localizeDate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Locale

### Is your feature request related to a problem? Please describe

Calling localizeDate with only partially provided `DateFormatOptions` leads to a different output than using `TranslocoDatePipe` with the same `DateFormatOptions`.
There is no way to

[2022-11-15 13:36] jnain commented on #587
The only way I found was to build a local transloco with the changes made in my [PR](https://github.com/ngneat/transloco/pull/597) ; ATM I am using this version in my production application...

This is not perfect as I am closed for any updates in transloco but it does the job for now...

[2022-11-15 13:37] angelnikolov commented on #587
@jnain Yeah thinking of doing the same. Thanks man! Really helpful!

[2022-11-20 14:57] ryarasi commented on #261
Hey @born2net ,

**Some questions to help newbies like myself:-**
1. Location of the file - Do you recommend that we place this file in the root of the project folder outside the `src` folder?
2. Extension - What file extension should I give it?
3. Execution - How do I execute it from the terminal?
4. Automation - Can I add a script to package.json with the execution and add it to the build script

[2022-11-24 16:39] byjokese commented on #580
Does that solution apply to Angular 15, also? Has anyone tested it with Angular 15?

[2022-11-29 12:25] tutkli opened #614 "Feature(TranslocoModule): Support for Standalone Applications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Which Transloco package(s) will this feature affect?

Transloco

### Is your feature request related to a problem? Please describe

As for now, trying to install Transloco in a standalone application with no modules does not work.

Steps to reproduce:

1. Create a standalone application without ngModules (Angu