[2019-12-09 14:43] mohamedaarab1994 commented on #191
I'm having the same issue. Sometimes it works and sometimes it doesn't. When refreshing the page, the value is always either undefined or the name of the key.

[2019-12-09 15:01] #190 closed

[2019-12-09 15:24] xXKeyleXx commented on #190
I would have prefered on of the two options I expected but this works too I guess.

[2019-12-09 16:18] ArielGueta commented on #191
@mohamedaarab1994 I don't think your issue is related to this one. The translate function works only if you already loaded the translation before calling it. It's sync function.

[2019-12-09 18:00] pelssersconsultancy opened #193 "scoped translations are not loaded if lazy loaded component includes component from another module"
## I'm submitting a

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
App module redirects to lazy component from lazyloaded-feature.module.
This lazy loaded feature module con

[2019-12-10 03:18] heecheolman commented on #191
But the documentation says that it can be used as a pure function.

In the code below, the service variable is defined outside of the service class scope

[code]

[2019-12-10 03:21] heecheolman commented on #191
stackblitz example code is being used in `app.module.ts.`

[2019-12-10 05:18] ArielGueta commented on #191
From the docs:

[2019-12-10 06:09] itayod commented on #191
From what I have saw in your StackBlitz, you try to use the translate before the service beed initialized.
You **must** wait until you initial the service in order to use this method

[2019-12-10 06:09] #191 closed

[2019-12-10 15:49] alxv2016 opened #194 ""Member t is not callable" linting error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Not sure what's going on as I don't get any errors and translations work, but vsCode is throwing me
a li

[2019-12-10 18:36] pelssersconsultancy commented on #194
That has to do with the angular language service plugin if I remember correct.

https://github.com/angular/angular/issues/16643

[2019-12-10 18:40] itayod commented on #194
duplicate of #177

[2019-12-10 18:40] #194 closed

[2019-12-10 18:45] itayod commented on #193
duplicate of #172

[2019-12-10 18:45] #193 closed

[2019-12-10 19:02] wesleygrimes opened #195 "Feature Request: Implement provideTranslocoConfig"
I would be willing to submit a PR to implement the solution mentioned below. Curious to know your thoughts.

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current beha

[2019-12-10 19:32] itayod commented on #195
Hi @wesleygrimes thanks for the suggestion,

We like the idea 😃

Feel free to open a PR for this. We also would like to make that as default, so make sure to update the ng-add command too.

[2019-12-10 20:02] wesleygrimes commented on #195
Awesome, I will work on a PR!

[2019-12-11 08:03] #195 closed

[2019-12-12 09:58] schmorell opened #197 "Cannot find translation when using Universal"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have tried to set up a Angular App with Angular Universal and transloco, basically with these steps:

[2019-12-12 10:14] shaharkazaz commented on #197
@schmorell I'll take a look at it and get back to you 🙂

[2019-12-12 14:52] #197 closed

[2019-12-12 15:00] itayod commented on #197
There is a problem with `provideTranslocoConfig` function, please change your code to use `translocoConfig` function instead:
change this:
[code]

[code]

[2019-12-12 15:38] schmorell commented on #197
Yes, working now. Many thanks for the quick fix. Great library, you are doing an awesome job. Thanks!

[2019-12-13 10:10] cesalberca opened #199 "How could I wrap the transloco pipe or rename it?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

To translate in templates I have to use the `transloco` pipe. Is there any possible way to rename or wr

[2019-12-13 11:34] NetanelBasal commented on #199
[code]

I wouldn't recommend doing this. Some devtools rely on this name.

[2019-12-13 11:34] #199 closed

[2019-12-13 11:34] NetanelBasal commented on #179
Ping

[2019-12-13 11:58] cesalberca commented on #199
Thanks! That's what I was looking for.

[2019-12-14 19:20] JustinPierce commented on #177
Solved this by reverting to that last 0.800 version of the Angular Language Service extension as suggested by @shaharkazaz. According to the output in VSCode, the 0.900 versions of the extension are using v9.0 release candidates of `@angular/language-service` and `typescript@3.6.3`, which I suspect may be the actual source of the problem.

[2019-12-16 06:23] NetanelBasal commented on #179
I'm closing the issue. Feel free to open a PR with the rest of the code.

[2019-12-16 06:23] #179 closed

[2019-12-16 07:51] bgever commented on #28
This feature is a requirement for us. Our current implementation also uses https://github.com/gilsdav/ngx-translate-router that was suggested earlier, though ngx-translate doesn't support Transloco's neat lazy loaded scoping.

Keep up the great work! 👍

[2019-12-16 08:45] itayod commented on #28
It is, would you like to create a PR for this?

[2019-12-16 08:46] bgever commented on #28
@itayod Could you reopen this issue as these features haven't been considered:

 - Prefixing URLs with a language code:
    e.g. (default) `/page`, (English) `/en/page`, (Traditional Chinese, Hong Kong) `/zh-hk/page`.
 - Localizing URL segments:
   e.g. (English) `/en/page`, (Dutch) `/nl/pagina`.

[2019-12-16 19:06] Newbie012 opened #201 "Feature Request - add a fallback value when the translation path does not exists"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I have a set of strings that some of them needs to be translated, and if they don't exist in the transla

[2019-12-17 09:25] gernsdorfer opened #202 "Scoped translations only loaded for the last imported module"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

* import multiple Modules
* each of this Modules have their own translation scope.

**Problem:** Scoped

[2019-12-17 09:38] itayod commented on #202
I have recently written a blog that covers all this topic, you will find your answer here:
https://medium.com/@ItayOded/lazy-load-and-encapsulate-i18n-files-in-angular-with-transloco-55af44885797

[2019-12-17 09:38] #202 closed

[2019-12-17 09:45] itayod commented on #28
Hi all,

We have discussed this issue within our team, and we have decided that we will not support this feature as an official library of Transloco.

For those who need this, you can create an external library (just like the one for ngx-translate), and we will assist you with whatever help you might need.

Thanks, and good luck.

[2019-12-17 09:45] #28 closed

[2019-12-17 09:51] itayod commented on #201
see: https://app.gitbook.com/@netbasal/s/transloco/hack-the-library/transloco-missing-handler

[2019-12-17 09:55] #201 closed

[2019-12-17 10:23] AmitMY commented on #201
@itayod That page you linked is 404

[2019-12-17 10:27] itayod commented on #201
Try now

[2019-12-17 10:34] AmitMY commented on #201
Thanks @itayod
This solution is insufficient though -

Given the code `t('organizations.organization.providers.dialogs.credentials.clientId', {fallback: "Client ID")`

with the following handler

[code]

I don't see the fallback passed anywhere, so I can't use it.

![image](https://user-images.githubusercontent.com/5757359/70987756-3a7ce380-20c9-11ea-9590-c995f922651c.png)

[2019-12-17 10:50] itayod commented on #201
@AmitMY it doesn't work because you are using it wrong:
1: the second param of the function `t` is the parameters of the translations, so if the key is missing then the `params` are irrelevant.
2: from docs: **returns an empty string to use as a replacement for the missing key's value.**
and if you need to customize it you will need to return a replacement value:

[code]

[2019-12-17 11:20] AmitMY commented on #201
Thanks @itayod ,
I don't agree - design-wise - that the params should be discarded in this handler. It makes sense to get everything I sent to the function `t`.

In my case for example, I have a key, that is known, but I also have a fallback value, and passing this fallback value is currently not possible, therefore `TranslocoMissingHandler` is not a viable solution right now.

This key/fallback v

[2019-12-17 13:18] itayod commented on #201
@AmitMY by what you have described in the issue, this is the default behavior of Transloco (when Transloco doesn't find the translation `key` it simply returns the `key`).

If it is not the case, please provide a stackblitz example that illustrates your use case.

[2019-12-17 14:39] Newbie012 commented on #201
@itayod Not entirely correct. It returns the whole **path** (with the key) instead of just the key

[2019-12-17 14:46] itayod commented on #201
@Newbie012 could you provide a stackblitz example of your use case?

[2019-12-17 16:23] ygeelen-tb opened #203 "transloco:migrate says "Nothing to be done.""
Hello!

This library looks very promising. We're using @angular/core 6.0.0 and I installed @ngneat/transloco 2.12.1 following the manual at https://netbasal.gitbook.io/transloco/installation

Also I'd like to migrate all my Angular i18n translations to transloco.
The command runs but doesn't do any changes to any files and says "Nothing to be done." ?
(Also I needed to create 1 dummy spec file to

[2019-12-17 19:35] shaharkazaz commented on #203
@ygeelen-tb

What do you mean by that? what error did you get?

Semes like according to the log that the incorrect migration ran, since Angular's i18n doesn't need to iterate `ts` files.
Can you please try running `ng g @ngneat/transloco:migrate` and follow the cli inputs?

[2019-12-18 09:26] ygeelen-tb commented on #203
I simply got the error that Step 5/5: Migrating specs didn't succeed.

When following the CLI inputs it worked (though I had to install the npm package fs-extra first) !
So the migrate from Angular i18n didn't replace the i18n calls from TypeScript?

[2019-12-18 09:31] AmitMY commented on #201
Sure, stackblitz:
https://stackblitz.com/edit/transloco-example-hb9f94?embed=1&file=src/app/on-push/on-push.component.html

Relevant code in `on-push`:
[code]

Output:
![image](https://user-images.githubusercontent.com/5757359/71073878-ea198a80-2189-11ea-9717-6bfbc0b3164f.png)

[2019-12-18 09:48] shaharkazaz commented on #203
@ygeelen-tb What would you expect to have been done in the TS files? which calls?

[2019-12-18 09:50] ygeelen-tb commented on #203
Calls like this in components could be replace with TranslocoService calls:

import { I18n } from '@ngx-translate/i18n-polyfill';

constructor(private i18n: I18n) {
    this.totalCountText = i18n("Totaal");
}

[2019-12-18 10:37] itayod commented on #201
@AmitMY
IMHO using `t('nested.house', {fallback: 'house localized'} )` would be an abuse usage for the translation parameters.

to solve your problem you could custom the missing keys to return `null` for missing values:
[code]
Then in the HTML:
[code]

[2019-12-18 12:17] caipirginka commented on #177
There are a few workarounds for this bug inside the Angular Language Service for VSCode and I found this one to actually work:
https://github.com/angular/angular/issues/16643#issuecomment-380837685

To use it for Transloco, the HTML should be like this one:

[code]

and inside the Component's class:
[code]
Any arbitrary name can be used instead of "fn" and "trigger".
It's not very clean and I'm no

[2019-12-18 13:41] shaharkazaz commented on #203
@ygeelen-tb This is a 3rd party library and part of the official Angular i18n and therefore not part of this migration script.
You can open a PR if you want to add support for it, but currently, we don't have plans to add support.

The schematics issue will be fixed.

[2019-12-18 13:58] ygeelen-tb commented on #203
@shaharkazaz Thanks!

By the way, for my initial installation of transloco to work with TypeScript, Angular 6 and rx.js 6, I had to upgrade multiple packages:

typescript: ~2.7.2 to ~3.1.1
@angular-devkit/build-angular: ~0.6.1 to ~0.10.0
@angular/cli: ~6.0.1 to ~7.0.2
@angular/compiler-cli: ^6.0.0 to ^7.0.0
@angular/language-service: ^6.0.0 to ^7.0.0

Especially TypeScript, because the typescript

[2019-12-18 15:28] AmitMY commented on #201
I accept your solution, even though it would be nice to know if a fallback exists or not (to show the default "key is missing error")

Thanks.

[2019-12-18 15:53] itayod commented on #201
You are welcome,
If you like to know if a key is missing, you could add `console.warn` before the `return`.

Let me know if you have any trouble with this solution going forward.

[2019-12-18 19:23] shaharkazaz commented on #203
@ygeelen-tb will check this out, thanks!

[2019-12-19 21:04] niklissad opened #204 "Scoped Library Extractor breaks build at CI (in docker container)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

At CI builds library extractor fails with error
[code]

## Expected behavior

Library extractor didn't

[2019-12-20 13:57] #203 closed

[2019-12-20 14:03] ygeelen-tb opened #205 "setActiveLang not being applied to translations in component ts files"
The setActiveLang method (language switching) is working for translations in views.
However, translations in the components (TypeScript) using translocoService.translate are not being translated when calling setActiveLang ?

I set the reRenderOnLangChange to true though, both in the app module bootstrapping and in the transloco.config.js

Am I missing something?

[2019-12-20 15:14] darkv opened #206 "Language ready event missing"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have a list of objects used for a dropdown containing a key from which a localized label is created.

[2019-12-20 15:57] itayod commented on #206
Hi @darkv,
I think what you are looking for is `translationLoadSuccess` event.
from docs:
[code]

[2019-12-20 16:19] darkv commented on #206
Thanks for that tip @itayod. But this unfortunately does only work partly.

Let's say we have an app and the available languages are _en_ and _de_ with default _en_. The user loads the app and automatically _en.json_ will be loaded and the `translationLoadSuccess` event fired. Now the user switches to _de_. Then the German translation file _de.json_ will be loaded and again `translationLoadSuccess

[2019-12-21 14:26] julianpoemp commented on #119
Angular 9 will be released in January 2020. How long would it take to make transloco compatible with ivy?

[2019-12-21 18:37] shaharkazaz commented on #205
@ygeelen-tb the translate function is a synchronous function and after the execution, it will not change the value again. if you need your programmatically translations to listen to language changes you need to use observables and [selectTranslate](https://netbasal.gitbook.io/transloco/service-api/translation-api).

[2019-12-21 18:37] #205 closed

[2019-12-21 18:45] itayod commented on #204
Hi @niklissad, I have fixed that and released a new version.
You are welcome to try and let us know if you run into another issue :)

[2019-12-21 18:45] #204 closed

[2019-12-21 18:48] itayod commented on #206
1. I would do that with pipe
2. If you still need that to be on the `ts` file, I suggest you use `selectTranslationObject` method.

[2019-12-22 11:10] itayod commented on #119
Hi @julianpoemp this should work fine now, as it was fixed by angular.
You could see the original issue [here](https://github.com/angular/angular/issues/32900)

[2019-12-23 15:38] mohamedaarab1994 opened #207 "selectTranslate not available for lazy loaded translations if transloco pipe is not used"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

It is not possible to use selectTranslate in conjunction with lazy loaded translations without using th

[2019-12-23 15:47] ArielGueta commented on #207
You are using the wrong syntax. In typescript, it should be `selectTranslate('title', {}, 'lazy-page')`

[2019-12-23 15:57] mohamedaarab1994 commented on #207
@ArielGueta Ahh I see, my bad then. The third param name was called `lang`. I thought you were only able to pass a language code as parameter then such as 'en' or 'es'. Thanks, you saved me!

[2019-12-24 09:12] timbru31 opened #208 "Git tags are missing for releases > 2.8.0"
#15  I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[x] Other... Please describe:
</code></pre>

## Current behavior

The most recent git tag is 2.8.0, while the most recent npm release is 2.12.1

## Expected behavior

[2019-12-24 11:12] mohamedaarab1994 commented on #207
@ArielGueta I just tried it in my own projects, but that doesn't seem to work like you say. I can only get the translations after a while (after DOM render). I tested this on a function that is attached to a click event:

[code]

[2019-12-24 13:22] ArielGueta commented on #207
can you update the stackblitz?

[2019-12-24 14:08] mohamedaarab1994 commented on #207
@ArielGueta I just updated the stackblitz. You can find it in lazy-typescript-only. I can tell it has something to do with network latency, because you rarely get a value back on ngOnInit if you refresh a couple of times.

[2019-12-24 16:10] itayod commented on #208
Hi @timbru31 I have updated the tags, thanks for noticing

[2019-12-24 16:10] #208 closed

[2019-12-24 16:13] ArielGueta commented on #207
Why do you keep using     `this._translocoService.selectTranslateObject('PhoneNumberInput.Countries').subscribe(x => console.log(x));`?

It's not the correct syntax.

[2019-12-24 16:18] mohamedaarab1994 commented on #207
@ArielGueta I used the syntax you gave me and that didn't work at all for me. The one you just mentioned only works in a click event (meaning that the json file was ready at the time of clicking)

[2019-12-24 17:00] timbru31 commented on #208
Great, thanks for the quick fix!

Merry Christmas to all of you 🎁

[2019-12-24 19:29] #207 closed

[2019-12-24 19:33] shaharkazaz commented on #207
You guys are both right 🙂
@mohamedaarab1994 The syntax that @ArielGueta said is the correct one, but there was a bug related to loading scopes using the selectTranslateObject (which is now fixed in v2.12.2).

Thanks for the report and the help, Merry Christmas 🎄 and Happy Hanukkah! 🕎

[2019-12-29 14:17] #206 closed

[2019-12-30 13:51] brunin2509 opened #210 "TranslocoService.load should check if file of fallback language is in cache as well"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When loading translation file, TranslocoService's load method is only verifying if the file of the give

[2020-01-01 05:41] #210 closed

[2020-01-02 12:25] rraziel opened #212 "translocoLang attribute ignored when switching language"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The `translocoLang` attribute is not taken into account when switching language dynamically (but it doe

[2020-01-02 12:51] itayod commented on #212
@rraziel did you try to use `static`?
see in [docs](https://netbasal.gitbook.io/transloco/general/using-multiple-languages-simultaneously)

[2020-01-02 12:57] rraziel commented on #212
Using `[translocoLang]="availableLanguage + '|static'"` seems to work, although I'm not quite sure I understand what `static` does (from the documentation page you linked to).

[2020-01-02 12:59] itayod commented on #212
I am glad to hear that it is working for you now :)

[2020-01-02 12:59] #212 closed

[2020-01-03 16:28] a-legrand opened #213 "Structural directive / pipe performance question"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[x] Other... Please describe: performance question
</code></pre>

## Current behavior

Hello :)
Just a question: why is the structural directive recommended over the pip

[2020-01-04 09:16] itayod commented on #213
You have all the answers in the [doc](https://netbasal.gitbook.io/transloco/translation-in-the-template/structural-directive).

✅ it is DRY as it creates **one** subscription per template
✅ it uses less memory from the same reason
✅  `t` function is memoized

For further questions, we have a [gitter channel](https://gitter.im/ngneat-transloco/lobby).
Or simply can ask in `stackoverflow`

[2020-01-04 09:16] #213 closed

[2020-01-07 12:22] jmo3300 opened #214 "transloco per module"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[x] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

An app has several (let's say) working modules.
These working modules should have their own i18n reposi

[2020-01-08 14:14] harishajdarevic commented on #92
@shaharkazaz ViewChild setter doesn't work.

[2020-01-08 16:01] mfchan commented on #28
+1 we really need it

[2020-01-09 09:46] itayod commented on #214
@jmo3300 if I understand correctly what you are trying to do then you are doing it wrong, **You should not have more than one `transloco-root`.** (that is why it called **root**...).

Take the time to read the [documentation](https://netbasal.gitbook.io/transloco/lazy-load-translation-files/scope-configuration) of how it should be done, or read my [blog](https://medium.com/angular-in-depth/lazy-lo

[2020-01-09 10:22] dertuerke opened #215 "Small IDE question"
Hello, is it normal that Webstorm returns this error message?

Unfortunately I don't understand why I get this error message

`"@ngneat/transloco": "~2.12.0"`

![image](https://user-images.githubusercontent.com/2199151/72059334-15e3e800-32d2-11ea-9a9e-0a4a6c674acf.png)

[2020-01-09 17:03] #214 closed

[2020-01-09 17:06] NetanelBasal commented on #215
I guess it's related to your IDE version or something. It works fine in our projects.

[2020-01-10 07:04] NetanelBasal commented on #215
Try to open an issue, and maybe they will help.

[2020-01-10 07:04] #215 closed

[2020-01-10 15:16] Dorrro opened #216 "transloco-scoped-libs always adds an entry to the .gitignore file"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Running `transloco-scoped-libs` command always results with an entry in the `.gitignore` file. There's

[2020-01-10 18:18] itayod commented on #216
Would you like to create a pr for this?

[2020-01-13 09:33] Dorrro commented on #216
I'll try, sure

[2020-01-13 11:51] #216 closed

[2020-01-14 06:28] gernsdorfer commented on #202
@itayod can you please reopen this issue.

The problem still exists with the demo repo from your blog (https://medium.com/@ItayOded/lazy-load-and-encapsulate-i18n-files-in-angular-with-transloco-55af44885797).

In my fork repo https://github.com/gernsdorfer/transloco-files-management/tree/translations-with-multiple-dependencies you can reproduce this behaviour.

Depending of the import order in th

[2020-01-14 08:53] itayod commented on #216
I have published a new version `1.2.0`. You can now use the `--skip-gitignore` flag to unmodify the gitignore.

[2020-01-14 08:58] itayod commented on #202
Hi @gernsdorfer what you are describing is the way that Angular's DI works. We had several issues opened before about the same phenomena and we are tired to explain it over and over...
Please take a look at how DI works with lazy loading or you can find it as mentioned in my blog:

[2020-01-14 12:01] sidyes opened #218 "Lib with translation but app without"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have a NX workspace with multiple apps and libs.
Some of the libs got their own translations and are

[2020-01-14 15:32] adgoncal commented on #218
As far as I understand, the issue is the translation files are fetched from your app's `assets/i18n`. If the translation files are not there, then it will 404. There are a few solutions:
1. Use [inline loader](https://netbasal.gitbook.io/transloco/lazy-load-translation-files/inline-loaders) - but then the translation files are bundled with the typescript during build.
2. Use [scopedLibs](https://n

[2020-01-15 06:44] sidyes commented on #218
1. The thing is that I am using inline-loaders in my libs.  I lazy load a module from a local library into my app and have TRANSLOCO_SCOPE in my library provided with a loader. It does not work when I do not have a translation in my main ap...
2. By now, I am not really keen on in copying all that stuff since libs are working when the app that is using them also contains translations.
3. Not an op

[2020-01-15 07:52] sidyes commented on #218
Update: nevermind it is working with inline loaders, I just need to preload the default language in the main app. 💯

[2020-01-15 07:52] #218 closed

[2020-01-15 09:34] ArielGueta commented on #218
@adgoncal Use inline loader - but then the translation files are bundled with the typescript during build.

That's not true. It will lazy load them.

[2020-01-15 15:23] adgoncal commented on #218
@ArielGueta yes, it is lazy-loaded, but not from a json. It is part of the js file generated for that lazy-loaded lib bundle during build. This might be ok for others, but my workflow is to join all en translation files into one single file and send that to the translation agency, and then split the translated files and put them in the dist assets.

[2020-01-19 22:34] billyjov commented on #177
Switching back to V0.8 solved this issue for me. It's seems like there is an problem using the newest version of the angular language service

[2020-01-20 08:58] secabhi opened #220 "Passing translated collection data to angular input attribute."
Hi I have a reusable component which generated key value pair
Like below
<img width="213" alt="Screen Shot 2020-01-20 at 2 22 45 PM" src="https://user-images.githubusercontent.com/3812742/72712170-81f70380-3b90-11ea-9ecd-d74f1eb8b34c.png">

My component is

`<app-component [data]="keyValue" />`

where keyValue is
`[{key:'name',value:'one'},{key:'class',value:'nine'},{key:'age',value:'thirteen'}]`

[2020-01-20 09:05] itayod commented on #220
have you considered using the [service](https://netbasal.gitbook.io/transloco/service-api/translation-api)?

[2020-01-20 09:08] secabhi commented on #220
I can do that but the problem is there is too many places I am using this reusable component. Using Translation service is tedious task . Let me know if I can do without translation API.

[2020-01-20 09:22] itayod commented on #220
then you could create a custom pipe that injects the TranslocoService and translate each of the keys

[2020-01-20 09:26] itayod commented on #220
btw next time you have a question please don't open an issue, you could ask a question in stackoverflow or ask in our [gitter](https://gitter.im/ngneat-transloco/lobby) channel.

[2020-01-20 09:26] #220 closed

[2020-01-20 13:18] nimesko opened #221 "[Feature] Add translated nested object return in the template"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

We cannot return a nested object translated based on a key in the template directly

## Expected behavi

[2020-01-23 14:34] boban984 opened #222 "Feature request for multiple scopes using Angular Modules"
## I'm submitting a feature request

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have an angular app with one main module and 2 feature modules, loaded eagrly.
The main

[2020-01-23 15:04] morithon opened #223 "Transloco MessageFormat ignores active language changes"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When transpiling a message, `MessageFormatTranspiler` uses the locale set when initializing the module.

[2020-01-24 15:31] itayod commented on #221
Hi @nimesko does it work for you if you use `selectTranslateObject` from the service?

[2020-01-24 15:35] itayod commented on #222
Duplicate of #202

[2020-01-24 15:35] #222 closed

[2020-01-24 18:20] nimesko commented on #221
Hi @itayod it works only if we use `async pipe`.

If we replace *translateObject* to *selectTranslateObject* inside a template who has a *ng-container* or *ng-template*, wouldn't we be doing a double subscription to the template?

Another issue is that, since the subscription is made to the template, we already have the language context, so the call for *translateObject* would make more sense, in

[2020-01-25 18:17] itayod commented on #221
You could use either, about supporting it from the directive, we decided that we don't want to support that for now...

So for your usecase, please use `translateObject` or `selectTranslateObject`.

[2020-01-25 18:17] #221 closed

[2020-01-25 18:18] #223 closed

[2020-01-25 19:21] itayod commented on #223
@morithon please upgrade to the latest `transloco` & `transloco-messageformat` version it should work for you now :)

[2020-01-27 10:31] morithon commented on #223
@itayod it works great now! Big thanks :)

[2020-01-28 08:41] boban984 commented on #202
For others facing the same issue, to summirize no, you can't use multiple modules for scopes

[2020-01-31 08:48] marchbox opened #226 "How to include HTML markups in translations"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[x] Other... Please describe: question
</code></pre>

For example, in the en.json file:

[code]

Currently when I use `transloco` pipe, it'll escape `<` and `>` characte

[2020-01-31 16:12] emzet opened #227 "Unit tests did not work with Ivy"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When running unit tests with imported **TranslocoTestingModule** (wrapped in factory function) as writt

[2020-01-31 17:52] shaharkazaz commented on #226
@marchbox use the translation in `innerHTML` binding.
Issues in our GitHub repo are reserved for potential bugs or feature requests. If you have any questions relating to how to use the library, we recommend asking them either in Stackoverflow or in the dedicated [Gitter channel](https://gitter.im/ngneat-transloco/lobby).
This question was already raised in our gitter channel and answered there.

[2020-01-31 17:52] #226 closed

[2020-02-01 00:22] marchbox commented on #226
Thank you!

[2020-02-02 06:35] NetanelBasal commented on #227
It is fixed in 2.13.1. Thanks for the report.

[2020-02-02 06:35] #227 closed

[2020-02-03 23:32] nimesko commented on #221
@itayod ok, thank you for your response 👍

Have a good week o/

[2020-02-05 08:49] Siedlerchr opened #229 "transloco-locale requires peer dependency of @ngneat/transloco@^1.7.9 although 2.x installed"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Have transloco and transloco-locale instaled.
npm update shows warning about missing peer dependency fo

[2020-02-06 10:51] xXKeyleXx opened #230 "Prefix all keys in a component via provider"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

If I have a long key like `LONG_PATH.LONG_GROUP_NAME.LONG_COMPONENT_NAME.LONG_KEY_NAME` it can make you

[2020-02-06 12:11] NetanelBasal commented on #230
https://netbasal.gitbook.io/transloco/translation-in-the-template/structural-directive#utilizing-the-read-input

[2020-02-06 12:11] #230 closed

[2020-02-06 12:20] NetanelBasal commented on #229
Fixed in v1.0.1

[2020-02-06 12:20] #229 closed

[2020-02-08 20:54] micobarac opened #231 "No pipe found with name 'transloco' in Angular 9 lazy loaded module"
I followed the manual:

`ng add @ngneat/transloco`

it imported `TranslocoRootModule` into `angular.module.ts`.

I imported `TranslocoModule` into a lazy loaded module, but I keep getting the error:

[code]

`error NG8004: No pipe found with name 'transloco'`.

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Fe

[2020-02-08 21:25] #231 closed

[2020-02-10 14:15] alexan opened #232 "Problems with setFallbackLangForMissingTranslation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I'm trying to `setFallbackLangForMissingTranslation` dynamically in my app and have found some strange b

[2020-02-11 08:33] JustGreg opened #233 "[Feature] Add support for Intl.RelativeTimeFormat"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

We can not use [Intl.RelativeTimeFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refere

[2020-02-12 00:00] SvenBudak opened #234 "TypeError: t_r307 is not a function"
I tryed today to switch from l10n to transloco and i started with very basic stuff. I `ng add` the package, selected the http loader and json format.

Then i copied this from the docu:

[code]

and i am wondering why i get this error:

[code]

The first entry in console is `🍻 Translation Load Success: en` so i think that everything is well configured.

(I dont add any service or something else to

[2020-02-12 06:32] shaharkazaz commented on #234
@SvenBudak What's your Transloco version?

[2020-02-12 07:07] SvenBudak commented on #234
i used `ng add @ngneat/transloco` so i expected that its latest `2.13.2` ... but its `1.1.1` in my `package.json`... Sorry that i didnt checked this before i post. I didnt know that its possible that ng add install a old version :) But then this is maybe a thing that can be fixed.

[2020-02-12 07:09] shaharkazaz commented on #234
@SvenBudak upgrade to the latest and see if you still have any issues and reopen 🙂

[2020-02-12 07:09] #234 closed

[2020-02-12 07:11] shaharkazaz commented on #232
@alexan it's a type issue, I'll take care of it and update

[2020-02-12 08:27] itayod commented on #234
@SvenBudak for a cleaner start I would recommend you to revert what the `ng-add` changes install the new version and run then `ng g @ngneat/transloco:init` that should run the same procedure as `ng-add`

[2020-02-12 08:52] micobarac opened #235 "Official docs are not in sync with latest @ngneat/transloco"
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Running:

`ng add @ngneat/transloco`

doesn't create `transloco-root.module.ts` as the docs say.

It creates `transloco.loader.

[2020-02-12 10:14] micobarac opened #236 "TranslocoService.translate should support number type as a parameter"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`Type 'number' is not assignable to type 'string'.`

## Expected behavior

TranslocoService.translate s

[2020-02-12 10:49] itayod commented on #236
What version do you use?

[2020-02-12 11:40] itayod commented on #235
@micobarac there seemed to be a problem with your `schematics` version could you try to reinstall the lib?
(make sure you install the lastest version)

[2020-02-12 11:40] #235 closed

[2020-02-12 12:12] micobarac commented on #236
`"@ngneat/transloco": "1.1.1"`

[2020-02-12 12:12] micobarac commented on #235
`"@ngneat/transloco": "1.1.1"`

[2020-02-12 12:13] micobarac commented on #235
How do I check my schematics version?

[2020-02-12 12:17] micobarac commented on #235
<pre>
<code>
~/workspace/openprovider/openprovider-admin-frontend (master)$ ng add @ngneat/transloco
Installing packages for tooling via yarn.
Installed packages for tooling via yarn.
? 🌍 Which languages do you need? en, hr, sr-Latn
? 🔥 Which loader do you want to use? Webpack or HTTP  Http
? 🚀 Which type of translation files you use? Typescript or JSON JSON
? ✍ Which folder will contain the trans

[2020-02-12 12:18] micobarac commented on #235
Why is this issue closed anyway???

[2020-02-12 12:33] micobarac commented on #235
It looks like that you must add this:

`yarn add @ngneat/transloco`

before executing:

`ng add @ngneat/transloco`

If this is the right way to do it, please update the docs.

[2020-02-12 12:47] itayod commented on #235
I meant the schematic's version of Transloco, simply reinstall Transloco using `ng add` and it should install the latest version for you (should be `2.13.3`).

[2020-02-12 12:47] itayod commented on #236
see https://github.com/ngneat/transloco/issues/235#issuecomment-585189301

[2020-02-12 12:47] #236 closed

[2020-02-12 12:55] micobarac commented on #235
I tried that, as you can see in my comment above. It installed the old version of transloco.

[2020-02-12 13:01] itayod commented on #235
it might be some kind of cache...

Also, I don't like your tone, it is closed since I released a new version that fixes that

[2020-02-12 13:04] micobarac commented on #235
Look, man, we are all creating issues here, as we bump along the problems using your library. The easiest thing is to close the issue. All I am saying is that I tried all the options that you suggested, and they are not working. Please, keep it cool, I mean you no harm.

[2020-02-12 13:10] itayod commented on #235
Anyway, it solved, so install the last version and run `ng g @ngneat/transloco:init`. That should do the installation process for you

[2020-02-12 18:46] itayod commented on #233
Hi @JustGreg,
Thanks for the suggestion, but we have decided that we don't want to support this feature as an official part of the library since it does not support Safari, edge, and explorer.

[2020-02-12 18:46] #233 closed

[2020-02-13 05:26] SvenBudak commented on #234
Thanks @itayod it worked with `ng g @ngneat/transloco:init` much better :) I am just wondering why configs are splitted in 2 files... Some are in `transloco-root.module.ts` and some others are in `transolco.config.js`.. Some stuff seems to be duplicate, like `availableLangs: ['en', 'de']` and `langs: ['en', 'de']`.

[2020-02-13 06:13] SvenBudak opened #237 "[Feature Request] - Current Lang in URL"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

I cant find any solution to show the current selected language in the url. In the old package i used (angular l10n) it was j

[2020-02-13 14:36] ArielGueta commented on #237
Can you please explain what it looks like, and why we need it?

[2020-02-13 16:48] SvenBudak commented on #237
This will explain it better as I can: https://support.google.com/webmasters/answer/182192?hl=en

[2020-02-13 17:06] ArielGueta commented on #237
Thanks. This is a really long article. I think the maintainers will appreciate a summary of how the feature should like.

[2020-02-13 17:13] SvenBudak commented on #237
For example. I can't switch to transloco with some projects because all urls are listed on google with www.domain.com/en/

All entries will link to dead links

[2020-02-13 17:14] ArielGueta commented on #237
Duplicate of #28

[2020-02-18 08:32] itayod commented on #237
https://github.com/ngneat/transloco/issues/28#issuecomment-566464842

[2020-02-18 08:32] #237 closed

[2020-02-19 01:21] SvenBudak commented on #28
Sry but this is insane.... this makes the whole package useless...

[2020-02-19 09:42] Azbesciak opened #238 "Translations are not loading"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Translations are not fetched. Only after usage of pipe/directive. Nevertheless, even then neither `trans

[2020-02-19 09:46] shaharkazaz commented on #238
Duplicate of #127

[2020-02-19 09:46] #238 closed

[2020-02-19 09:48] itayod commented on #238
@Azbesciak you probably didn't wait for the translation to load.
The `translate` method is translating synchronously as mentioned in the docs!

Try to use `selectTranslate` from the service and see if it works for you, see in [docs](https://netbasal.gitbook.io/transloco/service-api/translation-api#selecttranslate).

[2020-02-19 09:53] Azbesciak commented on #238
Yes, thank you. Sorry for the noise.

[2020-02-19 12:46] bevkoski opened #239 "Expose key instead of value within transpile method"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The `transpile` method of the `TranslocoTranspiler` interface is declared as follows:
[code]

## Expect

[2020-02-21 13:34] aboudard opened #240 "Documentation about $events Observable"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

In the current documentation (2.13.0),
https://netbasal.gitbook.io/transloco/service-api/translation-ap

[2020-02-21 17:59] timbru31 opened #241 "404 link for migration document for ngx-translate"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The link defined in https://github.com/ngneat/transloco/blob/7760f7e28e00e3d85b1cc5ac76a91eabed7c0599/s

[2020-02-22 03:26] Paitum opened #242 "Documentation on using Scope within TranslocoService"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[X] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I'm finding it difficult to understand how to work with scopes via the Translation API as documented he

[2020-02-22 03:41] Paitum commented on #242
After thinking about this more, it seems I need an Observable that triggers whenever the language changes AND the strings are available. So something like:
[code]

or a more direct object-access approach like, with less boiler plate:

[code]

[2020-02-22 11:57] itayod commented on #240
updated the docs, thanks

[2020-02-22 11:57] #240 closed

[2020-02-22 12:00] itayod commented on #239
@bevkoski maybe you could use the [interceptor](https://app.gitbook.com/@netbasal/s/transloco/hack-the-library/transloco-interceptor) for your usecase?

[2020-02-22 12:17] itayod commented on #241
fixed, thanks.

[2020-02-22 12:17] #241 closed

[2020-02-22 21:35] bevkoski commented on #239
@itayod, thanks for the input. After a closer look at the interceptor, I can say that it is indeed applicable for my use case. Sorry for not checking more thoroughly earlier - I assumed that the timing of the interception would not work for me. In case you believe that exposing the key within the transpiler is not a good idea, feel free to close this issue.

[2020-02-23 06:14] Paitum commented on #242
Closing this issue since I have figured out some aspects on my own, and don't want to put someone through the hassle of reading my progression above. I hope to return with specific documentation recommendations in the near future.

I think my problem is I didn't setup and configure Transloco in my code, so when accessing the documentation, I found sections assumed the reader understands more than

[2020-02-23 06:14] #242 closed

[2020-02-23 07:29] shaharkazaz commented on #239
@bevkoski I'm glad that solved your issue 🙂

[2020-02-23 07:29] #239 closed

[2020-02-23 18:58] krokofant commented on #22
The lines I had to remove was related to:
[code]

Then it started to work :-)

[2020-02-25 08:50] micobarac opened #243 "Update peer dependency to Angular v9"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

<pre><code>
@ngneat/transloco@2.13.3" has incorrect peer dependency "@angular/core@>=6.0.0 <9.0.0".
</c

[2020-02-25 10:05] itayod commented on #243
@micobarac would you like to create a pr for this?

[2020-02-25 10:19] timbru31 opened #244 "Migration from ngx-translate does not replace translate pipes which contain a newline"
I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The migration from `ngx-translate` does not replace `translate` pipes which block ends with a newline.
For

[2020-02-25 11:00] micobarac commented on #243
@itayod , does this include updating only peer dependencies to support Angular? If it does, I can do it. Just give me permission please to create PR.

[2020-02-25 11:08] tanepiper opened #245 "Transloco Date Pipe does not support all date formatting"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ x ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

This is both a bit of a bug, but also a request to support all date formatting options supported in

[2020-02-25 11:34] itayod commented on #243
It does.

To create a PR you will have to fork the library, take a look at this [stackoverflow](https://stackoverflow.com/questions/14680711/how-to-do-a-github-pull-request) if you have never done it before.

[2020-02-25 13:40] itayod commented on #245
@tanepiper looks like it just a matter of typing, would you like to create a pr for this?

[2020-02-28 15:36] SantiagoIlli opened #248 "Different behaviour between Angular number pipe and translocoDecimal pipe"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
When i use translocoDecimal pipe with number 1000 the result is 1000 with locale es-AR
When i use Angula

[2020-02-29 08:15] #245 closed

[2020-02-29 08:15] #243 closed

[2020-03-01 12:29] #232 closed

[2020-03-01 12:29] #244 closed

[2020-03-01 12:34] shaharkazaz commented on #244
@timbru31  should work as expected in v2.13.5, LMK if you have any issues 🙂

[2020-03-01 13:28] shaharkazaz commented on #232
@alexan I fixed the issues you raised in v2.13.5, LMK if something isn't working for you.

As for `setFallbackLangForMissingTranslation`, this function isn't used to set the fallback language, but to set the fallback **translation**, which is used in cases I have a missing key, an example:
Let's say I have an active language of Japanese and I set the fallback translation to English, so when I have

[2020-03-02 10:00] timbru31 commented on #244
Thanks, I've confirmed v2.13.5 works as expected! 🎉

[2020-03-02 10:37] alexan commented on #232
Thanks for clearing this up. It is clearer now, but I'm not 100% sure if I would have understood the difference, If I would only look at the doku.

One value there is enough for our use case. We are solving dialects with this functionality. When we have the language  `de-CH` (german as spoken in Switzerland) we want every value which is not present in the dialect to load from the base language `de

[2020-03-02 11:56] shaharkazaz commented on #232
@alexan If you have any suggestions regarding the docs in order to make them clearer you are more than welcome to comment them here 🙂
As stated in the docs, if you use `missingHandler.useFallbackTranslation: true`, it will take the first value from the `fallbackLang` property.
![image](https://user-images.githubusercontent.com/17194830/75674227-56862f00-5c8d-11ea-8b91-0a6e4aa5d5c8.png)
You can cha

[2020-03-02 15:17] matusbielik opened #249 "Problem with setting translocoConfig using httpcall in factory, when TranslocoService as dependency anywhere"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

After migrating from ngx-translate, transloco can't load <code>translocoConfig</code> using factory, as

[2020-03-02 20:29] itayod commented on #249
I am not sure I completely understand what you’re trying to do, could you sum things up for us?
What you are trying to achieve and what error do you get?

[2020-03-03 11:20] matusbielik commented on #249
@itayod what I am trying to achieve is to have translations working, as they are not, in circumstances that I have - that's what I've tried to describe to best as I could, it's frustrating that you don't understand. Have you checked the minimal replication app that I have uploaded to github? I've put quite work in replicating the problem in new app.

It's quite easy to follow from there - you just

[2020-03-04 07:47] Siedlerchr opened #250 "Cannot read property 'translate' of undefined in karma spec test"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Spec test fails and says `translate(....)`is undefined.

## Expected behavior

Spec test runs sucessful

[2020-03-04 08:50] stijnvn opened #251 "Error: Token InjectionToken PERSIST_TRANSLATIONS_LOADER is missing a ɵprov definition."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

After adding the `TranslocoPersistTranslationsModule` to an Angular 9 application, it throws the follow

[2020-03-05 09:45] stijnvn commented on #250
I can confirm this bug also exists in combination with Angular 9.0.2.

[2020-03-05 10:26] jochenjonc opened #252 "Migrate from ngx-translate"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

After running the migration from ngx-translate to transloco I noticed that a lot of translations did no

[2020-03-06 08:15] Azbesciak commented on #152
But what If I need it to be in lazy module?

[2020-03-06 10:43] Azbesciak opened #253 "Does not work as root in lazy loaded module"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
When loaded in root or directly connected module, it works fine but when loaded as lazy module there is

[2020-03-07 16:35] itayod commented on #248
Hi @SantiagoIlli,
Transloco's locale plugin is based on javascript's Intl API therefor there might be conflicts with Angular's behavior which we not going to fix.

Having said that, If you like you can modify the way Transloco transform numbers and dates using the newest `@ngneat/transloco-locale`'s version [API](https://netbasal.gitbook.io/transloco/plugins/locale-l10n#localization-transformer):

[2020-03-07 16:37] itayod commented on #251
Hi @stijnvn I couldn't reproduce it, could you upload a reproduction of this issue?

[2020-03-09 12:39] ArielGueta commented on #250
Works for me. Can you reproduce it?

[2020-03-09 12:40] ArielGueta commented on #249
You have a race condition. `customTranslateConfigFactory` function isn't going to wait until `configFactory` request is back.

[2020-03-09 12:42] ArielGueta commented on #253
You should provide the config once in the root module.

[2020-03-09 12:43] ArielGueta commented on #252
`'translation.key.one', 'translation.key.one'` returns strings or objects?

[2020-03-09 13:06] Azbesciak commented on #253
But in a root module I dont know my config.

[2020-03-09 13:55] SantiagoIlli commented on #248
Hi @itayod  thanks for the reply!

I'll try to use that approach to achieve a proper number format for spanish languages.

On the other hand, the javascript Intl API is being maintained ? I would like to report this issue in the proper repository.

If the answer is no, that means that this is going to be a issue (with a work around, but still an issue) for undetermined time?

I realized that the p

[2020-03-09 19:57] ArielGueta commented on #253
I'm not sure I understand your application. What if the user doesn't enter the lazy route? You will not have translations

[2020-03-09 22:16] Azbesciak commented on #253
He does not enters the route, he loads the entire app as an component, at the beggining he need to pass the configuration. And yes, multiple configurations are possible.
What is the problem? As I remember singleton is an anti-pattern. And not-managed especially.

[2020-03-10 17:09] jochenjonc commented on #252
they return strings

[2020-03-10 17:53] ArielGueta commented on #252
I tried it and it works. https://stackblitz.com/edit/ngneat-transloco-hzabmt?file=src%2Fapp%2Fhome%2Fhome.component.ts

[2020-03-10 17:54] ArielGueta commented on #252
`stream` and `selectTranslate` returns an observable. You need to subscribe.

[2020-03-11 13:02] Azbesciak commented on #253
Is it possible to fix this behaviour?

[2020-03-11 13:12] itayod commented on #248
@SantiagoIlli yes, you might need to file an issue to the Intl API of javascript, but currently, we won't create a fix that on our side.

[2020-03-11 13:12] #248 closed

[2020-03-12 13:22] vladimirdrayling commented on #253
@Azbesciak maybe you could use this approach [by using a static function in `TranslocoRootModule`](https://github.com/vladimirdrayling/nx-starter/blob/master/apps/web-client/src/app/app.module.ts#L39). I needed to pass in some environment vars, so I came to the static function. I was inspired by [NGRX StoreModule](https://github.com/ngrx/platform/blob/master/modules/store/src/store_module.ts#L112)

[2020-03-12 13:40] Azbesciak commented on #253
As I said, my config is not known at the begining - I need to pass it via variable to master component, which is application/custom-element/angular-component.
So any `forRoot` is possible. I mean, I have `forRoot`. But there are multiple roots, and not in terms of `provideIn: "root"`.

[2020-03-12 18:50] nsabourin opened #256 "WARN transloco-persist-lang with peer dependencies"
I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

[code]

## Expected behavior

compatible plugin

## Minimal reproduction of the problem with instructions

[2020-03-14 10:28] itayod commented on #256
@nsabourin I have released a new version of `transloco-persist-lang` that fix that warning, you could upgrade to the newest version if you like :)

[2020-03-14 10:28] #256 closed

[2020-03-17 07:14] shaharkazaz commented on #252
@jochenjonc just to clarify, when passing several keys in `ngx-translate` `stream` function you get an object back? in transloco passing an array will resolve in an array with the translated strings.

[2020-03-18 09:09] jochenjonc commented on #252
This works, and returns an array but the key is not availble, you cannot do the following:

[code]

This works, but is not safe to use if you have a lot of keys:

[code]

[2020-03-18 09:13] jochenjonc commented on #252
Correct, that is way I was wondering if it shouldn't be changed to:

[code]

[2020-03-19 07:53] shaharkazaz commented on #252
@jochenjonc I see. I will add a note in the migration file so people will know they need to change this to the `selectTranslateObject` (since stream returns an observable).
This will not be part of the migration script as of now, but you are welcome to extend it and create a PR 🙂

[2020-03-20 18:27] gpeel opened #257 "Property 't' does not exist on type"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>²

## Current behavior
with ng/cli 9.0.7
ng new mytestproject
add @ngneat/transloco

en.json
{
  "title": "titleEN",
}

NgMod

[2020-03-21 07:29] shaharkazaz commented on #257
@gpeel In order to use `t` in your template, this needs to be inside a transloco structural directive.
Try changing your template to this: `<div *transloco="let t">{{t('title')}}}</div>`.

[2020-03-21 14:41] gpeel commented on #257
thanks, it work fine now

[2020-03-21 14:41] #257 closed

[2020-03-21 14:47] shaharkazaz commented on #257
@gpeel you are welcome, please try our [gitter channel](https://gitter.im/ngneat-transloco/lobby) when you have a question 🙂

[2020-03-22 11:29] swayf commented on #252
First of all thank you for the awesome lib =)
I am wondering, is any alternative to ngx-translate "extract" marker..
It is just empty function, but some strings can be marked in code without translation.
In transloco I can do it within special commend /** t(term) */ but in this case I have to repeat this term twice.. once in code and second time in comment. am I right? or there is something like '

[2020-03-22 22:00] shaharkazaz commented on #252
@swayf Thanks for your support!
Let's take this in [our gitter channel](https://gitter.im/ngneat-transloco/lobby) since it's not really related to this issue, you can always ask for help there 🙂

[2020-03-23 08:23] xochilpili opened #258 "Unit test : %c Missing translation for 'en.alert'"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ * ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Im trying to make a integration test using transloco and not using @ngneat/spectator as examples does

[2020-03-23 08:56] shaharkazaz commented on #252
@jochenjonc I have updated [our ngx-migration doc](https://app.gitbook.com/@netbasal/s/transloco/schematics/migrate/migration-from-ngx-translate).
Closing this, thanks again for the report, feel free to open a PR and implement the functionality 🙂

[2020-03-23 08:56] #252 closed

[2020-03-24 17:17] foucdeg opened #259 "Parse variable inside nested translations"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

This is my translations file, where I use another translation key in a translation value as documented:

[2020-03-30 11:40] JamboBuenna commented on #253
Bump, also getting this.

[2020-03-30 17:02] shaharkazaz commented on #251
@stijnvn Feel free to reopen the issue and provide a reproduction 🙂 .

[2020-03-30 17:02] #251 closed

[2020-03-30 17:02] shaharkazaz commented on #250
@Siedlerchr  Feel free to reopen the issue and provide a reproduction 🙂 .

[2020-03-30 17:04] shaharkazaz commented on #249
@matusbielik have you checked the race condition @ArielGueta is referring to? can you please give an update here 🙂

[2020-03-30 17:10] shaharkazaz commented on #259
@foucdeg We don't support nested interpolation, only the first level can except parameters.
If you have any questions please feel free to ask in [gitter channel](https://gitter.im/ngneat-transloco/lobby)

[2020-03-30 17:10] shaharkazaz commented on #253
@JamboBuenna @Azbesciak The configuration isn't supposed to be lazy-loaded if you need to fetch it from the server or do some other logic to determine which one to use you should do it in the app initializer.

[2020-03-30 17:40] Azbesciak commented on #253
What if I create library? As you do...? IMO require from user to use something in root is not a good idea, and lazy loading is one of the problem.
As I said, I am providing lib which, because of it size and optionality, need to be lazy loaded. So far it is impossible because of your solution (since I use it).

[2020-03-30 18:20] Coly010 commented on #253
I don't know if you're using the correct terminology. What you're looking for is a way to programmatically set the config via the `TranslocoService` API.

So your setup must look something like:
[code]

And you want to be able to do

`this.translocoService.setConfig(this.translocoConfig)`

I'm not sure if Angular allows you to override an InjectionToken using their Injector that you can inject int

[2020-03-30 18:42] matusbielik commented on #249
@shaharkazaz hello.

I think it is pretty obvious that there is a race condition as I tried to explain this race condition two times in a row.

I think that there are a few clear questions about my race condition problem that I tried to ask without any luck of having them answered, like:

"Is there any way to set up this whole config & translation loading process in AppModule only, as with ngx-tra

[2020-03-30 19:12] itayod commented on #249
Hi @matusbielik, have you tried loading the configuration you need using `APP_INITIALIZER` and then use it inside the loader?

[2020-03-30 19:23] itayod commented on #253
@Azbesciak I am not sure what exactly is you use case, but why can't you simply set only the configuration eagerly in your main application and then lazy load the entire library.

Also could you please create a small reproduction so I can look into it?

[2020-03-30 19:28] emzet commented on #249
@itayod [ngx-config](https://github.com/fulls1z3/ngx-config) uses `APP_INITIALIZER`

[2020-03-30 19:32] itayod commented on #258
Hi @xochilpili are you using `TranslocoTestingModule`? also, make sure to provide the translation object, otherwise, it can't work :)

[2020-03-31 04:41] Azbesciak commented on #253
You're welcome: https://github.com/Azbesciak/transloco-lazy-issue
I can't because:
- I am not owner of parent app
- it is not just a single one
- it is leak of knowledge and not a good practice to require from client to know what is used behind, especially in such things like translations lib (what if they are using ngx or angular i18n?)
- makes my API more complex and harder to understand

Theore

[2020-03-31 07:29] rraziel commented on #249
@matusbielik I think the aforementioned `APP_INITIALIZER` is what you are looking for, this is what we are using to wait for Transloco to be initialized (i.e. load translation files).

In the main module:
[code]
The factory itself:
[code]
Your application will not be considered initialized until that promise resolves.

[2020-03-31 09:36] emzet commented on #249
Guys, did anyone try to run that docker image @matusbielik prepared? Because what I see from discussion is that no one really understand (or tried to understand) what is the issue. He wants to migrate from **ngx-translate** to **transloco** (_as transloco is proposed replacement for ngx-translate by the author himself_). So sum up and simplified:

---

**Current state**:
[ngx-config](https://githu

[2020-03-31 16:18] born2net opened #261 "sharing: developed a script to translate all localized files... maybe add to lib"
this is an awesome lib.
I developed a script which will read the source file: en.json
and using node.js and google translate (require google key) will generate all localized files.
as you add more sections / words to your en.json file, just re-run script and it will re-populate all other language files.

1. uncomment createLocalFiles() one time to create all the files: he.json ca.json de.json etc.

[2020-04-02 14:05] JamboBuenna commented on #253
I no longer support this issue as being a problem. Apologies for false positive. I had made a mistake.

[2020-04-02 14:55] shaharkazaz commented on #261
@born2net Nicely done! I'd like to add this script to the docs as a recipe, is that ok? 🙂

[2020-04-02 15:02] born2net commented on #261
sure thing... that's why I posted, enjoy!

[2020-04-04 14:50] d-koppenhagen commented on #28
I don’t think it will make the package useless. Probably it won’t fit for you but for others it does.

It‘s open source and you are free to create a package that will extend transloco or just use another lib that fits for you.

Keep in mind: it’s open source and you can either use it or not. And you can maybe request for a feature and try to contribute and get help from the community. But you shou

[2020-04-06 21:04] JulianH99 opened #262 "Translations loaded as empty objects"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Translations are loaded empty, if I try to use translocoService to execute `getTranslation('en')` all I

[2020-04-06 21:15] #262 closed

[2020-04-07 03:26] Azbesciak commented on #253
Any update on this subject?

[2020-04-09 07:31] RonRofe opened #263 "SSR with transloco - "When using the default fallback, a fallback language must be provided in the config!""
## Current behavior

App is kind of fully loaded, but without my transloco languages and texts.

## Expected behavior

App fully loaded with all the defined in transloco.

## Minimal reproduction of the problem with instructions

After implementing Angular Universal" on my app, running `npm run build:ssr` -> `npm run serve:ssr` and Entering the URL, the following error appears couple of times on t

[2020-04-09 12:41] C0ZEN opened #264 "Angular animation and loading template not working together"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The loading template does not change his state during a page animation.

## Expected behavior

Once the

[2020-04-09 12:56] itayod commented on #263
@RonRofe could you show us also your `TranslocoLoader`?

[2020-04-09 13:01] #263 closed

[2020-04-09 14:54] shaharkazaz commented on #261
@born2net Added to [our docs](https://app.gitbook.com/@netbasal/s/transloco/recipes/generate-locale-files-using-google-translate), thanks again!

[2020-04-09 14:54] #261 closed

[2020-04-09 15:01] itayod commented on #259
As @shaharkazaz we don't support nested interpolation, therefor I'm closing this issue, for further questions feel free to ask us on our gitter channel

[2020-04-09 15:16] shaharkazaz commented on #258
@xochilpili are you still having issues? have you seen @itayod reply?

[2020-04-09 15:20] born2net commented on #261
great... but link is broken:
https://app.gitbook.com/@netbasal/s/transloco/recipes/generate-locale-files-using-google-translate

[2020-04-09 15:22] shaharkazaz commented on #261
@born2net correct, I sent the editing URL by mistake, fixed the comment, thanks

[2020-04-09 15:29] foucdeg commented on #259
@itayod @shaharkazaz so this is a feature request, is this the right place?

[2020-04-09 15:33] C0ZEN commented on #264
**UPDATE 1:**
Added a repro on StackBlitz.

[2020-04-09 15:33] born2net commented on #261
awesome!

[2020-04-11 18:52] shaharkazaz commented on #253
@Azbesciak Just to make sure I understand, you want to use the `TranslocoService` only inside your lib/external app correct? like in the repo you shared here.

If so, you can just add the service in the providers array so a local instance can be created since the service that's provided in root has no access to the tokens in the lazy loaded module (new injector is created)

[2020-04-13 14:20] Dschuli commented on #52
Hi,
I could thing of two use cases where a fallback translation on a missing key in one language would be helpful:

-  Similar languages with a few differences (e.g. French & Belgian), where only the deltas would be needed to get translated in one of the translation files

-  Applications where only parts need to be translated - e.g. the end user part needs translation, while the administrator par

[2020-04-13 14:23] NetanelBasal commented on #52
@Dschuli, we support this feature.

[2020-04-13 15:21] Dschuli commented on #52
Sorry - I'm a new to Transloco. Just found out in the docs that I just have to set the useFallbackTranslation to use it. Was about to remove my comment ...... too late. damn.
Cudos anyhow for Transloco. So far I really like what I see.....

[2020-04-14 05:28] xavierclotet opened #266 "Error with angular 8.2.14 when ng serve"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)

</code></pre>

## Current behavior

When I do ng serve i get this error:

ERROR in ../node_modules/@ngneat/transloco/lib/transloco.service.d.ts:33:9 - error TS1086: An accessor cannot be declared in an ambient context.

33     get config(): TranslocoConfig;

## Expected behavior

[2020-04-14 05:46] #266 closed

[2020-04-14 09:41] ciprian-iacob commented on #266
I have a similar issue. What was the fix in your case?

[2020-04-14 10:02] xavierclotet commented on #266
fix the transloco versions without ^ ie:

    "@ngneat/transloco": "2.14.0",
    "@ngneat/transloco-locale": "1.1.1",
    "@ngneat/transloco-persist-lang": "1.0.2",
    "@ngneat/transloco-persist-translations": "1.0.0",

[2020-04-14 10:29] ciprian-iacob commented on #266
Thanks for sharing it. It looks like there's an issue with version 2.14.1 of transloco that forces the apps to upgrade the angular cli and typescript version latest version. From what I understand there is some breaking change in typescript that causes it.
Similar issues were described in storybook repo: https://github.com/storybookjs/storybook/issues/9463

[2020-04-14 10:42] shaharkazaz commented on #266
@ciprian-iacob you are correct, I'm reverting back the TS version and I'll release it in v2.14.2, thanks!

[2020-04-14 10:43] ciprian-iacob commented on #266
@shaharkazaz Yes, sure.

[2020-04-14 10:46] shaharkazaz commented on #266
@ciprian-iacob should be up, can you verify? 🙂

[2020-04-14 10:55] ciprian-iacob commented on #266
@shaharkazaz I can confirm that v2.14.2 is working fine in my testing and the issue describe above is no longer reproducible. Thank you for the fast response and quick fix. Keep up the good work.

[2020-04-14 12:04] xavierclotet commented on #266
Thx @shaharkazaz

[2020-04-16 07:45] Siedlerchr opened #267 "Angular 9.1 and Transloco-locale 1.1.2 giving injection error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Update to transloco-locale 1.1.2 and notice that the error is visible:
Previous version 1.1.1 worked fi

[2020-04-17 07:27] WLun001 opened #268 "Docs broken link"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
https://netbasal.gitbook.io/transloco/comparison-to-other-libraries
The links for `Pluralization` and `L

[2020-04-17 12:23] kabomi commented on #266
Now with v2.14.2, angular 6 & 7 they both fail. I had to downgrade to v2.14.0

[2020-04-17 15:45] #259 closed

[2020-04-17 15:49] shaharkazaz commented on #259
@foucdeg available in v2.15.0, Also updated the [docs](https://ngneat.github.io/transloco/docs/additional-functionality#reference-other-keys)

[2020-04-17 15:51] shaharkazaz commented on #268
@WLun001 You are viewing the old documentation site, see our [new docs](https://ngneat.github.io/transloco/docs/comparison)

[2020-04-17 15:51] #268 closed

[2020-04-18 09:55] Maxstgt opened #269 "deprecated function in docs"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I'm not sure if this `getTranslationObject` is still in the docs because of older versions? Because ver

[2020-04-18 19:18] itayod commented on #266
Hi @kabomi it seems like you are right. Apparently Angular's View Engine compiler in V9 does not support Angular versions lower than 8 even though they [say it is](https://angular.io/guide/ivy#maintaining-library-compatibility).
We will update the BREAKING_CHANGES file to include that information.

Thanks for letting us know!

[2020-04-19 10:08] foucdeg commented on #259
Awesome! Thanks.

[2020-04-20 10:40] adrianriepl opened #270 "No provider for TranslocoService when using buildOptimizer"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I try to serve/build the app using the following flags/configuration:

[code]

I get the following

[2020-04-20 12:35] Ketec commented on #267
Same - wanted to upgrade to 1.1.2 hoping it fixes the unit test pipe errors, but getting the same injection errors.
Some testing showed that the error shows up when locale service is used (I disabled all submodules, main app just used the service to set active locale).

[2020-04-20 18:59] shaharkazaz commented on #267
@Ketec @Siedlerchr can you try v1.2.0?

[2020-04-20 19:01] shaharkazaz commented on #270
@adrianriepl can you try upgrading to v2.16.0?

[2020-04-20 19:10] shaharkazaz commented on #253
@Azbesciak Any update?

[2020-04-20 19:11] itayod commented on #258
we are closing this issue due to inactivity, please feel free to reopen it if you still have any problem

[2020-04-20 19:11] #258 closed

[2020-04-20 19:23] Azbesciak commented on #253
Sorry, I am a bit busy now, but have this in my mind.
I have tried it before I made an issue and there was some problem, don't remember now what it was.
What comes to my mind is `translate` function which uses service in root, but I can make my own in the same manner (rather recommended anyway in my approach). I assume that pipes won't be a problem.
Just wondering about other dependant services.

[2020-04-20 19:25] shaharkazaz commented on #253
@Azbesciak no worries, just give an update as soon as you get the chance to check it and we will take it from there 🙂

[2020-04-20 20:25] #269 closed

[2020-04-20 20:28] shaharkazaz commented on #269
@Maxstgt Thanks you for submitting this, the function name was wrong 🙂 I [updated the docs](https://ngneat.github.io/transloco/docs/translation-api#translateobject) accordingly, the correct name is `translateObject`.

[2020-04-21 08:49] adrianriepl commented on #270
Upgraded to v2.16.0 and seems to be fixed now :smiley: Thank you!

[2020-04-21 08:49] #270 closed

[2020-04-21 11:35] Siedlerchr commented on #267
For me it's fixed with 1.2.0

[2020-04-21 18:56] #267 closed

[2020-04-23 09:45] micobarac opened #272 "How to translate a Map?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I am trying to translate multiple keys with each param referencing the linked key, but I cannot find a

[2020-04-23 10:02] shaharkazaz commented on #272
@micobarac Seems like you are looking for [selectTranslateObject](https://ngneat.github.io/transloco/docs/translation-api/#selecttranslationobject) method, let me know if that's what you meant.

[2020-04-23 10:11] micobarac commented on #272
@shaharkazaz , no, both `selectTranslate` and `selectTranslateObject` have the following definitions:

[code]

Keys are separated from params. I am talking about a single object, containing a Map of keys with corresponding params. Something like this:

[code]

[2020-04-24 12:28] #264 closed

[2020-04-24 12:47] C0ZEN commented on #264
@itayod thank you for your time, I will give it a try right now.
You made my week if this is working.

[2020-04-24 12:51] C0ZEN commented on #264
Related to #182 and the hack will not longer be useful.

[2020-04-24 12:52] C0ZEN commented on #182
A real fix is available.

[2020-04-24 13:21] itayod commented on #264
You are welcome @C0ZEN :)
But you still have to wait for a new version with that fix to be released in order to test it.

[2020-04-24 13:47] #272 closed

[2020-04-24 13:48] shaharkazaz commented on #272
@micobarac released in v2.17.0 🙂

[2020-04-24 13:49] shaharkazaz commented on #264
@C0ZEN  released in v2.17.0 🙂

[2020-04-25 19:51] ArielGueta commented on #249
I still can't understand what's the difference with ngx-translate. Can you share the `_setUpI18n` part with ngx-translate?

[2020-04-25 19:52] ArielGueta commented on #249
Because based on your code, I can't see any difference with the loaders. `TranslocoHttpLoader ` and `BrowserTranslateLoader` are both returns the same results.

[2020-04-25 20:24] devinvoss opened #274 "Referencing other keys only works on outer keys in the global scope"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Referencing another key in a nested key doesn't work (pipe returns blank).
Referencing another key in a

[2020-04-25 20:29] ArielGueta commented on #274
It should be:

[code]

[2020-04-25 20:40] ArielGueta commented on #274
The second one I believe should be:
[code]

[2020-04-25 21:52] devinvoss commented on #274
Both of the issues I was having resulted from not knowing that I needed to reference the scoped variable from within itself. Thank you @ArielGueta !

[2020-04-25 21:52] #274 closed

[2020-04-27 04:16] Azbesciak commented on #253
I've finished with this

[code]

At first I tried to also export `TRANSLOCO_MISSING_HANDLER` and `TRANSLOCO_INTERCEPTOR` but
[code]

For all who will come after me - I would expect that because of `root` something will be (or rather - can, because it is lazy) be loaded faster, so I have used `translate` function quite often. Now I see very often that some part of app is translated, other some time

[2020-04-27 07:38] Azbesciak commented on #253
Actually, I will reopen.
I have noticed that translations are loaded twice, because of pipes.
As you see I export those imported from `TranslocoModule`, and that is my mistake.
But when I removed `TranslocoModule` import, declare both directive and pipe in my module, it requires `TRANSLOCO_MISSING_HANDLER`...
Ok, but `DefaultHandler` is not exported.

[2020-04-27 14:34] shaharkazaz commented on #274
@ArielGueta Thanks for clarifying.
@devinvoss I updated the [Reference Other Keys](https://ngneat.github.io/transloco/docs/additional-functionality#reference-other-keys) section in the docs 👍

[2020-04-27 17:26] itayod commented on #253
I personally kind of lost... what you are trying to achieve? It would be great if you could re-explain what is it that you are trying to do, why @shaharkazaz [comment](https://github.com/ngneat/transloco/issues/253#issuecomment-612489325) didn't work for you, what's the current issue, and update your reproduction repo. Thanks

[2020-04-27 18:18] C0ZEN commented on #264
@itayod @shaharkazaz the fix is working fine, thank you.
Smooth and beautiful animations in my apps now 😃

[2020-04-28 03:37] Azbesciak commented on #253
- I need to use you lib in my app
- same app is used as a attached, optional, library in another apps.

So it needs to be a module, in a lazy manner.
In current situation, which I hope I showed you, it is impossible.
Everything leeks to the root, even when I try to stop it.

I don't want my users to configure anything in root. I have my main module, which they need to include in their apps, but it

[2020-04-28 10:27] mariusvn opened #275 "Not working on a local network dev server"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When launching developpement server on local network (`ng serve --host 0.0.0.0 --disableHostCheck`), tr

[2020-04-28 11:11] itayod commented on #275
Hi @mariusvn it is not related to `Transloco`, in order to load the translation with the above configuration you must fetch data from your IP or from `0.0.0.0` instead `localhost`.

[2020-04-28 11:29] #275 closed

[2020-04-28 11:29] mariusvn commented on #275
Sorry, my bad ...

[2020-04-29 12:56] itayod commented on #253
@Azbesciak Did you try to add `TranslocoService` in your providers list as @shaharkazaz suggested? could you update your reproduction so we can try to resolve it and better understand your use-case?

[2020-04-29 13:14] Azbesciak commented on #253
Did you saw https://github.com/ngneat/transloco/issues/253#issuecomment-619793132?

[2020-04-29 13:23] itayod commented on #253
@Azbesciak sure, this is why I wanted you to update your reproduction so we can try to debut that.

[2020-04-30 08:31] Azbesciak commented on #253
I have to admit that It was not from `root`, but just not configured one. Because of lazy modules two instances (at least) are created, but this can be solved with factory, for example:
[code]

But when I tried to replicate the issue (and failed ATM, if something change I will update), but found another one... strange, but don't know where it comes from.
[code]
I have noticed that this is because

[2020-04-30 13:34] emzet opened #276 "Support zoneless applications"
## I'm submitting a...
[code]

## Current behavior

When used within Angular Element application without zone.js, translation pipe does not work, translations keys are not translated nor visible.

What i tried already:
- run `ChangeDetectorRef.markForCheck()` or `ChangeDetectorRef.detectChanges()` in various app lifecycles hooks `ngOnInit, ngAfterViewInit, ngOnChanges`
- run `ApplicationRef.tick()

[2020-04-30 15:51] ArielGueta commented on #276
The directive works fine:

[code]

[2020-04-30 15:54] ArielGueta commented on #276
Both calls markForCheck internally, so I don't know why the pipe doesn't work. To me, it seems like an Angular related thing.

[2020-04-30 16:00] muuvmuuv opened #277 "Migration does not work"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Using this command here `ng g @ngneat/transloco:migrate` from https://ngneat.github.io/transloco/docs/m

[2020-04-30 16:29] shaharkazaz commented on #277
@muuvmuuv can you share the version of your main packages? (Angular, transloco, cli, etc)

[2020-04-30 16:48] muuvmuuv commented on #277
@shaharkazaz updated the issue. Sorry I forgot to scroll down in the template.

[2020-04-30 16:50] shaharkazaz commented on #277
Cool, what's your Transloco version?

[2020-04-30 16:55] muuvmuuv commented on #277
Ohhh, I need to install the pkg to use the migration! I thought this is a one liner... so sorry. I got it running but when it hits "⠋ Step 5/5: Migrating spec" it fails because I haven't set up any tests yet and deleted all specs to prevent failurs.

[2020-04-30 16:58] muuvmuuv commented on #277
Okay nice, just created an empty spec file and now it finished. Sorry again, corona stress hits me hard atm.

[2020-04-30 16:58] #277 closed

[2020-04-30 16:59] shaharkazaz commented on #277
So you have an issue now that step 5 is failing when you don't have specs?

[2020-05-01 00:55] jessemoon0 opened #278 "Transloco + Universal SSR + Firebase functions not showing HTML when we check the page source"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Hi, I have been more than 2 weeks now dealing with different ways to make this work, so I have tried lo

[2020-05-01 17:07] emzet commented on #276
@ArielGueta I would like to use pipe, not directive. Problem is related to pipe. Maybe you are right, and it is not trasloco problem but Angular...

[2020-05-01 22:53] pedraldo opened #279 "Schematics : Ng-add translate-type option 'Typescript' deprecated"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Support request
[X] Other... Please describe: Questions
</code></pre>

## Current behavior

We can read in schematics [documentation](github.com/ngneat/transloco/blob/master/schematics/

[2020-05-03 12:15] muuvmuuv opened #280 "How do I force load translations?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have an app where the user is able to change the language via a dropdown. The dropdown's options are

[2020-05-03 12:26] muuvmuuv commented on #280
Okay, after investigating it seems that the error only occurs on translations that has already been loaded once.

[2020-05-03 13:51] danyuep opened #281 "DatePipe option 'weekDay' doesn't provide the weekday."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
This is the first ever issue I report. Maybe I'm just simply missing something obvious.

Following line

[2020-05-03 13:55] muuvmuuv commented on #280
Okay it seems `load` was the correct way of doing this. I just did it wrong. Now I use `APP_INITIALIZER` to load it on start and on switch I do the same.

[2020-05-03 13:55] #280 closed

[2020-05-04 08:20] emzet commented on #276
@ArielGueta update:
see the demo, I have updated the template with directive and it does not work either also in my app it behaves same.

[2020-05-04 09:55] emzet commented on #276
Same behavior with ngx-translate lib, demo here: https://stackblitz.com/edit/angular-nuvqxb

[2020-05-04 14:20] ArielGueta commented on #276
So it doesn't relate to Transloco.

There is some weird behavior in stackblitz. I open your blitz and when I press space in the editor it works:

![image](https://user-images.githubusercontent.com/20522870/80976021-969f9480-8e2b-11ea-97a8-267a2d340e8e.png)

[2020-05-04 15:52] emzet commented on #276
@ArielGueta
it does not work at all and it si not weird behavior in stackblitz. It "works" only if you edit something -> automatic HMR on stackblitz -> some kind of change detection. In real life it does not work either pipe nor directive.

[2020-05-04 16:51] itayod commented on #279
Hi @pedraldo I have updated the docs accordingly, though using typescript for your translation files format is possible, it is not the standard way and might create some problems in certain cases.

[2020-05-04 16:51] #279 closed

[2020-05-04 17:07] itayod commented on #281
Hi @danyuep seems that was a typing issue :) I have fixed that and released a new version.
Thanks for rising that up

[2020-05-04 19:25] itayod commented on #276
Hi @emzet currently we are not supporting applications that runs without zone.

[2020-05-04 19:48] emzet commented on #276
Hi @itayod, I think that it is very poor explanation. I appreciate if you can explain why this decision (and what about future?). Is this related to this library or is it issue of Angular itself? How should I open PR to support it, if some other hints how to do that are missing? I studied code of transloco pipe and also ngx pipe, but can not found out where problem can be... maybe some more proact

[2020-05-05 13:24] danyuep commented on #281
Yeah it's working. Good job, thank you :)

[2020-05-05 13:24] #281 closed

[2020-05-11 13:00] Azbesciak commented on #253
Guys, any update?

[2020-05-11 15:05] gkTim opened #282 "ngcc build error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I run `ngcc` on a project with transloco I get the following error on the transloco build:

[code]

[2020-05-12 06:35] danyo1399 commented on #282
just upgraded to angular 9 and getting this too

[2020-05-12 08:09] HitomiTenshi commented on #282
@gkTim @danyo1399
I'm getting this error as well, though it happened for me when upgrading from Angular version `9.1.4` to `9.1.6`.

Pinning Angular to `9.1.4` fixes this problem. I assume this is an error on Angular's side.

[2020-05-12 20:20] mohamedaarab1994 commented on #282
I got the same error too

[2020-05-12 22:02] danyo1399 commented on #282
wonder if the flat dependency is the only issue. it wouldnt be a big effort to remove that dependency.

[2020-05-12 23:50] HitomiTenshi commented on #282
@mohamedaarab1994 @danyo1399
Guys... the `flat` dependency isn't the issue here. Please go to your `package.json` and pin all Angular dependencies to version `9.1.4`, it's an issue with the latest Angular compiler.

e. g.:

[code]

Remove any `^` or `~` signs and set it to version `9.1.4`, then run `npm install`.

If for some reason `npm install` doesn't work, try removing the `node_modules` folde

[2020-05-13 04:45] Azbesciak commented on #253
Removing `[new Optional(), new SkipSelf(), TranslocoService],` from `deps` and making it file-scope singleton 'solves' a problem.
Rather dirty workaround.

So, do you have anything new?

[2020-05-13 04:53] ArielGueta commented on #253
Could you explain from scratch your issue? I think everyone lost you. Try to explain in simple words what you are trying to do.

[2020-05-13 05:02] Azbesciak commented on #253
I need to have an ability to use Transloco both in a single app (and there `"provideIn": "root"` is OK) and also in library, which can be used in concurrent with another translations lib, also another Transloco, and avoid conflicts (and here `root` is not good - it polutes client side/can infer with another implementation, and requires a client to have translations provided on his own).

Thus, I n

[2020-05-13 05:11] ArielGueta commented on #253
The Transloco service is meant to be used as a wide-app singleton. It doesn't make sense to have multiple loaders or something like this.

I don't understand what is the library purpose.

[2020-05-13 05:22] Azbesciak commented on #253
Originally it was just an app.
Now it need to be also used in another apps - in PHP, where it works as `angular-element` included dynamically, and in another angular app, with a note that you can have 2 'apps' (mine) run in parrarel in the single consumer.
Language will be in 99.99% of usage the same, and I even would not like to support other option (I mean 2 languages), but the problem is with t

[2020-05-13 05:24] ArielGueta commented on #253
It's not possible and does not make sense. You have the TranslocoRootModule, just use it in every application. You are not repeating yourself or something like this.

[2020-05-13 05:26] Azbesciak commented on #253
But then my clients are dependant on your implementation, and OK - if they are using it as a lib, in angular for example, then they need to include it in dependencies any way, but what bother me - they need to know all translations I use. I mean - they need to manage them on their own.
It is not just a simple plug-in then.

[2020-05-13 05:28] ArielGueta commented on #253
Anyway, they need to know them. You need to add them in an accessible place such as the `assets` folder

[2020-05-13 05:30] Azbesciak commented on #253
Do they? if it is provided as a package through npm, they would need to just have it declared in assets in `angular.json`. I thought rather about each key definition.

[2020-05-13 05:31] ArielGueta commented on #253
No. How do you expect to get it via HTTP?

[2020-05-13 05:33] Azbesciak commented on #253
I have assets path exposed in the configuration, like everything else.

So, as I mentioned - they need to just put my app i18n assets (and everything else like this) in `angular.json` and make a correct configuration.

[2020-05-13 05:34] ArielGueta commented on #253
So they know about it anyway.

[2020-05-13 05:35] Azbesciak commented on #253
They know that something exist. Don't know what exacly and what is inside.
That is a big difference, don't you think?

For example when I update some translations, they don't need to do it also. It is just provided.

[2020-05-13 05:36] ArielGueta commented on #253
So let them include the module, and provide the translation as you wish.

[2020-05-13 05:39] Azbesciak commented on #253
Sure - and here comes a problem.
Now, as you mentioned, transloco is whole a root scope, so translations will crash.
Example: They have their own `TranslocoService`, own http provision. What with my translations? Will they be used if the service is in root? I doubt, even think that it won't compile.

[2020-05-13 05:40] ArielGueta commented on #253
No. You should have only ONE Transloco module in the app.

[2020-05-13 05:41] Azbesciak commented on #253
I tries to tell you that this is not possible :)

[2020-05-13 05:42] ArielGueta commented on #253
So you can't achieve what you want. Sorry.

[2020-05-13 05:42] ArielGueta commented on #253
Don't waste your time.

[2020-05-13 05:43] Azbesciak commented on #253
I already wasted, and achieved what I wanted, but as I said - it is rather a workaround.
Thank you though

[2020-05-13 05:43] #253 closed

[2020-05-16 09:49] davidecampello opened #283 "routerLink into translated string"
Hi, is it possible to include a link (with routerLink) into a translated string?

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Putting a string with

[2020-05-16 18:03] ArielGueta commented on #283
`[routerLink]="t('key')"`

[2020-05-17 13:35] davidecampello commented on #283
I'm sorry but I've put it badly.
What I would like to do is something like this inside assets/i18n/en.json:
`
 {
 "text": "text <a routerLink='/link'>with link</a>"
 }
`

[2020-05-17 19:54] shaharkazaz commented on #283
@davidecampello for questions and assistance please try our [gitter room](https://gitter.im/ngneat-transloco/lobby?source=orgpage).
You can't do it using while AOT compilation, but there are 2 alternatives:
- Transform your component into a web component using `@angular/elements` and use the HTML tag in your translation.
- Separate your translation into 2 parts and insert the desired component bet

[2020-05-17 19:54] #283 closed

[2020-05-18 01:44] sjahongir opened #284 "On mat-dialog not working"
When I use in mat-dialog as following, not rendered:
`<ng-container *transloco="let t">
    {{ t('hello') }}
</ng-container>`

[2020-05-18 01:53] sjahongir commented on #284
I'm sorry, I made a mistake.

[2020-05-18 01:53] #284 closed

[2020-05-20 10:03] gethari opened #285 "Nested Module usage is not clear"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

My application is very large and it has 2-3 layers of nested modules. I'm trying to maintain a separate

[2020-05-20 17:34] m0t0r opened #286 "Unable to use translate method to pass dynamic param"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I am trying to pass value of a dynamic param using `translocoService.translate` but getting an error ab

[2020-05-20 17:49] shaharkazaz commented on #286
Translations are loaded asynchronously, you have to wait for the translation to load first before using a synchronous translation function or use the selectTranslate function instead (which is async).
Please try our [gitter channel](https://gitter.im/ngneat-transloco/lobby) before opening an issue to make sure this is a bug and not misuse on your side.
Here is you stackblitz fixed: https://stackbl

[2020-05-20 17:49] #286 closed

[2020-05-21 09:50] itayod commented on #285
@gethari I am closing this issue, for now, we will continue to discuss it in our gitter channel.

[2020-05-21 09:50] #285 closed

[2020-05-26 21:22] krokofant opened #287 "Use of useFallbackTranslation results in faulty language selection"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Setting `useFallbackTranslation` causes transloco to assume that the fallback language is scoped when it

[2020-05-27 07:01] mmrzk opened #289 "ERROR TypeError: "browserLang is undefined""
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
When I remove all the preffered languages for displaying pages in Firefox (Settings => General => Langua

[2020-05-27 08:17] shaharkazaz commented on #287
@krokofant can you share your entire transloco config?

[2020-05-27 09:40] krokofant commented on #287
@shaharkazaz Here is a reproduction on Stackblitz. On the default linked template version `2.0.2` was used which does not have the issue. The latest `2.17.1` does have the issue. Check the console log.

https://stackblitz.com/edit/transloco-example-qlph5x?file=src%2Fapp%2Fapp.module.ts

[2020-05-27 11:53] rmcsharry commented on #207
@ArielGueta @shaharkazaz It seems this is not fixed, I am experiencing this in version 2.14.

selectTranslate() does not emit during component initialisation

[2020-05-27 12:13] rmcsharry commented on #207
Ok, my apologies, we are using scoped files (not one huge file) for translations, so if I provide the scope in the call

    this.translocoService
      .selectTranslate(key, {}, 'testimonials')
      .subscribe(result => {
        console.log(result);
		})

then it works fine.

[2020-05-28 09:25] krokofant commented on #282
9.1.7 seems to work for me

[2020-05-28 14:30] jospotargent opened #290 "Use of useFallbackTranslation makes sure no error is reported when an error in the language file"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When there is an error in the language file and/or it can't be read via http, the useFallbackTranslati

[2020-05-29 00:52] nartc opened #291 "Typing conflict with ngx-quicklink"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
If a project uses `ngx-quicklink` together with `transloco-preload-langs-module`, there will be a typing

[2020-05-30 00:44] nartc commented on #291
Fixed with https://github.com/mgechev/ngx-quicklink/commit/5a190d382fbfbbe01fd46f7d860ec390703f2c85

[2020-05-30 00:44] #291 closed

[2020-05-31 11:44] itayod commented on #290
@jospotargent would you like to open a PR for this?

[2020-05-31 11:45] itayod commented on #289
@mmrzk would you like to create a PR for it?

[2020-06-01 19:03] KrisHaney opened #292 "Date/time short format display in Safari"
Hello all,

Thanks for your great library.

## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When formatting with `translocoDate: { dateStyle: 'short', t

[2020-06-01 19:12] itayod commented on #292
Thanks @KrisHaney the locale plugin is based on the native localization [API](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl) as mentioned in the docs, therefor any differences between the browser are not this library's issue.

Having said that, you could hook in and change the date output using the [Date Transformers](https://ngneat.github.io/transloco/docs/

[2020-06-01 19:15] KrisHaney commented on #292
Thanks for the quick response.  In case you know off the top of your head, is this happening because of the lack of Safari support for `Intl.RelativeTimeFormat`?

[2020-06-01 19:18] #292 closed

[2020-06-01 19:21] itayod commented on #292
@KrisHaney that might be it :) I don't familiar with their code. If you must support `Safari` you can look out for polyfills that fix that.

[2020-06-01 19:28] KrisHaney commented on #292
@itayod Okay, I'll see what I can do.  Thank you.

[2020-06-02 13:02] burnaDLX opened #293 "Parameters passed to reused key not resolved correctly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The parameter passed to the reused key is not resolved correctly.

## Expected behavior

The parameter

[2020-06-02 13:12] itayod commented on #293
Hi @burnaDLX could you try upgrade to the latest version?

[2020-06-02 13:26] burnaDLX commented on #293
This fixed the issue. Thank you!

[2020-06-02 13:26] #293 closed

[2020-06-03 08:24] krokofant commented on #287
@shaharkazaz Did you see the reproduction? I could supply a PR if I get some direction

[2020-06-03 09:28] shaharkazaz commented on #287
@krokofant sorry missed that, I'll take a look today and a PR is always welcome! 😄

[2020-06-03 20:54] krokofant commented on #282
@giorgi0203 Since you're specifying your version with `~` you will get later version than `9.1.4`. Read the previous comments, you need to pin them.

[2020-06-03 22:06] HitomiTenshi commented on #282
Can someone create an Angular issue that informs them of their breaking compiler change? I'm too lazy to do that 😄

They changed something since version `9.1.5` that breaks existing libraries that were supported until `9.1.4` like what happened with this one.

[2020-06-04 07:13] itayod commented on #282
I am closing this issue since it seems to be Angular compiler's issue, for those who still have any difficulties I suggest you open an Issue in Angular's repository.

[2020-06-04 07:13] #282 closed

[2020-06-04 10:35] Julien-Leos commented on #289
I have the same issue, `getBrowserLang()` returns `undefined` only server-side but returns the right value client-side.

I had to do this to avoid server-side crashing looking for `undefined.json` translation files.
[code]

[2020-06-04 11:28] shaharkazaz commented on #287
@krokofant I see there is an issue with your configuration.
You need to declare all the languages you are going to use in your app.
In the reproduction you provided you declared: `availableLangs: [{ id: 'en', label: 'English' }, { id: 'es', label: 'Spanish' }],`
If you change it to: `availableLangs: [{ id: 'sv-SE', label: 'SVE' }, { id: 'en', label: 'English' }, { id: 'es', label: 'Spanish' }],` y

[2020-06-04 11:42] shaharkazaz commented on #289
@Julien-Leos using this function is intended to be used in the client-side, the issue that @mmrzk has shown is the case where you don't have languages defined on your browser which is different from your case.
I will add that to the FAQ, but your solution is good, you can also write: `const defaultLang = getBrowserLang() || 'en';`

[2020-06-04 11:59] #289 closed

[2020-06-04 12:01] shaharkazaz commented on #289
@mmrzk should be fixed in v2.17.2, can you verify? 😄

[2020-06-04 21:06] krokofant commented on #287
@shaharkazaz In my real application I have provided a fallback to an api and the web application does not know all the languages that are supported there.

I have configured a fallback but this issue makes is to that any language that isn't known before-hand to be support will be assumed to be scoped - even if it does not contain a `/`. If I can have a handler that is responsible for fetching what

[2020-06-08 15:11] shaharkazaz commented on #287
@krokofant I see your point.
I'll merge your PR and release the new version.

[2020-06-08 16:13] shaharkazaz commented on #287
@krokofant Seems like this is a breaking change.
If there is a point where you do know the languages you add them at runtime via the API, if not you can still use your solution.
Also, please check that your tests are passing before opening a PR (we also have a pre-push hook for it, you might have bypassed it)

[2020-06-09 14:19] vankeer opened #294 "schematics ng-add run as externalSchematic throws error "TypeError: Cannot read property 'projectType' of undefined" because projects in angular.json are not read"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I am trying to run the `ng-add` schematic in one of my schematics:

[code]

When I run it, I get the f

[2020-06-09 18:22] itayod commented on #294
@vankeer could you upload a reproduction repo?

[2020-06-09 18:23] krokofant commented on #287
@shaharkazaz Thank you for your attention. I'll create a new PR when I have the time and I'll make sure to check the tests. Last time I just submitted the change via GitHub.

[2020-06-10 08:48] shaharkazaz commented on #287
@krokofant sure thing, but as I said it's a breaking change.
I'm closing this, for now, feel free to reopen or contact me directly via [gitter](https://gitter.im/ngneat-transloco/lobby)

[2020-06-10 08:48] #287 closed

[2020-06-11 05:36] shaharkazaz commented on #282
@krokofant you placed the wrong link 🙂

[2020-06-11 07:39] krokofant commented on #282
@shaharkazaz 🤦‍♂️

https://github.com/angular/angular/issues/37508

[2020-06-11 09:09] stijnvn opened #295 "transloco key manager does not detects scopes correctly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The key manager detects `TRANSLATION_SCOPE_KEY` instead of `myTranslationScopeKey` while parsing the mo

[2020-06-11 09:16] shaharkazaz commented on #295
@stijnvn please submit this issue in the [keys manager repo](https://github.com/ngneat/transloco-keys-manager);

[2020-06-11 09:16] #295 closed

[2020-06-11 12:47] vankeer commented on #294
My mistake: in the specific project I was working on, there was an obscure utility function that read out the angular.json file and removed projects from the object. This issue can be closed.

[2020-06-11 12:47] #294 closed

[2020-06-18 12:38] DoronTorangy opened #296 "Error: No provider for InjectionToken TRANSLOCO_TRANSPILER!"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I use TranslocoRootModule in my app module, when i run my application it works perfectly.
like this:

`

[2020-06-19 11:44] daco commented on #28
Previous comment, calling the decision to leave this feature out "insane", is a bit harsh. However, I think the majority of the projects using this library need it. SEO is very important for most, and Google expects a different language either served from another domain, or from another prefix like domain/en/. You are also expected to point to the different language url's with an href lang element

[2020-06-24 10:39] Kamieniu opened #297 "Transloco - Testing with Spectator"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
transloco-root.module.ts
[code]

transloco-root.ts
[code]

My Test File

[code]

Getting:

[code]

OR

[

[2020-06-24 10:40] Kamieniu commented on #297
https://www.loom.com/share/689a8b951f1143ffa1b84b721ca84c90

[2020-06-25 00:51] cgatian commented on #276
Oh wow, I know that @ngrx/component is going to enable a lot more apps to opportunity to drop zone. And the lack of Angular Elements without zone. That hurts.

[2020-06-25 08:06] itayod commented on #297
@Kamieniu could you create a minimal reproduction lib on github?

[2020-06-25 12:17] zzakir opened #298 "Issue when using full stop in translate service value"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
`this.translocoService.translate('An email was sent to your email address. Please check your mail box.')

[2020-06-25 13:05] itayod commented on #298
Hi @zzakir I am not sure what do you mean here, could you please create a stackblitz example and show us your use case?

[2020-06-25 17:10] itayod commented on #298
@zzakir I am sorry but what you wish is not possible, please find another solution.

[2020-06-25 17:10] #298 closed

[2020-06-25 17:13] zzakir commented on #298
@itayod So do you mean that we cannot translate a sentence using this library if it has a full stop in it?

[2020-06-25 17:18] itayod commented on #298
@zzakir, of course, you can...
you can translate a sentence like that:
[code]
and then you can translate like this:
[code]

[2020-06-25 17:19] zzakir commented on #298
Ah alright. Now I get it. Thank you very much for your help.

[2020-06-26 11:18] HHGAG opened #299 "Generic type 'ModuleWithProviders<T>' requires 1 type argument(s)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Build quits with

## Expected behavior

Run through build process...

## Environment

<pre><code>
Angula

[2020-06-26 11:31] HHGAG commented on #299
Seems to be this breaking change:

https://medium.com/better-programming/angular-10-new-features-dbc779061dc8#cfe7

[2020-06-28 07:50] itayod commented on #296
@DoronTorangy The code from your example seems ok, could you please create a reproduction so I can debug it and see what the problem is?

[2020-06-28 08:18] DoronTorangy commented on #296
@itayod later this day i'll do it

[2020-06-28 09:15] itayod commented on #299
Hi @HHGAG,
Thank you for letting us notice, I have released a new version of `Transloco`, `Transloco-Locale` and the other plugins that were affected by this breaking change.
Could you please try to update the versions and see it works now?

[2020-06-28 10:44] HHGAG commented on #299
Hi @itayod,

seems to be fixed. Thnx for the quick bugfix.

[2020-06-28 10:58] #299 closed

[2020-06-29 12:22] tommueller opened #300 "Support translation references in message-format customFormatters"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I added message-format support as described in the docs: https://ngneat.github.io/transloco/docs/plugin

[2020-06-29 17:21] itayod commented on #300
Hi @tommueller I am not sure that we want it as part of the core library code, but as you mentioned you have the ability to create a custom formatter, which I think is the best solution for your case...
Why didn't it work for you? what were the difficulties?

[2020-06-29 18:20] tommueller commented on #300
We use references within the translation file a lot (see the initial post for an example.

Now when I use this combined with message-format's pluralization it works fine, i.e. this works perfectly:

[code]

The problem is, that throughout the translation file, we will sometimes need the value of KEYWORDS.USER with a capital first letter, and sometimes in all lowercase. So I added a customFormatter

[2020-06-30 06:17] itayod commented on #300
@tommueller I got your problem, but as I said I would suggest you try to create your own custom formatter for that. Did you try doing that?

[2020-06-30 09:49] tommueller commented on #300
@itayod well I honestly do not have any idea on how I would start on that. As far as I understood this so far I did create a custom formatter, but it comes with the limitation of only working with passed variables and not with translation references.

I am happy to try this, but I sincerely don't know how.

[2020-06-30 11:19] itayod commented on #300
@tommueller I recommend you take a look at the [message format transpiler](https://github.com/ngneat/transloco/blob/master/projects/ngneat/transloco-messageformat/src/lib/messageformat.transpiler.ts) as an example and start from there (maybe try to extend it and add your logic on top of it...).

Currently, I don't see any change we need to make in this library in order to support that as it seems

[2020-06-30 11:19] #300 closed

[2020-07-01 08:22] SvenBudak commented on #234
I am wondering why i get exactly the same problem in a new project after 6 Months :)
The ng add command is not updated?

I use `Angular 10.0.0` and `@ngneat/transloco": "^1.1.1`

It works only when i use the pipe like: `{{ t('name', { name: 'Transloco' }) }}`

[2020-07-01 08:25] shaharkazaz commented on #234
@SvenBudak why not use the latest version? 🙂

[2020-07-01 08:26] SvenBudak commented on #234
i used ng add. i dont checked the version... ng add dont use the latest version?

[2020-07-01 08:29] shaharkazaz commented on #234
@SvenBudak Should give you the latest... you can run `ng add @ngneat/transloco@latest`, maybe it's a cache thing.

[2020-07-01 08:35] SvenBudak commented on #234
Oh wow 😁
I didn't know there was a cache for ng add.
Thanks for your quick answer!
I will bookmark this issue for future projects 😂

[2020-07-06 08:47] timhecker commented on #234
Hi, I had the same @SvenBudak problem:

I found also weird questions during the config/installation process. I used an old version of transloco on my device, but it was the `2.13.2`.

Maybe some problem with the last version of angular?

Thanks in advance.

[2020-07-06 09:00] shaharkazaz commented on #234
@timhecker Please update to the latest version of transloco and try

[2020-07-06 09:17] timhecker commented on #234
Yep, I solved with `ng add @ngneat/transloco@latest` and now I see the 2.17.3 on `package.json`.  Thanks

[2020-07-06 11:24] timbru31 opened #301 "Dependency on CommonJS module 'flat' causing Angular 10 warnings"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When building or starting the Angular App the following warning is displayed:
[code]

## Expected behav

[2020-07-06 16:53] stefanomiccoli opened #302 "documentation up to date"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I just started having a look to the lib but following the getting started docs it seems to me that the

[2020-07-06 17:01] itayod commented on #302
Hi @stefanomiccoli I see that you are using an old version, could you update to the latest version and try again?

[2020-07-06 19:00] stefanomiccoli commented on #302
Hi & thanks for the quick reply!

Now that I notice it is indeed a quite old version... However, shouldn't the schematics take care by itself of using the latest version?

Im not at the dev pc now, but will try asap tomorrow ;)

[2020-07-07 09:05] shaharkazaz commented on #301
@timbru31 This is a change introduced in angular-cli v10.
You can remove the warning by passing the `allowedCommonJsDependencies` build option.
You can open a PR for implementing the flat functionality in transloco 😄

[2020-07-07 10:52] timhecker opened #303 "Using Html tags inside translations"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

[code]

## Expected behavior

[code]

or something like that.

## What is the motivation / use case fo

[2020-07-07 11:54] timbru31 commented on #301
I'm aware what caused the issue and that I can suppress the issue (which is what we currently do) :) - I wanted to raise an issue for your awareness. Feel free to close it, but at least others will find a solution in the comments.

Sadly, I do not have enough spare time to submit a PR inlining the flattening.

[2020-07-07 12:24] #301 closed

[2020-07-07 12:26] shaharkazaz commented on #303
@timhecker Please revisit our docs since this question is [answered there](https://ngneat.github.io/transloco/docs/faq#can-i-use-html-markings-inside-a-translation).
If you have any questions please try our [gitter lobby](https://gitter.im/ngneat-transloco/lobby) first, a lot of times you will find an answer there.

[2020-07-07 12:26] #303 closed

[2020-07-07 12:28] timhecker commented on #303
Sorry, thank you very much!

[2020-07-07 15:37] AmitMY opened #304 "bug(version): ng add @ngneat/transloco installs version 1.1.1"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`ng add @ngneat/transloco` installs version 1.1.1

[code]

uninstalling and reinstalling both packages

[2020-07-07 18:00] #304 closed

[2020-07-07 18:05] shaharkazaz commented on #302
@stefanomiccoli There was an issue with the peer dependency versions that cause the cli to install an older version.
Should be ok now (I released v`2.17.4`), I would recommend re-running the `ng add ` 😄

[2020-07-07 18:05] #302 closed

[2020-07-07 18:06] shaharkazaz commented on #304
@AmitMY Fixed in `v2.17.4` 😃

[2020-07-08 13:39] C0ZEN opened #305 "Angular 10 for transloco-persist-translations dependency"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The latest version `1.0.2` has a dependency to `@angular/core` as `>=4.3.0 <10.0.0`.

## Expected behav

[2020-07-08 15:07] timhecker commented on #285
Hi @gethari I have your same problem with inline loaders and the error `Missing translation for....`. I found your [example repo](https://github.com/gethari/nestedModules-transloco/tree/master/src/app) and my problem is similar, without nested modules. This is my folders structure:

<img width="373" alt="Schermata 2020-07-08 alle 17 00 38" src="https://user-images.githubusercontent.com/3533765/869

[2020-07-09 06:07] itayod commented on #305
Hi @C0ZEN it is already fixed in the last release, please update to the latest version and it should be fine 😀

[2020-07-09 06:07] #305 closed

[2020-07-09 06:57] C0ZEN commented on #305
I just saw that indeed the version `1.0.3` release 30 minutes after your message fix this.

[2020-07-09 07:17] shaharkazaz commented on #305
@C0ZEN I released this fix for Transloco main lib yesterday and for the plugins today, @itayod knew I was releasing it 😊

[2020-07-09 10:29] stefanomiccoli opened #306 "bug(version): ng g @ngneat/transloco:keys-manager installs @ngneat/transloco-keys-manager@1.3.2"
It's pretty much on the same page of #304 , that identifies the bug that I didnt identify in my #302, hopefully it will be handled in a better way for the next major release of angular

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ]

[2020-07-09 11:03] muuvmuuv commented on #301
I would like to work on this but do not really understand how to develop/test inside `projects`. I have also opened an issue on flat, maybe they will update flat to be ES Module complaint.

This is what I have so far but it is not "safe".

[code]

[2020-07-10 14:08] wolfganggallo opened #307 "Copyright notice missing"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[x] Other... Please describe:
</code></pre>

## Current behavior

No copyright notice is given in your license text. Since the MIT license requires the preservation of t

[2020-07-11 18:49] #306 closed

[2020-07-11 18:54] itayod commented on #306
@stefanomiccoli that's wasn't the same as #304 that was a different and unrelated issue. Anyway, we have changed the script so it will always install the latest version now...
Please upgrade to the latest Transloco's version it should be fixed there.

[2020-07-13 10:24] stefanomiccoli commented on #306
Hi Itayod. I may have not explained myself in the best way and apologies if I seemed mean. Only thing I wanted to point out was that both schematics had hardcoded references to old versions, either for the core or the keys-manager packages.

This time I proceeded to update manually, I guess next time the fix will come in hand.

Thanks again for the effort and the very convenient module!

[2020-07-13 17:06] SvenBudak opened #309 "[Documentation Request] - Currency Pipe"
I checked the documentation about the currency pipe: https://netbasal.gitbook.io/transloco/plugins/locale-l10n#currency-pipe but i dont really understand how to use it... I installed latest of `transloco-locale` (1.3.1) and i tryed to import it to my `shared.module`:

[code]

The first strange thing was that `TranslocoLocaleModule` dont autocomplete the import `import {TranslocoLocaleModule} from

[2020-07-14 10:25] itayod commented on #309
@SvenBudak could you create a small reproduction on stackblitz?

[2020-07-15 11:36] ChazUK commented on #307
Please add a license 🙏

[2020-07-15 11:41] ChazUK opened #310 "Transloco Locale License"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[x] Other... Please describe:
</code></pre>

## Current behavior

Transloco Locale package does not have a license associated.

## Expected behavior

Add a license simil

[2020-07-15 13:49] artaommahe opened #311 "transloco pipe fails with async if strict mode is enabled"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Using transloco pipe after async pipe throws an exception if ts' strict mode is enabled cause transloco

[2020-07-16 05:00] guiworks opened #312 "Strings in i18n don't recognize html tags"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Strings in i18n don't recognize html tags.

## Expected behavior

Output:
`
I'm in my <b> house
`
## Mi

[2020-07-16 06:24] shaharkazaz commented on #312
@guiworks Have you seen [this question](https://ngneat.github.io/transloco/docs/faq#can-i-use-html-markings-inside-a-translation) in our FAQ section?

[2020-07-16 06:52] AnttiApina commented on #310
The `package.json` is also missing the license property field.

Lack of licensing details might actually make your code **not** open-source:
http://opensource.stackexchange.com/q/1720/775

[2020-07-16 06:56] shaharkazaz commented on #310
@AnttiApina We are looking into the licenses 😃

[2020-07-17 08:01] SvenBudak commented on #309
I dont get it... i tryed this 10 times last week. now i just do the same and it works...
But one last question to this...

[code]

When i set `minimumFractionDigits: 0` i expected that he remove the cents totally.
So that i get only `47,165` as output. But he still output me `47.165,21`
Is this what the creator of this pipe expected?

[2020-07-17 18:21] micahwood commented on #297
I was having the same issue and wiped out my node_modules folder, ran `npm i` again and it worked after that. Thinking it may have been an issue with ngcc step the first time I installed it. Hopefully that fixes it for you as well.

[2020-07-21 16:59] SuhasParameshwara opened #313 "Transloco not working in IE11"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have used transloco in my Angular Project and it works fine in Google Chrome. But when I load it in

[2020-07-22 18:07] #313 closed

[2020-07-22 18:08] shaharkazaz commented on #313
@SuhasParameshwara should be fixed in v2.18.3 😄

[2020-07-22 18:19] itayod commented on #309
@SvenBudak the pipe works by javascript's [intl api](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/NumberFormat) so you can check over there.
For your case, I think the problem is you are using `minimumFractionDigits` instead of `maximumFractionDigits`.

[2020-07-22 18:19] #309 closed

[2020-07-23 06:47] shaharkazaz commented on #311
@artaommahe Hi! would you like to create a PR for it?

[2020-07-23 06:59] shaharkazaz commented on #296
@DoronTorangy is this still relevant? can you provide a reproduction?

[2020-07-23 08:23] shaharkazaz commented on #278
@jessemoon0 Seems like that Transloco is working as expected, so I'm not sure what's the issue here.
If you need assistance with Firebase, try asking on [gitter](https://gitter.im/ngneat-transloco/lobby?source=orgpage)/StackOverflow, but it seems like this issue is not related to Transloco.

[2020-07-23 08:34] SuhasParameshwara commented on #313
@shaharkazaz Thanks for the quick fix 👍

[2020-07-24 12:06] Gamewalker opened #314 "Uncaught (in promise): Error: The pipe 'transloco' could not be found -- in production!"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

After building my app for production and deploying it to our IIS Server, I get the following error:

[c

[2020-07-24 15:39] YazaWainakh opened #315 "Error: NullInjectorError: No provider for InjectionToken DEFAULT_LOCALE!"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I am trying to set up an Angular 2 project with i18n. Followed the tutorial [here](https://lokalise.com/

[2020-07-25 06:35] shaharkazaz commented on #297
@Kamieniu Any update on the reproduction? did you try what @micahwood suggested? 🙂

[2020-07-25 06:39] shaharkazaz commented on #314
@Gamewalker Can you try to build you app and serve it locally to see if this happens and provide a small reproduction? 🙂

[2020-07-27 07:31] YazaWainakh commented on #315
It seems that in transloco-locale.config.d.ts there are a number of declarations that needs to be added as providers in app.component.spec.ts Testbed, they include (LOCALE_LANG_MAPPING, LOCALE_DEFAULT_LOCALE, LOCALE_CURRENCY_MAPPING, LOCALE_CONFIG, TRANSLOCO_NUMBER_TRANSFORMER, TRANSLOCO_DATE_TRANSFORMER). That solved this error.

[2020-07-28 12:30] aerialist7 opened #316 "Transloco MessageFormat Error: Localisation function not found for locale"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

We use "@ngneat/transloco": "2.18.3" with "@ngneat/transloco-messageformat": "1.2.3"
We faced with issu

[2020-07-28 12:36] aerialist7 commented on #316
P.S. It's strange, but if I change "default" to "en" all works!

[2020-07-28 12:45] napei opened #317 "Add schematic for transloco-keys-manager does not observe configured package manager."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

This is an issue with the schematic for [ngneat/transloco-keys-manager](https://github.com/ngneat/tra

[2020-07-29 07:30] karmasakshi opened #318 "Having transloco-root.module confuses Angular CLI generator"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When invoking the Angular CLI generator for items that require importing (components/pipes/etc.), we ge

[2020-07-29 09:06] itayod commented on #317
@napei would you like to create a PR for that?

[2020-07-29 09:31] itayod commented on #318
@karmasakshi thanks for bringing that up...
The solution for this will be to put the `transloco-root.module` under a folder named `/transloco` in the app root module, would you like to create a PR that solves that?

[2020-07-29 09:54] karmasakshi commented on #318
@itayod Sure.

[2020-07-29 10:16] jmls commented on #314
did you fix this ? I've just hit the same error

[2020-07-29 10:29] napei commented on #317
@itayod Just gave it a go but couldn't get anything to build properly on my machine. Also I'm on windows and `cp` doesn't exist so the copy npm scripts don't work. Was also getting a `TypeError: this.typeChecker.getTypeArguments is not a function` from `tsickle`. It's probably more efficient for you guys to add it. Sorry about that 😢

Basically I got as far as adding this in `index.ts` for `keys-m

[2020-07-29 11:11] karmasakshi commented on #318
@itayod Sorry, first-time contributor here. How can I check if this fixed the issue?

[2020-07-29 13:14] Gamewalker commented on #314
Hello,

I am on vacation until mid next week, I will provide an example next week.
Feel free to provide an example sooner 😁

jmls <notifications@github.com> schrieb am Mi., 29. Juli 2020, 12:16:

[2020-07-29 13:43] bjornharvold opened #320 "*transloco="let t; else showLoader""
## I'm submitting a...

<pre><code>
[x] Feature request
</code></pre>

## Current behavior
Sometimes, it takes a while for a lazy loaded modal with lazy loaded JSON to display. When the component defined in the route wraps the component with a

`<ng-container *transloco="let t">rest of data here</ng-container> `

it can add to the wait time users experience.

## What is the motivation / use case f

[2020-07-29 13:45] shaharkazaz commented on #320
@bjornharvold have you tried using the [loading template](https://ngneat.github.io/transloco/docs/loading-template/)?

[2020-07-29 14:49] karmasakshi commented on #318
Do you know why the CLI doesn't get confused with `app-routing.module`? If it's a naming convention or a config in `angular.json` I think we could leverage that.

[2020-07-29 18:12] itayod commented on #318
@karmasakshi in order to test it you can run build the schematics or run `schematics:watch` for dev, then create a test project and run `npm link transloco-schematics` then you will be able to run the add command as following: `ng g transloco-schematics:init`

[2020-07-29 18:16] itayod commented on #317
@napei you can try running this script using git bash, it should work even if you work in windows :)

[2020-07-29 19:03] born2net opened #321 "Angular in dev mode, when reloads getting error, racing condition"
So when I develop with ```ng serve``` and do save I often (but not always) get an error of: missing translation.
Now this is just a racing condition as when I load the app from the first screen (not hot-reload by ng serve) everything is well.
its just annoying seeing errors in the console, is there a way to disable Transloco when I am in dev mode? or fix this racing condition. It basically seems a

[2020-07-30 04:40] napei commented on #317
@itayod PR made in #322

[2020-07-30 04:50] bjornharvold commented on #320
Fantastic! Was looking through your docs last night but could not find that link. THANK YOU.

[2020-07-30 04:50] #320 closed

[2020-07-30 05:40] itayod commented on #318
Sure, they actually handle it hard codedly by specifically ignoring `-routing.module` files :)

[2020-07-30 10:18] erikmom opened #323 "Specify start and end parameter value instead of having to overwrite the transpiler"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

In our application we use a mixture of frameworks (Java, Angular) and all of these frameworks read from

[2020-07-30 10:38] YazaWainakh commented on #315
However, when adding the providers, I dont know the value or the class to be used. Here is my test bed so far.
[code]

[2020-07-31 08:26] Siedlerchr opened #324 "angular Transloco Date Pipe: can't set option timeStyle in Date.toLocaleDateString() in Firefox 79"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I am getting an error in Firefox: Can't set option timeStyle.
Firefox 78 (yesterday was working)

[code

[2020-08-01 12:38] #278 closed

[2020-08-01 12:40] shaharkazaz commented on #296
@DoronTorangy Closing this, if it's still relevant please re-open with a small reproduction.

[2020-08-01 12:40] #296 closed

[2020-08-03 14:59] YazaWainakh commented on #315
That's how I solved the problem.
[code]

[2020-08-03 14:59] #315 closed

[2020-08-03 15:46] ChazUK opened #325 "Global Translation JSON with Inline Loader in NX Lib?"
I'm using Transloco within an NX Mono Repo, which has a shared library "UI". I've set up Transloco so that each component uses a scoped inline loader to ensure that it's easy to track translations between the components. However there are a number of translations which match across components so it would be good if they could be extracted out and contained in a centralised file to keep it DRY.

Wh

[2020-08-03 18:24] #318 closed

[2020-08-03 19:14] itayod commented on #316
@aerialist7 I see that the `"default"` is coming from your `AppLocalizationService` from the `languagePreloader` function so this bug isn't related to this library

[2020-08-03 19:14] #316 closed

[2020-08-04 09:21] jurienhamaker commented on #325
Experiencing the same issue. When I use `multi: true` for this setup I get `Cannot mix multi providers and regular providers`

[2020-08-05 07:29] tommueller commented on #250
I actually just ran into the same issue and solved it by importing my `TranslocoRootModule` additionally to the `TranslocoTestingModule`. So basically like this:

[code]

with the component looking like this:

[code]

[2020-08-05 16:16] ArielGueta commented on #325
![image](https://user-images.githubusercontent.com/20522870/89437317-16513e00-d750-11ea-849c-f50b00376582.png)

Try to move the scope provider to the button component.

[2020-08-06 10:28] ChazUK commented on #325
@ArielGueta The Button Component already has a Scope and Loader.

[2020-08-06 10:38] ChazUK opened #327 "Inline Loader not loading translations without translation in Template (Component Only Translating)"
I've got a simple component that only needs to use translations inside the component and not in the template, but the inline loaders are never fired unless there is a translation in the template.

## Current behavior

[code]

`translationLoadSuccess` is never fired

Altering the template to `<ng-container *transloco="let t; read: 'demo'">app-demo works!</ng-container>` makes it work.

## Expected

[2020-08-06 16:48] ArielGueta commented on #325
So what's the scope in the UIModule?

[2020-08-07 02:49] bjornharvold opened #328 "@ngneat/transloco > flat@4.1.0: Fixed a prototype pollution security issue in 4.1.0, please upgrade to ^4.1.1 or ^5.0.1."
## I'm submitting a...

<pre><code>
[X] Other... Library dependency upgrade warning
</code></pre>

Saw this warning when running npm install.

[2020-08-07 11:34] ChazUK commented on #325
I want to scope the UiModule because it's a library, so scoping it would hopefully mean it wouldn't clash with anything. Which I'm pretty sure is quite standard

[2020-08-07 12:43] #307 closed

[2020-08-07 12:46] #310 closed

[2020-08-07 13:28] ArielGueta commented on #325
You can't. It's not related to Transloco, it's how Angular works.

[2020-08-07 13:50] ChazUK commented on #325
@ArielGueta: As far as I'm aware adding a scope to a component will wrap the loaded translations in the provided key, so in my example I have the button component scoped to "button". So JSON translation file `{ "text": "Button Text" }` will be loaded into Transloco as `{ "button": { "text": "Button Text" } }`. And in the template I can either define the scope, or use the full path to load the desi

[2020-08-08 09:55] shaharkazaz commented on #323
@erikmom Would you like to create a PR for it? 😄

[2020-08-10 10:34] ChazUK commented on #268
@shaharkazaz So just to clarify is https://ngneat.github.io/transloco/docs/translation-api the official up to date documentation? As I've seen a lot of links to https://netbasal.gitbook.io/transloco/

[2020-08-10 11:35] shaharkazaz commented on #268
@ChazUK ngneat.github.io/transloco is the correct documentation 🙂
Where have you seen links to our old docs?

[2020-08-10 13:10] ChazUK commented on #268
It's the second link on Google, and the top two articles also link to the old docs, one from April 2020.

<img width="869" alt="Screenshot 2020-08-10 at 14 08 36" src="https://user-images.githubusercontent.com/768108/89785944-0f8d4700-db13-11ea-842a-1faa386f08b8.png">

[2020-08-10 18:50] shaharkazaz commented on #268
@ChazUK thanks for bringing it to my attention, I'll take care of it.

[2020-08-12 07:51] #324 closed

[2020-08-12 16:05] bene-rr41 opened #329 "Cascading translations / fallback translation"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have this en.json file:

[code]

In addition with this html file:
[code]

this will produce this outpu

[2020-08-14 08:55] geromegrignon commented on #328
to be closed, fixed with [commit](https://github.com/ngneat/transloco/commit/3eea827b9f1575adf247e83bbb37ac3f4313d6fd#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) from @shaharkazaz

[2020-08-14 09:37] shaharkazaz commented on #297
@Kamieniu I'm closing this for now. Please feel free to reopen if this still occurs.
If you do reopen, please provide a reproduction 🙂

[2020-08-14 09:37] #297 closed

[2020-08-14 09:38] shaharkazaz commented on #314
@Gamewalker @jmls is this still relevant? 🙂  If so can you please provide a reproduction?

[2020-08-14 09:40] Gamewalker commented on #314
still relevant, tried to reproduce but no luck yet, I will try again monday

[2020-08-14 09:43] shaharkazaz commented on #327
@ChazUK If I understand you correctly this is a scope only used by this component?
Transloco only loads the translation when they are needed and that's why you are not getting the `translationLoadSuccess` event, it's not related to inline loaders.

The structural directive and pipes are loading the needed translation behind the scenes, if you only need it in the component you will need to load it

[2020-08-14 09:47] shaharkazaz commented on #321
@born2net you can disable the console warnings [via the config](https://ngneat.github.io/transloco/docs/config-options/#missinghandlerlogmissingkey)

[2020-08-14 14:35] born2net commented on #321
PERFECT!
Toda!
S. Levy

[2020-08-14 14:35] #321 closed

[2020-08-17 13:31] #327 closed

[2020-08-17 14:14] ChazUK commented on #206
@darkv Did you ever find a solution to this? I'm also in a situation where a Scoped Component relies on "in code" translations to pass to a graph service.

I tried using ...

[code]

... but this only updates on the initial load, and previously said, won't fire again when the language is changed for the 2nd time. Whilst `this.translocoService.langChanges$.subscribe(lang => ...);` will fire, but th

[2020-08-17 14:40] shaharkazaz commented on #206
@ChazUK `translationLoadSuccess` is fired when the translation **loads**, when you switch back and forward the translation is already loaded and therefore this event itsn't fired again, unlike the `langChanges$` which fires on every lang change.

Why not listen to the value changes?
[code]

This is just an example based on what you wrote.

If you are looking for the entire translation object you c

[2020-08-17 14:53] darkv commented on #206
@ChazUK Like @shaharkazaz suggests use a specific translation key for probing to detect a language change. For better code readability I have created a small helper function that plugs everything together and will trigger a passed callback function.

[2020-08-17 15:15] ChazUK commented on #206
@darkv are you able to share that helper? A lot of the translations in code are powered by specific keys passed into the component, or grabbed from API data. I'm guessing you have a "fake" translation which you listen for changes?

[2020-08-17 15:24] darkv commented on #206
That is would I currently have:
[code]
Then you can use this somewhere in your code:
[code]
You could even get rid of the second _testKey_ parameter if you can rely on some key that will always be present in your projects.

[2020-08-17 15:31] shaharkazaz commented on #206
@darkv I'm not suggesting to listen to a language change via some key from the translation. it was an example since it seems like he is looking for a translation value to pass into his graph service.

If you just want an indication that both the language has changed but the new translation is loaded (from either cache or server) why not do:
[code]
And if you want to wait for a specific scope you c

[2020-08-17 15:37] ChazUK commented on #206
I've tried converting it to this, but all I'm getting is `Missing translation for 'testScope.loaded'`.

[code]

The template has `<ng-container *transloco="let t; read: 'annualReturnsGraph'">{{  t('loaded') }}</ng-container>` and is displaying the string correctly.

[2020-08-17 15:39] shaharkazaz commented on #206
@ChazUK have you tried my suggestion?

[2020-08-17 15:58] ChazUK commented on #206
@shaharkazaz I have.

In Component
[code]

Initially it displays my global translations which I have loaded at the module level with a custom loader.

Module
[code]

It doesn't fire again when component scope is loaded. Same when I change language for the first time, the new translations from the global JSON for the new language is loaded, but not the scoped.

[2020-08-17 16:21] shaharkazaz commented on #206
@ChazUK I'm confused, do you need an **indication** that the translations were loaded, or do you need the **values**? according to your example seems like you don't care about the translation values.

Also,  as I stated:

The example you wrote will only fire at the main translation file loading.

Do you mean the language that the app is initiated with? or when you actually (calling the `setActiveL

[2020-08-17 16:37] ChazUK commented on #206
I need the value, but I don't know specifically what value I need, which is why I used a dummy key `${this.scope.scope}.loaded` in the first example.

I want to update the graph when A) the data is updated via onChanges, B) when the language changes. And because of B I need to know when the translation files are loaded because I'm using Scoped Loaders for my components.

[2020-08-17 16:42] shaharkazaz commented on #206
@ChazUK ok, have you tried my example with specifying the scope to the `selectTranslate` function?

[2020-08-17 16:45] ChazUK commented on #206
Also I'm confused at how I can wait for a specific scope with `selectTranslation`? I can only set language as a parameter for that method. If you mean using `selectTranslate` I still get the same issue of the translation not being loaded of first firing, which would mean my graph labels would be undefined, or display the transloco key.

[code]

[2020-08-17 17:17] shaharkazaz commented on #206
@ChazUK No, I meant `selectTranslation`. See [this stackblitz example](https://stackblitz.com/edit/transloco-waiting-for-scoped-translations?file=src/app/lazy/lazy/lazy.component.ts) and tell me if that's what you need.

[2020-08-18 06:13] shaharkazaz commented on #323
Thanks @Waterstraal for the PR! realease in `transloco v2.19.0` & `transloco-messageformat v1.3.0`

[2020-08-18 06:13] #323 closed

[2020-08-18 09:58] ChazUK commented on #206
@shaharkazaz I have tried, with that implementation I am getting the initial console log `Active lang is`, but then the selectTranslation isn't completing.

I'm not sure why my forked stackblitz isn't working https://stackblitz.com/edit/transloco-waiting-for-scoped-translations-cicniq?file=src/app/lazy/lazy/lazy.component.ts, but here's the code below.

_demo/i18n/en.json_
[code]

_demo/i18n/es.js

[2020-08-19 07:21] shaharkazaz commented on #206
@ChazUK Seems like Stackblitz doesn't support Webpack's dynamic imports and that's why it's not working for you.
I have created an implementation on [code sandbox](https://codesandbox.io/s/ngneat-transloco-wait-for-scope-piuko), please try it there.

We are thinking about exposing a new function from the service that will take most of the boilerplate code in my example into a single function.

[2020-08-19 10:37] ChazUK commented on #206
@shaharkazaz Thanks for the demo. I had a few problems with the loader as I want to reuse it across many components, so updated that to

[code]

This can then be included on general components which don't need "in code" translations, omitting the scope in the loader:

[code]

And now can also be used in components which require "in code" translations

[code]

Tested and working! Will look forward

[2020-08-19 15:13] guiworks opened #331 "After page reload, translate API does not load"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I make the navigation by menu and enter in a component with translations by pipe or API translate,

[2020-08-24 13:42] dorthrithil opened #332 "Wrong environment path generated in transloco-root.module when adding transloco with ng add if module path is not the default path"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When adding transloco with the following command the generated environment import path is wrong in `tra

[2020-08-25 16:35] marcobuschini opened #333 "Can't install inside a package."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Cannot install in packages.

## Expected behavior
It should install also in packages.

## Minimal reprod

[2020-08-26 08:34] hooshbartar opened #334 "Missing translation for ' '"
This is my `ts` code that I am trying to read stock names from the database those are written in Persian language, then translate them, to English letters and show them to user.

    import{TranslocoService} from  '@ngneat/transloco';

      constructor(private translocoService : TranslocoService) {
         ) {
         }
          ngOnInit(){
            this.strategyService.getCollectionNames()

[2020-08-26 20:59] s4m0r4m4 opened #335 "Feature: Provide autocomplete"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
When developing an application, the user has no direct/immediate insight into what keys are available. T

[2020-08-28 09:52] JelleBruisten commented on #28
I small solution I came up with to combat this while there is no support for this feature would be to add a resolver to the routes:

[code]

And then having the LanguageGuard class like this:

[code]

This way it would change the language based on url, but seems like a hacky way todo this. Also for router links u would need to add active routerLink:

`<a [routerLink]="activeLanguage + '/a'">A</a>`

[2020-08-31 05:01] #334 closed

[2020-08-31 08:54] michalstanko opened #337 "Docs: selectTranslationObject() should have been selectTranslateObject()"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Docs incorrectly mention `selectTranslationObject()`

## Expected behavior

Docs should mention `select

[2020-08-31 09:29] shaharkazaz commented on #337
@michalstanko Thanks, I'll take care of it 🙂

[2020-08-31 11:40] YazaWainakh opened #338 "TypeError: Invalid option : timeStyle"
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
This problem didn't show up before, but recently I keep getting this error.

[code]
This is the part where `timeStyle` is used i

[2020-09-01 07:52] #337 closed

[2020-09-01 08:38] itayod commented on #338
Hi @YazaWainakh which version of transloco-locale do you use?

[2020-09-01 08:44] YazaWainakh commented on #338
Hi,
    "@ngneat/transloco": "^2.18.3",
    "@ngneat/transloco-locale": "^1.3.1",

[2020-09-01 08:45] itayod commented on #333
@marcobuschini did you try using the `--project` and `--module` flags?
see in [docs](https://ngneat.github.io/transloco/docs/schematics#options)

[2020-09-01 08:46] itayod commented on #338
could you try update to 1.33 and try again?

[2020-09-01 08:59] YazaWainakh commented on #338
Everything works perfect now. Thank you :)

[2020-09-01 09:06] #338 closed

[2020-09-01 09:12] marcobuschini commented on #333
@itayod I will try that as soon as I get back from the holidays in two weeks. Anyway, that trick is not mentioned in the docs at https://ngneat.github.io/transloco/docs/installation.

[2020-09-02 12:23] FloNeu commented on #252
Not directly related to original question, but to the ngx-translation migration - I haven't found anything on defining translation-keys in source-code.

For example with ngx-translate I have a service and define a member:
`public readonly traslation_key( 'test' )`
which then creates the key 'test' when running the e cli extractor tool. Is there something like this in transloco, or can i only defin

[2020-09-02 12:39] shaharkazaz commented on #252
@FloNeu Have you seen the [transloco keys manager](https://github.com/ngneat/transloco-keys-manager)

[2020-09-02 13:23] FloNeu commented on #252
@shaharkazaz first, thx for the fast response...

yes, i have - but I took a look at it again... maybe I didn't get it first - are you referring to section
'dynamic keys' and that I should use these
`*/** t(key.typeOne.postfix, key.typeTwo.postfix) */`-comments?
for example, like:
`/** t( test ) */
public readonly test
`
to have it picked up by the extractor? But how can I use the scope-features w

[2020-09-02 15:39] guiworks commented on #331
Well, the translocoServices only works when I navigate by route. But if for some reason I refreshs/reloads/f5 the page, the translations from TranslocoService API disapears.

All root module has the Transloco Module and app module has your TranslocoRootModule, it should be works as pipe translations work well.

[2020-09-03 06:22] itayod commented on #331
@guiworks it seems like you are having an asynchronous issue... which method from the service do you use? could you post your code here?

[2020-09-03 06:55] itayod commented on #335
Hi @s4m0r4m4, looking at the article above, it looks like everything that is done in this article can also work in Transloco, saying that you must also know the disadvantage of using this method...

When you import the translation files the way it demonstrated in this article you actually **load the translation files eagerly into your bundle**  which is the main reason why we don't think that's a

[2020-09-03 12:12] guiworks commented on #331
@itayod Yes, sure.

transloco-root.module.ts (app root directory)
![image](https://user-images.githubusercontent.com/29649474/92113255-6a8a2500-edc5-11ea-859c-cec8d03d192f.png)

app.module.ts
![image](https://user-images.githubusercontent.com/29649474/92113309-81307c00-edc5-11ea-9eeb-e5e9670a9921.png)

features.module.ts (module of all components)
![image](https://user-images.githubusercontent.com

[2020-09-03 12:15] s4m0r4m4 commented on #335
Thanks for your reply, much appreciated!

[2020-09-03 17:21] itayod commented on #331
And what about the service...?

[2020-09-03 17:42] guiworks commented on #331
locality-list.component.ts (component using transloco)
![image](https://user-images.githubusercontent.com/29649474/92147010-e8175a80-edf0-11ea-8df3-398ccfdef716.png)

using
![image](https://user-images.githubusercontent.com/29649474/92147176-1a28bc80-edf1-11ea-95c5-202f83891311.png)

[2020-09-03 17:47] itayod commented on #331
Looks like you are using the `translate` method which is working synchronously while your translation is loading asynchronously,
In that case you should use the `select` method instead which return an observable of the translation.

[2020-09-03 17:52] guiworks commented on #331
Ok, just to clarify...
This uses `this.translocoService.translate('newLocality')` would change to this.translocoService.selectTranslate('newLocality'), right?

Obs: Would be selectTranslate, right?

[2020-09-03 18:30] shaharkazaz commented on #252
@FloNeu I think that [this feature](https://github.com/ngneat/transloco-keys-manager/issues/59) is what you are looking for.

[2020-09-03 20:05] guiworks commented on #331
Now I understood.

I need create a custom function to load the json before components when the page reload.

[2020-09-04 11:22] ChazUK commented on #325
@itayod unfortunately the blog post didn't help, but the solution I posted above has worked well enough.

[2020-09-04 11:22] #325 closed

[2020-09-05 12:20] FloNeu commented on #252
Yes indeed... that means it will be available soon. very nice... just short
question because I still have problems.
Key-Extractor only picks up keys from comments? or should it also pick up
the keys from normal use
within the t( 'key' ) function? Because i can't get this to work

Am Do., 3. Sept. 2020 um 20:30 Uhr schrieb Shahar Kazaz <
notifications@github.com>:

[2020-09-05 14:33] shaharkazaz commented on #252
@FloNeu Let's leave this thread since it's no longer related to the original issue.
If you have any questions you can try getting help in our [gitter lobby](https://gitter.im/ngneat-transloco/lobby) or open an issue with reproduction in the [keys manager repo](https://github.com/ngneat/transloco-keys-manager).

[2020-09-05 17:23] FloNeu commented on #252
Right. i will delete my comments shortly...

[2020-09-07 07:52] dorthrithil commented on #332
I would love to, I put it on my list. But I cannot promise when I will get to it.

[2020-09-09 16:16] s4m0r4m4 commented on #335
Not sure if you want to close this or document it or whatever, your call. I still maintain this is an important feature for long-term maintenance of translation files and their usage, but the architecture would be quite different and probably not something transloco would like to pursue (I managed to build out my own typescript-based lazy loading file architecture, but it would likely result in la

[2020-09-09 16:57] SvenBudak opened #339 "[Feature Request] - getCurrentCurrency"
Hi. I cant find any way to get just the current currency name or symbol.
At this moment i use `{{0| translocoCurrency: 'code' }}` and use `text-indent: -24px` to remove the 0
a function that returns the currency code / symbol / name would be very helpfull.

best regards.

PS.: I solved it by creating a pipe:

import { Pipe, PipeTransform } from '@angular/core';

[code]

Then: `{{(0 | translocoCurr

[2020-09-10 11:09] Gamewalker commented on #314
Any news on this?

[2020-09-11 02:46] szhong-becls opened #341 "It should treat `zh-Hans`, `zh-Hant` as valid BCP47 language tags"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The current BCP47 language tag validation function treats `zh-Hans`, `zh-Hant`, etc. as invalid languag

[2020-09-12 19:37] ODH003 opened #342 "Lazy load do not found, only read base folder"
Hi team

I have a little problem, i use Angular 10 and have multiple lazy modules but when I want to use transloco component I cant use it.  My lazy modules always read the main languajes but not the new folders and files for it.

Here is my package

`{
    "name": "inlandnet",
    "version": "0.0.0",
    "scripts": {
        "ng": "ng",
        "start": "ng serve",
        "build": "ng build",

[2020-09-15 11:33] antpyykk opened #343 "Development time packages are potentially marked as production packages"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

We are performing a license collection in our project, which crawls through all of our production (e.g.

[2020-09-15 14:23] guiworks commented on #331
Is there some default to recover the translate before initialize the component? Looks like the transloco don't recommended nothing to do, then I wanna to know.

[2020-09-16 21:39] guiworks commented on #331
Solved. Thank you for attention.

[2020-09-16 21:39] #331 closed

[2020-09-17 09:36] kmathy opened #344 "Bug: schematics 'join' does not look for every sub-directory"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

At the moment, the schematics does not take every sub-directory to create the appropriate scope.
For ex

[2020-09-18 07:43] dabbid commented on #342
As far as I can read, it seems that you don't use the `inland` namespace in your `ind.nav.html`, i.e. `{{tnsa('maintest')}}` should be `{{tnsa('inland.maintest')}}`

[2020-09-18 08:01] dabbid opened #346 "Path defined in a library's inline loader no more functional when library is used in an ivy project"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I've got an Angular 8 library packaged with ng-packagr, that embeds its own translation file, copied in

[2020-09-18 14:52] ODH003 commented on #342
Hi @dabbid  that's right, the problem was it, thank you for your support.

[2020-09-18 14:52] #342 closed

[2020-09-21 11:18] timhecker opened #350 "Weird error using TranslocoMessageFormatModule (about message format)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I run locally my project, this compiles, but with this error:

![Schermata 2020-09-21 alle 13 14

[2020-09-23 21:45] M-Blobby opened #351 "Transloco with MatSortModule (material)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I'm using angular material table with the matSort. When my table is inside the directive transloco, the

[2020-09-24 09:38] itayod commented on #333
I am closing this issue, let me know if it doesnt work for you...

[2020-09-24 09:38] #333 closed

[2020-09-24 09:40] itayod commented on #339
Hi, sorry for the late feedback, feel free to create a PR for that :)

[2020-09-24 09:53] itayod commented on #343
Could you please be more specific and tell us which packages you think should be `devDependencies`?

[2020-09-24 09:58] itayod commented on #343
@antpyykk I have checked about the packages you mentioned, those packages used as dependencies for Transloco's schematics and needed for publishing the package.

[2020-09-29 20:34] alexdabast opened #353 "How to lazy load TranslocoLocaleModule"
Hi I have a question on how to use TranslocoLocaleModule in lazy loaded modules ?
The documentation do not provide any information about that.

Should TranslocoLocaleModule be imported in each lazy loaded modules with his init function ? `TranslocoLocaleModule.init()`

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issu

[2020-09-30 07:55] #341 closed

[2020-09-30 07:56] itayod commented on #341
Hi @szhong-becls it should be fixed in the latest version, could you please upgrade and validate that it works for you?

[2020-09-30 11:36] artaommahe opened #355 "Inline loader doesn't load translation when pipe is passed to content projection"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Passing `transloco` pipe usage as content projection to other component with `transloco` pipe usage, wh

[2020-09-30 11:42] artaommahe commented on #355
Furthermore where is even an issue with passing translation via input.
Same example, but using input instead of content projection
[code]
No translation for `app.text` 😶

https://stackblitz.com/edit/transloco-inline-loaders-input?file=src/app/app.component.html

[2020-10-01 06:28] shaharkazaz commented on #355
@artaommahe in your `hello.component` change the `providers` to `viewProviders`.

[2020-10-01 07:21] #343 closed

[2020-10-01 07:41] itayod commented on #353
@alexdabast `TranslocoLocaleModule` provides you with locale pipes, as mention at the docs, basically just like in every module you will need to import wherever you need to use those pipes...

The `init` is a configuration method to initial those providers therefor it needs to be called once when you provide you configuration settings.

[2020-10-01 07:41] #353 closed

[2020-10-01 08:19] artaommahe commented on #355
@shaharkazaz O_o never saw this thing in the wild.. thx. Looks like this should be added to the inline loaders docs page to avoid further issues like this one

[2020-10-01 09:36] itayod commented on #351
Hi, @M-Blobby looking at your case, seems like you have asynchronous problem, pay attention that in your `afterViewInit` method `this.sort` is `undefinded`.
This is due to the translation didn't finish to load and therefor your view is not up in `AfterViewInit`.

this problem can be resolved in many way... one of them would be replacing
[code]
with this
[code]

[2020-10-01 09:36] #351 closed

[2020-10-02 13:23] shaharkazaz commented on #355
@artaommahe I'll add a reference for it in the FAQ or the inline loaders docs when I have the time.

[2020-10-02 13:23] #355 closed

[2020-10-05 12:02] itayod commented on #350
Hi @timhecker I couldn't reproduce it on my local pc, could you please upload a reproduction project to stackblitz/github?

[2020-10-06 10:40] k3nsei opened #358 "MessageFormatTranspiler.transpile takes a lot of time"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`MessageFormatTranspiler.transpile` method takes a lot of time almost 3ms.

![Zrzut ekranu 2020-10-05 o

[2020-10-07 06:48] itayod commented on #358
Hi, I hope I could get to it soon as I am pretty busy these days...
In the mean time you are welcome to create a pr for it.

[2020-10-07 11:10] ChazUK opened #359 "Reference Plural Translations in Keys"
Is it possible to to use plurals inside of translation files?

https://ngneat.github.io/transloco/docs/additional-functionality#reference-other-keys + https://ngneat.github.io/transloco/docs/plugins/message-format#usage

[2020-10-07 11:21] k3nsei commented on #358
@itayod If I manage to find time, I will definitely try to improve it by myself.

[2020-10-08 07:27] timhecker commented on #350
Sorry @itayod I switch project & I have no time now. I'm going to try again in the next weeks. Thanks.

[2020-10-08 07:59] shaharkazaz commented on #350
@timhecker ok so I'm closing this.
Feel free to re-open when you have a reproduction 🙂

[2020-10-08 07:59] #350 closed

[2020-10-11 07:00] #339 closed

[2020-10-19 15:44] BVSureshBabu opened #363 "Avoid scope name while using transloco pipe in library"
Hi,

I am migrating my app from 'ngx-translate' to 'transloco'. Followed the below link and placed translation files in the library.

https://github.com/NetanelBasal/transloco-with-nx-libs

And ended up with one issue that scope name to be added before to all keys placed in the library `{{scopeName.key|transloco}}`.

Please help me with avoiding scope name to be added for all keys in the library.

[2020-10-19 17:13] shaharkazaz commented on #363
@BVSureshBabu I need you to further explain what you mean by:

I'm not sure I understand what's the issue.
Can you please give an example of the expected behavior and current behavior? 🙂

[2020-10-20 14:53] tommueller commented on #250
Nope my fix did not work. I still get the error, but only sometimes.
Around 30% of my test-runs fail with this bug. Will try to produce a repro when I find the time.

[2020-10-20 16:18] tommueller commented on #250
@shaharkazaz here is a repro: https://github.com/tommueller/translate-repro

[2020-10-21 06:41] shaharkazaz commented on #250
@tommueller I'll take a look when I get the chance 🙂

[2020-10-22 11:47] ftischler opened #364 "MessageFormat transpiler throws 'unsafe-eval' when activating CSP"
After activating CSP for my app I get the following error:

[code]

Is it really necessary for transloco to use eval in production bundles? Or is there something wrong with the configuration of my app?

[2020-10-22 15:00] BVSureshBabu commented on #363
@shaharkazaz Thanks for reply.

In this below example if I use transloco directive, I can avoid scope name by using read.
But if I use transloco pipe, every time need to use scope name before the key. Is there any way to avoid scope name before all keys while using transloco pipe.

import { Component, Inject, OnInit } from '@angular/core';
import { TranslocoService, TRANSLOCO_SCOPE } from '@ngneat

[2020-10-23 16:50] k3nsei commented on #364
@ftischler I scaned source code on github and npm and I cannot find any `new Function` usage. Can you point file and version where you found those?

[2020-10-23 17:26] k3nsei commented on #276
@emzet here is a working example https://stackblitz.com/edit/angular-hbppzv?file=src/app/translate.pipe.ts

[2020-10-24 11:00] shaharkazaz commented on #363
@BVSureshBabu the scope name is part of the key, therefore you can't avoid writing it when using the pipe.
The structural directive's read input does the prefixing for you.
In the example you provided, why use the pipe? why aren't all your translations from the same scope under the structural directive?
[code]

[2020-10-27 08:32] StanevichIvan opened #365 "sample application is down"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

https://transloco.netlify.app/home is broken.
![image](https://user-images.githubusercontent.com/201553

[2020-10-27 08:52] shaharkazaz commented on #365
@StanevichIvan Thanks for that! the link was pointing to the old sample app, the current app is [inside the docs site](https://ngneat.github.io/transloco/sampleApp).
I'll update 👍

[2020-10-27 09:37] #365 closed

[2020-10-29 09:27] DaveGold commented on #250
I also experience an issue when using the getTranslocoModule.
I am testing some code that is using translocoService.translate but the key is not translated in the unit test but it does in the application.

[2020-10-29 10:18] shaharkazaz commented on #250
@DaveGold are you sure it's related to this issue?

[2020-10-30 19:11] ftischler commented on #364
@k3nsei [messageformat.transpiler.ts](https://github.com/ngneat/transloco/blob/15b7bfbd183accc3ea99f526452a55d1065bfaff/projects/ngneat/transloco-messageformat/src/lib/messageformat.transpiler.ts) imports the node_module [messageformat](https://www.npmjs.com/package/messageformat) which uses eval [here](https://github.com/messageformat/messageformat/blob/2e2413300ab000467ecbb53ecd6fa0cc7a38cbcf/pa

[2020-10-30 19:12] ftischler commented on #364
Here the error with SourceMaps enabled:

[code]

[2020-10-30 19:52] k3nsei commented on #364
@ftischler so the best option is to create an issue in messageformat github repository and link it here. Also it worth to fill security risk form on npm page of messageformat to mark those versions as risky.

[2020-10-31 12:55] ftischler commented on #364
@k3nsei so it needs to be replaced in transloco or is there a possibility for me to change the configuration of my app to avoid the usage of it?

[2020-10-31 14:27] shaharkazaz commented on #364
@k3nsei thanks for referencing the issues. I'll add a note about it in the docs so people are aware.

@ftischler You don't have to use the message format transpiler if you are not actually using it.
If you do need these abilities you can create a custom transpiler based on [formatjs's messageformat](https://formatjs.io/docs/intl-messageformat/).
I'm not sure if there are any syntax differences bet

[2020-10-31 15:07] Coly010 commented on #364
Can I also just add that `eval` in and of itself is not something to just replace when you see it, because it does have use cases.

It _becomes_ a problem when it's evaluating text from a source outside the developer's control, such as User Generated Content.

However, if the developer controls what it is evaluating it's a much reduced risk.

To avoid CSP issues though it's definitely worth invest

[2020-10-31 18:33] ftischler commented on #364
@k3nsei @shaharkazaz @Coly010 thanks a lot for your help. I really appreciate your work!

I forked transloco and played a little bit arround with intl-messageformat [here](https://github.com/ftischler/transloco/tree/intl-message-format)

Some things worked, but 2 tests still broke at the end.

On my way I saw another problem: transloco has a dependency on TypeScript v3 (I Think because of Angular

[2020-11-01 09:58] shaharkazaz commented on #364
@ftischler Thanks for the update, and thanks @k3nsei @Coly010 for taking part in this discussion.
Transloco will support TS 4 in the next major version (v3) that will include mostly infra upgrades, but I'm sure they have a previous version that's compatible. (if you still wish to implement it instead of removing the `unsafe-eval`)
You are more than welcome to restart this discussion if you wish to

[2020-11-01 09:58] #364 closed

[2020-11-03 09:28] tsvetan-ganev commented on #292
I encountered the same problem even in the latest versions of Safari (14.0). The solution is not to use the shorthand format style notations: `'short'`, `'medium'`, `'long'` and instead explicitly set hour, minute, second, day, month etc.

For example, instead of using ` { dateStyle: 'short' }` you should declare it as:
[code]

If you stick to the full notation you can avoid including a polyfill.

[2020-11-04 20:21] shaharkazaz commented on #363
@BVSureshBabu did you get the chance to see my comment? did it help you get the solution you were looking for? 🙂

[2020-11-10 03:36] victorcruz86 commented on #294
worked for me by adding the following in angular.json

[code]

like

[code]

[2020-11-10 16:31] strikeflare opened #370 "Is it possible to share a common library with its translation to all other libraries and apps with NX?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

Dear Ngneat team,

We are currently migrating from ngx-translate to transloco because we use NX for handling several Angular

[2020-11-12 03:32] muhammadsamir11 opened #371 "When i used queryParams I cant load translation file"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

For bug reports please

[2020-11-12 08:26] shaharkazaz commented on #371
@muhammadsamir11 This issue is lacking a lot of information.
Please follow the issue template and provide a reproduction and more information about the current behavior, the expected one, and the versions of the packages.

[2020-11-14 15:11] BVSureshBabu commented on #363
@shaharkazaz  Sorry for the delay in reply.

Thanks for your suggestion. I am looking to avoid scope name while using transloco pipe instead of directive.

[2020-11-14 16:33] shaharkazaz commented on #363
@BVSureshBabu, unfortunately, there isn't a way since it's part of the translation key 🙂

[2020-11-14 16:33] #363 closed

[2020-11-17 15:05] strikeflare commented on #370
Can't nobody help me there?

[2020-11-17 15:56] shaharkazaz commented on #370
@strikeflare feel free to ask in our [gitter channel](https://gitter.im/ngneat-transloco/lobby) as well, I'll take a look at this when I get the chance 🙂

[2020-11-17 16:50] itayod commented on #370
Hi @strikeflare it seems like you are having DI conflicts because of the way that Angular's DI works.

Please follow this [guide](https://medium.com/angular-in-depth/lazy-load-and-encapsulate-i18n-files-in-angular-with-transloco-55af44885797) to learn more about how to handle translation in your application, you can scroll down to the "Monorepo" section it should answer your question.

[2020-11-18 16:26] ChazUK opened #372 "How to escape template variable parser in JSON"
I'm trying to store a regular expression in one of the language JSON files.

The expression is a simple date format which may change between different regions eg `/^\d{2}[/]\d{2}[/]\d{4}$/`.
This works fine when creating a new RegExp object `new RegExp(/^\d{2}[/]\d{2}[/]\d{4}$/)` and when working with it as a string the backslashes need to be escaped which then becomes `new RegExp('^\\d{2}[/]\\d{2

[2020-11-19 06:16] bjornharvold opened #373 "Performance impact question"
## I'm submitting a...

<pre><code>
[X ] Other... Please describe:
</code></pre>

Hi. Thank you for creating the best translation framework for Angular!

I have a quick question based on some preliminary observations. I'll create a follow-up ticket if necessary.

Scenario:
- I have an Angular library that contains a single component and an en.json file containing all values that need to be localiz

[2020-11-19 15:49] eluchsinger commented on #234
I had similar problems. After running `ng add @ngneat/transloco` (like in the installation guide), my modules changed and some files were added, but transloco was not added to `package.json`.

[2020-11-19 16:31] eluchsinger commented on #99
@NetanelBasal this approach seems to not be working anymore. Could you please give us an updated version?

[2020-11-19 16:46] shaharkazaz commented on #99
@eluchsinger can you please share what's not working?
Everything is completely customizable, make the changes needed to make your code work 🙂

[2020-11-19 16:59] eluchsinger commented on #99
@shaharkazaz it's kind of difficult to say what's not working because the example does not really contain a lot of information 😊. Maybe, I can explain it better on gitter, if you're there.

Basically it starts with finding out what library was used for the example, then guessing what version of that library it was, because it looks like `xliff(translation);` is asynchronous (and I can't even impor

[2020-11-19 21:02] shaharkazaz commented on #99
@eluchsinger sounds like some adjustments are needed to the example code posted by Netanel.
This isn't related to Transloco and There is already a good reference here for implementing this loader.
Would be great if you share the result here once done so others might stumble upon it, we might even add it as a recipe 🙂

[2020-11-19 21:13] shaharkazaz commented on #372
@ChazUK Seems like it's [working as expected](interpolation) since the default interpolation's start and end markings are `{{` & `}}`.
Any chance you changed the markings in your config?

[2020-11-20 09:38] ChazUK commented on #372
I'm confused, if the interpolation markings are `{{  }}` then why is it trying to run it on the single `{ }` in my case?

[2020-11-20 09:54] shaharkazaz commented on #372
@ChazUK IDK, have you seen the working example I added?
Create a reproduction in stackblitz so we can try an tackle this 🙂

[2020-11-20 14:57] ChazUK commented on #372
@shaharkazaz will do, the first link in your response is to a search of the github issues for "author:interpolation" I don't know if that was intentional.

[2020-11-20 16:07] ChazUK commented on #372
I've found the issue, it's the use of `formatjs` in `TranslocoMessageFormatModule`, there's an issue here https://github.com/formatjs/formatjs/issues/1182. I'll close this ticket and see if I can follow up there.

Thanks

[2020-11-20 16:07] #372 closed

[2020-11-20 18:34] shaharkazaz commented on #372
@ChazUK I updated the link anyways 👍

[2020-11-25 10:43] Boosten commented on #268
@shaharkazaz the new docs do not mention anything about comparison anymore. So the link you previously shared does not work anymore: https://ngneat.github.io/transloco/docs/comparison

[2020-11-25 12:15] shaharkazaz commented on #268
@Boosten We decided to remove this section 🙂

[2020-11-28 11:42] shaharkazaz commented on #371
@muhammadsamir11 I'm closing this for now.
Feel free to reopen if the issue still exists and please provide more information and a reproduction 🙂

[2020-11-28 11:42] #371 closed

[2020-11-28 17:29] itayod commented on #370
@strikeflare did you manage to solve it? can we close this issue?

[2020-11-28 17:39] shaharkazaz commented on #314
@Gamewalker looking at the example you provided seems like you are not importing the Transloco module in your `I18nTranslocoModule`.
You need to import it there since you are declaring the `DemoComponent` which uses the pipe.

[2020-11-30 20:27] stephengeorgewest opened #374 "test failing with "Cannot read property 'reRenderOnLangChange' of undefined""
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[x] Other... Please describe:
</code></pre>
Not sure if bug or documentation issue or support request. I'm not sure if I'm setting it up wrong, or if it is an actual bug

[2020-12-01 14:46] itayod commented on #317
fixed in v2.19.2

[2020-12-01 14:46] #317 closed

[2020-12-01 14:57] itayod commented on #374
Hi @stephengeorgewest could you please create a reproduction of this issue?

[2020-12-02 11:09] bojidaryovchev opened #375 "@ViewChild() not working in the scope of the *transloco directive"
https://stackblitz.com/edit/angular-ivy-tpnv2n?file=src%2Fapp%2Fapp.component.ts

check out the console, trying to access a view child inside an element with the *transloco directive on it yields undefined

[2020-12-02 15:29] rlmestre opened #376 "Feature: Expose langChanges in structural directive"
## I'm submitting a...

<pre><code>[x] Feature request</code></pre>

## Current behavior
It's very common for our API to provide localized strings. In order to dynamically change said strings, I'm forced to mix structural directives (the recommended approach) with service injection. In many cases, I have to inject the `TranslocoService` solely for the purpose of listening to language changes and a

[2020-12-02 20:02] iiceman40 commented on #374
I am having the same problem. It works in most unit tests for our components but some do not work and throw this error. I havn't figured out what the difference is yet.

We are using Angular 11.0.2 and Transloco in version 2.17.3.

[2020-12-02 20:56] rlmestre commented on #376
This worked for me for now. Created a patch using `patch-package`. I realized langChanges$ is already being subscribed to in the directive, so this is even better since the changes propagate. I would submit a pull request but I'm not good at writing tests :(

[code]

[2020-12-03 08:49] strikeflare commented on #370
@itayod I checked this guide before I wrote this question here. I tried both solutions with Scoped libraries and with eager modules. But without success. I extended the example above as follows:

[code]
You might have noticed that I also added a simple `CommonComponent` inside the Common library, which I will use it inside the `lib-b` library.

[code]

The output is always `common.required`
![imag

[2020-12-03 10:04] itayod commented on #370
@strikeflare what you are trying to do is quite common and should be simple, but I couldn't understand much from your code snippets here, would you like to create a reproduction project on github, so I can take a better look at your problem?

[2020-12-04 03:25] szhong-becls commented on #341
@itayod Thanks for adding this feature. It works well.

[2020-12-04 17:19] shaharkazaz commented on #375
@bojidaryovchev The transloco structural directive has an async operation in its internals which is fetching the translations.
So the contents of the directive won't be available in the `ngAfterViewInit` method.
The simplest way you can gain access to the element on render is by making the `ViewChild` a setter.
This is no different than any other structural directive, it will only set the template

[2020-12-04 17:31] shaharkazaz commented on #373
@bjornharvold Thanks for the compliment! 🙂
Why do you think the loading overhead is related to the `en.json` inside the library?
Have you tried to check the load time when the translations are part of the main SPA `en.json`?

[2020-12-05 01:38] bjornharvold commented on #373
Hi @shaharkazaz

I have not done a real timing test. However, the question came up once we started bundling i18n files within our Angular libraries. We have a particularly "intense" component, the hotel card which you can find here (www.traveliko.com), and we are loading about a 100 of them on our home page. Although no official timing was done by us, we all saw an increase in load times and had t

[2020-12-05 13:56] shaharkazaz commented on #373
Hi @bjornharvold

Regarding the translation file load, I'm not sure what you meant by:

But as you stated, Transloco loads the file once and shares the value, so no overhead there.
You do need to understand that putting these translations as a separate scope will make another network request, which is something to think about.

If you are thinking that transloco has a big part of the JS computing

[2020-12-05 13:56] #373 closed

[2020-12-06 20:09] micobarac opened #378 "selectTranslate emits only the first time the active language is changed"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`selectTranslate` **emits only the first time the active language is changed**.

## Expected behavior

[2020-12-06 20:42] micobarac commented on #378
The right issue here is why the `ng add @ngneat/transloco` installs ancient version `"@ngneat/transloco": "1.1.1"`?

[2020-12-06 21:10] shaharkazaz commented on #378
@micobarac hey, I believe it's because the peer dependency of transloco isn't updated to Angular 11, so the cli goes to the first matching version that does.
This will be fixed once we update, should be in the next few days.

[2020-12-06 21:19] micobarac commented on #378
This was the issue with the previous Angular versions also. The only workaround was to manually install the latest dependency and then run the schematics.

[2020-12-06 21:25] shaharkazaz commented on #378
@micobarac This will be resolved via #379. after I release a new version it should work as expected.

[2020-12-06 21:31] #378 closed

[2020-12-06 21:36] shaharkazaz commented on #378
@micobarac would be great if you can retry now and verify 🙂

[2020-12-07 10:42] itayod commented on #346
@dabbid is it still relevant?

[2020-12-07 10:46] shaharkazaz commented on #376
@rlmestre looking forward to your PR 🙂

[2020-12-07 17:49] micobarac commented on #378
@shaharkazaz I created a brand new Angular project.

`ng add @ngneat/transloco` added the correct version `"@ngneat/transloco": "^2.19.3"` to `package.json`.

It's ok now. Thanks. :D

[2020-12-10 08:34] shaharkazaz commented on #370
@strikeflare Can you provide a reproduction so we can better understand your issue? it's always preferred over code snippets 🙂

[2020-12-10 12:05] strikeflare commented on #370
Sorry for being late. I uploaded the reproduction [here](https://github.com/strikeflare/transloco-with-nx-libs)

[2020-12-14 15:31] kmathy commented on #344
Closed because Fix has been merged (PR #348)

[2020-12-14 15:31] #344 closed

[2020-12-14 16:08] itayod commented on #370
@strikeflare looking at your code, there are several issues (all written in the guide).

The first issue is in `CommonsModule`, you forgot to add the `common` to `setTranslation` function.
I have changed the code as follows and now it works:
[code]

The second issue is that you declared a few `TranslocoScope` providers which override one another because of the way **Angular's DI works**.

There ar

[2020-12-14 17:07] developer239 commented on #250
Why is this closed? 😄

[2020-12-15 08:14] strikeflare commented on #370
@itayod  Thank you very much for your help! I changed to this snippet you provided and it works! It seems that I forgot to declare the scope `common`...

For the second issue. In other words, we cannot declare different scopes like `compA` in the module from library A und `compB` in library B, since Angular's DI overrides the second TRANSLOCO_SCOPE provider? To bypass this problem, we need to add